{
  "shapes": {
    "com.amazonaws.acm#AccessDeniedException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.acm#ServiceErrorMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AccessDenied",
          "httpResponseCode": 403
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      },
      "type": "structure"
    },
    "com.amazonaws.acm#AcmeEndpointArn": {
      "traits": {
        "smithy.api#length": {
          "max": 200,
          "min": 1
        },
        "smithy.api#pattern": "^arn:aws[a-z-]*:acm:[a-z0-9-]+:[0-9]{12}:acme-endpoint/[a-zA-Z0-9-]+$"
      },
      "type": "string"
    },
    "com.amazonaws.acm#AcmeExternalAccountBinding": {
      "members": {
        "AcmeEndpointArn": {
          "target": "com.amazonaws.acm#AcmeEndpointArn",
          "traits": {}
        },
        "AcmeExternalAccountBindingArn": {
          "target": "com.amazonaws.acm#AcmeExternalAccountBindingArn",
          "traits": {}
        },
        "CreatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {}
        },
        "ExpiresAt": {
          "target": "smithy.api#Timestamp",
          "traits": {}
        },
        "LastUsedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {}
        },
        "RevokedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {}
        },
        "RoleArn": {
          "target": "com.amazonaws.acm#RoleArn",
          "traits": {}
        },
        "UpdatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.acm#AcmeExternalAccountBindingArn": {
      "traits": {
        "smithy.api#length": {
          "max": 200,
          "min": 1
        },
        "smithy.api#pattern": "^arn:aws[a-z-]*:acm:[a-z0-9-]+:[0-9]{12}:acme-endpoint/[a-zA-Z0-9-]+/acme-external-account-binding/[a-zA-Z0-9-]+$"
      },
      "type": "string"
    },
    "com.amazonaws.acm#AvailabilityErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.acm#CertificateManager": {
      "operations": [
        {
          "target": "com.amazonaws.acm#DescribeAcmeExternalAccountBinding"
        }
      ],
      "traits": {
        "aws.api#service": {
          "arnNamespace": "acm",
          "cloudFormationName": "CertificateManager",
          "cloudTrailEventSource": "acm.amazonaws.com",
          "endpointPrefix": "acm",
          "sdkId": "ACM"
        },
        "aws.auth#sigv4": {
          "name": "acm"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#title": "AWS Certificate Manager",
        "smithy.rules#clientContextParams": {
          "ServiceType": {
            "documentation": "The service type: ACM or ACM-ACME. Injected via @staticContextParams.",
            "type": "string"
          }
        },
        "smithy.rules#endpointRuleSet": {
          "parameters": {
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "documentation": "Override the endpoint used to send requests.",
              "type": "string"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "documentation": "The AWS region to send requests to.",
              "required": true,
              "type": "string"
            },
            "ServiceType": {
              "documentation": "The service type: ACM or ACM-ACME. Injected via @staticContextParams.",
              "required": true,
              "type": "string"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "default": false,
              "documentation": "Use dual-stack endpoints.",
              "required": true,
              "type": "boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "default": false,
              "documentation": "Use FIPS endpoints.",
              "required": true,
              "type": "boolean"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ],
                  "fn": "isSet"
                }
              ],
              "documentation": "Use custom endpoint if provided",
              "endpoint": {
                "url": "{Endpoint}"
              },
              "type": "endpoint"
            },
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult",
                  "fn": "aws.partition"
                }
              ],
              "documentation": "Resolve partition for region",
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "ServiceType"
                        },
                        "ACM-ACME"
                      ],
                      "fn": "stringEquals"
                    }
                  ],
                  "documentation": "ACME operations",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "Endpoint"
                            }
                          ],
                          "fn": "isSet"
                        }
                      ],
                      "documentation": "ACME with custom endpoint",
                      "endpoint": {
                        "url": "{Endpoint}"
                      },
                      "type": "endpoint"
                    },
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "name"
                              ],
                              "fn": "getAttr"
                            },
                            "aws"
                          ],
                          "fn": "stringEquals"
                        }
                      ],
                      "documentation": "ACME operations are only available in commercial AWS partitions",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "documentation": "FIPS endpoints are not available for ACME operations",
                          "error": "FIPS endpoints are not available for ACME operations",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "documentation": "ACME standard",
                          "endpoint": {
                            "url": "https://acm-acme.{Region}.{PartitionResult#dualStackDnsSuffix}"
                          },
                          "type": "endpoint"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [],
                      "documentation": "ACME operations are only available in commercial AWS partitions",
                      "error": "ACME operations are only available in commercial AWS partitions",
                      "type": "error"
                    }
                  ],
                  "type": "tree"
                },
                {
                  "conditions": [],
                  "documentation": "ACM operations",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        },
                        {
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "documentation": "ACM FIPS + DualStack",
                      "endpoint": {
                        "url": "https://acm-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                      },
                      "type": "endpoint"
                    },
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "documentation": "ACM FIPS only",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ],
                                  "fn": "getAttr"
                                },
                                "aws-us-gov"
                              ],
                              "fn": "stringEquals"
                            }
                          ],
                          "documentation": "ACM FIPS GovCloud",
                          "endpoint": {
                            "url": "https://acm.{Region}.amazonaws.com"
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [],
                          "documentation": "ACM FIPS standard",
                          "endpoint": {
                            "url": "https://acm-fips.{Region}.{PartitionResult#dnsSuffix}"
                          },
                          "type": "endpoint"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "documentation": "ACM DualStack only",
                      "endpoint": {
                        "url": "https://acm.{Region}.{PartitionResult#dualStackDnsSuffix}"
                      },
                      "type": "endpoint"
                    },
                    {
                      "conditions": [],
                      "documentation": "ACM standard",
                      "endpoint": {
                        "url": "https://acm.{Region}.{PartitionResult#dnsSuffix}"
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "documentation": "Fallback error if region is not set",
              "error": "Region must be set to resolve an endpoint.",
              "type": "error"
            }
          ],
          "version": "1.0"
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "ServiceType": "ACM",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "ServiceType": "ACM",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "ServiceType": "ACM",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "ServiceType": "ACM",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "ServiceType": "ACM",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "ServiceType": "ACM",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "ServiceType": "ACM",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "ServiceType": "ACM",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "ServiceType": "ACM",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "ServiceType": "ACM",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "ServiceType": "ACM",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "ServiceType": "ACM",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "ServiceType": "ACM",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "ServiceType": "ACM",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "ServiceType": "ACM",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "ServiceType": "ACM",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "ServiceType": "ACM",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "ServiceType": "ACM",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "ServiceType": "ACM",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "ServiceType": "ACM",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "ServiceType": "ACM",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "ServiceType": "ACM",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "ServiceType": "ACM",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "ServiceType": "ACM",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "ServiceType": "ACM",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "ServiceType": "ACM",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "ServiceType": "ACM",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "ServiceType": "ACM",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "ServiceType": "ACM",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "ServiceType": "ACM",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "ServiceType": "ACM",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "ServiceType": "ACM",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "ServiceType": "ACM",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "ServiceType": "ACM",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "ServiceType": "ACM",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "ServiceType": "ACM",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "ServiceType": "ACM",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "ServiceType": "ACM",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "ServiceType": "ACM",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Endpoint": "https://example.com",
                "Region": "us-east-1",
                "ServiceType": "ACM",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Endpoint": "https://example.com",
                "Region": "us-east-1",
                "ServiceType": "ACM",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For custom endpoint with FIPS disabled and dualstack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Endpoint": "https://example.com",
                "Region": "us-east-1",
                "ServiceType": "ACM",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "ACM-ACME standard endpoint for us-east-1",
              "expect": {
                "endpoint": {
                  "url": "https://acm-acme.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "ServiceType": "ACM-ACME",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "ACM-ACME FIPS returns error",
              "expect": {
                "error": "FIPS endpoints are not available for ACME operations"
              },
              "params": {
                "Region": "us-west-2",
                "ServiceType": "ACM-ACME",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "ACM-ACME custom endpoint",
              "expect": {
                "endpoint": {
                  "url": "https://custom.example.com"
                }
              },
              "params": {
                "Endpoint": "https://custom.example.com",
                "Region": "us-east-1",
                "ServiceType": "ACM-ACME",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "ACM-ACME in us-gov-west-1 returns partition error",
              "expect": {
                "error": "ACME operations are only available in commercial AWS partitions"
              },
              "params": {
                "Region": "us-gov-west-1",
                "ServiceType": "ACM-ACME",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "ACM-ACME in cn-north-1 returns partition error",
              "expect": {
                "error": "ACME operations are only available in commercial AWS partitions"
              },
              "params": {
                "Region": "cn-north-1",
                "ServiceType": "ACM-ACME",
                "UseDualStack": false,
                "UseFIPS": false
              }
            }
          ],
          "version": "1.0"
        }
      },
      "type": "service",
      "version": "2015-12-08"
    },
    "com.amazonaws.acm#ConflictException": {
      "members": {
        "message": {
          "target": "com.amazonaws.acm#String"
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.acm#CoralAvailabilityThrottledResource": {
      "type": "string"
    },
    "com.amazonaws.acm#CoralAvailabilityThrottlingReason": {
      "type": "string"
    },
    "com.amazonaws.acm#DescribeAcmeExternalAccountBinding": {
      "errors": [
        {
          "target": "com.amazonaws.acm#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.acm#InternalServerException"
        },
        {
          "target": "com.amazonaws.acm#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.acm#ThrottlingException"
        },
        {
          "target": "com.amazonaws.acm#ValidationException"
        }
      ],
      "input": {
        "target": "com.amazonaws.acm#DescribeAcmeExternalAccountBindingRequest"
      },
      "output": {
        "target": "com.amazonaws.acm#DescribeAcmeExternalAccountBindingResponse"
      },
      "traits": {
        "smithy.api#readonly": {},
        "smithy.rules#staticContextParams": {
          "ServiceType": {
            "value": "ACM-ACME"
          }
        }
      },
      "type": "operation"
    },
    "com.amazonaws.acm#DescribeAcmeExternalAccountBindingRequest": {
      "members": {
        "AcmeExternalAccountBindingArn": {
          "target": "com.amazonaws.acm#AcmeExternalAccountBindingArn",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "smithy.api#references": []
      },
      "type": "structure"
    },
    "com.amazonaws.acm#DescribeAcmeExternalAccountBindingResponse": {
      "members": {
        "ExternalAccountBinding": {
          "target": "com.amazonaws.acm#AcmeExternalAccountBinding",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.acm#InternalServerException": {
      "members": {
        "message": {
          "target": "com.amazonaws.acm#String"
        }
      },
      "traits": {
        "smithy.api#error": "server",
        "smithy.api#retryable": {}
      },
      "type": "structure"
    },
    "com.amazonaws.acm#InvalidArgsException": {
      "members": {
        "message": {
          "target": "com.amazonaws.acm#String"
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.acm#InvalidArnException": {
      "members": {
        "message": {
          "target": "com.amazonaws.acm#String"
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.acm#InvalidDomainValidationOptionsException": {
      "members": {
        "message": {
          "target": "com.amazonaws.acm#String"
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.acm#InvalidParameterException": {
      "members": {
        "message": {
          "target": "com.amazonaws.acm#String"
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.acm#InvalidStateException": {
      "members": {
        "message": {
          "target": "com.amazonaws.acm#String"
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.acm#InvalidTagException": {
      "members": {
        "message": {
          "target": "com.amazonaws.acm#String"
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.acm#LimitExceededException": {
      "members": {
        "message": {
          "target": "com.amazonaws.acm#String"
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.acm#RequestInProgressException": {
      "members": {
        "message": {
          "target": "com.amazonaws.acm#String"
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.acm#ResourceInUseException": {
      "members": {
        "message": {
          "target": "com.amazonaws.acm#String"
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.acm#ResourceNotFoundException": {
      "members": {
        "message": {
          "target": "com.amazonaws.acm#String"
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.acm#RoleArn": {
      "traits": {
        "smithy.api#length": {
          "max": 2048,
          "min": 1
        },
        "smithy.api#pattern": "^arn:aws[a-z-]*:iam::[0-9]{12}:role/.+$"
      },
      "type": "string"
    },
    "com.amazonaws.acm#ServiceErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.acm#ServiceQuotaExceededException": {
      "members": {
        "message": {
          "target": "com.amazonaws.acm#String"
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.acm#String": {
      "type": "string"
    },
    "com.amazonaws.acm#TagPolicyException": {
      "members": {
        "message": {
          "target": "com.amazonaws.acm#String"
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.acm#ThrottlingException": {
      "members": {
        "message": {
          "target": "com.amazonaws.acm#AvailabilityErrorMessage"
        },
        "throttlingReasons": {
          "target": "com.amazonaws.acm#ThrottlingReasonList",
          "traits": {}
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "Throttling",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.acm#ThrottlingReason": {
      "members": {
        "reason": {
          "target": "com.amazonaws.acm#CoralAvailabilityThrottlingReason",
          "traits": {}
        },
        "resource": {
          "target": "com.amazonaws.acm#CoralAvailabilityThrottledResource",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.acm#ThrottlingReasonList": {
      "member": {
        "target": "com.amazonaws.acm#ThrottlingReason"
      },
      "type": "list"
    },
    "com.amazonaws.acm#TooManyTagsException": {
      "members": {
        "message": {
          "target": "com.amazonaws.acm#String"
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.acm#ValidationException": {
      "members": {
        "message": {
          "target": "com.amazonaws.acm#ValidationExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ValidationError",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.acm#ValidationExceptionMessage": {
      "type": "string"
    }
  },
  "smithy": "2.0"
}
