{
  "shapes": {
    "com.amazonaws.apigatewayv2#ApiGatewayV2": {
      "operations": [
        {
          "target": "com.amazonaws.apigatewayv2#CreateApi"
        },
        {
          "target": "com.amazonaws.apigatewayv2#DeleteApi"
        },
        {
          "target": "com.amazonaws.apigatewayv2#GetApi"
        },
        {
          "target": "com.amazonaws.apigatewayv2#TagResource"
        },
        {
          "target": "com.amazonaws.apigatewayv2#UntagResource"
        },
        {
          "target": "com.amazonaws.apigatewayv2#UpdateApi"
        }
      ],
      "traits": {
        "aws.api#service": {
          "arnNamespace": "apigateway",
          "cloudFormationName": "ApiGatewayV2",
          "cloudTrailEventSource": "apigatewayv2.amazonaws.com",
          "endpointPrefix": "apigateway",
          "sdkId": "ApiGatewayV2"
        },
        "aws.auth#sigv4": {
          "name": "apigateway"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#auth": [
          "aws.auth#sigv4"
        ],
        "smithy.api#title": "AmazonApiGatewayV2",
        "smithy.rules#endpointRuleSet": {
          "parameters": {
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "documentation": "Override the endpoint used to send this request",
              "required": false,
              "type": "string"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "documentation": "The AWS region used to dispatch the request.",
              "required": false,
              "type": "string"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "required": true,
              "type": "boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "required": true,
              "type": "boolean"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ],
                  "fn": "isSet"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "headers": {},
                    "properties": {},
                    "url": {
                      "ref": "Endpoint"
                    }
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "fn": "isSet"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult",
                      "fn": "aws.partition"
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        },
                        {
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://apigateway-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ],
                                  "fn": "getAttr"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://apigateway-fips.{Region}.{PartitionResult#dnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://apigateway.{Region}.{PartitionResult#dualStackDnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "headers": {},
                        "properties": {},
                        "url": "https://apigateway.{Region}.{PartitionResult#dnsSuffix}"
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ],
          "version": "1.0"
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://apigateway.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://apigateway.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://apigateway.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://apigateway.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://apigateway.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://apigateway.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://apigateway.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://apigateway.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://apigateway.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://apigateway.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://apigateway.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://apigateway.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://apigateway.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://apigateway.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://apigateway.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://apigateway.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://apigateway.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://apigateway.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://apigateway.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://apigateway.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://apigateway.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://apigateway-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://apigateway-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://apigateway.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://apigateway.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://apigateway.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://apigateway-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://apigateway-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://apigateway.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://apigateway.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://apigateway.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://apigateway-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://apigateway-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://apigateway.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://apigateway.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://apigateway-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://apigateway-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://apigateway.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Endpoint": "https://example.com",
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Endpoint": "https://example.com",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Endpoint": "https://example.com",
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Endpoint": "https://example.com",
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      },
      "type": "service",
      "version": "2018-11-29"
    },
    "com.amazonaws.apigatewayv2#Arn": {
      "traits": {},
      "type": "string"
    },
    "com.amazonaws.apigatewayv2#BadRequestException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.apigatewayv2#__string",
          "traits": {
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.apigatewayv2#ConflictException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.apigatewayv2#__string",
          "traits": {
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      },
      "type": "structure"
    },
    "com.amazonaws.apigatewayv2#Cors": {
      "members": {
        "AllowCredentials": {
          "target": "com.amazonaws.apigatewayv2#__boolean",
          "traits": {
            "smithy.api#jsonName": "allowCredentials"
          }
        },
        "AllowHeaders": {
          "target": "com.amazonaws.apigatewayv2#CorsHeaderList",
          "traits": {
            "smithy.api#jsonName": "allowHeaders"
          }
        },
        "AllowMethods": {
          "target": "com.amazonaws.apigatewayv2#CorsMethodList",
          "traits": {
            "smithy.api#jsonName": "allowMethods"
          }
        },
        "AllowOrigins": {
          "target": "com.amazonaws.apigatewayv2#CorsOriginList",
          "traits": {
            "smithy.api#jsonName": "allowOrigins"
          }
        },
        "ExposeHeaders": {
          "target": "com.amazonaws.apigatewayv2#CorsHeaderList",
          "traits": {
            "smithy.api#jsonName": "exposeHeaders"
          }
        },
        "MaxAge": {
          "target": "com.amazonaws.apigatewayv2#IntegerWithLengthBetweenMinus1And86400",
          "traits": {
            "smithy.api#jsonName": "maxAge"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.apigatewayv2#CorsHeaderList": {
      "member": {
        "target": "com.amazonaws.apigatewayv2#__string"
      },
      "traits": {},
      "type": "list"
    },
    "com.amazonaws.apigatewayv2#CorsMethodList": {
      "member": {
        "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween1And64"
      },
      "traits": {},
      "type": "list"
    },
    "com.amazonaws.apigatewayv2#CorsOriginList": {
      "member": {
        "target": "com.amazonaws.apigatewayv2#__string"
      },
      "traits": {},
      "type": "list"
    },
    "com.amazonaws.apigatewayv2#CreateApi": {
      "errors": [
        {
          "target": "com.amazonaws.apigatewayv2#BadRequestException"
        },
        {
          "target": "com.amazonaws.apigatewayv2#ConflictException"
        },
        {
          "target": "com.amazonaws.apigatewayv2#NotFoundException"
        },
        {
          "target": "com.amazonaws.apigatewayv2#TooManyRequestsException"
        }
      ],
      "input": {
        "target": "com.amazonaws.apigatewayv2#CreateApiRequest"
      },
      "output": {
        "target": "com.amazonaws.apigatewayv2#CreateApiResponse"
      },
      "traits": {
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/v2/apis"
        }
      },
      "type": "operation"
    },
    "com.amazonaws.apigatewayv2#CreateApiRequest": {
      "members": {
        "ApiKeySelectionExpression": {
          "target": "com.amazonaws.apigatewayv2#SelectionExpression",
          "traits": {
            "smithy.api#jsonName": "apiKeySelectionExpression"
          }
        },
        "CorsConfiguration": {
          "target": "com.amazonaws.apigatewayv2#Cors",
          "traits": {
            "smithy.api#jsonName": "corsConfiguration"
          }
        },
        "CredentialsArn": {
          "target": "com.amazonaws.apigatewayv2#Arn",
          "traits": {
            "smithy.api#jsonName": "credentialsArn"
          }
        },
        "Description": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween0And1024",
          "traits": {
            "smithy.api#jsonName": "description"
          }
        },
        "DisableExecuteApiEndpoint": {
          "target": "com.amazonaws.apigatewayv2#__boolean",
          "traits": {
            "smithy.api#jsonName": "disableExecuteApiEndpoint"
          }
        },
        "DisableSchemaValidation": {
          "target": "com.amazonaws.apigatewayv2#__boolean",
          "traits": {
            "smithy.api#jsonName": "disableSchemaValidation"
          }
        },
        "IpAddressType": {
          "target": "com.amazonaws.apigatewayv2#IpAddressType",
          "traits": {
            "smithy.api#jsonName": "ipAddressType"
          }
        },
        "Name": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween1And128",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        },
        "ProtocolType": {
          "target": "com.amazonaws.apigatewayv2#ProtocolType",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#jsonName": "protocolType",
            "smithy.api#required": {}
          }
        },
        "RouteKey": {
          "target": "com.amazonaws.apigatewayv2#SelectionKey",
          "traits": {
            "smithy.api#jsonName": "routeKey"
          }
        },
        "RouteSelectionExpression": {
          "target": "com.amazonaws.apigatewayv2#SelectionExpression",
          "traits": {
            "smithy.api#jsonName": "routeSelectionExpression"
          }
        },
        "Tags": {
          "target": "com.amazonaws.apigatewayv2#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        },
        "Target": {
          "target": "com.amazonaws.apigatewayv2#UriWithLengthBetween1And2048",
          "traits": {
            "smithy.api#jsonName": "target"
          }
        },
        "Version": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween1And64",
          "traits": {
            "smithy.api#jsonName": "version"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.apigatewayv2#CreateApiResponse": {
      "members": {
        "ApiEndpoint": {
          "target": "com.amazonaws.apigatewayv2#__string",
          "traits": {
            "smithy.api#jsonName": "apiEndpoint"
          }
        },
        "ApiGatewayManaged": {
          "target": "com.amazonaws.apigatewayv2#__boolean",
          "traits": {
            "smithy.api#jsonName": "apiGatewayManaged"
          }
        },
        "ApiId": {
          "target": "com.amazonaws.apigatewayv2#Id",
          "traits": {
            "smithy.api#jsonName": "apiId"
          }
        },
        "ApiKeySelectionExpression": {
          "target": "com.amazonaws.apigatewayv2#SelectionExpression",
          "traits": {
            "smithy.api#jsonName": "apiKeySelectionExpression"
          }
        },
        "CorsConfiguration": {
          "target": "com.amazonaws.apigatewayv2#Cors",
          "traits": {
            "smithy.api#jsonName": "corsConfiguration"
          }
        },
        "CreatedDate": {
          "target": "com.amazonaws.apigatewayv2#__timestampIso8601",
          "traits": {
            "smithy.api#jsonName": "createdDate"
          }
        },
        "Description": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween0And1024",
          "traits": {
            "smithy.api#jsonName": "description"
          }
        },
        "DisableExecuteApiEndpoint": {
          "target": "com.amazonaws.apigatewayv2#__boolean",
          "traits": {
            "smithy.api#jsonName": "disableExecuteApiEndpoint"
          }
        },
        "DisableSchemaValidation": {
          "target": "com.amazonaws.apigatewayv2#__boolean",
          "traits": {
            "smithy.api#jsonName": "disableSchemaValidation"
          }
        },
        "ImportInfo": {
          "target": "com.amazonaws.apigatewayv2#__listOf__string",
          "traits": {
            "smithy.api#jsonName": "importInfo"
          }
        },
        "IpAddressType": {
          "target": "com.amazonaws.apigatewayv2#IpAddressType",
          "traits": {
            "smithy.api#jsonName": "ipAddressType"
          }
        },
        "Name": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween1And128",
          "traits": {
            "smithy.api#jsonName": "name"
          }
        },
        "ProtocolType": {
          "target": "com.amazonaws.apigatewayv2#ProtocolType",
          "traits": {
            "smithy.api#jsonName": "protocolType"
          }
        },
        "RouteSelectionExpression": {
          "target": "com.amazonaws.apigatewayv2#SelectionExpression",
          "traits": {
            "smithy.api#jsonName": "routeSelectionExpression"
          }
        },
        "Tags": {
          "target": "com.amazonaws.apigatewayv2#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        },
        "Version": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween1And64",
          "traits": {
            "smithy.api#jsonName": "version"
          }
        },
        "Warnings": {
          "target": "com.amazonaws.apigatewayv2#__listOf__string",
          "traits": {
            "smithy.api#jsonName": "warnings"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.apigatewayv2#DeleteApi": {
      "errors": [
        {
          "target": "com.amazonaws.apigatewayv2#NotFoundException"
        },
        {
          "target": "com.amazonaws.apigatewayv2#TooManyRequestsException"
        }
      ],
      "input": {
        "target": "com.amazonaws.apigatewayv2#DeleteApiRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "code": 204,
          "method": "DELETE",
          "uri": "/v2/apis/{ApiId}"
        }
      },
      "type": "operation"
    },
    "com.amazonaws.apigatewayv2#DeleteApiRequest": {
      "members": {
        "ApiId": {
          "target": "com.amazonaws.apigatewayv2#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.apigatewayv2#GetApi": {
      "errors": [
        {
          "target": "com.amazonaws.apigatewayv2#NotFoundException"
        },
        {
          "target": "com.amazonaws.apigatewayv2#TooManyRequestsException"
        }
      ],
      "input": {
        "target": "com.amazonaws.apigatewayv2#GetApiRequest"
      },
      "output": {
        "target": "com.amazonaws.apigatewayv2#GetApiResponse"
      },
      "traits": {
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/v2/apis/{ApiId}"
        }
      },
      "type": "operation"
    },
    "com.amazonaws.apigatewayv2#GetApiRequest": {
      "members": {
        "ApiId": {
          "target": "com.amazonaws.apigatewayv2#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.apigatewayv2#GetApiResponse": {
      "members": {
        "ApiEndpoint": {
          "target": "com.amazonaws.apigatewayv2#__string",
          "traits": {
            "smithy.api#jsonName": "apiEndpoint"
          }
        },
        "ApiGatewayManaged": {
          "target": "com.amazonaws.apigatewayv2#__boolean",
          "traits": {
            "smithy.api#jsonName": "apiGatewayManaged"
          }
        },
        "ApiId": {
          "target": "com.amazonaws.apigatewayv2#Id",
          "traits": {
            "smithy.api#jsonName": "apiId"
          }
        },
        "ApiKeySelectionExpression": {
          "target": "com.amazonaws.apigatewayv2#SelectionExpression",
          "traits": {
            "smithy.api#jsonName": "apiKeySelectionExpression"
          }
        },
        "CorsConfiguration": {
          "target": "com.amazonaws.apigatewayv2#Cors",
          "traits": {
            "smithy.api#jsonName": "corsConfiguration"
          }
        },
        "CreatedDate": {
          "target": "com.amazonaws.apigatewayv2#__timestampIso8601",
          "traits": {
            "smithy.api#jsonName": "createdDate"
          }
        },
        "Description": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween0And1024",
          "traits": {
            "smithy.api#jsonName": "description"
          }
        },
        "DisableExecuteApiEndpoint": {
          "target": "com.amazonaws.apigatewayv2#__boolean",
          "traits": {
            "smithy.api#jsonName": "disableExecuteApiEndpoint"
          }
        },
        "DisableSchemaValidation": {
          "target": "com.amazonaws.apigatewayv2#__boolean",
          "traits": {
            "smithy.api#jsonName": "disableSchemaValidation"
          }
        },
        "ImportInfo": {
          "target": "com.amazonaws.apigatewayv2#__listOf__string",
          "traits": {
            "smithy.api#jsonName": "importInfo"
          }
        },
        "IpAddressType": {
          "target": "com.amazonaws.apigatewayv2#IpAddressType",
          "traits": {
            "smithy.api#jsonName": "ipAddressType"
          }
        },
        "Name": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween1And128",
          "traits": {
            "smithy.api#jsonName": "name"
          }
        },
        "ProtocolType": {
          "target": "com.amazonaws.apigatewayv2#ProtocolType",
          "traits": {
            "smithy.api#jsonName": "protocolType"
          }
        },
        "RouteSelectionExpression": {
          "target": "com.amazonaws.apigatewayv2#SelectionExpression",
          "traits": {
            "smithy.api#jsonName": "routeSelectionExpression"
          }
        },
        "Tags": {
          "target": "com.amazonaws.apigatewayv2#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        },
        "Version": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween1And64",
          "traits": {
            "smithy.api#jsonName": "version"
          }
        },
        "Warnings": {
          "target": "com.amazonaws.apigatewayv2#__listOf__string",
          "traits": {
            "smithy.api#jsonName": "warnings"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.apigatewayv2#Id": {
      "traits": {},
      "type": "string"
    },
    "com.amazonaws.apigatewayv2#IntegerWithLengthBetweenMinus1And86400": {
      "traits": {
        "smithy.api#range": {
          "max": 86400,
          "min": -1
        }
      },
      "type": "integer"
    },
    "com.amazonaws.apigatewayv2#IpAddressType": {
      "members": {
        "dualstack": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dualstack"
          }
        },
        "ipv4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ipv4"
          }
        }
      },
      "traits": {},
      "type": "enum"
    },
    "com.amazonaws.apigatewayv2#NotFoundException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.apigatewayv2#__string",
          "traits": {
            "smithy.api#jsonName": "message"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.apigatewayv2#__string",
          "traits": {
            "smithy.api#jsonName": "resourceType"
          }
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.apigatewayv2#ProtocolType": {
      "members": {
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTP"
          }
        },
        "WEBSOCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEBSOCKET"
          }
        }
      },
      "traits": {},
      "type": "enum"
    },
    "com.amazonaws.apigatewayv2#SelectionExpression": {
      "traits": {},
      "type": "string"
    },
    "com.amazonaws.apigatewayv2#SelectionKey": {
      "traits": {},
      "type": "string"
    },
    "com.amazonaws.apigatewayv2#StringWithLengthBetween0And1024": {
      "traits": {},
      "type": "string"
    },
    "com.amazonaws.apigatewayv2#StringWithLengthBetween1And128": {
      "traits": {},
      "type": "string"
    },
    "com.amazonaws.apigatewayv2#StringWithLengthBetween1And1600": {
      "traits": {},
      "type": "string"
    },
    "com.amazonaws.apigatewayv2#StringWithLengthBetween1And64": {
      "traits": {},
      "type": "string"
    },
    "com.amazonaws.apigatewayv2#TagResource": {
      "errors": [
        {
          "target": "com.amazonaws.apigatewayv2#BadRequestException"
        },
        {
          "target": "com.amazonaws.apigatewayv2#ConflictException"
        },
        {
          "target": "com.amazonaws.apigatewayv2#NotFoundException"
        },
        {
          "target": "com.amazonaws.apigatewayv2#TooManyRequestsException"
        }
      ],
      "input": {
        "target": "com.amazonaws.apigatewayv2#TagResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.apigatewayv2#TagResourceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/v2/tags/{ResourceArn}"
        }
      },
      "type": "operation"
    },
    "com.amazonaws.apigatewayv2#TagResourceRequest": {
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.apigatewayv2#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.apigatewayv2#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.apigatewayv2#TagResourceResponse": {
      "members": {},
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.apigatewayv2#Tags": {
      "key": {
        "target": "com.amazonaws.apigatewayv2#__string"
      },
      "traits": {},
      "type": "map",
      "value": {
        "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween1And1600"
      }
    },
    "com.amazonaws.apigatewayv2#TooManyRequestsException": {
      "members": {
        "LimitType": {
          "target": "com.amazonaws.apigatewayv2#__string",
          "traits": {
            "smithy.api#jsonName": "limitType"
          }
        },
        "Message": {
          "target": "com.amazonaws.apigatewayv2#__string",
          "traits": {
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      },
      "type": "structure"
    },
    "com.amazonaws.apigatewayv2#UntagResource": {
      "errors": [
        {
          "target": "com.amazonaws.apigatewayv2#BadRequestException"
        },
        {
          "target": "com.amazonaws.apigatewayv2#ConflictException"
        },
        {
          "target": "com.amazonaws.apigatewayv2#NotFoundException"
        },
        {
          "target": "com.amazonaws.apigatewayv2#TooManyRequestsException"
        }
      ],
      "input": {
        "target": "com.amazonaws.apigatewayv2#UntagResourceRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "code": 204,
          "method": "DELETE",
          "uri": "/v2/tags/{ResourceArn}"
        }
      },
      "type": "operation"
    },
    "com.amazonaws.apigatewayv2#UntagResourceRequest": {
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.apigatewayv2#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "TagKeys": {
          "target": "com.amazonaws.apigatewayv2#__listOf__string",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#httpQuery": "tagKeys",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.apigatewayv2#UpdateApi": {
      "errors": [
        {
          "target": "com.amazonaws.apigatewayv2#BadRequestException"
        },
        {
          "target": "com.amazonaws.apigatewayv2#ConflictException"
        },
        {
          "target": "com.amazonaws.apigatewayv2#NotFoundException"
        },
        {
          "target": "com.amazonaws.apigatewayv2#TooManyRequestsException"
        }
      ],
      "input": {
        "target": "com.amazonaws.apigatewayv2#UpdateApiRequest"
      },
      "output": {
        "target": "com.amazonaws.apigatewayv2#UpdateApiResponse"
      },
      "traits": {
        "smithy.api#http": {
          "code": 200,
          "method": "PATCH",
          "uri": "/v2/apis/{ApiId}"
        }
      },
      "type": "operation"
    },
    "com.amazonaws.apigatewayv2#UpdateApiRequest": {
      "members": {
        "ApiId": {
          "target": "com.amazonaws.apigatewayv2#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ApiKeySelectionExpression": {
          "target": "com.amazonaws.apigatewayv2#SelectionExpression",
          "traits": {
            "smithy.api#jsonName": "apiKeySelectionExpression"
          }
        },
        "CorsConfiguration": {
          "target": "com.amazonaws.apigatewayv2#Cors",
          "traits": {
            "smithy.api#jsonName": "corsConfiguration"
          }
        },
        "CredentialsArn": {
          "target": "com.amazonaws.apigatewayv2#Arn",
          "traits": {
            "smithy.api#jsonName": "credentialsArn"
          }
        },
        "Description": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween0And1024",
          "traits": {
            "smithy.api#jsonName": "description"
          }
        },
        "DisableExecuteApiEndpoint": {
          "target": "com.amazonaws.apigatewayv2#__boolean",
          "traits": {
            "smithy.api#jsonName": "disableExecuteApiEndpoint"
          }
        },
        "DisableSchemaValidation": {
          "target": "com.amazonaws.apigatewayv2#__boolean",
          "traits": {
            "smithy.api#jsonName": "disableSchemaValidation"
          }
        },
        "IpAddressType": {
          "target": "com.amazonaws.apigatewayv2#IpAddressType",
          "traits": {
            "smithy.api#jsonName": "ipAddressType"
          }
        },
        "Name": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween1And128",
          "traits": {
            "smithy.api#jsonName": "name"
          }
        },
        "RouteKey": {
          "target": "com.amazonaws.apigatewayv2#SelectionKey",
          "traits": {
            "smithy.api#jsonName": "routeKey"
          }
        },
        "RouteSelectionExpression": {
          "target": "com.amazonaws.apigatewayv2#SelectionExpression",
          "traits": {
            "smithy.api#jsonName": "routeSelectionExpression"
          }
        },
        "Target": {
          "target": "com.amazonaws.apigatewayv2#UriWithLengthBetween1And2048",
          "traits": {
            "smithy.api#jsonName": "target"
          }
        },
        "Version": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween1And64",
          "traits": {
            "smithy.api#jsonName": "version"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.apigatewayv2#UpdateApiResponse": {
      "members": {
        "ApiEndpoint": {
          "target": "com.amazonaws.apigatewayv2#__string",
          "traits": {
            "smithy.api#jsonName": "apiEndpoint"
          }
        },
        "ApiGatewayManaged": {
          "target": "com.amazonaws.apigatewayv2#__boolean",
          "traits": {
            "smithy.api#jsonName": "apiGatewayManaged"
          }
        },
        "ApiId": {
          "target": "com.amazonaws.apigatewayv2#Id",
          "traits": {
            "smithy.api#jsonName": "apiId"
          }
        },
        "ApiKeySelectionExpression": {
          "target": "com.amazonaws.apigatewayv2#SelectionExpression",
          "traits": {
            "smithy.api#jsonName": "apiKeySelectionExpression"
          }
        },
        "CorsConfiguration": {
          "target": "com.amazonaws.apigatewayv2#Cors",
          "traits": {
            "smithy.api#jsonName": "corsConfiguration"
          }
        },
        "CreatedDate": {
          "target": "com.amazonaws.apigatewayv2#__timestampIso8601",
          "traits": {
            "smithy.api#jsonName": "createdDate"
          }
        },
        "Description": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween0And1024",
          "traits": {
            "smithy.api#jsonName": "description"
          }
        },
        "DisableExecuteApiEndpoint": {
          "target": "com.amazonaws.apigatewayv2#__boolean",
          "traits": {
            "smithy.api#jsonName": "disableExecuteApiEndpoint"
          }
        },
        "DisableSchemaValidation": {
          "target": "com.amazonaws.apigatewayv2#__boolean",
          "traits": {
            "smithy.api#jsonName": "disableSchemaValidation"
          }
        },
        "ImportInfo": {
          "target": "com.amazonaws.apigatewayv2#__listOf__string",
          "traits": {
            "smithy.api#jsonName": "importInfo"
          }
        },
        "IpAddressType": {
          "target": "com.amazonaws.apigatewayv2#IpAddressType",
          "traits": {
            "smithy.api#jsonName": "ipAddressType"
          }
        },
        "Name": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween1And128",
          "traits": {
            "smithy.api#jsonName": "name"
          }
        },
        "ProtocolType": {
          "target": "com.amazonaws.apigatewayv2#ProtocolType",
          "traits": {
            "smithy.api#jsonName": "protocolType"
          }
        },
        "RouteSelectionExpression": {
          "target": "com.amazonaws.apigatewayv2#SelectionExpression",
          "traits": {
            "smithy.api#jsonName": "routeSelectionExpression"
          }
        },
        "Tags": {
          "target": "com.amazonaws.apigatewayv2#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        },
        "Version": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween1And64",
          "traits": {
            "smithy.api#jsonName": "version"
          }
        },
        "Warnings": {
          "target": "com.amazonaws.apigatewayv2#__listOf__string",
          "traits": {
            "smithy.api#jsonName": "warnings"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.apigatewayv2#UriWithLengthBetween1And2048": {
      "traits": {},
      "type": "string"
    },
    "com.amazonaws.apigatewayv2#__boolean": {
      "type": "boolean"
    },
    "com.amazonaws.apigatewayv2#__listOf__string": {
      "member": {
        "target": "com.amazonaws.apigatewayv2#__string"
      },
      "type": "list"
    },
    "com.amazonaws.apigatewayv2#__string": {
      "type": "string"
    },
    "com.amazonaws.apigatewayv2#__timestampIso8601": {
      "traits": {
        "smithy.api#timestampFormat": "date-time"
      },
      "type": "timestamp"
    }
  },
  "smithy": "2.0"
}
