{
  "shapes": {
    "com.amazonaws.appconfig#Action": {
      "members": {
        "Description": {
          "target": "com.amazonaws.appconfig#Description",
          "traits": {}
        },
        "Name": {
          "target": "com.amazonaws.appconfig#Name",
          "traits": {}
        },
        "RoleArn": {
          "target": "com.amazonaws.appconfig#Arn",
          "traits": {}
        },
        "Uri": {
          "target": "com.amazonaws.appconfig#Uri",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.appconfig#ActionList": {
      "member": {
        "target": "com.amazonaws.appconfig#Action"
      },
      "traits": {
        "smithy.api#length": {
          "max": 1,
          "min": 1
        }
      },
      "type": "list"
    },
    "com.amazonaws.appconfig#ActionPoint": {
      "members": {
        "AT_DEPLOYMENT_TICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AT_DEPLOYMENT_TICK"
          }
        },
        "ON_DEPLOYMENT_BAKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ON_DEPLOYMENT_BAKING"
          }
        },
        "ON_DEPLOYMENT_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ON_DEPLOYMENT_COMPLETE"
          }
        },
        "ON_DEPLOYMENT_ROLLED_BACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ON_DEPLOYMENT_ROLLED_BACK"
          }
        },
        "ON_DEPLOYMENT_START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ON_DEPLOYMENT_START"
          }
        },
        "ON_DEPLOYMENT_STEP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ON_DEPLOYMENT_STEP"
          }
        },
        "PRE_CREATE_HOSTED_CONFIGURATION_VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRE_CREATE_HOSTED_CONFIGURATION_VERSION"
          }
        },
        "PRE_START_DEPLOYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRE_START_DEPLOYMENT"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.appconfig#ActionsMap": {
      "key": {
        "target": "com.amazonaws.appconfig#ActionPoint"
      },
      "traits": {
        "smithy.api#length": {
          "max": 5,
          "min": 1
        }
      },
      "type": "map",
      "value": {
        "target": "com.amazonaws.appconfig#ActionList"
      }
    },
    "com.amazonaws.appconfig#AmazonAppConfig": {
      "operations": [
        {
          "target": "com.amazonaws.appconfig#GetDeploymentStrategy"
        },
        {
          "target": "com.amazonaws.appconfig#GetExtension"
        },
        {
          "target": "com.amazonaws.appconfig#GetExtensionAssociation"
        }
      ],
      "traits": {
        "aws.api#service": {
          "arnNamespace": "appconfig",
          "cloudFormationName": "AppConfig",
          "cloudTrailEventSource": "appconfig.amazonaws.com",
          "endpointPrefix": "appconfig",
          "sdkId": "AppConfig"
        },
        "aws.auth#sigv4": {
          "name": "appconfig"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#title": "Amazon AppConfig",
        "smithy.rules#endpointRuleSet": {
          "parameters": {
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "documentation": "Override the endpoint used to send this request",
              "required": false,
              "type": "string"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "documentation": "The AWS region used to dispatch the request.",
              "required": false,
              "type": "string"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "required": true,
              "type": "boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "required": true,
              "type": "boolean"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ],
                  "fn": "isSet"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "headers": {},
                    "properties": {},
                    "url": {
                      "ref": "Endpoint"
                    }
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "fn": "isSet"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult",
                      "fn": "aws.partition"
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        },
                        {
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://appconfig-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ],
                                  "fn": "getAttr"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "argv": [
                                    {
                                      "ref": "Region"
                                    },
                                    "us-gov-east-1"
                                  ],
                                  "fn": "stringEquals"
                                }
                              ],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://appconfig.us-gov-east-1.amazonaws.com"
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [
                                {
                                  "argv": [
                                    {
                                      "ref": "Region"
                                    },
                                    "us-gov-west-1"
                                  ],
                                  "fn": "stringEquals"
                                }
                              ],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://appconfig.us-gov-west-1.amazonaws.com"
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://appconfig-fips.{Region}.{PartitionResult#dnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://appconfig.{Region}.{PartitionResult#dualStackDnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "headers": {},
                        "properties": {},
                        "url": "https://appconfig.{Region}.{PartitionResult#dnsSuffix}"
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ],
          "version": "1.0"
        }
      },
      "type": "service",
      "version": "2019-10-09"
    },
    "com.amazonaws.appconfig#Arn": {
      "traits": {
        "smithy.api#length": {
          "max": 2048,
          "min": 20
        },
        "smithy.api#pattern": "^arn:(aws[a-zA-Z-]*)?:[a-z]+:((eusc-)?[a-z]{2}((-gov)|(-iso([a-z]?)))?-[a-z]+-\\d{1})?:(\\d{12})?:[a-zA-Z0-9-_/:.]+$"
      },
      "type": "string"
    },
    "com.amazonaws.appconfig#BadRequestDetails": {
      "members": {
        "InvalidConfiguration": {
          "target": "com.amazonaws.appconfig#InvalidConfigurationDetailList",
          "traits": {}
        }
      },
      "traits": {},
      "type": "union"
    },
    "com.amazonaws.appconfig#BadRequestException": {
      "members": {
        "Details": {
          "target": "com.amazonaws.appconfig#BadRequestDetails"
        },
        "Message": {
          "target": "com.amazonaws.appconfig#String"
        },
        "Reason": {
          "target": "com.amazonaws.appconfig#BadRequestReason"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.appconfig#BadRequestReason": {
      "members": {
        "INVALID_CONFIGURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InvalidConfiguration"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.appconfig#Boolean": {
      "traits": {
        "smithy.api#default": false
      },
      "type": "boolean"
    },
    "com.amazonaws.appconfig#DeploymentStrategy": {
      "members": {
        "DeploymentDurationInMinutes": {
          "target": "com.amazonaws.appconfig#MinutesBetween0And24Hours",
          "traits": {
            "smithy.api#default": 0
          }
        },
        "Description": {
          "target": "com.amazonaws.appconfig#Description",
          "traits": {}
        },
        "FinalBakeTimeInMinutes": {
          "target": "com.amazonaws.appconfig#MinutesBetween0And24Hours",
          "traits": {
            "smithy.api#default": 0
          }
        },
        "GrowthFactor": {
          "target": "com.amazonaws.appconfig#Percentage",
          "traits": {}
        },
        "GrowthType": {
          "target": "com.amazonaws.appconfig#GrowthType",
          "traits": {}
        },
        "Id": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {}
        },
        "Name": {
          "target": "com.amazonaws.appconfig#Name",
          "traits": {}
        },
        "ReplicateTo": {
          "target": "com.amazonaws.appconfig#ReplicateTo",
          "traits": {}
        }
      },
      "type": "structure"
    },
    "com.amazonaws.appconfig#DeploymentStrategyId": {
      "traits": {
        "smithy.api#pattern": "^(^[a-z0-9]{4,7}$|^AppConfig\\.[A-Za-z0-9]{9,40}$)$"
      },
      "type": "string"
    },
    "com.amazonaws.appconfig#Description": {
      "traits": {
        "smithy.api#length": {
          "max": 1024,
          "min": 0
        }
      },
      "type": "string"
    },
    "com.amazonaws.appconfig#Extension": {
      "members": {
        "Actions": {
          "target": "com.amazonaws.appconfig#ActionsMap",
          "traits": {}
        },
        "Arn": {
          "target": "com.amazonaws.appconfig#Arn",
          "traits": {}
        },
        "Description": {
          "target": "com.amazonaws.appconfig#Description",
          "traits": {}
        },
        "Id": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {}
        },
        "Name": {
          "target": "com.amazonaws.appconfig#Name",
          "traits": {}
        },
        "Parameters": {
          "target": "com.amazonaws.appconfig#ParameterMap",
          "traits": {}
        },
        "VersionNumber": {
          "target": "com.amazonaws.appconfig#Integer",
          "traits": {
            "smithy.api#default": 0
          }
        }
      },
      "type": "structure"
    },
    "com.amazonaws.appconfig#ExtensionAssociation": {
      "members": {
        "Arn": {
          "target": "com.amazonaws.appconfig#Arn",
          "traits": {}
        },
        "ExtensionArn": {
          "target": "com.amazonaws.appconfig#Arn",
          "traits": {}
        },
        "ExtensionVersionNumber": {
          "target": "com.amazonaws.appconfig#Integer",
          "traits": {
            "smithy.api#default": 0
          }
        },
        "Id": {
          "target": "com.amazonaws.appconfig#Identifier",
          "traits": {}
        },
        "Parameters": {
          "target": "com.amazonaws.appconfig#ParameterValueMap",
          "traits": {}
        },
        "ResourceArn": {
          "target": "com.amazonaws.appconfig#Arn",
          "traits": {}
        }
      },
      "type": "structure"
    },
    "com.amazonaws.appconfig#ExtensionOrParameterName": {
      "traits": {
        "smithy.api#pattern": "^[^\\/#:\\n]{1,64}$"
      },
      "type": "string"
    },
    "com.amazonaws.appconfig#GetDeploymentStrategy": {
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        }
      ],
      "input": {
        "target": "com.amazonaws.appconfig#GetDeploymentStrategyRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#DeploymentStrategy"
      },
      "traits": {
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/deploymentstrategies/{DeploymentStrategyId}"
        }
      },
      "type": "operation"
    },
    "com.amazonaws.appconfig#GetDeploymentStrategyRequest": {
      "members": {
        "DeploymentStrategyId": {
          "target": "com.amazonaws.appconfig#DeploymentStrategyId",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.appconfig#GetExtension": {
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        }
      ],
      "input": {
        "target": "com.amazonaws.appconfig#GetExtensionRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#Extension"
      },
      "traits": {
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/extensions/{ExtensionIdentifier}"
        }
      },
      "type": "operation"
    },
    "com.amazonaws.appconfig#GetExtensionAssociation": {
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        }
      ],
      "input": {
        "target": "com.amazonaws.appconfig#GetExtensionAssociationRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#ExtensionAssociation"
      },
      "traits": {
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/extensionassociations/{ExtensionAssociationId}"
        }
      },
      "type": "operation"
    },
    "com.amazonaws.appconfig#GetExtensionAssociationRequest": {
      "members": {
        "ExtensionAssociationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.appconfig#GetExtensionRequest": {
      "members": {
        "ExtensionIdentifier": {
          "target": "com.amazonaws.appconfig#Identifier",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "VersionNumber": {
          "target": "com.amazonaws.appconfig#Integer",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#httpQuery": "version_number"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.appconfig#GrowthType": {
      "members": {
        "EXPONENTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPONENTIAL"
          }
        },
        "LINEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINEAR"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.appconfig#Id": {
      "traits": {
        "smithy.api#pattern": "^[a-z0-9]{4,7}$"
      },
      "type": "string"
    },
    "com.amazonaws.appconfig#Identifier": {
      "traits": {
        "smithy.api#length": {
          "max": 2048,
          "min": 1
        }
      },
      "type": "string"
    },
    "com.amazonaws.appconfig#Integer": {
      "traits": {
        "smithy.api#default": 0
      },
      "type": "integer"
    },
    "com.amazonaws.appconfig#InternalServerException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.appconfig#String"
        }
      },
      "traits": {
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      },
      "type": "structure"
    },
    "com.amazonaws.appconfig#InvalidConfigurationDetail": {
      "members": {
        "Constraint": {
          "target": "com.amazonaws.appconfig#String",
          "traits": {}
        },
        "Location": {
          "target": "com.amazonaws.appconfig#String",
          "traits": {}
        },
        "Reason": {
          "target": "com.amazonaws.appconfig#String",
          "traits": {}
        },
        "Type": {
          "target": "com.amazonaws.appconfig#String",
          "traits": {}
        },
        "Value": {
          "target": "com.amazonaws.appconfig#String",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.appconfig#InvalidConfigurationDetailList": {
      "member": {
        "target": "com.amazonaws.appconfig#InvalidConfigurationDetail"
      },
      "type": "list"
    },
    "com.amazonaws.appconfig#MinutesBetween0And24Hours": {
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "max": 1440,
          "min": 0
        }
      },
      "type": "integer"
    },
    "com.amazonaws.appconfig#Name": {
      "traits": {
        "smithy.api#length": {
          "max": 64,
          "min": 1
        }
      },
      "type": "string"
    },
    "com.amazonaws.appconfig#Parameter": {
      "members": {
        "Description": {
          "target": "com.amazonaws.appconfig#Description",
          "traits": {}
        },
        "Dynamic": {
          "target": "com.amazonaws.appconfig#Boolean",
          "traits": {
            "smithy.api#default": false
          }
        },
        "Required": {
          "target": "com.amazonaws.appconfig#Boolean",
          "traits": {
            "smithy.api#default": false
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.appconfig#ParameterMap": {
      "key": {
        "target": "com.amazonaws.appconfig#ExtensionOrParameterName"
      },
      "traits": {
        "smithy.api#length": {
          "max": 10,
          "min": 1
        }
      },
      "type": "map",
      "value": {
        "target": "com.amazonaws.appconfig#Parameter"
      }
    },
    "com.amazonaws.appconfig#ParameterValueMap": {
      "key": {
        "target": "com.amazonaws.appconfig#ExtensionOrParameterName"
      },
      "traits": {
        "smithy.api#length": {
          "max": 10,
          "min": 0
        }
      },
      "type": "map",
      "value": {
        "target": "com.amazonaws.appconfig#StringWithLengthBetween1And2048"
      }
    },
    "com.amazonaws.appconfig#Percentage": {
      "traits": {
        "smithy.api#range": {
          "max": 100,
          "min": 1
        }
      },
      "type": "float"
    },
    "com.amazonaws.appconfig#ReplicateTo": {
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "SSM_DOCUMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSM_DOCUMENT"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.appconfig#ResourceNotFoundException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.appconfig#String"
        },
        "ResourceName": {
          "target": "com.amazonaws.appconfig#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.appconfig#String": {
      "type": "string"
    },
    "com.amazonaws.appconfig#StringWithLengthBetween1And2048": {
      "traits": {
        "smithy.api#length": {
          "max": 2048,
          "min": 1
        }
      },
      "type": "string"
    },
    "com.amazonaws.appconfig#Uri": {
      "traits": {
        "smithy.api#length": {
          "max": 2048,
          "min": 1
        }
      },
      "type": "string"
    }
  },
  "smithy": "2.0"
}
