{
  "shapes": {
    "com.amazonaws.apprunner#AppRunner": {
      "operations": [
        {
          "target": "com.amazonaws.apprunner#DescribeAutoScalingConfiguration"
        },
        {
          "target": "com.amazonaws.apprunner#DescribeObservabilityConfiguration"
        },
        {
          "target": "com.amazonaws.apprunner#DescribeVpcConnector"
        },
        {
          "target": "com.amazonaws.apprunner#DescribeVpcIngressConnection"
        }
      ],
      "traits": {
        "aws.api#service": {
          "arnNamespace": "apprunner",
          "cloudFormationName": "AppRunner",
          "cloudTrailEventSource": "apprunner.amazonaws.com",
          "endpointPrefix": "apprunner",
          "sdkId": "AppRunner"
        },
        "aws.auth#sigv4": {
          "name": "apprunner"
        },
        "aws.protocols#awsJson1_0": {},
        "smithy.api#title": "AWS App Runner",
        "smithy.api#xmlNamespace": {
          "uri": "http://apprunner.amazonaws.com/doc/2020-05-15/"
        },
        "smithy.rules#endpointRuleSet": {
          "parameters": {
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "documentation": "Override the endpoint used to send this request",
              "required": false,
              "type": "string"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "documentation": "The AWS region used to dispatch the request.",
              "required": false,
              "type": "string"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "required": true,
              "type": "boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "required": true,
              "type": "boolean"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ],
                  "fn": "isSet"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "headers": {},
                    "properties": {},
                    "url": {
                      "ref": "Endpoint"
                    }
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "fn": "isSet"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult",
                      "fn": "aws.partition"
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        },
                        {
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://apprunner-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ],
                                  "fn": "getAttr"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://apprunner-fips.{Region}.{PartitionResult#dnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://apprunner.{Region}.{PartitionResult#dualStackDnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "headers": {},
                        "properties": {},
                        "url": "https://apprunner.{Region}.{PartitionResult#dnsSuffix}"
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ],
          "version": "1.0"
        }
      },
      "type": "service",
      "version": "2020-05-15"
    },
    "com.amazonaws.apprunner#AppRunnerResourceArn": {
      "traits": {
        "smithy.api#length": {
          "max": 1011,
          "min": 1
        },
        "smithy.api#pattern": "^arn:aws(-[\\w]+)*:[a-z0-9-\\\\.]{0,63}:[a-z0-9-\\\\.]{0,63}:[0-9]{12}:(\\w|\\/|-){1,1011}$"
      },
      "type": "string"
    },
    "com.amazonaws.apprunner#AutoScalingConfiguration": {
      "members": {
        "AutoScalingConfigurationArn": {
          "target": "com.amazonaws.apprunner#AppRunnerResourceArn",
          "traits": {}
        },
        "AutoScalingConfigurationName": {
          "target": "com.amazonaws.apprunner#AutoScalingConfigurationName",
          "traits": {}
        },
        "AutoScalingConfigurationRevision": {
          "target": "com.amazonaws.apprunner#AutoScalingConfigurationRevision",
          "traits": {}
        },
        "CreatedAt": {
          "target": "com.amazonaws.apprunner#Timestamp",
          "traits": {}
        },
        "DeletedAt": {
          "target": "com.amazonaws.apprunner#Timestamp",
          "traits": {}
        },
        "HasAssociatedService": {
          "target": "com.amazonaws.apprunner#HasAssociatedService",
          "traits": {}
        },
        "IsDefault": {
          "target": "com.amazonaws.apprunner#IsDefault",
          "traits": {}
        },
        "Latest": {
          "target": "com.amazonaws.apprunner#Latest",
          "traits": {}
        },
        "MaxConcurrency": {
          "target": "com.amazonaws.apprunner#MaxConcurrency",
          "traits": {}
        },
        "MaxSize": {
          "target": "com.amazonaws.apprunner#MaxSize",
          "traits": {}
        },
        "MinSize": {
          "target": "com.amazonaws.apprunner#MinSize",
          "traits": {}
        },
        "Status": {
          "target": "com.amazonaws.apprunner#AutoScalingConfigurationStatus",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.apprunner#AutoScalingConfigurationName": {
      "traits": {
        "smithy.api#length": {
          "max": 32,
          "min": 4
        },
        "smithy.api#pattern": "^[A-Za-z0-9][A-Za-z0-9\\-_]{3,31}$"
      },
      "type": "string"
    },
    "com.amazonaws.apprunner#AutoScalingConfigurationRevision": {
      "type": "integer"
    },
    "com.amazonaws.apprunner#AutoScalingConfigurationStatus": {
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.apprunner#Boolean": {
      "traits": {
        "smithy.api#default": false
      },
      "type": "boolean"
    },
    "com.amazonaws.apprunner#CustomerAccountId": {
      "traits": {
        "smithy.api#length": {
          "max": 12,
          "min": 12
        },
        "smithy.api#pattern": "^[0-9]{12}$"
      },
      "type": "string"
    },
    "com.amazonaws.apprunner#DescribeAutoScalingConfiguration": {
      "errors": [
        {
          "target": "com.amazonaws.apprunner#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.apprunner#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.apprunner#ResourceNotFoundException"
        }
      ],
      "input": {
        "target": "com.amazonaws.apprunner#DescribeAutoScalingConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.apprunner#DescribeAutoScalingConfigurationResponse"
      },
      "traits": {},
      "type": "operation"
    },
    "com.amazonaws.apprunner#DescribeAutoScalingConfigurationRequest": {
      "members": {
        "AutoScalingConfigurationArn": {
          "target": "com.amazonaws.apprunner#AppRunnerResourceArn",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.apprunner#DescribeAutoScalingConfigurationResponse": {
      "members": {
        "AutoScalingConfiguration": {
          "target": "com.amazonaws.apprunner#AutoScalingConfiguration",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.apprunner#DescribeObservabilityConfiguration": {
      "errors": [
        {
          "target": "com.amazonaws.apprunner#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.apprunner#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.apprunner#ResourceNotFoundException"
        }
      ],
      "input": {
        "target": "com.amazonaws.apprunner#DescribeObservabilityConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.apprunner#DescribeObservabilityConfigurationResponse"
      },
      "traits": {},
      "type": "operation"
    },
    "com.amazonaws.apprunner#DescribeObservabilityConfigurationRequest": {
      "members": {
        "ObservabilityConfigurationArn": {
          "target": "com.amazonaws.apprunner#AppRunnerResourceArn",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.apprunner#DescribeObservabilityConfigurationResponse": {
      "members": {
        "ObservabilityConfiguration": {
          "target": "com.amazonaws.apprunner#ObservabilityConfiguration",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.apprunner#DescribeVpcConnector": {
      "errors": [
        {
          "target": "com.amazonaws.apprunner#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.apprunner#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.apprunner#ResourceNotFoundException"
        }
      ],
      "input": {
        "target": "com.amazonaws.apprunner#DescribeVpcConnectorRequest"
      },
      "output": {
        "target": "com.amazonaws.apprunner#DescribeVpcConnectorResponse"
      },
      "traits": {},
      "type": "operation"
    },
    "com.amazonaws.apprunner#DescribeVpcConnectorRequest": {
      "members": {
        "VpcConnectorArn": {
          "target": "com.amazonaws.apprunner#AppRunnerResourceArn",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.apprunner#DescribeVpcConnectorResponse": {
      "members": {
        "VpcConnector": {
          "target": "com.amazonaws.apprunner#VpcConnector",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.apprunner#DescribeVpcIngressConnection": {
      "errors": [
        {
          "target": "com.amazonaws.apprunner#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.apprunner#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.apprunner#ResourceNotFoundException"
        }
      ],
      "input": {
        "target": "com.amazonaws.apprunner#DescribeVpcIngressConnectionRequest"
      },
      "output": {
        "target": "com.amazonaws.apprunner#DescribeVpcIngressConnectionResponse"
      },
      "traits": {},
      "type": "operation"
    },
    "com.amazonaws.apprunner#DescribeVpcIngressConnectionRequest": {
      "members": {
        "VpcIngressConnectionArn": {
          "target": "com.amazonaws.apprunner#AppRunnerResourceArn",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.apprunner#DescribeVpcIngressConnectionResponse": {
      "members": {
        "VpcIngressConnection": {
          "target": "com.amazonaws.apprunner#VpcIngressConnection",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.apprunner#DomainName": {
      "traits": {
        "smithy.api#length": {
          "max": 255,
          "min": 1
        },
        "smithy.api#pattern": "^[A-Za-z0-9*.-]{1,255}$"
      },
      "type": "string"
    },
    "com.amazonaws.apprunner#ErrorMessage": {
      "traits": {
        "smithy.api#length": {
          "max": 600,
          "min": 0
        }
      },
      "type": "string"
    },
    "com.amazonaws.apprunner#HasAssociatedService": {
      "type": "boolean"
    },
    "com.amazonaws.apprunner#IngressVpcConfiguration": {
      "members": {
        "VpcEndpointId": {
          "target": "com.amazonaws.apprunner#String",
          "traits": {}
        },
        "VpcId": {
          "target": "com.amazonaws.apprunner#String",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.apprunner#Integer": {
      "traits": {
        "smithy.api#default": 0
      },
      "type": "integer"
    },
    "com.amazonaws.apprunner#InternalServiceErrorException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.apprunner#ErrorMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InternalServiceError",
          "httpResponseCode": 500
        },
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      },
      "type": "structure"
    },
    "com.amazonaws.apprunner#InvalidRequestException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.apprunner#ErrorMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidRequest",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.apprunner#IsDefault": {
      "type": "boolean"
    },
    "com.amazonaws.apprunner#Latest": {
      "type": "boolean"
    },
    "com.amazonaws.apprunner#MaxConcurrency": {
      "type": "integer"
    },
    "com.amazonaws.apprunner#MaxSize": {
      "type": "integer"
    },
    "com.amazonaws.apprunner#MinSize": {
      "type": "integer"
    },
    "com.amazonaws.apprunner#ObservabilityConfiguration": {
      "members": {
        "CreatedAt": {
          "target": "com.amazonaws.apprunner#Timestamp",
          "traits": {}
        },
        "DeletedAt": {
          "target": "com.amazonaws.apprunner#Timestamp",
          "traits": {}
        },
        "Latest": {
          "target": "com.amazonaws.apprunner#Boolean",
          "traits": {
            "smithy.api#default": false
          }
        },
        "ObservabilityConfigurationArn": {
          "target": "com.amazonaws.apprunner#AppRunnerResourceArn",
          "traits": {}
        },
        "ObservabilityConfigurationName": {
          "target": "com.amazonaws.apprunner#ObservabilityConfigurationName",
          "traits": {}
        },
        "ObservabilityConfigurationRevision": {
          "target": "com.amazonaws.apprunner#Integer",
          "traits": {
            "smithy.api#default": 0
          }
        },
        "Status": {
          "target": "com.amazonaws.apprunner#ObservabilityConfigurationStatus",
          "traits": {}
        },
        "TraceConfiguration": {
          "target": "com.amazonaws.apprunner#TraceConfiguration",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.apprunner#ObservabilityConfigurationName": {
      "traits": {
        "smithy.api#length": {
          "max": 32,
          "min": 4
        },
        "smithy.api#pattern": "^[A-Za-z0-9][A-Za-z0-9\\-_]{3,31}$"
      },
      "type": "string"
    },
    "com.amazonaws.apprunner#ObservabilityConfigurationStatus": {
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.apprunner#ResourceNotFoundException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.apprunner#ErrorMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ResourceNotfound",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.apprunner#String": {
      "traits": {
        "smithy.api#length": {
          "max": 51200,
          "min": 0
        },
        "smithy.api#pattern": ".*"
      },
      "type": "string"
    },
    "com.amazonaws.apprunner#StringList": {
      "member": {
        "target": "com.amazonaws.apprunner#String"
      },
      "type": "list"
    },
    "com.amazonaws.apprunner#Timestamp": {
      "type": "timestamp"
    },
    "com.amazonaws.apprunner#TraceConfiguration": {
      "members": {
        "Vendor": {
          "target": "com.amazonaws.apprunner#TracingVendor",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.apprunner#TracingVendor": {
      "members": {
        "AWSXRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWSXRAY"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.apprunner#VpcConnector": {
      "members": {
        "CreatedAt": {
          "target": "com.amazonaws.apprunner#Timestamp",
          "traits": {}
        },
        "DeletedAt": {
          "target": "com.amazonaws.apprunner#Timestamp",
          "traits": {}
        },
        "SecurityGroups": {
          "target": "com.amazonaws.apprunner#StringList",
          "traits": {}
        },
        "Status": {
          "target": "com.amazonaws.apprunner#VpcConnectorStatus",
          "traits": {}
        },
        "Subnets": {
          "target": "com.amazonaws.apprunner#StringList",
          "traits": {}
        },
        "VpcConnectorArn": {
          "target": "com.amazonaws.apprunner#AppRunnerResourceArn",
          "traits": {}
        },
        "VpcConnectorName": {
          "target": "com.amazonaws.apprunner#VpcConnectorName",
          "traits": {}
        },
        "VpcConnectorRevision": {
          "target": "com.amazonaws.apprunner#Integer",
          "traits": {
            "smithy.api#default": 0
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.apprunner#VpcConnectorName": {
      "traits": {
        "smithy.api#length": {
          "max": 40,
          "min": 4
        },
        "smithy.api#pattern": "^[A-Za-z0-9][A-Za-z0-9\\-_]{3,39}$"
      },
      "type": "string"
    },
    "com.amazonaws.apprunner#VpcConnectorStatus": {
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.apprunner#VpcIngressConnection": {
      "members": {
        "AccountId": {
          "target": "com.amazonaws.apprunner#CustomerAccountId",
          "traits": {}
        },
        "CreatedAt": {
          "target": "com.amazonaws.apprunner#Timestamp",
          "traits": {}
        },
        "DeletedAt": {
          "target": "com.amazonaws.apprunner#Timestamp",
          "traits": {}
        },
        "DomainName": {
          "target": "com.amazonaws.apprunner#DomainName",
          "traits": {}
        },
        "IngressVpcConfiguration": {
          "target": "com.amazonaws.apprunner#IngressVpcConfiguration",
          "traits": {}
        },
        "ServiceArn": {
          "target": "com.amazonaws.apprunner#AppRunnerResourceArn",
          "traits": {}
        },
        "Status": {
          "target": "com.amazonaws.apprunner#VpcIngressConnectionStatus",
          "traits": {}
        },
        "VpcIngressConnectionArn": {
          "target": "com.amazonaws.apprunner#AppRunnerResourceArn",
          "traits": {}
        },
        "VpcIngressConnectionName": {
          "target": "com.amazonaws.apprunner#VpcIngressConnectionName",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.apprunner#VpcIngressConnectionName": {
      "traits": {
        "smithy.api#length": {
          "max": 40,
          "min": 4
        },
        "smithy.api#pattern": "^[A-Za-z0-9][A-Za-z0-9\\-_]{3,39}$"
      },
      "type": "string"
    },
    "com.amazonaws.apprunner#VpcIngressConnectionStatus": {
      "members": {
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVAILABLE"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        },
        "FAILED_CREATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED_CREATION"
          }
        },
        "FAILED_DELETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED_DELETION"
          }
        },
        "FAILED_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED_UPDATE"
          }
        },
        "PENDING_CREATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_CREATION"
          }
        },
        "PENDING_DELETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_DELETION"
          }
        },
        "PENDING_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_UPDATE"
          }
        }
      },
      "type": "enum"
    }
  },
  "smithy": "2.0"
}
