{
  "shapes": {
    "com.amazonaws.codedeploy#ApplicationDoesNotExistException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#ApplicationId": {
      "type": "string"
    },
    "com.amazonaws.codedeploy#ApplicationInfo": {
      "members": {
        "applicationId": {
          "target": "com.amazonaws.codedeploy#ApplicationId",
          "traits": {}
        },
        "applicationName": {
          "target": "com.amazonaws.codedeploy#ApplicationName",
          "traits": {}
        },
        "computePlatform": {
          "target": "com.amazonaws.codedeploy#ComputePlatform",
          "traits": {}
        },
        "createTime": {
          "target": "com.amazonaws.codedeploy#Timestamp",
          "traits": {}
        },
        "gitHubAccountName": {
          "target": "com.amazonaws.codedeploy#GitHubAccountTokenName",
          "traits": {}
        },
        "linkedToGitHub": {
          "target": "com.amazonaws.codedeploy#Boolean",
          "traits": {
            "smithy.api#default": false
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.codedeploy#ApplicationName": {
      "traits": {
        "smithy.api#length": {
          "max": 100,
          "min": 1
        },
        "smithy.api#pattern": "^[A-Za-z0-9+=,.@_-]*$"
      },
      "type": "string"
    },
    "com.amazonaws.codedeploy#ApplicationNameRequiredException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#Boolean": {
      "traits": {
        "smithy.api#default": false
      },
      "type": "boolean"
    },
    "com.amazonaws.codedeploy#CodeDeploy_20141006": {
      "operations": [
        {
          "target": "com.amazonaws.codedeploy#GetApplication"
        },
        {
          "target": "com.amazonaws.codedeploy#GetDeploymentConfig"
        }
      ],
      "traits": {
        "aws.api#service": {
          "arnNamespace": "codedeploy",
          "cloudFormationName": "CodeDeploy",
          "cloudTrailEventSource": "codedeploy.amazonaws.com",
          "endpointPrefix": "codedeploy",
          "sdkId": "CodeDeploy"
        },
        "aws.auth#sigv4": {
          "name": "codedeploy"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#title": "AWS CodeDeploy",
        "smithy.api#xmlNamespace": {
          "uri": "http://codedeploy.amazonaws.com/doc/2014-10-06/"
        },
        "smithy.rules#endpointRuleSet": {
          "parameters": {
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "documentation": "Override the endpoint used to send this request",
              "required": false,
              "type": "string"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "documentation": "The AWS region used to dispatch the request.",
              "required": false,
              "type": "string"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "required": true,
              "type": "boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "required": true,
              "type": "boolean"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ],
                  "fn": "isSet"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "headers": {},
                    "properties": {},
                    "url": {
                      "ref": "Endpoint"
                    }
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "fn": "isSet"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult",
                      "fn": "aws.partition"
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        },
                        {
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://codedeploy-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ],
                                  "fn": "getAttr"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://codedeploy-fips.{Region}.{PartitionResult#dnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://codedeploy.{Region}.{PartitionResult#dualStackDnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "headers": {},
                        "properties": {},
                        "url": "https://codedeploy.{Region}.{PartitionResult#dnsSuffix}"
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ],
          "version": "1.0"
        }
      },
      "type": "service",
      "version": "2014-10-06"
    },
    "com.amazonaws.codedeploy#ComputePlatform": {
      "members": {
        "ECS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ECS"
          }
        },
        "LAMBDA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Lambda"
          }
        },
        "SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Server"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.codedeploy#DeploymentConfigDoesNotExistException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#DeploymentConfigId": {
      "type": "string"
    },
    "com.amazonaws.codedeploy#DeploymentConfigInfo": {
      "members": {
        "computePlatform": {
          "target": "com.amazonaws.codedeploy#ComputePlatform",
          "traits": {}
        },
        "createTime": {
          "target": "com.amazonaws.codedeploy#Timestamp",
          "traits": {}
        },
        "deploymentConfigId": {
          "target": "com.amazonaws.codedeploy#DeploymentConfigId",
          "traits": {}
        },
        "deploymentConfigName": {
          "target": "com.amazonaws.codedeploy#DeploymentConfigName",
          "traits": {}
        },
        "minimumHealthyHosts": {
          "target": "com.amazonaws.codedeploy#MinimumHealthyHosts",
          "traits": {}
        },
        "trafficRoutingConfig": {
          "target": "com.amazonaws.codedeploy#TrafficRoutingConfig",
          "traits": {}
        },
        "zonalConfig": {
          "target": "com.amazonaws.codedeploy#ZonalConfig",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.codedeploy#DeploymentConfigName": {
      "traits": {
        "smithy.api#length": {
          "max": 100,
          "min": 1
        },
        "smithy.api#pattern": "^[A-Za-z0-9+=,.@_-]*$"
      },
      "type": "string"
    },
    "com.amazonaws.codedeploy#DeploymentConfigNameRequiredException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#GetApplication": {
      "errors": [
        {
          "target": "com.amazonaws.codedeploy#ApplicationDoesNotExistException"
        },
        {
          "target": "com.amazonaws.codedeploy#ApplicationNameRequiredException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidApplicationNameException"
        }
      ],
      "input": {
        "target": "com.amazonaws.codedeploy#GetApplicationInput"
      },
      "output": {
        "target": "com.amazonaws.codedeploy#GetApplicationOutput"
      },
      "traits": {},
      "type": "operation"
    },
    "com.amazonaws.codedeploy#GetApplicationInput": {
      "members": {
        "applicationName": {
          "target": "com.amazonaws.codedeploy#ApplicationName",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#GetApplicationOutput": {
      "members": {
        "application": {
          "target": "com.amazonaws.codedeploy#ApplicationInfo",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#GetDeploymentConfig": {
      "errors": [
        {
          "target": "com.amazonaws.codedeploy#DeploymentConfigDoesNotExistException"
        },
        {
          "target": "com.amazonaws.codedeploy#DeploymentConfigNameRequiredException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidComputePlatformException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidDeploymentConfigNameException"
        }
      ],
      "input": {
        "target": "com.amazonaws.codedeploy#GetDeploymentConfigInput"
      },
      "output": {
        "target": "com.amazonaws.codedeploy#GetDeploymentConfigOutput"
      },
      "traits": {},
      "type": "operation"
    },
    "com.amazonaws.codedeploy#GetDeploymentConfigInput": {
      "members": {
        "deploymentConfigName": {
          "target": "com.amazonaws.codedeploy#DeploymentConfigName",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#GetDeploymentConfigOutput": {
      "members": {
        "deploymentConfigInfo": {
          "target": "com.amazonaws.codedeploy#DeploymentConfigInfo",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#GitHubAccountTokenName": {
      "type": "string"
    },
    "com.amazonaws.codedeploy#InvalidApplicationNameException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidComputePlatformException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidDeploymentConfigNameException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#Message": {
      "type": "string"
    },
    "com.amazonaws.codedeploy#MinimumHealthyHosts": {
      "members": {
        "type": {
          "target": "com.amazonaws.codedeploy#MinimumHealthyHostsType",
          "traits": {}
        },
        "value": {
          "target": "com.amazonaws.codedeploy#MinimumHealthyHostsValue",
          "traits": {
            "smithy.api#default": 0
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.codedeploy#MinimumHealthyHostsPerZone": {
      "members": {
        "type": {
          "target": "com.amazonaws.codedeploy#MinimumHealthyHostsPerZoneType",
          "traits": {}
        },
        "value": {
          "target": "com.amazonaws.codedeploy#MinimumHealthyHostsPerZoneValue",
          "traits": {
            "smithy.api#default": 0
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.codedeploy#MinimumHealthyHostsPerZoneType": {
      "members": {
        "FLEET_PERCENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLEET_PERCENT"
          }
        },
        "HOST_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOST_COUNT"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.codedeploy#MinimumHealthyHostsPerZoneValue": {
      "traits": {
        "smithy.api#default": 0
      },
      "type": "integer"
    },
    "com.amazonaws.codedeploy#MinimumHealthyHostsType": {
      "members": {
        "FLEET_PERCENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLEET_PERCENT"
          }
        },
        "HOST_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOST_COUNT"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.codedeploy#MinimumHealthyHostsValue": {
      "traits": {
        "smithy.api#default": 0
      },
      "type": "integer"
    },
    "com.amazonaws.codedeploy#Percentage": {
      "traits": {
        "smithy.api#default": 0
      },
      "type": "integer"
    },
    "com.amazonaws.codedeploy#TimeBasedCanary": {
      "members": {
        "canaryInterval": {
          "target": "com.amazonaws.codedeploy#WaitTimeInMins",
          "traits": {
            "smithy.api#default": 0
          }
        },
        "canaryPercentage": {
          "target": "com.amazonaws.codedeploy#Percentage",
          "traits": {
            "smithy.api#default": 0
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.codedeploy#TimeBasedLinear": {
      "members": {
        "linearInterval": {
          "target": "com.amazonaws.codedeploy#WaitTimeInMins",
          "traits": {
            "smithy.api#default": 0
          }
        },
        "linearPercentage": {
          "target": "com.amazonaws.codedeploy#Percentage",
          "traits": {
            "smithy.api#default": 0
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.codedeploy#Timestamp": {
      "type": "timestamp"
    },
    "com.amazonaws.codedeploy#TrafficRoutingConfig": {
      "members": {
        "timeBasedCanary": {
          "target": "com.amazonaws.codedeploy#TimeBasedCanary",
          "traits": {}
        },
        "timeBasedLinear": {
          "target": "com.amazonaws.codedeploy#TimeBasedLinear",
          "traits": {}
        },
        "type": {
          "target": "com.amazonaws.codedeploy#TrafficRoutingType",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.codedeploy#TrafficRoutingType": {
      "members": {
        "AllAtOnce": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AllAtOnce"
          }
        },
        "TimeBasedCanary": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TimeBasedCanary"
          }
        },
        "TimeBasedLinear": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TimeBasedLinear"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.codedeploy#WaitTimeInMins": {
      "traits": {
        "smithy.api#default": 0
      },
      "type": "integer"
    },
    "com.amazonaws.codedeploy#WaitTimeInSeconds": {
      "type": "long"
    },
    "com.amazonaws.codedeploy#ZonalConfig": {
      "members": {
        "firstZoneMonitorDurationInSeconds": {
          "target": "com.amazonaws.codedeploy#WaitTimeInSeconds",
          "traits": {}
        },
        "minimumHealthyHostsPerZone": {
          "target": "com.amazonaws.codedeploy#MinimumHealthyHostsPerZone",
          "traits": {}
        },
        "monitorDurationInSeconds": {
          "target": "com.amazonaws.codedeploy#WaitTimeInSeconds",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    }
  },
  "smithy": "2.0"
}
