{
  "shapes": {
    "com.amazonaws.codedeploy#AlarmsLimitExceededException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#ApplicationAlreadyExistsException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#ApplicationDoesNotExistException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#ApplicationId": {
      "type": "string"
    },
    "com.amazonaws.codedeploy#ApplicationInfo": {
      "members": {
        "applicationId": {
          "target": "com.amazonaws.codedeploy#ApplicationId",
          "traits": {}
        },
        "applicationName": {
          "target": "com.amazonaws.codedeploy#ApplicationName",
          "traits": {}
        },
        "computePlatform": {
          "target": "com.amazonaws.codedeploy#ComputePlatform",
          "traits": {}
        },
        "createTime": {
          "target": "com.amazonaws.codedeploy#Timestamp",
          "traits": {}
        },
        "gitHubAccountName": {
          "target": "com.amazonaws.codedeploy#GitHubAccountTokenName",
          "traits": {}
        },
        "linkedToGitHub": {
          "target": "com.amazonaws.codedeploy#Boolean",
          "traits": {
            "smithy.api#default": false
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.codedeploy#ApplicationLimitExceededException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#ApplicationName": {
      "traits": {
        "smithy.api#length": {
          "max": 100,
          "min": 1
        },
        "smithy.api#pattern": "^[A-Za-z0-9+=,.@_-]*$"
      },
      "type": "string"
    },
    "com.amazonaws.codedeploy#ApplicationNameRequiredException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#ArnNotSupportedException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#BatchLimitExceededException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#Boolean": {
      "traits": {
        "smithy.api#default": false
      },
      "type": "boolean"
    },
    "com.amazonaws.codedeploy#BucketNameFilterRequiredException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#CodeDeploy_20141006": {
      "operations": [
        {
          "target": "com.amazonaws.codedeploy#GetApplication"
        },
        {
          "target": "com.amazonaws.codedeploy#GetDeploymentConfig"
        }
      ],
      "traits": {
        "aws.api#service": {
          "arnNamespace": "codedeploy",
          "cloudFormationName": "CodeDeploy",
          "cloudTrailEventSource": "codedeploy.amazonaws.com",
          "endpointPrefix": "codedeploy",
          "sdkId": "CodeDeploy"
        },
        "aws.auth#sigv4": {
          "name": "codedeploy"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#title": "AWS CodeDeploy",
        "smithy.api#xmlNamespace": {
          "uri": "http://codedeploy.amazonaws.com/doc/2014-10-06/"
        },
        "smithy.rules#endpointRuleSet": {
          "parameters": {
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "documentation": "Override the endpoint used to send this request",
              "required": false,
              "type": "string"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "documentation": "The AWS region used to dispatch the request.",
              "required": false,
              "type": "string"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "required": true,
              "type": "boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "required": true,
              "type": "boolean"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ],
                  "fn": "isSet"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "headers": {},
                    "properties": {},
                    "url": {
                      "ref": "Endpoint"
                    }
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "fn": "isSet"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult",
                      "fn": "aws.partition"
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        },
                        {
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://codedeploy-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ],
                                  "fn": "getAttr"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://codedeploy-fips.{Region}.{PartitionResult#dnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://codedeploy.{Region}.{PartitionResult#dualStackDnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "headers": {},
                        "properties": {},
                        "url": "https://codedeploy.{Region}.{PartitionResult#dnsSuffix}"
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ],
          "version": "1.0"
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy-fips.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-iso-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.us-iso-west-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Endpoint": "https://example.com",
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Endpoint": "https://example.com",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Endpoint": "https://example.com",
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Endpoint": "https://example.com",
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      },
      "type": "service",
      "version": "2014-10-06"
    },
    "com.amazonaws.codedeploy#ComputePlatform": {
      "members": {
        "ECS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ECS"
          }
        },
        "LAMBDA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Lambda"
          }
        },
        "SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Server"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.codedeploy#DeploymentAlreadyCompletedException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#DeploymentConfigAlreadyExistsException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#DeploymentConfigDoesNotExistException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#DeploymentConfigId": {
      "type": "string"
    },
    "com.amazonaws.codedeploy#DeploymentConfigInUseException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#DeploymentConfigInfo": {
      "members": {
        "computePlatform": {
          "target": "com.amazonaws.codedeploy#ComputePlatform",
          "traits": {}
        },
        "createTime": {
          "target": "com.amazonaws.codedeploy#Timestamp",
          "traits": {}
        },
        "deploymentConfigId": {
          "target": "com.amazonaws.codedeploy#DeploymentConfigId",
          "traits": {}
        },
        "deploymentConfigName": {
          "target": "com.amazonaws.codedeploy#DeploymentConfigName",
          "traits": {}
        },
        "minimumHealthyHosts": {
          "target": "com.amazonaws.codedeploy#MinimumHealthyHosts",
          "traits": {}
        },
        "trafficRoutingConfig": {
          "target": "com.amazonaws.codedeploy#TrafficRoutingConfig",
          "traits": {}
        },
        "zonalConfig": {
          "target": "com.amazonaws.codedeploy#ZonalConfig",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.codedeploy#DeploymentConfigLimitExceededException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#DeploymentConfigName": {
      "traits": {
        "smithy.api#length": {
          "max": 100,
          "min": 1
        },
        "smithy.api#pattern": "^[A-Za-z0-9+=,.@_-]*$"
      },
      "type": "string"
    },
    "com.amazonaws.codedeploy#DeploymentConfigNameRequiredException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#DeploymentDoesNotExistException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#DeploymentGroupAlreadyExistsException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#DeploymentGroupDoesNotExistException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#DeploymentGroupLimitExceededException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#DeploymentGroupNameRequiredException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#DeploymentIdRequiredException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#DeploymentIsNotInReadyStateException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#DeploymentLimitExceededException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#DeploymentNotStartedException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#DeploymentTargetDoesNotExistException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#DeploymentTargetIdRequiredException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#DeploymentTargetListSizeExceededException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#DescriptionTooLongException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#ECSServiceMappingLimitExceededException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#GetApplication": {
      "errors": [
        {
          "target": "com.amazonaws.codedeploy#ApplicationDoesNotExistException"
        },
        {
          "target": "com.amazonaws.codedeploy#ApplicationNameRequiredException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidApplicationNameException"
        }
      ],
      "input": {
        "target": "com.amazonaws.codedeploy#GetApplicationInput"
      },
      "output": {
        "target": "com.amazonaws.codedeploy#GetApplicationOutput"
      },
      "traits": {},
      "type": "operation"
    },
    "com.amazonaws.codedeploy#GetApplicationInput": {
      "members": {
        "applicationName": {
          "target": "com.amazonaws.codedeploy#ApplicationName",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#GetApplicationOutput": {
      "members": {
        "application": {
          "target": "com.amazonaws.codedeploy#ApplicationInfo",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#GetDeploymentConfig": {
      "errors": [
        {
          "target": "com.amazonaws.codedeploy#DeploymentConfigDoesNotExistException"
        },
        {
          "target": "com.amazonaws.codedeploy#DeploymentConfigNameRequiredException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidComputePlatformException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidDeploymentConfigNameException"
        }
      ],
      "input": {
        "target": "com.amazonaws.codedeploy#GetDeploymentConfigInput"
      },
      "output": {
        "target": "com.amazonaws.codedeploy#GetDeploymentConfigOutput"
      },
      "traits": {},
      "type": "operation"
    },
    "com.amazonaws.codedeploy#GetDeploymentConfigInput": {
      "members": {
        "deploymentConfigName": {
          "target": "com.amazonaws.codedeploy#DeploymentConfigName",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#GetDeploymentConfigOutput": {
      "members": {
        "deploymentConfigInfo": {
          "target": "com.amazonaws.codedeploy#DeploymentConfigInfo",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#GitHubAccountTokenDoesNotExistException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#GitHubAccountTokenName": {
      "type": "string"
    },
    "com.amazonaws.codedeploy#GitHubAccountTokenNameRequiredException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#IamArnRequiredException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#IamSessionArnAlreadyRegisteredException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#IamUserArnAlreadyRegisteredException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#IamUserArnRequiredException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InstanceDoesNotExistException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#deprecated": {
          "message": "This exception is deprecated, use DeploymentTargetDoesNotExistException instead."
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InstanceIdRequiredException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#deprecated": {
          "message": "This exception is deprecated, use DeploymentTargetIdRequiredException instead."
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InstanceLimitExceededException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InstanceNameAlreadyRegisteredException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InstanceNameRequiredException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InstanceNotRegisteredException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidAlarmConfigException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidApplicationNameException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidArnException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidAutoRollbackConfigException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidAutoScalingGroupException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidBlueGreenDeploymentConfigurationException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidBucketNameFilterException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidComputePlatformException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidDeployedStateFilterException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidDeploymentConfigNameException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidDeploymentGroupNameException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidDeploymentIdException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidDeploymentInstanceTypeException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidDeploymentStatusException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidDeploymentStyleException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidDeploymentTargetIdException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidDeploymentWaitTypeException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidEC2TagCombinationException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidEC2TagException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidECSServiceException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidExternalIdException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidFileExistsBehaviorException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidGitHubAccountTokenException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidGitHubAccountTokenNameException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidIamSessionArnException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidIamUserArnException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidIgnoreApplicationStopFailuresValueException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidInputException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidInstanceNameException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidInstanceStatusException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidInstanceTypeException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidKeyPrefixFilterException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidLifecycleEventHookExecutionIdException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidLifecycleEventHookExecutionStatusException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidLoadBalancerInfoException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidMinimumHealthyHostValueException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidNextTokenException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidOnPremisesTagCombinationException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidOperationException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidRegistrationStatusException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidRevisionException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidRoleException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidSortByException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidSortOrderException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidTagException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidTagFilterException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidTagsToAddException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidTargetFilterNameException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidTargetGroupPairException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidTargetInstancesException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidTimeRangeException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidTrafficRoutingConfigurationException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidTriggerConfigException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidUpdateOutdatedInstancesOnlyValueException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#InvalidZonalDeploymentConfigurationException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#LifecycleEventAlreadyCompletedException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#LifecycleHookLimitExceededException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#Message": {
      "type": "string"
    },
    "com.amazonaws.codedeploy#MinimumHealthyHosts": {
      "members": {
        "type": {
          "target": "com.amazonaws.codedeploy#MinimumHealthyHostsType",
          "traits": {}
        },
        "value": {
          "target": "com.amazonaws.codedeploy#MinimumHealthyHostsValue",
          "traits": {
            "smithy.api#default": 0
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.codedeploy#MinimumHealthyHostsPerZone": {
      "members": {
        "type": {
          "target": "com.amazonaws.codedeploy#MinimumHealthyHostsPerZoneType",
          "traits": {}
        },
        "value": {
          "target": "com.amazonaws.codedeploy#MinimumHealthyHostsPerZoneValue",
          "traits": {
            "smithy.api#default": 0
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.codedeploy#MinimumHealthyHostsPerZoneType": {
      "members": {
        "FLEET_PERCENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLEET_PERCENT"
          }
        },
        "HOST_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOST_COUNT"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.codedeploy#MinimumHealthyHostsPerZoneValue": {
      "traits": {
        "smithy.api#default": 0
      },
      "type": "integer"
    },
    "com.amazonaws.codedeploy#MinimumHealthyHostsType": {
      "members": {
        "FLEET_PERCENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLEET_PERCENT"
          }
        },
        "HOST_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOST_COUNT"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.codedeploy#MinimumHealthyHostsValue": {
      "traits": {
        "smithy.api#default": 0
      },
      "type": "integer"
    },
    "com.amazonaws.codedeploy#MultipleIamArnsProvidedException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#OperationNotSupportedException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#Percentage": {
      "traits": {
        "smithy.api#default": 0
      },
      "type": "integer"
    },
    "com.amazonaws.codedeploy#ResourceArnRequiredException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#ResourceValidationException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#RevisionDoesNotExistException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#RevisionRequiredException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#RoleRequiredException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#TagLimitExceededException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#TagRequiredException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#TagSetListLimitExceededException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#ThrottlingException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#TimeBasedCanary": {
      "members": {
        "canaryInterval": {
          "target": "com.amazonaws.codedeploy#WaitTimeInMins",
          "traits": {
            "smithy.api#default": 0
          }
        },
        "canaryPercentage": {
          "target": "com.amazonaws.codedeploy#Percentage",
          "traits": {
            "smithy.api#default": 0
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.codedeploy#TimeBasedLinear": {
      "members": {
        "linearInterval": {
          "target": "com.amazonaws.codedeploy#WaitTimeInMins",
          "traits": {
            "smithy.api#default": 0
          }
        },
        "linearPercentage": {
          "target": "com.amazonaws.codedeploy#Percentage",
          "traits": {
            "smithy.api#default": 0
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.codedeploy#Timestamp": {
      "type": "timestamp"
    },
    "com.amazonaws.codedeploy#TrafficRoutingConfig": {
      "members": {
        "timeBasedCanary": {
          "target": "com.amazonaws.codedeploy#TimeBasedCanary",
          "traits": {}
        },
        "timeBasedLinear": {
          "target": "com.amazonaws.codedeploy#TimeBasedLinear",
          "traits": {}
        },
        "type": {
          "target": "com.amazonaws.codedeploy#TrafficRoutingType",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.codedeploy#TrafficRoutingType": {
      "members": {
        "AllAtOnce": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AllAtOnce"
          }
        },
        "TimeBasedCanary": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TimeBasedCanary"
          }
        },
        "TimeBasedLinear": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TimeBasedLinear"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.codedeploy#TriggerTargetsLimitExceededException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#UnsupportedActionForDeploymentTypeException": {
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.codedeploy#WaitTimeInMins": {
      "traits": {
        "smithy.api#default": 0
      },
      "type": "integer"
    },
    "com.amazonaws.codedeploy#WaitTimeInSeconds": {
      "type": "long"
    },
    "com.amazonaws.codedeploy#ZonalConfig": {
      "members": {
        "firstZoneMonitorDurationInSeconds": {
          "target": "com.amazonaws.codedeploy#WaitTimeInSeconds",
          "traits": {}
        },
        "minimumHealthyHostsPerZone": {
          "target": "com.amazonaws.codedeploy#MinimumHealthyHostsPerZone",
          "traits": {}
        },
        "monitorDurationInSeconds": {
          "target": "com.amazonaws.codedeploy#WaitTimeInSeconds",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    }
  },
  "smithy": "2.0"
}
