{
  "shapes": {
    "com.amazonaws.dataexchange#AccessDeniedException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      },
      "type": "structure"
    },
    "com.amazonaws.dataexchange#Arn": {
      "type": "string"
    },
    "com.amazonaws.dataexchange#AssetType": {
      "traits": {
        "smithy.api#enum": [
          {
            "name": "S3_SNAPSHOT",
            "value": "S3_SNAPSHOT"
          },
          {
            "name": "REDSHIFT_DATA_SHARE",
            "value": "REDSHIFT_DATA_SHARE"
          },
          {
            "name": "API_GATEWAY_API",
            "value": "API_GATEWAY_API"
          },
          {
            "name": "S3_DATA_ACCESS",
            "value": "S3_DATA_ACCESS"
          },
          {
            "name": "LAKE_FORMATION_DATA_PERMISSION",
            "value": "LAKE_FORMATION_DATA_PERMISSION"
          }
        ]
      },
      "type": "string"
    },
    "com.amazonaws.dataexchange#ConflictException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {}
        },
        "ResourceType": {
          "target": "com.amazonaws.dataexchange#ResourceType",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      },
      "type": "structure"
    },
    "com.amazonaws.dataexchange#DataExchange": {
      "operations": [
        {
          "target": "com.amazonaws.dataexchange#GetDataSet"
        }
      ],
      "traits": {
        "aws.api#service": {
          "arnNamespace": "dataexchange",
          "cloudTrailEventSource": "dataexchange.amazonaws.com",
          "endpointPrefix": "dataexchange",
          "sdkId": "DataExchange"
        },
        "aws.auth#sigv4": {
          "name": "dataexchange"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#title": "AWS Data Exchange",
        "smithy.rules#endpointRuleSet": {
          "parameters": {
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "documentation": "Override the endpoint used to send this request",
              "required": false,
              "type": "string"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "documentation": "The AWS region used to dispatch the request.",
              "required": false,
              "type": "string"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "required": true,
              "type": "boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "required": true,
              "type": "boolean"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ],
                  "fn": "isSet"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "headers": {},
                    "properties": {},
                    "url": {
                      "ref": "Endpoint"
                    }
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "fn": "isSet"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult",
                      "fn": "aws.partition"
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        },
                        {
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://dataexchange-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ],
                                  "fn": "getAttr"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://dataexchange-fips.{Region}.{PartitionResult#dnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://dataexchange.{Region}.{PartitionResult#dualStackDnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "headers": {},
                        "properties": {},
                        "url": "https://dataexchange.{Region}.{PartitionResult#dnsSuffix}"
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ],
          "version": "1.0"
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Endpoint": "https://example.com",
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Endpoint": "https://example.com",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Endpoint": "https://example.com",
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Endpoint": "https://example.com",
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      },
      "type": "service",
      "version": "2017-07-25"
    },
    "com.amazonaws.dataexchange#Description": {
      "type": "string"
    },
    "com.amazonaws.dataexchange#ExceptionCause": {
      "traits": {
        "smithy.api#enum": [
          {
            "name": "InsufficientS3BucketPolicy",
            "value": "InsufficientS3BucketPolicy"
          },
          {
            "name": "S3AccessDenied",
            "value": "S3AccessDenied"
          }
        ]
      },
      "type": "string"
    },
    "com.amazonaws.dataexchange#GetDataSet": {
      "errors": [
        {
          "target": "com.amazonaws.dataexchange#InternalServerException"
        },
        {
          "target": "com.amazonaws.dataexchange#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.dataexchange#ThrottlingException"
        },
        {
          "target": "com.amazonaws.dataexchange#ValidationException"
        }
      ],
      "input": {
        "target": "com.amazonaws.dataexchange#GetDataSetRequest"
      },
      "output": {
        "target": "com.amazonaws.dataexchange#GetDataSetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/v1/data-sets/{DataSetId}"
        },
        "smithy.api#readonly": {}
      },
      "type": "operation"
    },
    "com.amazonaws.dataexchange#GetDataSetRequest": {
      "members": {
        "DataSetId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "type": "structure"
    },
    "com.amazonaws.dataexchange#GetDataSetResponse": {
      "members": {
        "Arn": {
          "target": "com.amazonaws.dataexchange#Arn",
          "traits": {}
        },
        "AssetType": {
          "target": "com.amazonaws.dataexchange#AssetType",
          "traits": {}
        },
        "CreatedAt": {
          "target": "com.amazonaws.dataexchange#Timestamp",
          "traits": {}
        },
        "Description": {
          "target": "com.amazonaws.dataexchange#Description",
          "traits": {}
        },
        "Id": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {}
        },
        "Name": {
          "target": "com.amazonaws.dataexchange#Name",
          "traits": {}
        },
        "Origin": {
          "target": "com.amazonaws.dataexchange#Origin",
          "traits": {}
        },
        "OriginDetails": {
          "target": "com.amazonaws.dataexchange#OriginDetails",
          "traits": {}
        },
        "SourceId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {}
        },
        "Tags": {
          "target": "com.amazonaws.dataexchange#MapOf__string",
          "traits": {}
        },
        "UpdatedAt": {
          "target": "com.amazonaws.dataexchange#Timestamp",
          "traits": {}
        }
      },
      "type": "structure"
    },
    "com.amazonaws.dataexchange#Id": {
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z0-9]{30,40}$"
      },
      "type": "string"
    },
    "com.amazonaws.dataexchange#InternalServerException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      },
      "type": "structure"
    },
    "com.amazonaws.dataexchange#LimitName": {
      "traits": {
        "smithy.api#enum": [
          {
            "name": "Products_per_account",
            "value": "Products per account"
          },
          {
            "name": "Data_sets_per_account",
            "value": "Data sets per account"
          },
          {
            "name": "Data_sets_per_product",
            "value": "Data sets per product"
          },
          {
            "name": "Revisions_per_data_set",
            "value": "Revisions per data set"
          },
          {
            "name": "Assets_per_revision",
            "value": "Assets per revision"
          },
          {
            "name": "Assets_per_import_job_from_Amazon_S3",
            "value": "Assets per import job from Amazon S3"
          },
          {
            "name": "Asset_per_export_job_from_Amazon_S3",
            "value": "Asset per export job from Amazon S3"
          },
          {
            "name": "Asset_size_in_GB",
            "value": "Asset size in GB"
          },
          {
            "name": "Concurrent_in_progress_jobs_to_export_assets_to_Amazon_S3",
            "value": "Concurrent in progress jobs to export assets to Amazon S3"
          },
          {
            "name": "Concurrent_in_progress_jobs_to_export_assets_to_a_signed_URL",
            "value": "Concurrent in progress jobs to export assets to a signed URL"
          },
          {
            "name": "Concurrent_in_progress_jobs_to_import_assets_from_Amazon_S3",
            "value": "Concurrent in progress jobs to import assets from Amazon S3"
          },
          {
            "name": "Concurrent_in_progress_jobs_to_import_assets_from_a_signed_URL",
            "value": "Concurrent in progress jobs to import assets from a signed URL"
          },
          {
            "name": "Concurrent_in_progress_jobs_to_export_revisions_to_Amazon_S3",
            "value": "Concurrent in progress jobs to export revisions to Amazon S3"
          },
          {
            "name": "Event_actions_per_account",
            "value": "Event actions per account"
          },
          {
            "name": "Auto_export_event_actions_per_data_set",
            "value": "Auto export event actions per data set"
          },
          {
            "name": "Amazon_Redshift_datashare_assets_per_import_job_from_Redshift",
            "value": "Amazon Redshift datashare assets per import job from Redshift"
          },
          {
            "name": "Concurrent_in_progress_jobs_to_import_assets_from_Amazon_Redshift_datashares",
            "value": "Concurrent in progress jobs to import assets from Amazon Redshift datashares"
          },
          {
            "name": "Revisions_per_Amazon_Redshift_datashare_data_set",
            "value": "Revisions per Amazon Redshift datashare data set"
          },
          {
            "name": "Amazon_Redshift_datashare_assets_per_revision",
            "value": "Amazon Redshift datashare assets per revision"
          },
          {
            "name": "Concurrent_in_progress_jobs_to_import_assets_from_an_API_Gateway_API",
            "value": "Concurrent in progress jobs to import assets from an API Gateway API"
          },
          {
            "name": "Amazon_API_Gateway_API_assets_per_revision",
            "value": "Amazon API Gateway API assets per revision"
          },
          {
            "name": "Revisions_per_Amazon_API_Gateway_API_data_set",
            "value": "Revisions per Amazon API Gateway API data set"
          },
          {
            "name": "Concurrent_in_progress_jobs_to_import_assets_from_an_AWS_Lake_Formation_tag_policy",
            "value": "Concurrent in progress jobs to import assets from an AWS Lake Formation tag policy"
          },
          {
            "name": "AWS_Lake_Formation_data_permission_assets_per_revision",
            "value": "AWS Lake Formation data permission assets per revision"
          },
          {
            "name": "Revisions_per_AWS_Lake_Formation_data_permission_data_set",
            "value": "Revisions per AWS Lake Formation data permission data set"
          },
          {
            "name": "Revisions_per_Amazon_S3_data_access_data_set",
            "value": "Revisions per Amazon S3 data access data set"
          },
          {
            "name": "Amazon_S3_data_access_assets_per_revision",
            "value": "Amazon S3 data access assets per revision"
          },
          {
            "name": "Concurrent_in_progress_jobs_to_create_Amazon_S3_data_access_assets_from_S3_buckets",
            "value": "Concurrent in progress jobs to create Amazon S3 data access assets from S3 buckets"
          },
          {
            "name": "Active_and_pending_data_grants",
            "value": "Active and pending data grants"
          },
          {
            "name": "Pending_data_grants_per_consumer",
            "value": "Pending data grants per consumer"
          }
        ]
      },
      "type": "string"
    },
    "com.amazonaws.dataexchange#MapOf__string": {
      "key": {
        "target": "com.amazonaws.dataexchange#__string"
      },
      "type": "map",
      "value": {
        "target": "com.amazonaws.dataexchange#__string"
      }
    },
    "com.amazonaws.dataexchange#Name": {
      "type": "string"
    },
    "com.amazonaws.dataexchange#Origin": {
      "traits": {
        "smithy.api#enum": [
          {
            "name": "OWNED",
            "value": "OWNED"
          },
          {
            "name": "ENTITLED",
            "value": "ENTITLED"
          }
        ]
      },
      "type": "string"
    },
    "com.amazonaws.dataexchange#OriginDetails": {
      "members": {
        "DataGrantId": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {}
        },
        "ProductId": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.dataexchange#ResourceNotFoundException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {}
        },
        "ResourceType": {
          "target": "com.amazonaws.dataexchange#ResourceType",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.dataexchange#ResourceType": {
      "traits": {
        "smithy.api#enum": [
          {
            "name": "DATA_SET",
            "value": "DATA_SET"
          },
          {
            "name": "REVISION",
            "value": "REVISION"
          },
          {
            "name": "ASSET",
            "value": "ASSET"
          },
          {
            "name": "JOB",
            "value": "JOB"
          },
          {
            "name": "EVENT_ACTION",
            "value": "EVENT_ACTION"
          },
          {
            "name": "DATA_GRANT",
            "value": "DATA_GRANT"
          }
        ]
      },
      "type": "string"
    },
    "com.amazonaws.dataexchange#ServiceLimitExceededException": {
      "members": {
        "LimitName": {
          "target": "com.amazonaws.dataexchange#LimitName",
          "traits": {}
        },
        "LimitValue": {
          "target": "com.amazonaws.dataexchange#__double",
          "traits": {
            "smithy.api#default": 0
          }
        },
        "Message": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 402
      },
      "type": "structure"
    },
    "com.amazonaws.dataexchange#ThrottlingException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      },
      "type": "structure"
    },
    "com.amazonaws.dataexchange#Timestamp": {
      "traits": {
        "smithy.api#timestampFormat": "date-time"
      },
      "type": "timestamp"
    },
    "com.amazonaws.dataexchange#ValidationException": {
      "members": {
        "ExceptionCause": {
          "target": "com.amazonaws.dataexchange#ExceptionCause",
          "traits": {}
        },
        "Message": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.dataexchange#__double": {
      "traits": {
        "smithy.api#default": 0
      },
      "type": "double"
    },
    "com.amazonaws.dataexchange#__string": {
      "type": "string"
    }
  },
  "smithy": "2.0"
}
