{
  "shapes": {
    "com.amazonaws.ec2#AmazonEC2": {
      "operations": [
        {
          "target": "com.amazonaws.ec2#DescribeInternetGateways"
        },
        {
          "target": "com.amazonaws.ec2#DescribeNetworkAcls"
        },
        {
          "target": "com.amazonaws.ec2#DescribeRouteTables"
        },
        {
          "target": "com.amazonaws.ec2#DescribeSecurityGroupRules"
        },
        {
          "target": "com.amazonaws.ec2#DescribeSecurityGroups"
        },
        {
          "target": "com.amazonaws.ec2#DescribeSubnets"
        },
        {
          "target": "com.amazonaws.ec2#DescribeVpcAttribute"
        },
        {
          "target": "com.amazonaws.ec2#DescribeVpcs"
        }
      ],
      "traits": {
        "aws.api#service": {
          "arnNamespace": "ec2",
          "cloudFormationName": "EC2",
          "cloudTrailEventSource": "ec2.amazonaws.com",
          "endpointPrefix": "ec2",
          "sdkId": "EC2"
        },
        "aws.auth#sigv4": {
          "name": "ec2"
        },
        "aws.protocols#ec2Query": {},
        "smithy.api#title": "Amazon Elastic Compute Cloud",
        "smithy.api#xmlNamespace": {
          "uri": "http://ec2.amazonaws.com/doc/2016-11-15"
        },
        "smithy.rules#endpointRuleSet": {
          "parameters": {
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "documentation": "Override the endpoint used to send this request",
              "required": false,
              "type": "string"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "documentation": "The AWS region used to dispatch the request.",
              "required": false,
              "type": "string"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "required": true,
              "type": "boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "required": true,
              "type": "boolean"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ],
                  "fn": "isSet"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "headers": {},
                    "properties": {},
                    "url": {
                      "ref": "Endpoint"
                    }
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "fn": "isSet"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult",
                      "fn": "aws.partition"
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        },
                        {
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://ec2-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ],
                                  "fn": "getAttr"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "argv": [
                                    {
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "name"
                                      ],
                                      "fn": "getAttr"
                                    },
                                    "aws-us-gov"
                                  ],
                                  "fn": "stringEquals"
                                }
                              ],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://ec2.{Region}.amazonaws.com"
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://ec2-fips.{Region}.{PartitionResult#dnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://ec2.{Region}.{PartitionResult#dualStackDnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "headers": {},
                        "properties": {},
                        "url": "https://ec2.{Region}.{PartitionResult#dnsSuffix}"
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ],
          "version": "1.0"
        }
      },
      "type": "service",
      "version": "2016-11-15"
    },
    "com.amazonaws.ec2#AttachmentStatus": {
      "members": {
        "attached": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "attached"
          }
        },
        "attaching": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "attaching"
          }
        },
        "detached": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "detached"
          }
        },
        "detaching": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "detaching"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.ec2#AttributeBooleanValue": {
      "members": {
        "Value": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "aws.protocols#ec2QueryName": "Value",
            "smithy.api#xmlName": "value"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#BlockPublicAccessMode": {
      "members": {
        "block_bidirectional": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block-bidirectional"
          }
        },
        "block_ingress": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block-ingress"
          }
        },
        "off": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.ec2#BlockPublicAccessStates": {
      "members": {
        "InternetGatewayBlockMode": {
          "target": "com.amazonaws.ec2#BlockPublicAccessMode",
          "traits": {
            "aws.protocols#ec2QueryName": "InternetGatewayBlockMode",
            "smithy.api#xmlName": "internetGatewayBlockMode"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.ec2#CarrierGatewayId": {
      "type": "string"
    },
    "com.amazonaws.ec2#CoipPoolId": {
      "type": "string"
    },
    "com.amazonaws.ec2#CoreNetworkArn": {
      "type": "string"
    },
    "com.amazonaws.ec2#DescribeInternetGateways": {
      "input": {
        "target": "com.amazonaws.ec2#DescribeInternetGatewaysRequest"
      },
      "output": {
        "target": "com.amazonaws.ec2#DescribeInternetGatewaysResult"
      },
      "traits": {
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "items": "InternetGateways",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        },
        "smithy.api#suppress": [
          "WaitableTraitInvalidErrorType"
        ],
        "smithy.waiters#waitable": {
          "InternetGatewayExists": {
            "acceptors": [
              {
                "matcher": {
                  "output": {
                    "comparator": "booleanEquals",
                    "expected": "true",
                    "path": "length(InternetGateways[].InternetGatewayId) > `0`"
                  }
                },
                "state": "success"
              },
              {
                "matcher": {
                  "errorType": "InvalidInternetGateway.NotFound"
                },
                "state": "retry"
              }
            ],
            "minDelay": 5
          }
        }
      },
      "type": "operation"
    },
    "com.amazonaws.ec2#DescribeInternetGatewaysMaxResults": {
      "traits": {
        "smithy.api#range": {
          "max": 1000,
          "min": 5
        }
      },
      "type": "integer"
    },
    "com.amazonaws.ec2#DescribeInternetGatewaysRequest": {
      "members": {
        "DryRun": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "aws.protocols#ec2QueryName": "DryRun",
            "smithy.api#xmlName": "dryRun"
          }
        },
        "Filters": {
          "target": "com.amazonaws.ec2#FilterList",
          "traits": {
            "smithy.api#xmlName": "Filter"
          }
        },
        "InternetGatewayIds": {
          "target": "com.amazonaws.ec2#InternetGatewayIdList",
          "traits": {
            "aws.protocols#ec2QueryName": "InternetGatewayId",
            "smithy.api#xmlName": "internetGatewayId"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.ec2#DescribeInternetGatewaysMaxResults",
          "traits": {}
        },
        "NextToken": {
          "target": "com.amazonaws.ec2#String",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.ec2#DescribeInternetGatewaysResult": {
      "members": {
        "InternetGateways": {
          "target": "com.amazonaws.ec2#InternetGatewayList",
          "traits": {
            "aws.protocols#ec2QueryName": "InternetGatewaySet",
            "smithy.api#xmlName": "internetGatewaySet"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "NextToken",
            "smithy.api#xmlName": "nextToken"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.ec2#DescribeNetworkAcls": {
      "input": {
        "target": "com.amazonaws.ec2#DescribeNetworkAclsRequest"
      },
      "output": {
        "target": "com.amazonaws.ec2#DescribeNetworkAclsResult"
      },
      "traits": {
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "items": "NetworkAcls",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      },
      "type": "operation"
    },
    "com.amazonaws.ec2#DescribeNetworkAclsMaxResults": {
      "traits": {
        "smithy.api#range": {
          "max": 1000,
          "min": 5
        }
      },
      "type": "integer"
    },
    "com.amazonaws.ec2#DescribeNetworkAclsRequest": {
      "members": {
        "DryRun": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "aws.protocols#ec2QueryName": "DryRun",
            "smithy.api#xmlName": "dryRun"
          }
        },
        "Filters": {
          "target": "com.amazonaws.ec2#FilterList",
          "traits": {
            "smithy.api#xmlName": "Filter"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.ec2#DescribeNetworkAclsMaxResults",
          "traits": {}
        },
        "NetworkAclIds": {
          "target": "com.amazonaws.ec2#NetworkAclIdStringList",
          "traits": {
            "smithy.api#xmlName": "NetworkAclId"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.ec2#String",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.ec2#DescribeNetworkAclsResult": {
      "members": {
        "NetworkAcls": {
          "target": "com.amazonaws.ec2#NetworkAclList",
          "traits": {
            "aws.protocols#ec2QueryName": "NetworkAclSet",
            "smithy.api#xmlName": "networkAclSet"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "NextToken",
            "smithy.api#xmlName": "nextToken"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.ec2#DescribeRouteTables": {
      "input": {
        "target": "com.amazonaws.ec2#DescribeRouteTablesRequest"
      },
      "output": {
        "target": "com.amazonaws.ec2#DescribeRouteTablesResult"
      },
      "traits": {
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "items": "RouteTables",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      },
      "type": "operation"
    },
    "com.amazonaws.ec2#DescribeRouteTablesMaxResults": {
      "traits": {
        "smithy.api#range": {
          "max": 100,
          "min": 5
        }
      },
      "type": "integer"
    },
    "com.amazonaws.ec2#DescribeRouteTablesRequest": {
      "members": {
        "DryRun": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "aws.protocols#ec2QueryName": "DryRun",
            "smithy.api#xmlName": "dryRun"
          }
        },
        "Filters": {
          "target": "com.amazonaws.ec2#FilterList",
          "traits": {
            "smithy.api#xmlName": "Filter"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.ec2#DescribeRouteTablesMaxResults",
          "traits": {}
        },
        "NextToken": {
          "target": "com.amazonaws.ec2#String",
          "traits": {}
        },
        "RouteTableIds": {
          "target": "com.amazonaws.ec2#RouteTableIdStringList",
          "traits": {
            "smithy.api#xmlName": "RouteTableId"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.ec2#DescribeRouteTablesResult": {
      "members": {
        "NextToken": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "NextToken",
            "smithy.api#xmlName": "nextToken"
          }
        },
        "RouteTables": {
          "target": "com.amazonaws.ec2#RouteTableList",
          "traits": {
            "aws.protocols#ec2QueryName": "RouteTableSet",
            "smithy.api#xmlName": "routeTableSet"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.ec2#DescribeSecurityGroupRules": {
      "input": {
        "target": "com.amazonaws.ec2#DescribeSecurityGroupRulesRequest"
      },
      "output": {
        "target": "com.amazonaws.ec2#DescribeSecurityGroupRulesResult"
      },
      "traits": {
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "items": "SecurityGroupRules",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      },
      "type": "operation"
    },
    "com.amazonaws.ec2#DescribeSecurityGroupRulesMaxResults": {
      "traits": {
        "smithy.api#range": {
          "max": 1000,
          "min": 5
        }
      },
      "type": "integer"
    },
    "com.amazonaws.ec2#DescribeSecurityGroupRulesRequest": {
      "members": {
        "DryRun": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {}
        },
        "Filters": {
          "target": "com.amazonaws.ec2#FilterList",
          "traits": {
            "smithy.api#xmlName": "Filter"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.ec2#DescribeSecurityGroupRulesMaxResults",
          "traits": {}
        },
        "NextToken": {
          "target": "com.amazonaws.ec2#String",
          "traits": {}
        },
        "SecurityGroupRuleIds": {
          "target": "com.amazonaws.ec2#SecurityGroupRuleIdList",
          "traits": {
            "smithy.api#xmlName": "SecurityGroupRuleId"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.ec2#DescribeSecurityGroupRulesResult": {
      "members": {
        "NextToken": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "NextToken",
            "smithy.api#xmlName": "nextToken"
          }
        },
        "SecurityGroupRules": {
          "target": "com.amazonaws.ec2#SecurityGroupRuleList",
          "traits": {
            "aws.protocols#ec2QueryName": "SecurityGroupRuleSet",
            "smithy.api#xmlName": "securityGroupRuleSet"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.ec2#DescribeSecurityGroups": {
      "input": {
        "target": "com.amazonaws.ec2#DescribeSecurityGroupsRequest"
      },
      "output": {
        "target": "com.amazonaws.ec2#DescribeSecurityGroupsResult"
      },
      "traits": {
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "items": "SecurityGroups",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        },
        "smithy.api#suppress": [
          "WaitableTraitInvalidErrorType"
        ],
        "smithy.waiters#waitable": {
          "SecurityGroupExists": {
            "acceptors": [
              {
                "matcher": {
                  "output": {
                    "comparator": "booleanEquals",
                    "expected": "true",
                    "path": "length(SecurityGroups[].GroupId) > `0`"
                  }
                },
                "state": "success"
              },
              {
                "matcher": {
                  "errorType": "InvalidGroup.NotFound"
                },
                "state": "retry"
              }
            ],
            "minDelay": 5
          }
        }
      },
      "type": "operation"
    },
    "com.amazonaws.ec2#DescribeSecurityGroupsMaxResults": {
      "traits": {
        "smithy.api#range": {
          "max": 1000,
          "min": 5
        }
      },
      "type": "integer"
    },
    "com.amazonaws.ec2#DescribeSecurityGroupsRequest": {
      "members": {
        "DryRun": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "aws.protocols#ec2QueryName": "DryRun",
            "smithy.api#xmlName": "dryRun"
          }
        },
        "Filters": {
          "target": "com.amazonaws.ec2#FilterList",
          "traits": {
            "smithy.api#xmlName": "Filter"
          }
        },
        "GroupIds": {
          "target": "com.amazonaws.ec2#GroupIdStringList",
          "traits": {
            "smithy.api#xmlName": "GroupId"
          }
        },
        "GroupNames": {
          "target": "com.amazonaws.ec2#GroupNameStringList",
          "traits": {
            "smithy.api#xmlName": "GroupName"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.ec2#DescribeSecurityGroupsMaxResults",
          "traits": {}
        },
        "NextToken": {
          "target": "com.amazonaws.ec2#String",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.ec2#DescribeSecurityGroupsResult": {
      "members": {
        "NextToken": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "NextToken",
            "smithy.api#xmlName": "nextToken"
          }
        },
        "SecurityGroups": {
          "target": "com.amazonaws.ec2#SecurityGroupList",
          "traits": {
            "aws.protocols#ec2QueryName": "SecurityGroupInfo",
            "smithy.api#xmlName": "securityGroupInfo"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.ec2#DescribeSubnets": {
      "input": {
        "target": "com.amazonaws.ec2#DescribeSubnetsRequest"
      },
      "output": {
        "target": "com.amazonaws.ec2#DescribeSubnetsResult"
      },
      "traits": {
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "items": "Subnets",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        },
        "smithy.waiters#waitable": {
          "SubnetAvailable": {
            "acceptors": [
              {
                "matcher": {
                  "output": {
                    "comparator": "allStringEquals",
                    "expected": "available",
                    "path": "Subnets[].State"
                  }
                },
                "state": "success"
              }
            ],
            "minDelay": 15
          }
        }
      },
      "type": "operation"
    },
    "com.amazonaws.ec2#DescribeSubnetsMaxResults": {
      "traits": {
        "smithy.api#range": {
          "max": 1000,
          "min": 5
        }
      },
      "type": "integer"
    },
    "com.amazonaws.ec2#DescribeSubnetsRequest": {
      "members": {
        "DryRun": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "aws.protocols#ec2QueryName": "DryRun",
            "smithy.api#xmlName": "dryRun"
          }
        },
        "Filters": {
          "target": "com.amazonaws.ec2#FilterList",
          "traits": {
            "smithy.api#xmlName": "Filter"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.ec2#DescribeSubnetsMaxResults",
          "traits": {}
        },
        "NextToken": {
          "target": "com.amazonaws.ec2#String",
          "traits": {}
        },
        "SubnetIds": {
          "target": "com.amazonaws.ec2#SubnetIdStringList",
          "traits": {
            "smithy.api#xmlName": "SubnetId"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.ec2#DescribeSubnetsResult": {
      "members": {
        "NextToken": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "NextToken",
            "smithy.api#xmlName": "nextToken"
          }
        },
        "Subnets": {
          "target": "com.amazonaws.ec2#SubnetList",
          "traits": {
            "aws.protocols#ec2QueryName": "SubnetSet",
            "smithy.api#xmlName": "subnetSet"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.ec2#DescribeVpcAttribute": {
      "input": {
        "target": "com.amazonaws.ec2#DescribeVpcAttributeRequest"
      },
      "output": {
        "target": "com.amazonaws.ec2#DescribeVpcAttributeResult"
      },
      "traits": {},
      "type": "operation"
    },
    "com.amazonaws.ec2#DescribeVpcAttributeRequest": {
      "members": {
        "Attribute": {
          "target": "com.amazonaws.ec2#VpcAttributeName",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#required": {}
          }
        },
        "DryRun": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "aws.protocols#ec2QueryName": "DryRun",
            "smithy.api#xmlName": "dryRun"
          }
        },
        "VpcId": {
          "target": "com.amazonaws.ec2#VpcId",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.ec2#DescribeVpcAttributeResult": {
      "members": {
        "EnableDnsHostnames": {
          "target": "com.amazonaws.ec2#AttributeBooleanValue",
          "traits": {
            "aws.protocols#ec2QueryName": "EnableDnsHostnames",
            "smithy.api#xmlName": "enableDnsHostnames"
          }
        },
        "EnableDnsSupport": {
          "target": "com.amazonaws.ec2#AttributeBooleanValue",
          "traits": {
            "aws.protocols#ec2QueryName": "EnableDnsSupport",
            "smithy.api#xmlName": "enableDnsSupport"
          }
        },
        "EnableNetworkAddressUsageMetrics": {
          "target": "com.amazonaws.ec2#AttributeBooleanValue",
          "traits": {
            "aws.protocols#ec2QueryName": "EnableNetworkAddressUsageMetrics",
            "smithy.api#xmlName": "enableNetworkAddressUsageMetrics"
          }
        },
        "VpcId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "VpcId",
            "smithy.api#xmlName": "vpcId"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.ec2#DescribeVpcs": {
      "input": {
        "target": "com.amazonaws.ec2#DescribeVpcsRequest"
      },
      "output": {
        "target": "com.amazonaws.ec2#DescribeVpcsResult"
      },
      "traits": {
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "items": "Vpcs",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        },
        "smithy.api#suppress": [
          "WaitableTraitInvalidErrorType"
        ],
        "smithy.waiters#waitable": {
          "VpcAvailable": {
            "acceptors": [
              {
                "matcher": {
                  "output": {
                    "comparator": "allStringEquals",
                    "expected": "available",
                    "path": "Vpcs[].State"
                  }
                },
                "state": "success"
              }
            ],
            "minDelay": 15
          },
          "VpcExists": {
            "acceptors": [
              {
                "matcher": {
                  "success": true
                },
                "state": "success"
              },
              {
                "matcher": {
                  "errorType": "InvalidVpcID.NotFound"
                },
                "state": "retry"
              }
            ],
            "minDelay": 1
          }
        }
      },
      "type": "operation"
    },
    "com.amazonaws.ec2#DescribeVpcsMaxResults": {
      "traits": {
        "smithy.api#range": {
          "max": 1000,
          "min": 5
        }
      },
      "type": "integer"
    },
    "com.amazonaws.ec2#DescribeVpcsRequest": {
      "members": {
        "DryRun": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "aws.protocols#ec2QueryName": "DryRun",
            "smithy.api#xmlName": "dryRun"
          }
        },
        "Filters": {
          "target": "com.amazonaws.ec2#FilterList",
          "traits": {
            "smithy.api#xmlName": "Filter"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.ec2#DescribeVpcsMaxResults",
          "traits": {}
        },
        "NextToken": {
          "target": "com.amazonaws.ec2#String",
          "traits": {}
        },
        "VpcIds": {
          "target": "com.amazonaws.ec2#VpcIdStringList",
          "traits": {
            "smithy.api#xmlName": "VpcId"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.ec2#DescribeVpcsResult": {
      "members": {
        "NextToken": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "NextToken",
            "smithy.api#xmlName": "nextToken"
          }
        },
        "Vpcs": {
          "target": "com.amazonaws.ec2#VpcList",
          "traits": {
            "aws.protocols#ec2QueryName": "VpcSet",
            "smithy.api#xmlName": "vpcSet"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.ec2#Filter": {
      "members": {
        "Name": {
          "target": "com.amazonaws.ec2#String",
          "traits": {}
        },
        "Values": {
          "target": "com.amazonaws.ec2#ValueStringList",
          "traits": {
            "smithy.api#xmlName": "Value"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#FilterList": {
      "member": {
        "target": "com.amazonaws.ec2#Filter",
        "traits": {
          "smithy.api#xmlName": "Filter"
        }
      },
      "type": "list"
    },
    "com.amazonaws.ec2#GroupIdStringList": {
      "member": {
        "target": "com.amazonaws.ec2#SecurityGroupId",
        "traits": {
          "smithy.api#xmlName": "groupId"
        }
      },
      "type": "list"
    },
    "com.amazonaws.ec2#GroupNameStringList": {
      "member": {
        "target": "com.amazonaws.ec2#SecurityGroupName",
        "traits": {
          "smithy.api#xmlName": "GroupName"
        }
      },
      "type": "list"
    },
    "com.amazonaws.ec2#HostnameType": {
      "members": {
        "ip_name": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip-name"
          }
        },
        "resource_name": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resource-name"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.ec2#IcmpTypeCode": {
      "members": {
        "Code": {
          "target": "com.amazonaws.ec2#Integer",
          "traits": {
            "aws.protocols#ec2QueryName": "Code",
            "smithy.api#xmlName": "code"
          }
        },
        "Type": {
          "target": "com.amazonaws.ec2#Integer",
          "traits": {
            "aws.protocols#ec2QueryName": "Type",
            "smithy.api#xmlName": "type"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#Integer": {
      "type": "integer"
    },
    "com.amazonaws.ec2#InternetGateway": {
      "members": {
        "Attachments": {
          "target": "com.amazonaws.ec2#InternetGatewayAttachmentList",
          "traits": {
            "aws.protocols#ec2QueryName": "AttachmentSet",
            "smithy.api#xmlName": "attachmentSet"
          }
        },
        "InternetGatewayId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "InternetGatewayId",
            "smithy.api#xmlName": "internetGatewayId"
          }
        },
        "OwnerId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "OwnerId",
            "smithy.api#xmlName": "ownerId"
          }
        },
        "Tags": {
          "target": "com.amazonaws.ec2#TagList",
          "traits": {
            "aws.protocols#ec2QueryName": "TagSet",
            "smithy.api#xmlName": "tagSet"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#InternetGatewayAttachment": {
      "members": {
        "State": {
          "target": "com.amazonaws.ec2#AttachmentStatus",
          "traits": {
            "aws.protocols#ec2QueryName": "State",
            "smithy.api#xmlName": "state"
          }
        },
        "VpcId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "VpcId",
            "smithy.api#xmlName": "vpcId"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#InternetGatewayAttachmentList": {
      "member": {
        "target": "com.amazonaws.ec2#InternetGatewayAttachment",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      },
      "type": "list"
    },
    "com.amazonaws.ec2#InternetGatewayId": {
      "type": "string"
    },
    "com.amazonaws.ec2#InternetGatewayIdList": {
      "member": {
        "target": "com.amazonaws.ec2#InternetGatewayId",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      },
      "type": "list"
    },
    "com.amazonaws.ec2#InternetGatewayList": {
      "member": {
        "target": "com.amazonaws.ec2#InternetGateway",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      },
      "type": "list"
    },
    "com.amazonaws.ec2#IpPermission": {
      "members": {
        "FromPort": {
          "target": "com.amazonaws.ec2#Integer",
          "traits": {
            "aws.protocols#ec2QueryName": "FromPort",
            "smithy.api#xmlName": "fromPort"
          }
        },
        "IpProtocol": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "IpProtocol",
            "smithy.api#xmlName": "ipProtocol"
          }
        },
        "IpRanges": {
          "target": "com.amazonaws.ec2#IpRangeList",
          "traits": {
            "aws.protocols#ec2QueryName": "IpRanges",
            "smithy.api#xmlName": "ipRanges"
          }
        },
        "Ipv6Ranges": {
          "target": "com.amazonaws.ec2#Ipv6RangeList",
          "traits": {
            "aws.protocols#ec2QueryName": "Ipv6Ranges",
            "smithy.api#xmlName": "ipv6Ranges"
          }
        },
        "PrefixListIds": {
          "target": "com.amazonaws.ec2#PrefixListIdList",
          "traits": {
            "aws.protocols#ec2QueryName": "PrefixListIds",
            "smithy.api#xmlName": "prefixListIds"
          }
        },
        "ToPort": {
          "target": "com.amazonaws.ec2#Integer",
          "traits": {
            "aws.protocols#ec2QueryName": "ToPort",
            "smithy.api#xmlName": "toPort"
          }
        },
        "UserIdGroupPairs": {
          "target": "com.amazonaws.ec2#UserIdGroupPairList",
          "traits": {
            "aws.protocols#ec2QueryName": "Groups",
            "smithy.api#xmlName": "groups"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#IpPermissionList": {
      "member": {
        "target": "com.amazonaws.ec2#IpPermission",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      },
      "type": "list"
    },
    "com.amazonaws.ec2#IpRange": {
      "members": {
        "CidrIp": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "CidrIp",
            "smithy.api#xmlName": "cidrIp"
          }
        },
        "Description": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "Description",
            "smithy.api#xmlName": "description"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#IpRangeList": {
      "member": {
        "target": "com.amazonaws.ec2#IpRange",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      },
      "type": "list"
    },
    "com.amazonaws.ec2#IpSource": {
      "members": {
        "amazon": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amazon"
          }
        },
        "byoip": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "byoip"
          }
        },
        "none": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.ec2#Ipv6AddressAttribute": {
      "members": {
        "private": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        },
        "public": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.ec2#Ipv6Range": {
      "members": {
        "CidrIpv6": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "CidrIpv6",
            "smithy.api#xmlName": "cidrIpv6"
          }
        },
        "Description": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "Description",
            "smithy.api#xmlName": "description"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#Ipv6RangeList": {
      "member": {
        "target": "com.amazonaws.ec2#Ipv6Range",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      },
      "type": "list"
    },
    "com.amazonaws.ec2#NetworkAcl": {
      "members": {
        "Associations": {
          "target": "com.amazonaws.ec2#NetworkAclAssociationList",
          "traits": {
            "aws.protocols#ec2QueryName": "AssociationSet",
            "smithy.api#xmlName": "associationSet"
          }
        },
        "Entries": {
          "target": "com.amazonaws.ec2#NetworkAclEntryList",
          "traits": {
            "aws.protocols#ec2QueryName": "EntrySet",
            "smithy.api#xmlName": "entrySet"
          }
        },
        "IsDefault": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "aws.protocols#ec2QueryName": "Default",
            "smithy.api#xmlName": "default"
          }
        },
        "NetworkAclId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "NetworkAclId",
            "smithy.api#xmlName": "networkAclId"
          }
        },
        "OwnerId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "OwnerId",
            "smithy.api#xmlName": "ownerId"
          }
        },
        "Tags": {
          "target": "com.amazonaws.ec2#TagList",
          "traits": {
            "aws.protocols#ec2QueryName": "TagSet",
            "smithy.api#xmlName": "tagSet"
          }
        },
        "VpcId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "VpcId",
            "smithy.api#xmlName": "vpcId"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#NetworkAclAssociation": {
      "members": {
        "NetworkAclAssociationId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "NetworkAclAssociationId",
            "smithy.api#xmlName": "networkAclAssociationId"
          }
        },
        "NetworkAclId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "NetworkAclId",
            "smithy.api#xmlName": "networkAclId"
          }
        },
        "SubnetId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "SubnetId",
            "smithy.api#xmlName": "subnetId"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#NetworkAclAssociationList": {
      "member": {
        "target": "com.amazonaws.ec2#NetworkAclAssociation",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      },
      "type": "list"
    },
    "com.amazonaws.ec2#NetworkAclEntry": {
      "members": {
        "CidrBlock": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "CidrBlock",
            "smithy.api#xmlName": "cidrBlock"
          }
        },
        "Egress": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "aws.protocols#ec2QueryName": "Egress",
            "smithy.api#xmlName": "egress"
          }
        },
        "IcmpTypeCode": {
          "target": "com.amazonaws.ec2#IcmpTypeCode",
          "traits": {
            "aws.protocols#ec2QueryName": "IcmpTypeCode",
            "smithy.api#xmlName": "icmpTypeCode"
          }
        },
        "Ipv6CidrBlock": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "Ipv6CidrBlock",
            "smithy.api#xmlName": "ipv6CidrBlock"
          }
        },
        "PortRange": {
          "target": "com.amazonaws.ec2#PortRange",
          "traits": {
            "aws.protocols#ec2QueryName": "PortRange",
            "smithy.api#xmlName": "portRange"
          }
        },
        "Protocol": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "Protocol",
            "smithy.api#xmlName": "protocol"
          }
        },
        "RuleAction": {
          "target": "com.amazonaws.ec2#RuleAction",
          "traits": {
            "aws.protocols#ec2QueryName": "RuleAction",
            "smithy.api#xmlName": "ruleAction"
          }
        },
        "RuleNumber": {
          "target": "com.amazonaws.ec2#Integer",
          "traits": {
            "aws.protocols#ec2QueryName": "RuleNumber",
            "smithy.api#xmlName": "ruleNumber"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#NetworkAclEntryList": {
      "member": {
        "target": "com.amazonaws.ec2#NetworkAclEntry",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      },
      "type": "list"
    },
    "com.amazonaws.ec2#NetworkAclId": {
      "type": "string"
    },
    "com.amazonaws.ec2#NetworkAclIdStringList": {
      "member": {
        "target": "com.amazonaws.ec2#NetworkAclId",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      },
      "type": "list"
    },
    "com.amazonaws.ec2#NetworkAclList": {
      "member": {
        "target": "com.amazonaws.ec2#NetworkAcl",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      },
      "type": "list"
    },
    "com.amazonaws.ec2#OdbNetworkArn": {
      "type": "string"
    },
    "com.amazonaws.ec2#PortRange": {
      "members": {
        "From": {
          "target": "com.amazonaws.ec2#Integer",
          "traits": {
            "aws.protocols#ec2QueryName": "From",
            "smithy.api#xmlName": "from"
          }
        },
        "To": {
          "target": "com.amazonaws.ec2#Integer",
          "traits": {
            "aws.protocols#ec2QueryName": "To",
            "smithy.api#xmlName": "to"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#PrefixListId": {
      "members": {
        "Description": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "Description",
            "smithy.api#xmlName": "description"
          }
        },
        "PrefixListId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "PrefixListId",
            "smithy.api#xmlName": "prefixListId"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#PrefixListIdList": {
      "member": {
        "target": "com.amazonaws.ec2#PrefixListId",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      },
      "type": "list"
    },
    "com.amazonaws.ec2#PrefixListResourceId": {
      "type": "string"
    },
    "com.amazonaws.ec2#PrivateDnsNameOptionsOnLaunch": {
      "members": {
        "EnableResourceNameDnsAAAARecord": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "aws.protocols#ec2QueryName": "EnableResourceNameDnsAAAARecord",
            "smithy.api#xmlName": "enableResourceNameDnsAAAARecord"
          }
        },
        "EnableResourceNameDnsARecord": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "aws.protocols#ec2QueryName": "EnableResourceNameDnsARecord",
            "smithy.api#xmlName": "enableResourceNameDnsARecord"
          }
        },
        "HostnameType": {
          "target": "com.amazonaws.ec2#HostnameType",
          "traits": {
            "aws.protocols#ec2QueryName": "HostnameType",
            "smithy.api#xmlName": "hostnameType"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#PropagatingVgw": {
      "members": {
        "GatewayId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "GatewayId",
            "smithy.api#xmlName": "gatewayId"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#PropagatingVgwList": {
      "member": {
        "target": "com.amazonaws.ec2#PropagatingVgw",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      },
      "type": "list"
    },
    "com.amazonaws.ec2#ReferencedSecurityGroup": {
      "members": {
        "GroupId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "GroupId",
            "smithy.api#xmlName": "groupId"
          }
        },
        "PeeringStatus": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "PeeringStatus",
            "smithy.api#xmlName": "peeringStatus"
          }
        },
        "UserId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "UserId",
            "smithy.api#xmlName": "userId"
          }
        },
        "VpcId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "VpcId",
            "smithy.api#xmlName": "vpcId"
          }
        },
        "VpcPeeringConnectionId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "VpcPeeringConnectionId",
            "smithy.api#xmlName": "vpcPeeringConnectionId"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#Route": {
      "members": {
        "CarrierGatewayId": {
          "target": "com.amazonaws.ec2#CarrierGatewayId",
          "traits": {
            "aws.protocols#ec2QueryName": "CarrierGatewayId",
            "smithy.api#xmlName": "carrierGatewayId"
          }
        },
        "CoreNetworkArn": {
          "target": "com.amazonaws.ec2#CoreNetworkArn",
          "traits": {
            "aws.protocols#ec2QueryName": "CoreNetworkArn",
            "smithy.api#xmlName": "coreNetworkArn"
          }
        },
        "DestinationCidrBlock": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "DestinationCidrBlock",
            "smithy.api#xmlName": "destinationCidrBlock"
          }
        },
        "DestinationIpv6CidrBlock": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "DestinationIpv6CidrBlock",
            "smithy.api#xmlName": "destinationIpv6CidrBlock"
          }
        },
        "DestinationPrefixListId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "DestinationPrefixListId",
            "smithy.api#xmlName": "destinationPrefixListId"
          }
        },
        "EgressOnlyInternetGatewayId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "EgressOnlyInternetGatewayId",
            "smithy.api#xmlName": "egressOnlyInternetGatewayId"
          }
        },
        "GatewayId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "GatewayId",
            "smithy.api#xmlName": "gatewayId"
          }
        },
        "InstanceId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "InstanceId",
            "smithy.api#xmlName": "instanceId"
          }
        },
        "InstanceOwnerId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "InstanceOwnerId",
            "smithy.api#xmlName": "instanceOwnerId"
          }
        },
        "IpAddress": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "IpAddress",
            "smithy.api#xmlName": "ipAddress"
          }
        },
        "LocalGatewayId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "LocalGatewayId",
            "smithy.api#xmlName": "localGatewayId"
          }
        },
        "NatGatewayId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "NatGatewayId",
            "smithy.api#xmlName": "natGatewayId"
          }
        },
        "NetworkInterfaceId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "NetworkInterfaceId",
            "smithy.api#xmlName": "networkInterfaceId"
          }
        },
        "OdbNetworkArn": {
          "target": "com.amazonaws.ec2#OdbNetworkArn",
          "traits": {
            "aws.protocols#ec2QueryName": "OdbNetworkArn",
            "smithy.api#xmlName": "odbNetworkArn"
          }
        },
        "Origin": {
          "target": "com.amazonaws.ec2#RouteOrigin",
          "traits": {
            "aws.protocols#ec2QueryName": "Origin",
            "smithy.api#xmlName": "origin"
          }
        },
        "State": {
          "target": "com.amazonaws.ec2#RouteState",
          "traits": {
            "aws.protocols#ec2QueryName": "State",
            "smithy.api#xmlName": "state"
          }
        },
        "TransitGatewayId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "TransitGatewayId",
            "smithy.api#xmlName": "transitGatewayId"
          }
        },
        "VpcPeeringConnectionId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "VpcPeeringConnectionId",
            "smithy.api#xmlName": "vpcPeeringConnectionId"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#RouteList": {
      "member": {
        "target": "com.amazonaws.ec2#Route",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      },
      "type": "list"
    },
    "com.amazonaws.ec2#RouteOrigin": {
      "members": {
        "Advertisement": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Advertisement"
          }
        },
        "CreateRoute": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CreateRoute"
          }
        },
        "CreateRouteTable": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CreateRouteTable"
          }
        },
        "EnableVgwRoutePropagation": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EnableVgwRoutePropagation"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.ec2#RouteState": {
      "members": {
        "active": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "blackhole": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blackhole"
          }
        },
        "filtered": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "filtered"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.ec2#RouteTable": {
      "members": {
        "Associations": {
          "target": "com.amazonaws.ec2#RouteTableAssociationList",
          "traits": {
            "aws.protocols#ec2QueryName": "AssociationSet",
            "smithy.api#xmlName": "associationSet"
          }
        },
        "OwnerId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "OwnerId",
            "smithy.api#xmlName": "ownerId"
          }
        },
        "PropagatingVgws": {
          "target": "com.amazonaws.ec2#PropagatingVgwList",
          "traits": {
            "aws.protocols#ec2QueryName": "PropagatingVgwSet",
            "smithy.api#xmlName": "propagatingVgwSet"
          }
        },
        "RouteTableId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "RouteTableId",
            "smithy.api#xmlName": "routeTableId"
          }
        },
        "Routes": {
          "target": "com.amazonaws.ec2#RouteList",
          "traits": {
            "aws.protocols#ec2QueryName": "RouteSet",
            "smithy.api#xmlName": "routeSet"
          }
        },
        "Tags": {
          "target": "com.amazonaws.ec2#TagList",
          "traits": {
            "aws.protocols#ec2QueryName": "TagSet",
            "smithy.api#xmlName": "tagSet"
          }
        },
        "VpcId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "VpcId",
            "smithy.api#xmlName": "vpcId"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#RouteTableAssociation": {
      "members": {
        "AssociationState": {
          "target": "com.amazonaws.ec2#RouteTableAssociationState",
          "traits": {
            "aws.protocols#ec2QueryName": "AssociationState",
            "smithy.api#xmlName": "associationState"
          }
        },
        "GatewayId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "GatewayId",
            "smithy.api#xmlName": "gatewayId"
          }
        },
        "Main": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "aws.protocols#ec2QueryName": "Main",
            "smithy.api#xmlName": "main"
          }
        },
        "PublicIpv4Pool": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "PublicIpv4Pool",
            "smithy.api#xmlName": "publicIpv4Pool"
          }
        },
        "RouteTableAssociationId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "RouteTableAssociationId",
            "smithy.api#xmlName": "routeTableAssociationId"
          }
        },
        "RouteTableId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "RouteTableId",
            "smithy.api#xmlName": "routeTableId"
          }
        },
        "SubnetId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "SubnetId",
            "smithy.api#xmlName": "subnetId"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#RouteTableAssociationList": {
      "member": {
        "target": "com.amazonaws.ec2#RouteTableAssociation",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      },
      "type": "list"
    },
    "com.amazonaws.ec2#RouteTableAssociationState": {
      "members": {
        "State": {
          "target": "com.amazonaws.ec2#RouteTableAssociationStateCode",
          "traits": {
            "aws.protocols#ec2QueryName": "State",
            "smithy.api#xmlName": "state"
          }
        },
        "StatusMessage": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "StatusMessage",
            "smithy.api#xmlName": "statusMessage"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#RouteTableAssociationStateCode": {
      "members": {
        "associated": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "associated"
          }
        },
        "associating": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "associating"
          }
        },
        "disassociated": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disassociated"
          }
        },
        "disassociating": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disassociating"
          }
        },
        "failed": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.ec2#RouteTableId": {
      "type": "string"
    },
    "com.amazonaws.ec2#RouteTableIdStringList": {
      "member": {
        "target": "com.amazonaws.ec2#RouteTableId",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      },
      "type": "list"
    },
    "com.amazonaws.ec2#RouteTableList": {
      "member": {
        "target": "com.amazonaws.ec2#RouteTable",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      },
      "type": "list"
    },
    "com.amazonaws.ec2#RuleAction": {
      "members": {
        "allow": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allow"
          }
        },
        "deny": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.ec2#SecurityGroup": {
      "members": {
        "Description": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "GroupDescription",
            "smithy.api#xmlName": "groupDescription"
          }
        },
        "GroupId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "GroupId",
            "smithy.api#xmlName": "groupId"
          }
        },
        "GroupName": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "GroupName",
            "smithy.api#xmlName": "groupName"
          }
        },
        "IpPermissions": {
          "target": "com.amazonaws.ec2#IpPermissionList",
          "traits": {
            "aws.protocols#ec2QueryName": "IpPermissions",
            "smithy.api#xmlName": "ipPermissions"
          }
        },
        "IpPermissionsEgress": {
          "target": "com.amazonaws.ec2#IpPermissionList",
          "traits": {
            "aws.protocols#ec2QueryName": "IpPermissionsEgress",
            "smithy.api#xmlName": "ipPermissionsEgress"
          }
        },
        "OwnerId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "OwnerId",
            "smithy.api#xmlName": "ownerId"
          }
        },
        "SecurityGroupArn": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "SecurityGroupArn",
            "smithy.api#xmlName": "securityGroupArn"
          }
        },
        "Tags": {
          "target": "com.amazonaws.ec2#TagList",
          "traits": {
            "aws.protocols#ec2QueryName": "TagSet",
            "smithy.api#xmlName": "tagSet"
          }
        },
        "VpcId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "VpcId",
            "smithy.api#xmlName": "vpcId"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#SecurityGroupId": {
      "type": "string"
    },
    "com.amazonaws.ec2#SecurityGroupList": {
      "member": {
        "target": "com.amazonaws.ec2#SecurityGroup",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      },
      "type": "list"
    },
    "com.amazonaws.ec2#SecurityGroupName": {
      "type": "string"
    },
    "com.amazonaws.ec2#SecurityGroupRule": {
      "members": {
        "CidrIpv4": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "CidrIpv4",
            "smithy.api#xmlName": "cidrIpv4"
          }
        },
        "CidrIpv6": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "CidrIpv6",
            "smithy.api#xmlName": "cidrIpv6"
          }
        },
        "Description": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "Description",
            "smithy.api#xmlName": "description"
          }
        },
        "FromPort": {
          "target": "com.amazonaws.ec2#Integer",
          "traits": {
            "aws.protocols#ec2QueryName": "FromPort",
            "smithy.api#xmlName": "fromPort"
          }
        },
        "GroupId": {
          "target": "com.amazonaws.ec2#SecurityGroupId",
          "traits": {
            "aws.protocols#ec2QueryName": "GroupId",
            "smithy.api#xmlName": "groupId"
          }
        },
        "GroupOwnerId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "GroupOwnerId",
            "smithy.api#xmlName": "groupOwnerId"
          }
        },
        "IpProtocol": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "IpProtocol",
            "smithy.api#xmlName": "ipProtocol"
          }
        },
        "IsEgress": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "aws.protocols#ec2QueryName": "IsEgress",
            "smithy.api#xmlName": "isEgress"
          }
        },
        "PrefixListId": {
          "target": "com.amazonaws.ec2#PrefixListResourceId",
          "traits": {
            "aws.protocols#ec2QueryName": "PrefixListId",
            "smithy.api#xmlName": "prefixListId"
          }
        },
        "ReferencedGroupInfo": {
          "target": "com.amazonaws.ec2#ReferencedSecurityGroup",
          "traits": {
            "aws.protocols#ec2QueryName": "ReferencedGroupInfo",
            "smithy.api#xmlName": "referencedGroupInfo"
          }
        },
        "SecurityGroupRuleArn": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "SecurityGroupRuleArn",
            "smithy.api#xmlName": "securityGroupRuleArn"
          }
        },
        "SecurityGroupRuleId": {
          "target": "com.amazonaws.ec2#SecurityGroupRuleId",
          "traits": {
            "aws.protocols#ec2QueryName": "SecurityGroupRuleId",
            "smithy.api#xmlName": "securityGroupRuleId"
          }
        },
        "Tags": {
          "target": "com.amazonaws.ec2#TagList",
          "traits": {
            "aws.protocols#ec2QueryName": "TagSet",
            "smithy.api#xmlName": "tagSet"
          }
        },
        "ToPort": {
          "target": "com.amazonaws.ec2#Integer",
          "traits": {
            "aws.protocols#ec2QueryName": "ToPort",
            "smithy.api#xmlName": "toPort"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#SecurityGroupRuleId": {
      "type": "string"
    },
    "com.amazonaws.ec2#SecurityGroupRuleIdList": {
      "member": {
        "target": "com.amazonaws.ec2#String",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      },
      "type": "list"
    },
    "com.amazonaws.ec2#SecurityGroupRuleList": {
      "member": {
        "target": "com.amazonaws.ec2#SecurityGroupRule",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      },
      "type": "list"
    },
    "com.amazonaws.ec2#String": {
      "type": "string"
    },
    "com.amazonaws.ec2#Subnet": {
      "members": {
        "AssignIpv6AddressOnCreation": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "aws.protocols#ec2QueryName": "AssignIpv6AddressOnCreation",
            "smithy.api#xmlName": "assignIpv6AddressOnCreation"
          }
        },
        "AvailabilityZone": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "AvailabilityZone",
            "smithy.api#xmlName": "availabilityZone"
          }
        },
        "AvailabilityZoneId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "AvailabilityZoneId",
            "smithy.api#xmlName": "availabilityZoneId"
          }
        },
        "AvailableIpAddressCount": {
          "target": "com.amazonaws.ec2#Integer",
          "traits": {
            "aws.protocols#ec2QueryName": "AvailableIpAddressCount",
            "smithy.api#xmlName": "availableIpAddressCount"
          }
        },
        "BlockPublicAccessStates": {
          "target": "com.amazonaws.ec2#BlockPublicAccessStates",
          "traits": {
            "aws.protocols#ec2QueryName": "BlockPublicAccessStates",
            "smithy.api#xmlName": "blockPublicAccessStates"
          }
        },
        "CidrBlock": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "CidrBlock",
            "smithy.api#xmlName": "cidrBlock"
          }
        },
        "CustomerOwnedIpv4Pool": {
          "target": "com.amazonaws.ec2#CoipPoolId",
          "traits": {
            "aws.protocols#ec2QueryName": "CustomerOwnedIpv4Pool",
            "smithy.api#xmlName": "customerOwnedIpv4Pool"
          }
        },
        "DefaultForAz": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "aws.protocols#ec2QueryName": "DefaultForAz",
            "smithy.api#xmlName": "defaultForAz"
          }
        },
        "EnableDns64": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "aws.protocols#ec2QueryName": "EnableDns64",
            "smithy.api#xmlName": "enableDns64"
          }
        },
        "EnableLniAtDeviceIndex": {
          "target": "com.amazonaws.ec2#Integer",
          "traits": {
            "aws.protocols#ec2QueryName": "EnableLniAtDeviceIndex",
            "smithy.api#xmlName": "enableLniAtDeviceIndex"
          }
        },
        "Ipv6CidrBlockAssociationSet": {
          "target": "com.amazonaws.ec2#SubnetIpv6CidrBlockAssociationSet",
          "traits": {
            "aws.protocols#ec2QueryName": "Ipv6CidrBlockAssociationSet",
            "smithy.api#xmlName": "ipv6CidrBlockAssociationSet"
          }
        },
        "Ipv6Native": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "aws.protocols#ec2QueryName": "Ipv6Native",
            "smithy.api#xmlName": "ipv6Native"
          }
        },
        "MapCustomerOwnedIpOnLaunch": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "aws.protocols#ec2QueryName": "MapCustomerOwnedIpOnLaunch",
            "smithy.api#xmlName": "mapCustomerOwnedIpOnLaunch"
          }
        },
        "MapPublicIpOnLaunch": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "aws.protocols#ec2QueryName": "MapPublicIpOnLaunch",
            "smithy.api#xmlName": "mapPublicIpOnLaunch"
          }
        },
        "OutpostArn": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "OutpostArn",
            "smithy.api#xmlName": "outpostArn"
          }
        },
        "OwnerId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "OwnerId",
            "smithy.api#xmlName": "ownerId"
          }
        },
        "PrivateDnsNameOptionsOnLaunch": {
          "target": "com.amazonaws.ec2#PrivateDnsNameOptionsOnLaunch",
          "traits": {
            "aws.protocols#ec2QueryName": "PrivateDnsNameOptionsOnLaunch",
            "smithy.api#xmlName": "privateDnsNameOptionsOnLaunch"
          }
        },
        "State": {
          "target": "com.amazonaws.ec2#SubnetState",
          "traits": {
            "aws.protocols#ec2QueryName": "State",
            "smithy.api#xmlName": "state"
          }
        },
        "SubnetArn": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "SubnetArn",
            "smithy.api#xmlName": "subnetArn"
          }
        },
        "SubnetId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "SubnetId",
            "smithy.api#xmlName": "subnetId"
          }
        },
        "Tags": {
          "target": "com.amazonaws.ec2#TagList",
          "traits": {
            "aws.protocols#ec2QueryName": "TagSet",
            "smithy.api#xmlName": "tagSet"
          }
        },
        "Type": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "Type",
            "smithy.api#xmlName": "type"
          }
        },
        "VpcId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "VpcId",
            "smithy.api#xmlName": "vpcId"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#SubnetCidrAssociationId": {
      "type": "string"
    },
    "com.amazonaws.ec2#SubnetCidrBlockState": {
      "members": {
        "State": {
          "target": "com.amazonaws.ec2#SubnetCidrBlockStateCode",
          "traits": {
            "aws.protocols#ec2QueryName": "State",
            "smithy.api#xmlName": "state"
          }
        },
        "StatusMessage": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "StatusMessage",
            "smithy.api#xmlName": "statusMessage"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#SubnetCidrBlockStateCode": {
      "members": {
        "associated": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "associated"
          }
        },
        "associating": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "associating"
          }
        },
        "disassociated": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disassociated"
          }
        },
        "disassociating": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disassociating"
          }
        },
        "failed": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "failing": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failing"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.ec2#SubnetId": {
      "type": "string"
    },
    "com.amazonaws.ec2#SubnetIdStringList": {
      "member": {
        "target": "com.amazonaws.ec2#SubnetId",
        "traits": {
          "smithy.api#xmlName": "SubnetId"
        }
      },
      "type": "list"
    },
    "com.amazonaws.ec2#SubnetIpv6CidrBlockAssociation": {
      "members": {
        "AssociationId": {
          "target": "com.amazonaws.ec2#SubnetCidrAssociationId",
          "traits": {
            "aws.protocols#ec2QueryName": "AssociationId",
            "smithy.api#xmlName": "associationId"
          }
        },
        "IpSource": {
          "target": "com.amazonaws.ec2#IpSource",
          "traits": {
            "aws.protocols#ec2QueryName": "IpSource",
            "smithy.api#xmlName": "ipSource"
          }
        },
        "Ipv6AddressAttribute": {
          "target": "com.amazonaws.ec2#Ipv6AddressAttribute",
          "traits": {
            "aws.protocols#ec2QueryName": "Ipv6AddressAttribute",
            "smithy.api#xmlName": "ipv6AddressAttribute"
          }
        },
        "Ipv6CidrBlock": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "Ipv6CidrBlock",
            "smithy.api#xmlName": "ipv6CidrBlock"
          }
        },
        "Ipv6CidrBlockState": {
          "target": "com.amazonaws.ec2#SubnetCidrBlockState",
          "traits": {
            "aws.protocols#ec2QueryName": "Ipv6CidrBlockState",
            "smithy.api#xmlName": "ipv6CidrBlockState"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#SubnetIpv6CidrBlockAssociationSet": {
      "member": {
        "target": "com.amazonaws.ec2#SubnetIpv6CidrBlockAssociation",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      },
      "type": "list"
    },
    "com.amazonaws.ec2#SubnetList": {
      "member": {
        "target": "com.amazonaws.ec2#Subnet",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      },
      "type": "list"
    },
    "com.amazonaws.ec2#SubnetState": {
      "members": {
        "available": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "available"
          }
        },
        "failed": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "failed_insufficient_capacity": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed-insufficient-capacity"
          }
        },
        "pending": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "unavailable": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unavailable"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.ec2#Tag": {
      "members": {
        "Key": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "Key",
            "smithy.api#xmlName": "key"
          }
        },
        "Value": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "Value",
            "smithy.api#xmlName": "value"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#TagList": {
      "member": {
        "target": "com.amazonaws.ec2#Tag",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      },
      "type": "list"
    },
    "com.amazonaws.ec2#Tenancy": {
      "members": {
        "dedicated": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dedicated"
          }
        },
        "default": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "host": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "host"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.ec2#UserIdGroupPair": {
      "members": {
        "Description": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "Description",
            "smithy.api#xmlName": "description"
          }
        },
        "GroupId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "GroupId",
            "smithy.api#xmlName": "groupId"
          }
        },
        "GroupName": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "GroupName",
            "smithy.api#xmlName": "groupName"
          }
        },
        "PeeringStatus": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "PeeringStatus",
            "smithy.api#xmlName": "peeringStatus"
          }
        },
        "UserId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "UserId",
            "smithy.api#xmlName": "userId"
          }
        },
        "VpcId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "VpcId",
            "smithy.api#xmlName": "vpcId"
          }
        },
        "VpcPeeringConnectionId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "VpcPeeringConnectionId",
            "smithy.api#xmlName": "vpcPeeringConnectionId"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#UserIdGroupPairList": {
      "member": {
        "target": "com.amazonaws.ec2#UserIdGroupPair",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      },
      "type": "list"
    },
    "com.amazonaws.ec2#ValueStringList": {
      "member": {
        "target": "com.amazonaws.ec2#String",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      },
      "type": "list"
    },
    "com.amazonaws.ec2#Vpc": {
      "members": {
        "BlockPublicAccessStates": {
          "target": "com.amazonaws.ec2#BlockPublicAccessStates",
          "traits": {
            "aws.protocols#ec2QueryName": "BlockPublicAccessStates",
            "smithy.api#xmlName": "blockPublicAccessStates"
          }
        },
        "CidrBlock": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "CidrBlock",
            "smithy.api#xmlName": "cidrBlock"
          }
        },
        "CidrBlockAssociationSet": {
          "target": "com.amazonaws.ec2#VpcCidrBlockAssociationSet",
          "traits": {
            "aws.protocols#ec2QueryName": "CidrBlockAssociationSet",
            "smithy.api#xmlName": "cidrBlockAssociationSet"
          }
        },
        "DhcpOptionsId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "DhcpOptionsId",
            "smithy.api#xmlName": "dhcpOptionsId"
          }
        },
        "EncryptionControl": {
          "target": "com.amazonaws.ec2#VpcEncryptionControl",
          "traits": {
            "aws.protocols#ec2QueryName": "EncryptionControl",
            "smithy.api#xmlName": "encryptionControl"
          }
        },
        "InstanceTenancy": {
          "target": "com.amazonaws.ec2#Tenancy",
          "traits": {
            "aws.protocols#ec2QueryName": "InstanceTenancy",
            "smithy.api#xmlName": "instanceTenancy"
          }
        },
        "Ipv6CidrBlockAssociationSet": {
          "target": "com.amazonaws.ec2#VpcIpv6CidrBlockAssociationSet",
          "traits": {
            "aws.protocols#ec2QueryName": "Ipv6CidrBlockAssociationSet",
            "smithy.api#xmlName": "ipv6CidrBlockAssociationSet"
          }
        },
        "IsDefault": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "aws.protocols#ec2QueryName": "IsDefault",
            "smithy.api#xmlName": "isDefault"
          }
        },
        "OwnerId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "OwnerId",
            "smithy.api#xmlName": "ownerId"
          }
        },
        "State": {
          "target": "com.amazonaws.ec2#VpcState",
          "traits": {
            "aws.protocols#ec2QueryName": "State",
            "smithy.api#xmlName": "state"
          }
        },
        "Tags": {
          "target": "com.amazonaws.ec2#TagList",
          "traits": {
            "aws.protocols#ec2QueryName": "TagSet",
            "smithy.api#xmlName": "tagSet"
          }
        },
        "VpcId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "VpcId",
            "smithy.api#xmlName": "vpcId"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#VpcAttributeName": {
      "members": {
        "enableDnsHostnames": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enableDnsHostnames"
          }
        },
        "enableDnsSupport": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enableDnsSupport"
          }
        },
        "enableNetworkAddressUsageMetrics": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enableNetworkAddressUsageMetrics"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.ec2#VpcCidrBlockAssociation": {
      "members": {
        "AssociationId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "AssociationId",
            "smithy.api#xmlName": "associationId"
          }
        },
        "CidrBlock": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "CidrBlock",
            "smithy.api#xmlName": "cidrBlock"
          }
        },
        "CidrBlockState": {
          "target": "com.amazonaws.ec2#VpcCidrBlockState",
          "traits": {
            "aws.protocols#ec2QueryName": "CidrBlockState",
            "smithy.api#xmlName": "cidrBlockState"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#VpcCidrBlockAssociationSet": {
      "member": {
        "target": "com.amazonaws.ec2#VpcCidrBlockAssociation",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      },
      "type": "list"
    },
    "com.amazonaws.ec2#VpcCidrBlockState": {
      "members": {
        "State": {
          "target": "com.amazonaws.ec2#VpcCidrBlockStateCode",
          "traits": {
            "aws.protocols#ec2QueryName": "State",
            "smithy.api#xmlName": "state"
          }
        },
        "StatusMessage": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "StatusMessage",
            "smithy.api#xmlName": "statusMessage"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#VpcCidrBlockStateCode": {
      "members": {
        "associated": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "associated"
          }
        },
        "associating": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "associating"
          }
        },
        "disassociated": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disassociated"
          }
        },
        "disassociating": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disassociating"
          }
        },
        "failed": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "failing": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failing"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.ec2#VpcEncryptionControl": {
      "members": {
        "Mode": {
          "target": "com.amazonaws.ec2#VpcEncryptionControlMode",
          "traits": {
            "aws.protocols#ec2QueryName": "Mode",
            "smithy.api#xmlName": "mode"
          }
        },
        "ResourceExclusions": {
          "target": "com.amazonaws.ec2#VpcEncryptionControlExclusions",
          "traits": {
            "aws.protocols#ec2QueryName": "ResourceExclusions",
            "smithy.api#xmlName": "resourceExclusions"
          }
        },
        "State": {
          "target": "com.amazonaws.ec2#VpcEncryptionControlState",
          "traits": {
            "aws.protocols#ec2QueryName": "State",
            "smithy.api#xmlName": "state"
          }
        },
        "StateMessage": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "StateMessage",
            "smithy.api#xmlName": "stateMessage"
          }
        },
        "Tags": {
          "target": "com.amazonaws.ec2#TagList",
          "traits": {
            "aws.protocols#ec2QueryName": "TagSet",
            "smithy.api#xmlName": "tagSet"
          }
        },
        "VpcEncryptionControlId": {
          "target": "com.amazonaws.ec2#VpcEncryptionControlId",
          "traits": {
            "aws.protocols#ec2QueryName": "VpcEncryptionControlId",
            "smithy.api#xmlName": "vpcEncryptionControlId"
          }
        },
        "VpcId": {
          "target": "com.amazonaws.ec2#VpcId",
          "traits": {
            "aws.protocols#ec2QueryName": "VpcId",
            "smithy.api#xmlName": "vpcId"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#VpcEncryptionControlExclusion": {
      "members": {
        "State": {
          "target": "com.amazonaws.ec2#VpcEncryptionControlExclusionState",
          "traits": {
            "aws.protocols#ec2QueryName": "State",
            "smithy.api#xmlName": "state"
          }
        },
        "StateMessage": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "StateMessage",
            "smithy.api#xmlName": "stateMessage"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#VpcEncryptionControlExclusionState": {
      "members": {
        "disabled": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "disabling": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabling"
          }
        },
        "enabled": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "enabling": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabling"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.ec2#VpcEncryptionControlExclusions": {
      "members": {
        "EgressOnlyInternetGateway": {
          "target": "com.amazonaws.ec2#VpcEncryptionControlExclusion",
          "traits": {
            "aws.protocols#ec2QueryName": "EgressOnlyInternetGateway",
            "smithy.api#xmlName": "egressOnlyInternetGateway"
          }
        },
        "ElasticFileSystem": {
          "target": "com.amazonaws.ec2#VpcEncryptionControlExclusion",
          "traits": {
            "aws.protocols#ec2QueryName": "ElasticFileSystem",
            "smithy.api#xmlName": "elasticFileSystem"
          }
        },
        "InternetGateway": {
          "target": "com.amazonaws.ec2#VpcEncryptionControlExclusion",
          "traits": {
            "aws.protocols#ec2QueryName": "InternetGateway",
            "smithy.api#xmlName": "internetGateway"
          }
        },
        "Lambda": {
          "target": "com.amazonaws.ec2#VpcEncryptionControlExclusion",
          "traits": {
            "aws.protocols#ec2QueryName": "Lambda",
            "smithy.api#xmlName": "lambda"
          }
        },
        "NatGateway": {
          "target": "com.amazonaws.ec2#VpcEncryptionControlExclusion",
          "traits": {
            "aws.protocols#ec2QueryName": "NatGateway",
            "smithy.api#xmlName": "natGateway"
          }
        },
        "VirtualPrivateGateway": {
          "target": "com.amazonaws.ec2#VpcEncryptionControlExclusion",
          "traits": {
            "aws.protocols#ec2QueryName": "VirtualPrivateGateway",
            "smithy.api#xmlName": "virtualPrivateGateway"
          }
        },
        "VpcLattice": {
          "target": "com.amazonaws.ec2#VpcEncryptionControlExclusion",
          "traits": {
            "aws.protocols#ec2QueryName": "VpcLattice",
            "smithy.api#xmlName": "vpcLattice"
          }
        },
        "VpcPeering": {
          "target": "com.amazonaws.ec2#VpcEncryptionControlExclusion",
          "traits": {
            "aws.protocols#ec2QueryName": "VpcPeering",
            "smithy.api#xmlName": "vpcPeering"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#VpcEncryptionControlId": {
      "type": "string"
    },
    "com.amazonaws.ec2#VpcEncryptionControlMode": {
      "members": {
        "enforce": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enforce"
          }
        },
        "monitor": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "monitor"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.ec2#VpcEncryptionControlState": {
      "members": {
        "available": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "available"
          }
        },
        "creating": {
          "target": "smithy.api#Unit",
          "traits": {
[...]
