{
  "shapes": {
    "com.amazonaws.ec2#AmazonEC2": {
      "operations": [
        {
          "target": "com.amazonaws.ec2#DescribeNetworkAcls"
        },
        {
          "target": "com.amazonaws.ec2#DescribeSecurityGroupRules"
        },
        {
          "target": "com.amazonaws.ec2#DescribeSecurityGroups"
        },
        {
          "target": "com.amazonaws.ec2#DescribeSubnets"
        }
      ],
      "traits": {
        "aws.api#service": {
          "arnNamespace": "ec2",
          "cloudFormationName": "EC2",
          "cloudTrailEventSource": "ec2.amazonaws.com",
          "endpointPrefix": "ec2",
          "sdkId": "EC2"
        },
        "aws.auth#sigv4": {
          "name": "ec2"
        },
        "aws.protocols#ec2Query": {},
        "smithy.api#title": "Amazon Elastic Compute Cloud",
        "smithy.api#xmlNamespace": {
          "uri": "http://ec2.amazonaws.com/doc/2016-11-15"
        },
        "smithy.rules#endpointRuleSet": {
          "parameters": {
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "documentation": "Override the endpoint used to send this request",
              "required": false,
              "type": "string"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "documentation": "The AWS region used to dispatch the request.",
              "required": false,
              "type": "string"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "required": true,
              "type": "boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "required": true,
              "type": "boolean"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ],
                  "fn": "isSet"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "headers": {},
                    "properties": {},
                    "url": {
                      "ref": "Endpoint"
                    }
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "fn": "isSet"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult",
                      "fn": "aws.partition"
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        },
                        {
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://ec2-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ],
                                  "fn": "getAttr"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "argv": [
                                    {
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "name"
                                      ],
                                      "fn": "getAttr"
                                    },
                                    "aws-us-gov"
                                  ],
                                  "fn": "stringEquals"
                                }
                              ],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://ec2.{Region}.amazonaws.com"
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://ec2-fips.{Region}.{PartitionResult#dnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://ec2.{Region}.{PartitionResult#dualStackDnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "headers": {},
                        "properties": {},
                        "url": "https://ec2.{Region}.{PartitionResult#dnsSuffix}"
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ],
          "version": "1.0"
        }
      },
      "type": "service",
      "version": "2016-11-15"
    },
    "com.amazonaws.ec2#BlockPublicAccessMode": {
      "members": {
        "block_bidirectional": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block-bidirectional"
          }
        },
        "block_ingress": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block-ingress"
          }
        },
        "off": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.ec2#BlockPublicAccessStates": {
      "members": {
        "InternetGatewayBlockMode": {
          "target": "com.amazonaws.ec2#BlockPublicAccessMode",
          "traits": {
            "aws.protocols#ec2QueryName": "InternetGatewayBlockMode",
            "smithy.api#xmlName": "internetGatewayBlockMode"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.ec2#CoipPoolId": {
      "type": "string"
    },
    "com.amazonaws.ec2#DescribeNetworkAcls": {
      "input": {
        "target": "com.amazonaws.ec2#DescribeNetworkAclsRequest"
      },
      "output": {
        "target": "com.amazonaws.ec2#DescribeNetworkAclsResult"
      },
      "traits": {
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "items": "NetworkAcls",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      },
      "type": "operation"
    },
    "com.amazonaws.ec2#DescribeNetworkAclsMaxResults": {
      "traits": {
        "smithy.api#range": {
          "max": 1000,
          "min": 5
        }
      },
      "type": "integer"
    },
    "com.amazonaws.ec2#DescribeNetworkAclsRequest": {
      "members": {
        "DryRun": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "aws.protocols#ec2QueryName": "DryRun",
            "smithy.api#xmlName": "dryRun"
          }
        },
        "Filters": {
          "target": "com.amazonaws.ec2#FilterList",
          "traits": {
            "smithy.api#xmlName": "Filter"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.ec2#DescribeNetworkAclsMaxResults",
          "traits": {}
        },
        "NetworkAclIds": {
          "target": "com.amazonaws.ec2#NetworkAclIdStringList",
          "traits": {
            "smithy.api#xmlName": "NetworkAclId"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.ec2#String",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.ec2#DescribeNetworkAclsResult": {
      "members": {
        "NetworkAcls": {
          "target": "com.amazonaws.ec2#NetworkAclList",
          "traits": {
            "aws.protocols#ec2QueryName": "NetworkAclSet",
            "smithy.api#xmlName": "networkAclSet"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "NextToken",
            "smithy.api#xmlName": "nextToken"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.ec2#DescribeSecurityGroupRules": {
      "input": {
        "target": "com.amazonaws.ec2#DescribeSecurityGroupRulesRequest"
      },
      "output": {
        "target": "com.amazonaws.ec2#DescribeSecurityGroupRulesResult"
      },
      "traits": {
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "items": "SecurityGroupRules",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      },
      "type": "operation"
    },
    "com.amazonaws.ec2#DescribeSecurityGroupRulesMaxResults": {
      "traits": {
        "smithy.api#range": {
          "max": 1000,
          "min": 5
        }
      },
      "type": "integer"
    },
    "com.amazonaws.ec2#DescribeSecurityGroupRulesRequest": {
      "members": {
        "DryRun": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {}
        },
        "Filters": {
          "target": "com.amazonaws.ec2#FilterList",
          "traits": {
            "smithy.api#xmlName": "Filter"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.ec2#DescribeSecurityGroupRulesMaxResults",
          "traits": {}
        },
        "NextToken": {
          "target": "com.amazonaws.ec2#String",
          "traits": {}
        },
        "SecurityGroupRuleIds": {
          "target": "com.amazonaws.ec2#SecurityGroupRuleIdList",
          "traits": {
            "smithy.api#xmlName": "SecurityGroupRuleId"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.ec2#DescribeSecurityGroupRulesResult": {
      "members": {
        "NextToken": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "NextToken",
            "smithy.api#xmlName": "nextToken"
          }
        },
        "SecurityGroupRules": {
          "target": "com.amazonaws.ec2#SecurityGroupRuleList",
          "traits": {
            "aws.protocols#ec2QueryName": "SecurityGroupRuleSet",
            "smithy.api#xmlName": "securityGroupRuleSet"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.ec2#DescribeSecurityGroups": {
      "input": {
        "target": "com.amazonaws.ec2#DescribeSecurityGroupsRequest"
      },
      "output": {
        "target": "com.amazonaws.ec2#DescribeSecurityGroupsResult"
      },
      "traits": {
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "items": "SecurityGroups",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        },
        "smithy.api#suppress": [
          "WaitableTraitInvalidErrorType"
        ],
        "smithy.waiters#waitable": {
          "SecurityGroupExists": {
            "acceptors": [
              {
                "matcher": {
                  "output": {
                    "comparator": "booleanEquals",
                    "expected": "true",
                    "path": "length(SecurityGroups[].GroupId) > `0`"
                  }
                },
                "state": "success"
              },
              {
                "matcher": {
                  "errorType": "InvalidGroup.NotFound"
                },
                "state": "retry"
              }
            ],
            "minDelay": 5
          }
        }
      },
      "type": "operation"
    },
    "com.amazonaws.ec2#DescribeSecurityGroupsMaxResults": {
      "traits": {
        "smithy.api#range": {
          "max": 1000,
          "min": 5
        }
      },
      "type": "integer"
    },
    "com.amazonaws.ec2#DescribeSecurityGroupsRequest": {
      "members": {
        "DryRun": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "aws.protocols#ec2QueryName": "DryRun",
            "smithy.api#xmlName": "dryRun"
          }
        },
        "Filters": {
          "target": "com.amazonaws.ec2#FilterList",
          "traits": {
            "smithy.api#xmlName": "Filter"
          }
        },
        "GroupIds": {
          "target": "com.amazonaws.ec2#GroupIdStringList",
          "traits": {
            "smithy.api#xmlName": "GroupId"
          }
        },
        "GroupNames": {
          "target": "com.amazonaws.ec2#GroupNameStringList",
          "traits": {
            "smithy.api#xmlName": "GroupName"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.ec2#DescribeSecurityGroupsMaxResults",
          "traits": {}
        },
        "NextToken": {
          "target": "com.amazonaws.ec2#String",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.ec2#DescribeSecurityGroupsResult": {
      "members": {
        "NextToken": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "NextToken",
            "smithy.api#xmlName": "nextToken"
          }
        },
        "SecurityGroups": {
          "target": "com.amazonaws.ec2#SecurityGroupList",
          "traits": {
            "aws.protocols#ec2QueryName": "SecurityGroupInfo",
            "smithy.api#xmlName": "securityGroupInfo"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.ec2#DescribeSubnets": {
      "input": {
        "target": "com.amazonaws.ec2#DescribeSubnetsRequest"
      },
      "output": {
        "target": "com.amazonaws.ec2#DescribeSubnetsResult"
      },
      "traits": {
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "items": "Subnets",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        },
        "smithy.waiters#waitable": {
          "SubnetAvailable": {
            "acceptors": [
              {
                "matcher": {
                  "output": {
                    "comparator": "allStringEquals",
                    "expected": "available",
                    "path": "Subnets[].State"
                  }
                },
                "state": "success"
              }
            ],
            "minDelay": 15
          }
        }
      },
      "type": "operation"
    },
    "com.amazonaws.ec2#DescribeSubnetsMaxResults": {
      "traits": {
        "smithy.api#range": {
          "max": 1000,
          "min": 5
        }
      },
      "type": "integer"
    },
    "com.amazonaws.ec2#DescribeSubnetsRequest": {
      "members": {
        "DryRun": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "aws.protocols#ec2QueryName": "DryRun",
            "smithy.api#xmlName": "dryRun"
          }
        },
        "Filters": {
          "target": "com.amazonaws.ec2#FilterList",
          "traits": {
            "smithy.api#xmlName": "Filter"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.ec2#DescribeSubnetsMaxResults",
          "traits": {}
        },
        "NextToken": {
          "target": "com.amazonaws.ec2#String",
          "traits": {}
        },
        "SubnetIds": {
          "target": "com.amazonaws.ec2#SubnetIdStringList",
          "traits": {
            "smithy.api#xmlName": "SubnetId"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.ec2#DescribeSubnetsResult": {
      "members": {
        "NextToken": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "NextToken",
            "smithy.api#xmlName": "nextToken"
          }
        },
        "Subnets": {
          "target": "com.amazonaws.ec2#SubnetList",
          "traits": {
            "aws.protocols#ec2QueryName": "SubnetSet",
            "smithy.api#xmlName": "subnetSet"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.ec2#Filter": {
      "members": {
        "Name": {
          "target": "com.amazonaws.ec2#String",
          "traits": {}
        },
        "Values": {
          "target": "com.amazonaws.ec2#ValueStringList",
          "traits": {
            "smithy.api#xmlName": "Value"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#FilterList": {
      "member": {
        "target": "com.amazonaws.ec2#Filter",
        "traits": {
          "smithy.api#xmlName": "Filter"
        }
      },
      "type": "list"
    },
    "com.amazonaws.ec2#GroupIdStringList": {
      "member": {
        "target": "com.amazonaws.ec2#SecurityGroupId",
        "traits": {
          "smithy.api#xmlName": "groupId"
        }
      },
      "type": "list"
    },
    "com.amazonaws.ec2#GroupNameStringList": {
      "member": {
        "target": "com.amazonaws.ec2#SecurityGroupName",
        "traits": {
          "smithy.api#xmlName": "GroupName"
        }
      },
      "type": "list"
    },
    "com.amazonaws.ec2#HostnameType": {
      "members": {
        "ip_name": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip-name"
          }
        },
        "resource_name": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resource-name"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.ec2#IcmpTypeCode": {
      "members": {
        "Code": {
          "target": "com.amazonaws.ec2#Integer",
          "traits": {
            "aws.protocols#ec2QueryName": "Code",
            "smithy.api#xmlName": "code"
          }
        },
        "Type": {
          "target": "com.amazonaws.ec2#Integer",
          "traits": {
            "aws.protocols#ec2QueryName": "Type",
            "smithy.api#xmlName": "type"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#Integer": {
      "type": "integer"
    },
    "com.amazonaws.ec2#IpPermission": {
      "members": {
        "FromPort": {
          "target": "com.amazonaws.ec2#Integer",
          "traits": {
            "aws.protocols#ec2QueryName": "FromPort",
            "smithy.api#xmlName": "fromPort"
          }
        },
        "IpProtocol": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "IpProtocol",
            "smithy.api#xmlName": "ipProtocol"
          }
        },
        "IpRanges": {
          "target": "com.amazonaws.ec2#IpRangeList",
          "traits": {
            "aws.protocols#ec2QueryName": "IpRanges",
            "smithy.api#xmlName": "ipRanges"
          }
        },
        "Ipv6Ranges": {
          "target": "com.amazonaws.ec2#Ipv6RangeList",
          "traits": {
            "aws.protocols#ec2QueryName": "Ipv6Ranges",
            "smithy.api#xmlName": "ipv6Ranges"
          }
        },
        "PrefixListIds": {
          "target": "com.amazonaws.ec2#PrefixListIdList",
          "traits": {
            "aws.protocols#ec2QueryName": "PrefixListIds",
            "smithy.api#xmlName": "prefixListIds"
          }
        },
        "ToPort": {
          "target": "com.amazonaws.ec2#Integer",
          "traits": {
            "aws.protocols#ec2QueryName": "ToPort",
            "smithy.api#xmlName": "toPort"
          }
        },
        "UserIdGroupPairs": {
          "target": "com.amazonaws.ec2#UserIdGroupPairList",
          "traits": {
            "aws.protocols#ec2QueryName": "Groups",
            "smithy.api#xmlName": "groups"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#IpPermissionList": {
      "member": {
        "target": "com.amazonaws.ec2#IpPermission",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      },
      "type": "list"
    },
    "com.amazonaws.ec2#IpRange": {
      "members": {
        "CidrIp": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "CidrIp",
            "smithy.api#xmlName": "cidrIp"
          }
        },
        "Description": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "Description",
            "smithy.api#xmlName": "description"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#IpRangeList": {
      "member": {
        "target": "com.amazonaws.ec2#IpRange",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      },
      "type": "list"
    },
    "com.amazonaws.ec2#IpSource": {
      "members": {
        "amazon": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amazon"
          }
        },
        "byoip": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "byoip"
          }
        },
        "none": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.ec2#Ipv6AddressAttribute": {
      "members": {
        "private": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        },
        "public": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.ec2#Ipv6Range": {
      "members": {
        "CidrIpv6": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "CidrIpv6",
            "smithy.api#xmlName": "cidrIpv6"
          }
        },
        "Description": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "Description",
            "smithy.api#xmlName": "description"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#Ipv6RangeList": {
      "member": {
        "target": "com.amazonaws.ec2#Ipv6Range",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      },
      "type": "list"
    },
    "com.amazonaws.ec2#NetworkAcl": {
      "members": {
        "Associations": {
          "target": "com.amazonaws.ec2#NetworkAclAssociationList",
          "traits": {
            "aws.protocols#ec2QueryName": "AssociationSet",
            "smithy.api#xmlName": "associationSet"
          }
        },
        "Entries": {
          "target": "com.amazonaws.ec2#NetworkAclEntryList",
          "traits": {
            "aws.protocols#ec2QueryName": "EntrySet",
            "smithy.api#xmlName": "entrySet"
          }
        },
        "IsDefault": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "aws.protocols#ec2QueryName": "Default",
            "smithy.api#xmlName": "default"
          }
        },
        "NetworkAclId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "NetworkAclId",
            "smithy.api#xmlName": "networkAclId"
          }
        },
        "OwnerId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "OwnerId",
            "smithy.api#xmlName": "ownerId"
          }
        },
        "Tags": {
          "target": "com.amazonaws.ec2#TagList",
          "traits": {
            "aws.protocols#ec2QueryName": "TagSet",
            "smithy.api#xmlName": "tagSet"
          }
        },
        "VpcId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "VpcId",
            "smithy.api#xmlName": "vpcId"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#NetworkAclAssociation": {
      "members": {
        "NetworkAclAssociationId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "NetworkAclAssociationId",
            "smithy.api#xmlName": "networkAclAssociationId"
          }
        },
        "NetworkAclId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "NetworkAclId",
            "smithy.api#xmlName": "networkAclId"
          }
        },
        "SubnetId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "SubnetId",
            "smithy.api#xmlName": "subnetId"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#NetworkAclAssociationList": {
      "member": {
        "target": "com.amazonaws.ec2#NetworkAclAssociation",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      },
      "type": "list"
    },
    "com.amazonaws.ec2#NetworkAclEntry": {
      "members": {
        "CidrBlock": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "CidrBlock",
            "smithy.api#xmlName": "cidrBlock"
          }
        },
        "Egress": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "aws.protocols#ec2QueryName": "Egress",
            "smithy.api#xmlName": "egress"
          }
        },
        "IcmpTypeCode": {
          "target": "com.amazonaws.ec2#IcmpTypeCode",
          "traits": {
            "aws.protocols#ec2QueryName": "IcmpTypeCode",
            "smithy.api#xmlName": "icmpTypeCode"
          }
        },
        "Ipv6CidrBlock": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "Ipv6CidrBlock",
            "smithy.api#xmlName": "ipv6CidrBlock"
          }
        },
        "PortRange": {
          "target": "com.amazonaws.ec2#PortRange",
          "traits": {
            "aws.protocols#ec2QueryName": "PortRange",
            "smithy.api#xmlName": "portRange"
          }
        },
        "Protocol": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "Protocol",
            "smithy.api#xmlName": "protocol"
          }
        },
        "RuleAction": {
          "target": "com.amazonaws.ec2#RuleAction",
          "traits": {
            "aws.protocols#ec2QueryName": "RuleAction",
            "smithy.api#xmlName": "ruleAction"
          }
        },
        "RuleNumber": {
          "target": "com.amazonaws.ec2#Integer",
          "traits": {
            "aws.protocols#ec2QueryName": "RuleNumber",
            "smithy.api#xmlName": "ruleNumber"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#NetworkAclEntryList": {
      "member": {
        "target": "com.amazonaws.ec2#NetworkAclEntry",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      },
      "type": "list"
    },
    "com.amazonaws.ec2#NetworkAclId": {
      "type": "string"
    },
    "com.amazonaws.ec2#NetworkAclIdStringList": {
      "member": {
        "target": "com.amazonaws.ec2#NetworkAclId",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      },
      "type": "list"
    },
    "com.amazonaws.ec2#NetworkAclList": {
      "member": {
        "target": "com.amazonaws.ec2#NetworkAcl",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      },
      "type": "list"
    },
    "com.amazonaws.ec2#PortRange": {
      "members": {
        "From": {
          "target": "com.amazonaws.ec2#Integer",
          "traits": {
            "aws.protocols#ec2QueryName": "From",
            "smithy.api#xmlName": "from"
          }
        },
        "To": {
          "target": "com.amazonaws.ec2#Integer",
          "traits": {
            "aws.protocols#ec2QueryName": "To",
            "smithy.api#xmlName": "to"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#PrefixListId": {
      "members": {
        "Description": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "Description",
            "smithy.api#xmlName": "description"
          }
        },
        "PrefixListId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "PrefixListId",
            "smithy.api#xmlName": "prefixListId"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#PrefixListIdList": {
      "member": {
        "target": "com.amazonaws.ec2#PrefixListId",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      },
      "type": "list"
    },
    "com.amazonaws.ec2#PrefixListResourceId": {
      "type": "string"
    },
    "com.amazonaws.ec2#PrivateDnsNameOptionsOnLaunch": {
      "members": {
        "EnableResourceNameDnsAAAARecord": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "aws.protocols#ec2QueryName": "EnableResourceNameDnsAAAARecord",
            "smithy.api#xmlName": "enableResourceNameDnsAAAARecord"
          }
        },
        "EnableResourceNameDnsARecord": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "aws.protocols#ec2QueryName": "EnableResourceNameDnsARecord",
            "smithy.api#xmlName": "enableResourceNameDnsARecord"
          }
        },
        "HostnameType": {
          "target": "com.amazonaws.ec2#HostnameType",
          "traits": {
            "aws.protocols#ec2QueryName": "HostnameType",
            "smithy.api#xmlName": "hostnameType"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#ReferencedSecurityGroup": {
      "members": {
        "GroupId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "GroupId",
            "smithy.api#xmlName": "groupId"
          }
        },
        "PeeringStatus": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "PeeringStatus",
            "smithy.api#xmlName": "peeringStatus"
          }
        },
        "UserId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "UserId",
            "smithy.api#xmlName": "userId"
          }
        },
        "VpcId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "VpcId",
            "smithy.api#xmlName": "vpcId"
          }
        },
        "VpcPeeringConnectionId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "VpcPeeringConnectionId",
            "smithy.api#xmlName": "vpcPeeringConnectionId"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#RuleAction": {
      "members": {
        "allow": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allow"
          }
        },
        "deny": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.ec2#SecurityGroup": {
      "members": {
        "Description": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "GroupDescription",
            "smithy.api#xmlName": "groupDescription"
          }
        },
        "GroupId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "GroupId",
            "smithy.api#xmlName": "groupId"
          }
        },
        "GroupName": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "GroupName",
            "smithy.api#xmlName": "groupName"
          }
        },
        "IpPermissions": {
          "target": "com.amazonaws.ec2#IpPermissionList",
          "traits": {
            "aws.protocols#ec2QueryName": "IpPermissions",
            "smithy.api#xmlName": "ipPermissions"
          }
        },
        "IpPermissionsEgress": {
          "target": "com.amazonaws.ec2#IpPermissionList",
          "traits": {
            "aws.protocols#ec2QueryName": "IpPermissionsEgress",
            "smithy.api#xmlName": "ipPermissionsEgress"
          }
        },
        "OwnerId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "OwnerId",
            "smithy.api#xmlName": "ownerId"
          }
        },
        "SecurityGroupArn": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "SecurityGroupArn",
            "smithy.api#xmlName": "securityGroupArn"
          }
        },
        "Tags": {
          "target": "com.amazonaws.ec2#TagList",
          "traits": {
            "aws.protocols#ec2QueryName": "TagSet",
            "smithy.api#xmlName": "tagSet"
          }
        },
        "VpcId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "VpcId",
            "smithy.api#xmlName": "vpcId"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#SecurityGroupId": {
      "type": "string"
    },
    "com.amazonaws.ec2#SecurityGroupList": {
      "member": {
        "target": "com.amazonaws.ec2#SecurityGroup",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      },
      "type": "list"
    },
    "com.amazonaws.ec2#SecurityGroupName": {
      "type": "string"
    },
    "com.amazonaws.ec2#SecurityGroupRule": {
      "members": {
        "CidrIpv4": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "CidrIpv4",
            "smithy.api#xmlName": "cidrIpv4"
          }
        },
        "CidrIpv6": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "CidrIpv6",
            "smithy.api#xmlName": "cidrIpv6"
          }
        },
        "Description": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "Description",
            "smithy.api#xmlName": "description"
          }
        },
        "FromPort": {
          "target": "com.amazonaws.ec2#Integer",
          "traits": {
            "aws.protocols#ec2QueryName": "FromPort",
            "smithy.api#xmlName": "fromPort"
          }
        },
        "GroupId": {
          "target": "com.amazonaws.ec2#SecurityGroupId",
          "traits": {
            "aws.protocols#ec2QueryName": "GroupId",
            "smithy.api#xmlName": "groupId"
          }
        },
        "GroupOwnerId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "GroupOwnerId",
            "smithy.api#xmlName": "groupOwnerId"
          }
        },
        "IpProtocol": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "IpProtocol",
            "smithy.api#xmlName": "ipProtocol"
          }
        },
        "IsEgress": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "aws.protocols#ec2QueryName": "IsEgress",
            "smithy.api#xmlName": "isEgress"
          }
        },
        "PrefixListId": {
          "target": "com.amazonaws.ec2#PrefixListResourceId",
          "traits": {
            "aws.protocols#ec2QueryName": "PrefixListId",
            "smithy.api#xmlName": "prefixListId"
          }
        },
        "ReferencedGroupInfo": {
          "target": "com.amazonaws.ec2#ReferencedSecurityGroup",
          "traits": {
            "aws.protocols#ec2QueryName": "ReferencedGroupInfo",
            "smithy.api#xmlName": "referencedGroupInfo"
          }
        },
        "SecurityGroupRuleArn": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "SecurityGroupRuleArn",
            "smithy.api#xmlName": "securityGroupRuleArn"
          }
        },
        "SecurityGroupRuleId": {
          "target": "com.amazonaws.ec2#SecurityGroupRuleId",
          "traits": {
            "aws.protocols#ec2QueryName": "SecurityGroupRuleId",
            "smithy.api#xmlName": "securityGroupRuleId"
          }
        },
        "Tags": {
          "target": "com.amazonaws.ec2#TagList",
          "traits": {
            "aws.protocols#ec2QueryName": "TagSet",
            "smithy.api#xmlName": "tagSet"
          }
        },
        "ToPort": {
          "target": "com.amazonaws.ec2#Integer",
          "traits": {
            "aws.protocols#ec2QueryName": "ToPort",
            "smithy.api#xmlName": "toPort"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#SecurityGroupRuleId": {
      "type": "string"
    },
    "com.amazonaws.ec2#SecurityGroupRuleIdList": {
      "member": {
        "target": "com.amazonaws.ec2#String",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      },
      "type": "list"
    },
    "com.amazonaws.ec2#SecurityGroupRuleList": {
      "member": {
        "target": "com.amazonaws.ec2#SecurityGroupRule",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      },
      "type": "list"
    },
    "com.amazonaws.ec2#String": {
      "type": "string"
    },
    "com.amazonaws.ec2#Subnet": {
      "members": {
        "AssignIpv6AddressOnCreation": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "aws.protocols#ec2QueryName": "AssignIpv6AddressOnCreation",
            "smithy.api#xmlName": "assignIpv6AddressOnCreation"
          }
        },
        "AvailabilityZone": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "AvailabilityZone",
            "smithy.api#xmlName": "availabilityZone"
          }
        },
        "AvailabilityZoneId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "AvailabilityZoneId",
            "smithy.api#xmlName": "availabilityZoneId"
          }
        },
        "AvailableIpAddressCount": {
          "target": "com.amazonaws.ec2#Integer",
          "traits": {
            "aws.protocols#ec2QueryName": "AvailableIpAddressCount",
            "smithy.api#xmlName": "availableIpAddressCount"
          }
        },
        "BlockPublicAccessStates": {
          "target": "com.amazonaws.ec2#BlockPublicAccessStates",
          "traits": {
            "aws.protocols#ec2QueryName": "BlockPublicAccessStates",
            "smithy.api#xmlName": "blockPublicAccessStates"
          }
        },
        "CidrBlock": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "CidrBlock",
            "smithy.api#xmlName": "cidrBlock"
          }
        },
        "CustomerOwnedIpv4Pool": {
          "target": "com.amazonaws.ec2#CoipPoolId",
          "traits": {
            "aws.protocols#ec2QueryName": "CustomerOwnedIpv4Pool",
            "smithy.api#xmlName": "customerOwnedIpv4Pool"
          }
        },
        "DefaultForAz": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "aws.protocols#ec2QueryName": "DefaultForAz",
            "smithy.api#xmlName": "defaultForAz"
          }
        },
        "EnableDns64": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "aws.protocols#ec2QueryName": "EnableDns64",
            "smithy.api#xmlName": "enableDns64"
          }
        },
        "EnableLniAtDeviceIndex": {
          "target": "com.amazonaws.ec2#Integer",
          "traits": {
            "aws.protocols#ec2QueryName": "EnableLniAtDeviceIndex",
            "smithy.api#xmlName": "enableLniAtDeviceIndex"
          }
        },
        "Ipv6CidrBlockAssociationSet": {
          "target": "com.amazonaws.ec2#SubnetIpv6CidrBlockAssociationSet",
          "traits": {
            "aws.protocols#ec2QueryName": "Ipv6CidrBlockAssociationSet",
            "smithy.api#xmlName": "ipv6CidrBlockAssociationSet"
          }
        },
        "Ipv6Native": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "aws.protocols#ec2QueryName": "Ipv6Native",
            "smithy.api#xmlName": "ipv6Native"
          }
        },
        "MapCustomerOwnedIpOnLaunch": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "aws.protocols#ec2QueryName": "MapCustomerOwnedIpOnLaunch",
            "smithy.api#xmlName": "mapCustomerOwnedIpOnLaunch"
          }
        },
        "MapPublicIpOnLaunch": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "aws.protocols#ec2QueryName": "MapPublicIpOnLaunch",
            "smithy.api#xmlName": "mapPublicIpOnLaunch"
          }
        },
        "OutpostArn": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "OutpostArn",
            "smithy.api#xmlName": "outpostArn"
          }
        },
        "OwnerId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "OwnerId",
            "smithy.api#xmlName": "ownerId"
          }
        },
        "PrivateDnsNameOptionsOnLaunch": {
          "target": "com.amazonaws.ec2#PrivateDnsNameOptionsOnLaunch",
          "traits": {
            "aws.protocols#ec2QueryName": "PrivateDnsNameOptionsOnLaunch",
            "smithy.api#xmlName": "privateDnsNameOptionsOnLaunch"
          }
        },
        "State": {
          "target": "com.amazonaws.ec2#SubnetState",
          "traits": {
            "aws.protocols#ec2QueryName": "State",
            "smithy.api#xmlName": "state"
          }
        },
        "SubnetArn": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "SubnetArn",
            "smithy.api#xmlName": "subnetArn"
          }
        },
        "SubnetId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "SubnetId",
            "smithy.api#xmlName": "subnetId"
          }
        },
        "Tags": {
          "target": "com.amazonaws.ec2#TagList",
          "traits": {
            "aws.protocols#ec2QueryName": "TagSet",
            "smithy.api#xmlName": "tagSet"
          }
        },
        "Type": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "Type",
            "smithy.api#xmlName": "type"
          }
        },
        "VpcId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "VpcId",
            "smithy.api#xmlName": "vpcId"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#SubnetCidrAssociationId": {
      "type": "string"
    },
    "com.amazonaws.ec2#SubnetCidrBlockState": {
      "members": {
        "State": {
          "target": "com.amazonaws.ec2#SubnetCidrBlockStateCode",
          "traits": {
            "aws.protocols#ec2QueryName": "State",
            "smithy.api#xmlName": "state"
          }
        },
        "StatusMessage": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "StatusMessage",
            "smithy.api#xmlName": "statusMessage"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#SubnetCidrBlockStateCode": {
      "members": {
        "associated": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "associated"
          }
        },
        "associating": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "associating"
          }
        },
        "disassociated": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disassociated"
          }
        },
        "disassociating": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disassociating"
          }
        },
        "failed": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "failing": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failing"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.ec2#SubnetId": {
      "type": "string"
    },
    "com.amazonaws.ec2#SubnetIdStringList": {
      "member": {
        "target": "com.amazonaws.ec2#SubnetId",
        "traits": {
          "smithy.api#xmlName": "SubnetId"
        }
      },
      "type": "list"
    },
    "com.amazonaws.ec2#SubnetIpv6CidrBlockAssociation": {
      "members": {
        "AssociationId": {
          "target": "com.amazonaws.ec2#SubnetCidrAssociationId",
          "traits": {
            "aws.protocols#ec2QueryName": "AssociationId",
            "smithy.api#xmlName": "associationId"
          }
        },
        "IpSource": {
          "target": "com.amazonaws.ec2#IpSource",
          "traits": {
            "aws.protocols#ec2QueryName": "IpSource",
            "smithy.api#xmlName": "ipSource"
          }
        },
        "Ipv6AddressAttribute": {
          "target": "com.amazonaws.ec2#Ipv6AddressAttribute",
          "traits": {
            "aws.protocols#ec2QueryName": "Ipv6AddressAttribute",
            "smithy.api#xmlName": "ipv6AddressAttribute"
          }
        },
        "Ipv6CidrBlock": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "Ipv6CidrBlock",
            "smithy.api#xmlName": "ipv6CidrBlock"
          }
        },
        "Ipv6CidrBlockState": {
          "target": "com.amazonaws.ec2#SubnetCidrBlockState",
          "traits": {
            "aws.protocols#ec2QueryName": "Ipv6CidrBlockState",
            "smithy.api#xmlName": "ipv6CidrBlockState"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#SubnetIpv6CidrBlockAssociationSet": {
      "member": {
        "target": "com.amazonaws.ec2#SubnetIpv6CidrBlockAssociation",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      },
      "type": "list"
    },
    "com.amazonaws.ec2#SubnetList": {
      "member": {
        "target": "com.amazonaws.ec2#Subnet",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      },
      "type": "list"
    },
    "com.amazonaws.ec2#SubnetState": {
      "members": {
        "available": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "available"
          }
        },
        "failed": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "failed_insufficient_capacity": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed-insufficient-capacity"
          }
        },
        "pending": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "unavailable": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unavailable"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.ec2#Tag": {
      "members": {
        "Key": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "Key",
            "smithy.api#xmlName": "key"
          }
        },
        "Value": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "Value",
            "smithy.api#xmlName": "value"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#TagList": {
      "member": {
        "target": "com.amazonaws.ec2#Tag",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      },
      "type": "list"
    },
    "com.amazonaws.ec2#UserIdGroupPair": {
      "members": {
        "Description": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "Description",
            "smithy.api#xmlName": "description"
          }
        },
        "GroupId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "GroupId",
            "smithy.api#xmlName": "groupId"
          }
        },
        "GroupName": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "GroupName",
            "smithy.api#xmlName": "groupName"
          }
        },
        "PeeringStatus": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "PeeringStatus",
            "smithy.api#xmlName": "peeringStatus"
          }
        },
        "UserId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "UserId",
            "smithy.api#xmlName": "userId"
          }
        },
        "VpcId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "VpcId",
            "smithy.api#xmlName": "vpcId"
          }
        },
        "VpcPeeringConnectionId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "VpcPeeringConnectionId",
            "smithy.api#xmlName": "vpcPeeringConnectionId"
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ec2#UserIdGroupPairList": {
      "member": {
        "target": "com.amazonaws.ec2#UserIdGroupPair",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      },
      "type": "list"
    },
    "com.amazonaws.ec2#ValueStringList": {
      "member": {
        "target": "com.amazonaws.ec2#String",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      },
      "type": "list"
    }
  },
  "smithy": "2.0"
}
