{
  "shapes": {
    "com.amazonaws.elasticache#AmazonElastiCacheV9": {
      "operations": [
        {
          "target": "com.amazonaws.elasticache#DescribeCacheSubnetGroups"
        },
        {
          "target": "com.amazonaws.elasticache#ListTagsForResource"
        }
      ],
      "traits": {
        "aws.api#service": {
          "arnNamespace": "elasticache",
          "cloudFormationName": "ElastiCache",
          "cloudTrailEventSource": "elasticache.amazonaws.com",
          "endpointPrefix": "elasticache",
          "sdkId": "ElastiCache"
        },
        "aws.auth#sigv4": {
          "name": "elasticache"
        },
        "aws.protocols#awsQuery": {},
        "smithy.api#title": "Amazon ElastiCache",
        "smithy.api#xmlNamespace": {
          "uri": "http://elasticache.amazonaws.com/doc/2015-02-02/"
        },
        "smithy.rules#endpointRuleSet": {
          "parameters": {
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "documentation": "Override the endpoint used to send this request",
              "required": false,
              "type": "string"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "documentation": "The AWS region used to dispatch the request.",
              "required": false,
              "type": "string"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "required": true,
              "type": "boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "required": true,
              "type": "boolean"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ],
                  "fn": "isSet"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "headers": {},
                    "properties": {},
                    "url": {
                      "ref": "Endpoint"
                    }
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "fn": "isSet"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult",
                      "fn": "aws.partition"
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        },
                        {
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://elasticache-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ],
                                  "fn": "getAttr"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "argv": [
                                    {
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "name"
                                      ],
                                      "fn": "getAttr"
                                    },
                                    "aws-us-gov"
                                  ],
                                  "fn": "stringEquals"
                                }
                              ],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://elasticache.{Region}.amazonaws.com"
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://elasticache-fips.{Region}.{PartitionResult#dnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://elasticache.{Region}.{PartitionResult#dualStackDnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "headers": {},
                        "properties": {},
                        "url": "https://elasticache.{Region}.{PartitionResult#dnsSuffix}"
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ],
          "version": "1.0"
        }
      },
      "type": "service",
      "version": "2015-02-02"
    },
    "com.amazonaws.elasticache#AvailabilityZone": {
      "members": {
        "Name": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.elasticache#CacheClusterNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CacheClusterNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#CacheParameterGroupNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CacheParameterGroupNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#CacheSecurityGroupNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CacheSecurityGroupNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#CacheSubnetGroup": {
      "members": {
        "ARN": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {}
        },
        "CacheSubnetGroupDescription": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {}
        },
        "CacheSubnetGroupName": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {}
        },
        "Subnets": {
          "target": "com.amazonaws.elasticache#SubnetList",
          "traits": {}
        },
        "SupportedNetworkTypes": {
          "target": "com.amazonaws.elasticache#NetworkTypeList",
          "traits": {}
        },
        "VpcId": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.elasticache#CacheSubnetGroupMessage": {
      "members": {
        "CacheSubnetGroups": {
          "target": "com.amazonaws.elasticache#CacheSubnetGroups",
          "traits": {}
        },
        "Marker": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#CacheSubnetGroupNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CacheSubnetGroupNotFoundFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#CacheSubnetGroups": {
      "member": {
        "target": "com.amazonaws.elasticache#CacheSubnetGroup",
        "traits": {
          "smithy.api#xmlName": "CacheSubnetGroup"
        }
      },
      "type": "list"
    },
    "com.amazonaws.elasticache#DescribeCacheSubnetGroups": {
      "errors": [
        {
          "target": "com.amazonaws.elasticache#CacheSubnetGroupNotFoundFault"
        }
      ],
      "input": {
        "target": "com.amazonaws.elasticache#DescribeCacheSubnetGroupsMessage"
      },
      "output": {
        "target": "com.amazonaws.elasticache#CacheSubnetGroupMessage"
      },
      "traits": {
        "smithy.api#paginated": {
          "inputToken": "Marker",
          "items": "CacheSubnetGroups",
          "outputToken": "Marker",
          "pageSize": "MaxRecords"
        }
      },
      "type": "operation"
    },
    "com.amazonaws.elasticache#DescribeCacheSubnetGroupsMessage": {
      "members": {
        "CacheSubnetGroupName": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {}
        },
        "Marker": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {}
        },
        "MaxRecords": {
          "target": "com.amazonaws.elasticache#IntegerOptional",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#ExceptionMessage": {
      "type": "string"
    },
    "com.amazonaws.elasticache#IntegerOptional": {
      "type": "integer"
    },
    "com.amazonaws.elasticache#InvalidARNFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidARN",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#InvalidReplicationGroupStateFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidReplicationGroupState",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#InvalidServerlessCacheSnapshotStateFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidServerlessCacheSnapshotStateFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#InvalidServerlessCacheStateFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidServerlessCacheStateFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#ListTagsForResource": {
      "errors": [
        {
          "target": "com.amazonaws.elasticache#CacheClusterNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#CacheParameterGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#CacheSecurityGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#CacheSubnetGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#InvalidARNFault"
        },
        {
          "target": "com.amazonaws.elasticache#InvalidReplicationGroupStateFault"
        },
        {
          "target": "com.amazonaws.elasticache#InvalidServerlessCacheSnapshotStateFault"
        },
        {
          "target": "com.amazonaws.elasticache#InvalidServerlessCacheStateFault"
        },
        {
          "target": "com.amazonaws.elasticache#ReplicationGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#ReservedCacheNodeNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#ServerlessCacheNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#ServerlessCacheSnapshotNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#SnapshotNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#UserGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#UserNotFoundFault"
        }
      ],
      "input": {
        "target": "com.amazonaws.elasticache#ListTagsForResourceMessage"
      },
      "output": {
        "target": "com.amazonaws.elasticache#TagListMessage"
      },
      "traits": {},
      "type": "operation"
    },
    "com.amazonaws.elasticache#ListTagsForResourceMessage": {
      "members": {
        "ResourceName": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#NetworkType": {
      "members": {
        "DUAL_STACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dual_stack"
          }
        },
        "IPV4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ipv4"
          }
        },
        "IPV6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ipv6"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.elasticache#NetworkTypeList": {
      "member": {
        "target": "com.amazonaws.elasticache#NetworkType"
      },
      "type": "list"
    },
    "com.amazonaws.elasticache#ReplicationGroupNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ReplicationGroupNotFoundFault",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#ReservedCacheNodeNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ReservedCacheNodeNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#ServerlessCacheNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ServerlessCacheNotFoundFault",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#ServerlessCacheSnapshotNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ServerlessCacheSnapshotNotFoundFault",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#SnapshotNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "SnapshotNotFoundFault",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#String": {
      "type": "string"
    },
    "com.amazonaws.elasticache#Subnet": {
      "members": {
        "SubnetAvailabilityZone": {
          "target": "com.amazonaws.elasticache#AvailabilityZone",
          "traits": {}
        },
        "SubnetIdentifier": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {}
        },
        "SubnetOutpost": {
          "target": "com.amazonaws.elasticache#SubnetOutpost",
          "traits": {}
        },
        "SupportedNetworkTypes": {
          "target": "com.amazonaws.elasticache#NetworkTypeList",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.elasticache#SubnetList": {
      "member": {
        "target": "com.amazonaws.elasticache#Subnet",
        "traits": {
          "smithy.api#xmlName": "Subnet"
        }
      },
      "type": "list"
    },
    "com.amazonaws.elasticache#SubnetOutpost": {
      "members": {
        "SubnetOutpostArn": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.elasticache#Tag": {
      "members": {
        "Key": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {}
        },
        "Value": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.elasticache#TagList": {
      "member": {
        "target": "com.amazonaws.elasticache#Tag",
        "traits": {
          "smithy.api#xmlName": "Tag"
        }
      },
      "type": "list"
    },
    "com.amazonaws.elasticache#TagListMessage": {
      "members": {
        "TagList": {
          "target": "com.amazonaws.elasticache#TagList",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.elasticache#UserGroupNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "UserGroupNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#UserNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "UserNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    }
  },
  "smithy": "2.0"
}
