{
  "shapes": {
    "com.amazonaws.elasticache#APICallRateForCustomerExceededFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "APICallRateForCustomerExceeded",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#AddTagsToResource": {
      "errors": [
        {
          "target": "com.amazonaws.elasticache#CacheClusterNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#CacheParameterGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#CacheSecurityGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#CacheSubnetGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#InvalidARNFault"
        },
        {
          "target": "com.amazonaws.elasticache#InvalidReplicationGroupStateFault"
        },
        {
          "target": "com.amazonaws.elasticache#InvalidServerlessCacheSnapshotStateFault"
        },
        {
          "target": "com.amazonaws.elasticache#InvalidServerlessCacheStateFault"
        },
        {
          "target": "com.amazonaws.elasticache#ReplicationGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#ReservedCacheNodeNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#ServerlessCacheNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#ServerlessCacheSnapshotNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#SnapshotNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#TagQuotaPerResourceExceeded"
        },
        {
          "target": "com.amazonaws.elasticache#UserGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#UserNotFoundFault"
        }
      ],
      "input": {
        "target": "com.amazonaws.elasticache#AddTagsToResourceMessage"
      },
      "output": {
        "target": "com.amazonaws.elasticache#TagListMessage"
      },
      "traits": {},
      "type": "operation"
    },
    "com.amazonaws.elasticache#AddTagsToResourceMessage": {
      "members": {
        "ResourceName": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.elasticache#TagList",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#AmazonElastiCacheV9": {
      "operations": [
        {
          "target": "com.amazonaws.elasticache#AddTagsToResource"
        },
        {
          "target": "com.amazonaws.elasticache#CreateCacheSubnetGroup"
        },
        {
          "target": "com.amazonaws.elasticache#DeleteCacheSubnetGroup"
        },
        {
          "target": "com.amazonaws.elasticache#DescribeCacheSubnetGroups"
        },
        {
          "target": "com.amazonaws.elasticache#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.elasticache#ModifyCacheSubnetGroup"
        },
        {
          "target": "com.amazonaws.elasticache#RemoveTagsFromResource"
        }
      ],
      "traits": {
        "aws.api#service": {
          "arnNamespace": "elasticache",
          "cloudFormationName": "ElastiCache",
          "cloudTrailEventSource": "elasticache.amazonaws.com",
          "endpointPrefix": "elasticache",
          "sdkId": "ElastiCache"
        },
        "aws.auth#sigv4": {
          "name": "elasticache"
        },
        "aws.protocols#awsQuery": {},
        "smithy.api#title": "Amazon ElastiCache",
        "smithy.api#xmlNamespace": {
          "uri": "http://elasticache.amazonaws.com/doc/2015-02-02/"
        },
        "smithy.rules#endpointRuleSet": {
          "parameters": {
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "documentation": "Override the endpoint used to send this request",
              "required": false,
              "type": "string"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "documentation": "The AWS region used to dispatch the request.",
              "required": false,
              "type": "string"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "required": true,
              "type": "boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "required": true,
              "type": "boolean"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ],
                  "fn": "isSet"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "headers": {},
                    "properties": {},
                    "url": {
                      "ref": "Endpoint"
                    }
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "fn": "isSet"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult",
                      "fn": "aws.partition"
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        },
                        {
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://elasticache-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ],
                                  "fn": "getAttr"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "argv": [
                                    {
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "name"
                                      ],
                                      "fn": "getAttr"
                                    },
                                    "aws-us-gov"
                                  ],
                                  "fn": "stringEquals"
                                }
                              ],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://elasticache.{Region}.amazonaws.com"
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://elasticache-fips.{Region}.{PartitionResult#dnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://elasticache.{Region}.{PartitionResult#dualStackDnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "headers": {},
                        "properties": {},
                        "url": "https://elasticache.{Region}.{PartitionResult#dnsSuffix}"
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ],
          "version": "1.0"
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticache.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticache.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticache.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticache.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticache.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticache.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticache.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticache.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticache.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticache.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticache.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticache.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticache.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticache.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticache.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticache.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticache.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticache.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticache.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticache-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticache.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticache-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticache.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticache-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticache.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticache-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticache-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticache.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticache.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticache.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticache-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticache-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticache.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticache.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticache.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticache.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticache-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticache.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticache.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticache.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-iso-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticache.us-iso-west-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticache-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticache.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticache-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Endpoint": "https://example.com",
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Endpoint": "https://example.com",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Endpoint": "https://example.com",
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Endpoint": "https://example.com",
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      },
      "type": "service",
      "version": "2015-02-02"
    },
    "com.amazonaws.elasticache#AuthorizationAlreadyExistsFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AuthorizationAlreadyExists",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#AuthorizationNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AuthorizationNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#AvailabilityZone": {
      "members": {
        "Name": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.elasticache#AwsQueryErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.elasticache#CacheClusterAlreadyExistsFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CacheClusterAlreadyExists",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#CacheClusterNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CacheClusterNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#CacheParameterGroupAlreadyExistsFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CacheParameterGroupAlreadyExists",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#CacheParameterGroupNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CacheParameterGroupNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#CacheParameterGroupQuotaExceededFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CacheParameterGroupQuotaExceeded",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#CacheSecurityGroupAlreadyExistsFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CacheSecurityGroupAlreadyExists",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#CacheSecurityGroupNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CacheSecurityGroupNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#CacheSecurityGroupQuotaExceededFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "QuotaExceeded.CacheSecurityGroup",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#CacheSubnetGroup": {
      "members": {
        "ARN": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {}
        },
        "CacheSubnetGroupDescription": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {}
        },
        "CacheSubnetGroupName": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {}
        },
        "Subnets": {
          "target": "com.amazonaws.elasticache#SubnetList",
          "traits": {}
        },
        "SupportedNetworkTypes": {
          "target": "com.amazonaws.elasticache#NetworkTypeList",
          "traits": {}
        },
        "VpcId": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.elasticache#CacheSubnetGroupAlreadyExistsFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CacheSubnetGroupAlreadyExists",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#CacheSubnetGroupInUse": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CacheSubnetGroupInUse",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#CacheSubnetGroupMessage": {
      "members": {
        "CacheSubnetGroups": {
          "target": "com.amazonaws.elasticache#CacheSubnetGroups",
          "traits": {}
        },
        "Marker": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#CacheSubnetGroupNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CacheSubnetGroupNotFoundFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#CacheSubnetGroupQuotaExceededFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CacheSubnetGroupQuotaExceeded",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#CacheSubnetGroups": {
      "member": {
        "target": "com.amazonaws.elasticache#CacheSubnetGroup",
        "traits": {
          "smithy.api#xmlName": "CacheSubnetGroup"
        }
      },
      "type": "list"
    },
    "com.amazonaws.elasticache#CacheSubnetQuotaExceededFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CacheSubnetQuotaExceededFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#ClusterQuotaForCustomerExceededFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ClusterQuotaForCustomerExceeded",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#CreateCacheSubnetGroup": {
      "errors": [
        {
          "target": "com.amazonaws.elasticache#CacheSubnetGroupAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.elasticache#CacheSubnetGroupQuotaExceededFault"
        },
        {
          "target": "com.amazonaws.elasticache#CacheSubnetQuotaExceededFault"
        },
        {
          "target": "com.amazonaws.elasticache#InvalidSubnet"
        },
        {
          "target": "com.amazonaws.elasticache#SubnetNotAllowedFault"
        },
        {
          "target": "com.amazonaws.elasticache#TagQuotaPerResourceExceeded"
        }
      ],
      "input": {
        "target": "com.amazonaws.elasticache#CreateCacheSubnetGroupMessage"
      },
      "output": {
        "target": "com.amazonaws.elasticache#CreateCacheSubnetGroupResult"
      },
      "traits": {},
      "type": "operation"
    },
    "com.amazonaws.elasticache#CreateCacheSubnetGroupMessage": {
      "members": {
        "CacheSubnetGroupDescription": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#required": {}
          }
        },
        "CacheSubnetGroupName": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#required": {}
          }
        },
        "SubnetIds": {
          "target": "com.amazonaws.elasticache#SubnetIdentifierList",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.elasticache#TagList",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#CreateCacheSubnetGroupResult": {
      "members": {
        "CacheSubnetGroup": {
          "target": "com.amazonaws.elasticache#CacheSubnetGroup"
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#DefaultUserAssociatedToUserGroupFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DefaultUserAssociatedToUserGroup",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#DefaultUserRequired": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DefaultUserRequired",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#DeleteCacheSubnetGroup": {
      "errors": [
        {
          "target": "com.amazonaws.elasticache#CacheSubnetGroupInUse"
        },
        {
          "target": "com.amazonaws.elasticache#CacheSubnetGroupNotFoundFault"
        }
      ],
      "input": {
        "target": "com.amazonaws.elasticache#DeleteCacheSubnetGroupMessage"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {},
      "type": "operation"
    },
    "com.amazonaws.elasticache#DeleteCacheSubnetGroupMessage": {
      "members": {
        "CacheSubnetGroupName": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#DescribeCacheSubnetGroups": {
      "errors": [
        {
          "target": "com.amazonaws.elasticache#CacheSubnetGroupNotFoundFault"
        }
      ],
      "input": {
        "target": "com.amazonaws.elasticache#DescribeCacheSubnetGroupsMessage"
      },
      "output": {
        "target": "com.amazonaws.elasticache#CacheSubnetGroupMessage"
      },
      "traits": {
        "smithy.api#paginated": {
          "inputToken": "Marker",
          "items": "CacheSubnetGroups",
          "outputToken": "Marker",
          "pageSize": "MaxRecords"
        }
      },
      "type": "operation"
    },
    "com.amazonaws.elasticache#DescribeCacheSubnetGroupsMessage": {
      "members": {
        "CacheSubnetGroupName": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {}
        },
        "Marker": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {}
        },
        "MaxRecords": {
          "target": "com.amazonaws.elasticache#IntegerOptional",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#DuplicateUserNameFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DuplicateUserName",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#ExceptionMessage": {
      "type": "string"
    },
    "com.amazonaws.elasticache#GlobalReplicationGroupAlreadyExistsFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "GlobalReplicationGroupAlreadyExistsFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#GlobalReplicationGroupNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "GlobalReplicationGroupNotFoundFault",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#InsufficientCacheClusterCapacityFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InsufficientCacheClusterCapacity",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#IntegerOptional": {
      "type": "integer"
    },
    "com.amazonaws.elasticache#InvalidARNFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidARN",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#InvalidCacheClusterStateFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidCacheClusterState",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#InvalidCacheParameterGroupStateFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidCacheParameterGroupState",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#InvalidCacheSecurityGroupStateFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidCacheSecurityGroupState",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#InvalidCredentialsException": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidCredentialsException",
          "httpResponseCode": 408
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 408
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#InvalidGlobalReplicationGroupStateFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidGlobalReplicationGroupState",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#InvalidKMSKeyFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidKMSKeyFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#InvalidParameterCombinationException": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#AwsQueryErrorMessage",
          "traits": {}
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidParameterCombination",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#InvalidParameterValueException": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#AwsQueryErrorMessage",
          "traits": {}
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidParameterValue",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#InvalidReplicationGroupStateFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidReplicationGroupState",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#InvalidServerlessCacheSnapshotStateFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidServerlessCacheSnapshotStateFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#InvalidServerlessCacheStateFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidServerlessCacheStateFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#InvalidSnapshotStateFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidSnapshotState",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#InvalidSubnet": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidSubnet",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#InvalidUserGroupStateFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidUserGroupState",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#InvalidUserStateFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidUserState",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#InvalidVPCNetworkStateFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidVPCNetworkStateFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#KeyList": {
      "member": {
        "target": "com.amazonaws.elasticache#String"
      },
      "type": "list"
    },
    "com.amazonaws.elasticache#ListTagsForResource": {
      "errors": [
        {
          "target": "com.amazonaws.elasticache#CacheClusterNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#CacheParameterGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#CacheSecurityGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#CacheSubnetGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#InvalidARNFault"
        },
        {
          "target": "com.amazonaws.elasticache#InvalidReplicationGroupStateFault"
        },
        {
          "target": "com.amazonaws.elasticache#InvalidServerlessCacheSnapshotStateFault"
        },
        {
          "target": "com.amazonaws.elasticache#InvalidServerlessCacheStateFault"
        },
        {
          "target": "com.amazonaws.elasticache#ReplicationGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#ReservedCacheNodeNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#ServerlessCacheNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#ServerlessCacheSnapshotNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#SnapshotNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#UserGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#UserNotFoundFault"
        }
      ],
      "input": {
        "target": "com.amazonaws.elasticache#ListTagsForResourceMessage"
      },
      "output": {
        "target": "com.amazonaws.elasticache#TagListMessage"
      },
      "traits": {},
      "type": "operation"
    },
    "com.amazonaws.elasticache#ListTagsForResourceMessage": {
      "members": {
        "ResourceName": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#ModifyCacheSubnetGroup": {
      "errors": [
        {
          "target": "com.amazonaws.elasticache#CacheSubnetGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#CacheSubnetQuotaExceededFault"
        },
        {
          "target": "com.amazonaws.elasticache#InvalidSubnet"
        },
        {
          "target": "com.amazonaws.elasticache#SubnetInUse"
        },
        {
          "target": "com.amazonaws.elasticache#SubnetNotAllowedFault"
        }
      ],
      "input": {
        "target": "com.amazonaws.elasticache#ModifyCacheSubnetGroupMessage"
      },
      "output": {
        "target": "com.amazonaws.elasticache#ModifyCacheSubnetGroupResult"
      },
      "traits": {},
      "type": "operation"
    },
    "com.amazonaws.elasticache#ModifyCacheSubnetGroupMessage": {
      "members": {
        "CacheSubnetGroupDescription": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {}
        },
        "CacheSubnetGroupName": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#required": {}
          }
        },
        "SubnetIds": {
          "target": "com.amazonaws.elasticache#SubnetIdentifierList",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#ModifyCacheSubnetGroupResult": {
      "members": {
        "CacheSubnetGroup": {
          "target": "com.amazonaws.elasticache#CacheSubnetGroup"
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#NetworkType": {
      "members": {
        "DUAL_STACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dual_stack"
          }
        },
        "IPV4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ipv4"
          }
        },
        "IPV6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ipv6"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.elasticache#NetworkTypeList": {
      "member": {
        "target": "com.amazonaws.elasticache#NetworkType"
      },
      "type": "list"
    },
    "com.amazonaws.elasticache#NoOperationFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "NoOperationFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#NodeGroupNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "NodeGroupNotFoundFault",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#NodeGroupsPerReplicationGroupQuotaExceededFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "NodeGroupsPerReplicationGroupQuotaExceeded",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#NodeQuotaForClusterExceededFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "NodeQuotaForClusterExceeded",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#NodeQuotaForCustomerExceededFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "NodeQuotaForCustomerExceeded",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#RemoveTagsFromResource": {
      "errors": [
        {
          "target": "com.amazonaws.elasticache#CacheClusterNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#CacheParameterGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#CacheSecurityGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#CacheSubnetGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#InvalidARNFault"
        },
        {
          "target": "com.amazonaws.elasticache#InvalidReplicationGroupStateFault"
        },
        {
          "target": "com.amazonaws.elasticache#InvalidServerlessCacheSnapshotStateFault"
        },
        {
          "target": "com.amazonaws.elasticache#InvalidServerlessCacheStateFault"
        },
        {
          "target": "com.amazonaws.elasticache#ReplicationGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#ReservedCacheNodeNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#ServerlessCacheNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#ServerlessCacheSnapshotNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#SnapshotNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#TagNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#UserGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#UserNotFoundFault"
        }
      ],
      "input": {
        "target": "com.amazonaws.elasticache#RemoveTagsFromResourceMessage"
      },
      "output": {
        "target": "com.amazonaws.elasticache#TagListMessage"
      },
      "traits": {},
      "type": "operation"
    },
    "com.amazonaws.elasticache#RemoveTagsFromResourceMessage": {
      "members": {
        "ResourceName": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#required": {}
          }
        },
        "TagKeys": {
          "target": "com.amazonaws.elasticache#KeyList",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#ReplicationGroupAlreadyExistsFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ReplicationGroupAlreadyExists",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#ReplicationGroupAlreadyUnderMigrationFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ReplicationGroupAlreadyUnderMigrationFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#ReplicationGroupNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ReplicationGroupNotFoundFault",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#ReplicationGroupNotUnderMigrationFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ReplicationGroupNotUnderMigrationFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#ReservedCacheNodeAlreadyExistsFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ReservedCacheNodeAlreadyExists",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#ReservedCacheNodeNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ReservedCacheNodeNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#ReservedCacheNodeQuotaExceededFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ReservedCacheNodeQuotaExceeded",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#ReservedCacheNodesOfferingNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ReservedCacheNodesOfferingNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#ServerlessCacheAlreadyExistsFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ServerlessCacheAlreadyExistsFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#ServerlessCacheNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ServerlessCacheNotFoundFault",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#ServerlessCacheQuotaForCustomerExceededFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ServerlessCacheQuotaForCustomerExceededFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#ServerlessCacheSnapshotAlreadyExistsFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ServerlessCacheSnapshotAlreadyExistsFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#ServerlessCacheSnapshotNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ServerlessCacheSnapshotNotFoundFault",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#ServerlessCacheSnapshotQuotaExceededFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ServerlessCacheSnapshotQuotaExceededFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#ServiceLinkedRoleNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ServiceLinkedRoleNotFoundFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#ServiceUpdateNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ServiceUpdateNotFoundFault",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#SnapshotAlreadyExistsFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "SnapshotAlreadyExistsFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#SnapshotFeatureNotSupportedFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "SnapshotFeatureNotSupportedFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#SnapshotNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "SnapshotNotFoundFault",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#SnapshotQuotaExceededFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "SnapshotQuotaExceededFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#String": {
      "type": "string"
    },
    "com.amazonaws.elasticache#Subnet": {
      "members": {
        "SubnetAvailabilityZone": {
          "target": "com.amazonaws.elasticache#AvailabilityZone",
          "traits": {}
        },
        "SubnetIdentifier": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {}
        },
        "SubnetOutpost": {
          "target": "com.amazonaws.elasticache#SubnetOutpost",
          "traits": {}
        },
        "SupportedNetworkTypes": {
          "target": "com.amazonaws.elasticache#NetworkTypeList",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.elasticache#SubnetIdentifierList": {
      "member": {
        "target": "com.amazonaws.elasticache#String",
        "traits": {
          "smithy.api#xmlName": "SubnetIdentifier"
        }
      },
      "type": "list"
    },
    "com.amazonaws.elasticache#SubnetInUse": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "SubnetInUse",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#SubnetList": {
      "member": {
        "target": "com.amazonaws.elasticache#Subnet",
        "traits": {
          "smithy.api#xmlName": "Subnet"
        }
      },
      "type": "list"
    },
    "com.amazonaws.elasticache#SubnetNotAllowedFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "SubnetNotAllowedFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#SubnetOutpost": {
      "members": {
        "SubnetOutpostArn": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.elasticache#Tag": {
      "members": {
        "Key": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {}
        },
        "Value": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.elasticache#TagList": {
      "member": {
        "target": "com.amazonaws.elasticache#Tag",
        "traits": {
          "smithy.api#xmlName": "Tag"
        }
      },
      "type": "list"
    },
    "com.amazonaws.elasticache#TagListMessage": {
      "members": {
        "TagList": {
          "target": "com.amazonaws.elasticache#TagList",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.elasticache#TagNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "TagNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#TagQuotaPerResourceExceeded": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "TagQuotaPerResourceExceeded",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#TestFailoverNotAvailableFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "TestFailoverNotAvailableFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#UserAlreadyExistsFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "UserAlreadyExists",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#UserGroupAlreadyExistsFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "UserGroupAlreadyExists",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#UserGroupNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "UserGroupNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#UserGroupQuotaExceededFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "UserGroupQuotaExceeded",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#UserNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "UserNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.elasticache#UserQuotaExceededFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "UserQuotaExceeded",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    }
  },
  "smithy": "2.0"
}
