{
  "shapes": {
    "com.amazonaws.emr#Date": {
      "type": "timestamp"
    },
    "com.amazonaws.emr#DescribeSecurityConfiguration": {
      "errors": [
        {
          "target": "com.amazonaws.emr#InternalServerException"
        },
        {
          "target": "com.amazonaws.emr#InvalidRequestException"
        }
      ],
      "input": {
        "target": "com.amazonaws.emr#DescribeSecurityConfigurationInput"
      },
      "output": {
        "target": "com.amazonaws.emr#DescribeSecurityConfigurationOutput"
      },
      "traits": {},
      "type": "operation"
    },
    "com.amazonaws.emr#DescribeSecurityConfigurationInput": {
      "members": {
        "Name": {
          "target": "com.amazonaws.emr#XmlString",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.emr#DescribeSecurityConfigurationOutput": {
      "members": {
        "CreationDateTime": {
          "target": "com.amazonaws.emr#Date",
          "traits": {}
        },
        "Name": {
          "target": "com.amazonaws.emr#XmlString",
          "traits": {}
        },
        "SecurityConfiguration": {
          "target": "com.amazonaws.emr#String",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.emr#ElasticMapReduce": {
      "operations": [
        {
          "target": "com.amazonaws.emr#DescribeSecurityConfiguration"
        }
      ],
      "traits": {
        "aws.api#service": {
          "arnNamespace": "elasticmapreduce",
          "cloudFormationName": "EMR",
          "cloudTrailEventSource": "elasticmapreduce.amazonaws.com",
          "docId": "elasticmapreduce-2009-03-31",
          "endpointPrefix": "elasticmapreduce",
          "sdkId": "EMR"
        },
        "aws.auth#sigv4": {
          "name": "elasticmapreduce"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#title": "Amazon EMR",
        "smithy.api#xmlNamespace": {
          "uri": "http://elasticmapreduce.amazonaws.com/doc/2009-03-31"
        },
        "smithy.rules#endpointRuleSet": {
          "parameters": {
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "documentation": "Override the endpoint used to send this request",
              "required": false,
              "type": "string"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "documentation": "The AWS region used to dispatch the request.",
              "required": false,
              "type": "string"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "required": true,
              "type": "boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "required": true,
              "type": "boolean"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ],
                  "fn": "isSet"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "headers": {},
                    "properties": {},
                    "url": {
                      "ref": "Endpoint"
                    }
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "fn": "isSet"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult",
                      "fn": "aws.partition"
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        },
                        {
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://elasticmapreduce-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ],
                                  "fn": "getAttr"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "argv": [
                                    {
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "name"
                                      ],
                                      "fn": "getAttr"
                                    },
                                    "aws-us-gov"
                                  ],
                                  "fn": "stringEquals"
                                }
                              ],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://elasticmapreduce.{Region}.amazonaws.com"
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://elasticmapreduce-fips.{Region}.{PartitionResult#dnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://elasticmapreduce.{Region}.{PartitionResult#dualStackDnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "headers": {},
                        "properties": {},
                        "url": "https://elasticmapreduce.{Region}.{PartitionResult#dnsSuffix}"
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ],
          "version": "1.0"
        }
      },
      "type": "service",
      "version": "2009-03-31"
    },
    "com.amazonaws.emr#ErrorCode": {
      "traits": {
        "smithy.api#length": {
          "max": 256,
          "min": 1
        }
      },
      "type": "string"
    },
    "com.amazonaws.emr#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.emr#InternalServerException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.emr#ErrorMessage",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "server"
      },
      "type": "structure"
    },
    "com.amazonaws.emr#InvalidRequestException": {
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.emr#ErrorCode",
          "traits": {}
        },
        "Message": {
          "target": "com.amazonaws.emr#ErrorMessage",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.emr#String": {
      "type": "string"
    },
    "com.amazonaws.emr#XmlString": {
      "traits": {
        "smithy.api#length": {
          "max": 10280,
          "min": 0
        },
        "smithy.api#pattern": "^[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*$"
      },
      "type": "string"
    }
  },
  "smithy": "2.0"
}
