{
  "shapes": {
    "com.amazonaws.eventbridge#AWSEvents": {
      "operations": [
        {
          "target": "com.amazonaws.eventbridge#CreateEventBus"
        },
        {
          "target": "com.amazonaws.eventbridge#DeleteEventBus"
        },
        {
          "target": "com.amazonaws.eventbridge#DeleteRule"
        },
        {
          "target": "com.amazonaws.eventbridge#DescribeEndpoint"
        },
        {
          "target": "com.amazonaws.eventbridge#DescribeEventBus"
        },
        {
          "target": "com.amazonaws.eventbridge#DescribeRule"
        },
        {
          "target": "com.amazonaws.eventbridge#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.eventbridge#ListTargetsByRule"
        },
        {
          "target": "com.amazonaws.eventbridge#PutPermission"
        },
        {
          "target": "com.amazonaws.eventbridge#PutRule"
        },
        {
          "target": "com.amazonaws.eventbridge#PutTargets"
        },
        {
          "target": "com.amazonaws.eventbridge#RemoveTargets"
        },
        {
          "target": "com.amazonaws.eventbridge#TagResource"
        },
        {
          "target": "com.amazonaws.eventbridge#UntagResource"
        },
        {
          "target": "com.amazonaws.eventbridge#UpdateEventBus"
        }
      ],
      "traits": {
        "aws.api#service": {
          "arnNamespace": "events",
          "cloudFormationName": "Events",
          "cloudTrailEventSource": "events.amazonaws.com",
          "endpointPrefix": "events",
          "sdkId": "EventBridge"
        },
        "aws.auth#sigv4": {
          "name": "events"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#title": "Amazon EventBridge",
        "smithy.api#xmlNamespace": {
          "uri": "http://events.amazonaws.com/doc/2015-10-07"
        },
        "smithy.rules#endpointRuleSet": {
          "parameters": {
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "documentation": "Override the endpoint used to send this request",
              "required": false,
              "type": "string"
            },
            "EndpointId": {
              "documentation": "Operation parameter for EndpointId",
              "required": false,
              "type": "string"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "documentation": "The AWS region used to dispatch the request.",
              "required": false,
              "type": "string"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "required": true,
              "type": "boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "required": true,
              "type": "boolean"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "fn": "isSet"
                    }
                  ],
                  "fn": "not"
                },
                {
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "fn": "isSet"
                },
                {
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult",
                  "fn": "aws.partition"
                },
                {
                  "argv": [
                    {
                      "argv": [
                        {
                          "ref": "PartitionResult"
                        },
                        "name"
                      ],
                      "fn": "getAttr"
                    },
                    "aws-us-gov"
                  ],
                  "fn": "stringEquals"
                },
                {
                  "argv": [
                    {
                      "ref": "UseFIPS"
                    },
                    true
                  ],
                  "fn": "booleanEquals"
                },
                {
                  "argv": [
                    {
                      "ref": "UseDualStack"
                    },
                    true
                  ],
                  "fn": "booleanEquals"
                }
              ],
              "endpoint": {
                "headers": {},
                "properties": {},
                "url": "https://events.{Region}.{PartitionResult#dualStackDnsSuffix}"
              },
              "type": "endpoint"
            },
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "ref": "EndpointId"
                    }
                  ],
                  "fn": "isSet"
                },
                {
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "fn": "isSet"
                },
                {
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult",
                  "fn": "aws.partition"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "EndpointId"
                        },
                        true
                      ],
                      "fn": "isValidHostLabel"
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            false
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "ref": "Endpoint"
                                }
                              ],
                              "fn": "isSet"
                            }
                          ],
                          "endpoint": {
                            "headers": {},
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4a",
                                  "signingName": "events",
                                  "signingRegionSet": [
                                    "*"
                                  ]
                                }
                              ]
                            },
                            "url": {
                              "ref": "Endpoint"
                            }
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "argv": [
                                    true,
                                    {
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ],
                                      "fn": "getAttr"
                                    }
                                  ],
                                  "fn": "booleanEquals"
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "endpoint": {
                                    "headers": {},
                                    "properties": {
                                      "authSchemes": [
                                        {
                                          "name": "sigv4a",
                                          "signingName": "events",
                                          "signingRegionSet": [
                                            "*"
                                          ]
                                        }
                                      ]
                                    },
                                    "url": "https://{EndpointId}.endpoint.events.{PartitionResult#dualStackDnsSuffix}"
                                  },
                                  "type": "endpoint"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "DualStack is enabled but this partition does not support DualStack",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "headers": {},
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4a",
                                  "signingName": "events",
                                  "signingRegionSet": [
                                    "*"
                                  ]
                                }
                              ]
                            },
                            "url": "https://{EndpointId}.endpoint.events.{PartitionResult#dnsSuffix}"
                          },
                          "type": "endpoint"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [],
                      "error": "Invalid Configuration: FIPS is not supported with EventBridge multi-region endpoints.",
                      "type": "error"
                    }
                  ],
                  "type": "tree"
                },
                {
                  "conditions": [],
                  "error": "EndpointId must be a valid host label.",
                  "type": "error"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ],
                  "fn": "isSet"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "headers": {},
                    "properties": {},
                    "url": {
                      "ref": "Endpoint"
                    }
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "fn": "isSet"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult",
                      "fn": "aws.partition"
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        },
                        {
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://events-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ],
                                  "fn": "getAttr"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "argv": [
                                    {
                                      "ref": "Region"
                                    },
                                    "us-gov-east-1"
                                  ],
                                  "fn": "stringEquals"
                                }
                              ],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://events.us-gov-east-1.amazonaws.com"
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [
                                {
                                  "argv": [
                                    {
                                      "ref": "Region"
                                    },
                                    "us-gov-west-1"
                                  ],
                                  "fn": "stringEquals"
                                }
                              ],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://events.us-gov-west-1.amazonaws.com"
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://events-fips.{Region}.{PartitionResult#dnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://events.{Region}.{PartitionResult#dualStackDnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "headers": {},
                        "properties": {},
                        "url": "https://events.{Region}.{PartitionResult#dnsSuffix}"
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ],
          "version": "1.0"
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://events-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://events-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-iso-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.us-iso-west-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Endpoint": "https://example.com",
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Endpoint": "https://example.com",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Endpoint": "https://example.com",
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Endpoint": "https://example.com",
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            },
            {
              "documentation": "Valid endpointId with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4a",
                        "signingName": "events",
                        "signingRegionSet": [
                          "*"
                        ]
                      }
                    ]
                  },
                  "url": "https://abc123.456def.endpoint.events.amazonaws.com"
                }
              },
              "operationInputs": [
                {
                  "builtInParams": {
                    "AWS::Region": "us-east-1"
                  },
                  "operationName": "PutEvents",
                  "operationParams": {
                    "EndpointId": "abc123.456def",
                    "Entries": [
                      {
                        "Detail": "{ \"test\": [\"test\"] }",
                        "DetailType": "detailType",
                        "EventBusName": "my-sdk-app"
                      }
                    ]
                  }
                }
              ],
              "params": {
                "EndpointId": "abc123.456def",
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "Valid EndpointId with dualstack disabled and fips enabled",
              "expect": {
                "error": "Invalid Configuration: FIPS is not supported with EventBridge multi-region endpoints."
              },
              "params": {
                "EndpointId": "abc123.456def",
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "Valid EndpointId with dualstack enabled and fips enabled",
              "expect": {
                "error": "Invalid Configuration: FIPS is not supported with EventBridge multi-region endpoints."
              },
              "params": {
                "EndpointId": "abc123.456def",
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "Invalid EndpointId",
              "expect": {
                "error": "EndpointId must be a valid host label."
              },
              "params": {
                "EndpointId": "badactor.com?foo=bar",
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "Invalid EndpointId (empty)",
              "expect": {
                "error": "EndpointId must be a valid host label."
              },
              "params": {
                "EndpointId": "",
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "Valid endpointId with fips disabled and dualstack true",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4a",
                        "signingName": "events",
                        "signingRegionSet": [
                          "*"
                        ]
                      }
                    ]
                  },
                  "url": "https://abc123.456def.endpoint.events.api.aws"
                }
              },
              "params": {
                "EndpointId": "abc123.456def",
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "Valid endpointId with custom sdk endpoint",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4a",
                        "signingName": "events",
                        "signingRegionSet": [
                          "*"
                        ]
                      }
                    ]
                  },
                  "url": "https://example.com"
                }
              },
              "params": {
                "Endpoint": "https://example.com",
                "EndpointId": "abc123.456def",
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "legacy fips endpoint @ us-gov-east-1",
              "expect": {
                "endpoint": {
                  "url": "https://events.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "legacy non-fips endpoint @ us-gov-east-1",
              "expect": {
                "endpoint": {
                  "url": "https://events.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "Dualstack fips endpoint @ us-gov-east-1",
              "expect": {
                "endpoint": {
                  "url": "https://events.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "Dualstack non-fips endpoint @ us-gov-east-1",
              "expect": {
                "endpoint": {
                  "url": "https://events.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "legacy fips endpoint @ us-gov-west-1",
              "expect": {
                "endpoint": {
                  "url": "https://events.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "legacy non-fips endpoint @ us-gov-west-1",
              "expect": {
                "endpoint": {
                  "url": "https://events.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "Dualstack fips endpoint @ us-gov-west-1",
              "expect": {
                "endpoint": {
                  "url": "https://events.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "Dualstack non-fips endpoint @ us-gov-west-1",
              "expect": {
                "endpoint": {
                  "url": "https://events.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            }
          ],
          "version": "1.0"
        }
      },
      "type": "service",
      "version": "2015-10-07"
    },
    "com.amazonaws.eventbridge#AccessDeniedException": {
      "members": {
        "message": {
          "target": "com.amazonaws.eventbridge#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.eventbridge#Action": {
      "traits": {
        "smithy.api#length": {
          "max": 64,
          "min": 1
        },
        "smithy.api#pattern": "^events:[a-zA-Z]+$"
      },
      "type": "string"
    },
    "com.amazonaws.eventbridge#AppSyncParameters": {
      "members": {
        "GraphQLOperation": {
          "target": "com.amazonaws.eventbridge#GraphQLOperation",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.eventbridge#Arn": {
      "traits": {
        "smithy.api#length": {
          "max": 1600,
          "min": 1
        }
      },
      "type": "string"
    },
    "com.amazonaws.eventbridge#AssignPublicIp": {
      "members": {
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.eventbridge#AwsVpcConfiguration": {
      "members": {
        "AssignPublicIp": {
          "target": "com.amazonaws.eventbridge#AssignPublicIp",
          "traits": {}
        },
        "SecurityGroups": {
          "target": "com.amazonaws.eventbridge#StringList",
          "traits": {}
        },
        "Subnets": {
          "target": "com.amazonaws.eventbridge#StringList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.eventbridge#BatchArrayProperties": {
      "members": {
        "Size": {
          "target": "com.amazonaws.eventbridge#Integer",
          "traits": {
            "smithy.api#default": 0
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.eventbridge#BatchParameters": {
      "members": {
        "ArrayProperties": {
          "target": "com.amazonaws.eventbridge#BatchArrayProperties",
          "traits": {}
        },
        "JobDefinition": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "JobName": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "RetryStrategy": {
          "target": "com.amazonaws.eventbridge#BatchRetryStrategy",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.eventbridge#BatchRetryStrategy": {
      "members": {
        "Attempts": {
          "target": "com.amazonaws.eventbridge#Integer",
          "traits": {
            "smithy.api#default": 0
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.eventbridge#Boolean": {
      "traits": {
        "smithy.api#default": false
      },
      "type": "boolean"
    },
    "com.amazonaws.eventbridge#CapacityProvider": {
      "traits": {
        "smithy.api#length": {
          "max": 255,
          "min": 1
        }
      },
      "type": "string"
    },
    "com.amazonaws.eventbridge#CapacityProviderStrategy": {
      "member": {
        "target": "com.amazonaws.eventbridge#CapacityProviderStrategyItem"
      },
      "traits": {
        "smithy.api#length": {
          "max": 6,
          "min": 0
        }
      },
      "type": "list"
    },
    "com.amazonaws.eventbridge#CapacityProviderStrategyItem": {
      "members": {
        "base": {
          "target": "com.amazonaws.eventbridge#CapacityProviderStrategyItemBase",
          "traits": {
            "smithy.api#default": 0
          }
        },
        "capacityProvider": {
          "target": "com.amazonaws.eventbridge#CapacityProvider",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "weight": {
          "target": "com.amazonaws.eventbridge#CapacityProviderStrategyItemWeight",
          "traits": {
            "smithy.api#default": 0
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.eventbridge#CapacityProviderStrategyItemBase": {
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "max": 100000,
          "min": 0
        }
      },
      "type": "integer"
    },
    "com.amazonaws.eventbridge#CapacityProviderStrategyItemWeight": {
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "max": 1000,
          "min": 0
        }
      },
      "type": "integer"
    },
    "com.amazonaws.eventbridge#ConcurrentModificationException": {
      "members": {
        "message": {
          "target": "com.amazonaws.eventbridge#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.eventbridge#Condition": {
      "members": {
        "Key": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.eventbridge#CreateEventBus": {
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#InvalidStateException"
        },
        {
          "target": "com.amazonaws.eventbridge#LimitExceededException"
        },
        {
          "target": "com.amazonaws.eventbridge#OperationDisabledException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceNotFoundException"
        }
      ],
      "input": {
        "target": "com.amazonaws.eventbridge#CreateEventBusRequest"
      },
      "output": {
        "target": "com.amazonaws.eventbridge#CreateEventBusResponse"
      },
      "traits": {},
      "type": "operation"
    },
    "com.amazonaws.eventbridge#CreateEventBusRequest": {
      "members": {
        "DeadLetterConfig": {
          "target": "com.amazonaws.eventbridge#DeadLetterConfig"
        },
        "Description": {
          "target": "com.amazonaws.eventbridge#EventBusDescription",
          "traits": {}
        },
        "EventSourceName": {
          "target": "com.amazonaws.eventbridge#EventSourceName",
          "traits": {}
        },
        "KmsKeyIdentifier": {
          "target": "com.amazonaws.eventbridge#KmsKeyIdentifier",
          "traits": {}
        },
        "LogConfig": {
          "target": "com.amazonaws.eventbridge#LogConfig",
          "traits": {}
        },
        "Name": {
          "target": "com.amazonaws.eventbridge#EventBusName",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.eventbridge#TagList",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.eventbridge#CreateEventBusResponse": {
      "members": {
        "DeadLetterConfig": {
          "target": "com.amazonaws.eventbridge#DeadLetterConfig"
        },
        "Description": {
          "target": "com.amazonaws.eventbridge#EventBusDescription",
          "traits": {}
        },
        "EventBusArn": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {}
        },
        "KmsKeyIdentifier": {
          "target": "com.amazonaws.eventbridge#KmsKeyIdentifier",
          "traits": {}
        },
        "LogConfig": {
          "target": "com.amazonaws.eventbridge#LogConfig",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.eventbridge#CreatedBy": {
      "traits": {
        "smithy.api#length": {
          "max": 128,
          "min": 1
        }
      },
      "type": "string"
    },
    "com.amazonaws.eventbridge#Database": {
      "traits": {
        "smithy.api#length": {
          "max": 64,
          "min": 1
        }
      },
      "type": "string"
    },
    "com.amazonaws.eventbridge#DbUser": {
      "traits": {
        "smithy.api#length": {
          "max": 128,
          "min": 1
        }
      },
      "type": "string"
    },
    "com.amazonaws.eventbridge#DeadLetterConfig": {
      "members": {
        "Arn": {
          "target": "com.amazonaws.eventbridge#ResourceArn",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.eventbridge#DeleteEventBus": {
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        }
      ],
      "input": {
        "target": "com.amazonaws.eventbridge#DeleteEventBusRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {},
      "type": "operation"
    },
    "com.amazonaws.eventbridge#DeleteEventBusRequest": {
      "members": {
        "Name": {
          "target": "com.amazonaws.eventbridge#EventBusName",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.eventbridge#DeleteRule": {
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#ManagedRuleException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceNotFoundException"
        }
      ],
      "input": {
        "target": "com.amazonaws.eventbridge#DeleteRuleRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {},
      "type": "operation"
    },
    "com.amazonaws.eventbridge#DeleteRuleRequest": {
      "members": {
        "EventBusName": {
          "target": "com.amazonaws.eventbridge#EventBusNameOrArn",
          "traits": {}
        },
        "Force": {
          "target": "com.amazonaws.eventbridge#Boolean",
          "traits": {
            "smithy.api#default": false
          }
        },
        "Name": {
          "target": "com.amazonaws.eventbridge#RuleName",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.eventbridge#DescribeEndpoint": {
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceNotFoundException"
        }
      ],
      "input": {
        "target": "com.amazonaws.eventbridge#DescribeEndpointRequest"
      },
      "output": {
        "target": "com.amazonaws.eventbridge#DescribeEndpointResponse"
      },
      "traits": {},
      "type": "operation"
    },
    "com.amazonaws.eventbridge#DescribeEndpointRequest": {
      "members": {
        "HomeRegion": {
          "target": "com.amazonaws.eventbridge#HomeRegion",
          "traits": {}
        },
        "Name": {
          "target": "com.amazonaws.eventbridge#EndpointName",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.eventbridge#DescribeEndpointResponse": {
      "members": {
        "Arn": {
          "target": "com.amazonaws.eventbridge#EndpointArn",
          "traits": {}
        },
        "CreationTime": {
          "target": "com.amazonaws.eventbridge#Timestamp",
          "traits": {}
        },
        "Description": {
          "target": "com.amazonaws.eventbridge#EndpointDescription",
          "traits": {}
        },
        "EndpointId": {
          "target": "com.amazonaws.eventbridge#EndpointId",
          "traits": {}
        },
        "EndpointUrl": {
          "target": "com.amazonaws.eventbridge#EndpointUrl",
          "traits": {}
        },
        "EventBuses": {
          "target": "com.amazonaws.eventbridge#EndpointEventBusList",
          "traits": {}
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.eventbridge#Timestamp",
          "traits": {}
        },
        "Name": {
          "target": "com.amazonaws.eventbridge#EndpointName",
          "traits": {}
        },
        "ReplicationConfig": {
          "target": "com.amazonaws.eventbridge#ReplicationConfig",
          "traits": {}
        },
        "RoleArn": {
          "target": "com.amazonaws.eventbridge#IamRoleArn",
          "traits": {}
        },
        "RoutingConfig": {
          "target": "com.amazonaws.eventbridge#RoutingConfig",
          "traits": {}
        },
        "State": {
          "target": "com.amazonaws.eventbridge#EndpointState",
          "traits": {}
        },
        "StateReason": {
          "target": "com.amazonaws.eventbridge#EndpointStateReason",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.eventbridge#DescribeEventBus": {
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceNotFoundException"
        }
      ],
      "input": {
        "target": "com.amazonaws.eventbridge#DescribeEventBusRequest"
      },
      "output": {
        "target": "com.amazonaws.eventbridge#DescribeEventBusResponse"
      },
      "traits": {},
      "type": "operation"
    },
    "com.amazonaws.eventbridge#DescribeEventBusRequest": {
      "members": {
        "Name": {
          "target": "com.amazonaws.eventbridge#EventBusNameOrArn",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.eventbridge#DescribeEventBusResponse": {
      "members": {
        "Arn": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {}
        },
        "CreationTime": {
          "target": "com.amazonaws.eventbridge#Timestamp",
          "traits": {}
        },
        "DeadLetterConfig": {
          "target": "com.amazonaws.eventbridge#DeadLetterConfig"
        },
        "Description": {
          "target": "com.amazonaws.eventbridge#EventBusDescription",
          "traits": {}
        },
        "KmsKeyIdentifier": {
          "target": "com.amazonaws.eventbridge#KmsKeyIdentifier",
          "traits": {}
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.eventbridge#Timestamp",
          "traits": {}
        },
        "LogConfig": {
          "target": "com.amazonaws.eventbridge#LogConfig",
          "traits": {}
        },
        "Name": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {}
        },
        "Policy": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.eventbridge#DescribeRule": {
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceNotFoundException"
        }
      ],
      "input": {
        "target": "com.amazonaws.eventbridge#DescribeRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.eventbridge#DescribeRuleResponse"
      },
      "traits": {
        "smithy.test#smokeTests": [
          {
            "expect": {
              "failure": {}
            },
            "id": "DescribeRuleFailure",
            "params": {
              "Name": "fake-rule"
            },
            "vendorParams": {
              "region": "us-west-2"
            },
            "vendorParamsShape": "aws.test#AwsVendorParams"
          }
        ]
      },
      "type": "operation"
    },
    "com.amazonaws.eventbridge#DescribeRuleRequest": {
      "members": {
        "EventBusName": {
          "target": "com.amazonaws.eventbridge#EventBusNameOrArn",
          "traits": {}
        },
        "Name": {
          "target": "com.amazonaws.eventbridge#RuleName",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.eventbridge#DescribeRuleResponse": {
      "members": {
        "Arn": {
          "target": "com.amazonaws.eventbridge#RuleArn",
          "traits": {}
        },
        "CreatedBy": {
          "target": "com.amazonaws.eventbridge#CreatedBy",
          "traits": {}
        },
        "Description": {
          "target": "com.amazonaws.eventbridge#RuleDescription",
          "traits": {}
        },
        "EventBusName": {
          "target": "com.amazonaws.eventbridge#EventBusName",
          "traits": {}
        },
        "EventPattern": {
          "target": "com.amazonaws.eventbridge#EventPattern",
          "traits": {}
        },
        "ManagedBy": {
          "target": "com.amazonaws.eventbridge#ManagedBy",
          "traits": {}
        },
        "Name": {
          "target": "com.amazonaws.eventbridge#RuleName",
          "traits": {}
        },
        "RoleArn": {
          "target": "com.amazonaws.eventbridge#RoleArn",
          "traits": {}
        },
        "ScheduleExpression": {
          "target": "com.amazonaws.eventbridge#ScheduleExpression",
          "traits": {}
        },
        "State": {
          "target": "com.amazonaws.eventbridge#RuleState",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.eventbridge#EcsParameters": {
      "members": {
        "CapacityProviderStrategy": {
          "target": "com.amazonaws.eventbridge#CapacityProviderStrategy",
          "traits": {}
        },
        "EnableECSManagedTags": {
          "target": "com.amazonaws.eventbridge#Boolean",
          "traits": {
            "smithy.api#default": false
          }
        },
        "EnableExecuteCommand": {
          "target": "com.amazonaws.eventbridge#Boolean",
          "traits": {
            "smithy.api#default": false
          }
        },
        "Group": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {}
        },
        "LaunchType": {
          "target": "com.amazonaws.eventbridge#LaunchType",
          "traits": {}
        },
        "NetworkConfiguration": {
          "target": "com.amazonaws.eventbridge#NetworkConfiguration",
          "traits": {}
        },
        "PlacementConstraints": {
          "target": "com.amazonaws.eventbridge#PlacementConstraints",
          "traits": {}
        },
        "PlacementStrategy": {
          "target": "com.amazonaws.eventbridge#PlacementStrategies",
          "traits": {}
        },
        "PlatformVersion": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {}
        },
        "PropagateTags": {
          "target": "com.amazonaws.eventbridge#PropagateTags",
          "traits": {}
        },
        "ReferenceId": {
          "target": "com.amazonaws.eventbridge#ReferenceId",
          "traits": {}
        },
        "Tags": {
          "target": "com.amazonaws.eventbridge#TagList",
          "traits": {}
        },
        "TaskCount": {
          "target": "com.amazonaws.eventbridge#LimitMin1",
          "traits": {}
        },
        "TaskDefinitionArn": {
          "target": "com.amazonaws.eventbridge#Arn",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.eventbridge#EndpointArn": {
      "traits": {
        "smithy.api#length": {
          "max": 1600,
          "min": 1
        },
        "smithy.api#pattern": "^arn:aws([a-z]|\\-)*:events:([a-z]|\\d|\\-)*:([0-9]{12})?:endpoint\\/[/\\.\\-_A-Za-z0-9]+$"
      },
      "type": "string"
    },
    "com.amazonaws.eventbridge#EndpointDescription": {
      "traits": {
        "smithy.api#length": {
          "max": 512,
          "min": 0
        },
        "smithy.api#pattern": ".*"
      },
      "type": "string"
    },
    "com.amazonaws.eventbridge#EndpointEventBus": {
      "members": {
        "EventBusArn": {
          "target": "com.amazonaws.eventbridge#NonPartnerEventBusArn",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.eventbridge#EndpointEventBusList": {
      "member": {
        "target": "com.amazonaws.eventbridge#EndpointEventBus"
      },
      "traits": {
        "smithy.api#length": {
          "max": 2,
          "min": 2
        }
      },
      "type": "list"
    },
    "com.amazonaws.eventbridge#EndpointId": {
      "traits": {
        "smithy.api#length": {
          "max": 50,
          "min": 1
        },
        "smithy.api#pattern": "^[A-Za-z0-9\\-]+[\\.][A-Za-z0-9\\-]+$"
      },
      "type": "string"
    },
    "com.amazonaws.eventbridge#EndpointName": {
      "traits": {
        "smithy.api#length": {
          "max": 64,
          "min": 1
        },
        "smithy.api#pattern": "^[\\.\\-_A-Za-z0-9]+$"
      },
      "type": "string"
    },
    "com.amazonaws.eventbridge#EndpointState": {
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "CREATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_FAILED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "DELETE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_FAILED"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "UPDATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_FAILED"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.eventbridge#EndpointStateReason": {
      "traits": {
        "smithy.api#length": {
          "max": 512,
          "min": 1
        },
        "smithy.api#pattern": ".*"
      },
      "type": "string"
    },
    "com.amazonaws.eventbridge#EndpointUrl": {
      "traits": {
        "smithy.api#length": {
          "max": 256,
          "min": 1
        },
        "smithy.api#pattern": "^(https://)?[\\.\\-a-z0-9]+$"
      },
      "type": "string"
    },
    "com.amazonaws.eventbridge#ErrorCode": {
      "type": "string"
    },
    "com.amazonaws.eventbridge#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.eventbridge#EventBusDescription": {
      "traits": {
        "smithy.api#length": {
          "max": 512,
          "min": 0
        }
      },
      "type": "string"
    },
    "com.amazonaws.eventbridge#EventBusName": {
      "traits": {
        "smithy.api#length": {
          "max": 256,
          "min": 1
        },
        "smithy.api#pattern": "^[/\\.\\-_A-Za-z0-9]+$"
      },
      "type": "string"
    },
    "com.amazonaws.eventbridge#EventBusNameOrArn": {
      "traits": {
        "smithy.api#length": {
          "max": 1600,
          "min": 1
        },
        "smithy.api#pattern": "^(arn:aws[\\w-]*:events:[a-z]+-[a-z]+-[\\w-]+:[0-9]{12}:event-bus\\/)?[/\\.\\-_A-Za-z0-9]+$"
      },
      "type": "string"
    },
    "com.amazonaws.eventbridge#EventPattern": {
      "traits": {
        "smithy.api#length": {
          "max": 4096,
          "min": 0
        }
      },
      "type": "string"
    },
    "com.amazonaws.eventbridge#EventSourceName": {
      "traits": {
        "smithy.api#length": {
          "max": 256,
          "min": 1
        },
        "smithy.api#pattern": "^aws\\.partner(/[\\.\\-_A-Za-z0-9]+){2,}$"
      },
      "type": "string"
    },
    "com.amazonaws.eventbridge#FailoverConfig": {
      "members": {
        "Primary": {
          "target": "com.amazonaws.eventbridge#Primary",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Secondary": {
          "target": "com.amazonaws.eventbridge#Secondary",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.eventbridge#GraphQLOperation": {
      "traits": {
        "smithy.api#length": {
          "max": 1048576,
          "min": 1
        },
        "smithy.api#sensitive": {}
      },
      "type": "string"
    },
    "com.amazonaws.eventbridge#HeaderKey": {
      "traits": {
        "smithy.api#length": {
          "max": 512,
          "min": 0
        },
        "smithy.api#pattern": "^[!#$%&'*+-.^_`|~0-9a-zA-Z]+$"
      },
      "type": "string"
    },
    "com.amazonaws.eventbridge#HeaderParametersMap": {
      "key": {
        "target": "com.amazonaws.eventbridge#HeaderKey"
      },
      "type": "map",
      "value": {
        "target": "com.amazonaws.eventbridge#HeaderValue"
      }
    },
    "com.amazonaws.eventbridge#HeaderValue": {
      "traits": {
        "smithy.api#length": {
          "max": 512,
          "min": 0
        },
        "smithy.api#pattern": "^[ \\t]*[\\x20-\\x7E]+([ \\t]+[\\x20-\\x7E]+)*[ \\t]*$"
      },
      "type": "string"
    },
    "com.amazonaws.eventbridge#HealthCheck": {
      "traits": {
        "smithy.api#length": {
          "max": 1600,
          "min": 1
        },
        "smithy.api#pattern": "^arn:aws([a-z]|\\-)*:route53:::healthcheck/[\\-a-z0-9]+$"
      },
      "type": "string"
    },
    "com.amazonaws.eventbridge#HomeRegion": {
      "traits": {
        "smithy.api#length": {
          "max": 20,
          "min": 9
        },
        "smithy.api#pattern": "^[\\-a-z0-9]+$"
      },
      "type": "string"
    },
    "com.amazonaws.eventbridge#HttpParameters": {
      "members": {
        "HeaderParameters": {
          "target": "com.amazonaws.eventbridge#HeaderParametersMap",
          "traits": {}
        },
        "PathParameterValues": {
          "target": "com.amazonaws.eventbridge#PathParameterList",
          "traits": {}
        },
        "QueryStringParameters": {
          "target": "com.amazonaws.eventbridge#QueryStringParametersMap",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.eventbridge#IamRoleArn": {
      "traits": {
        "smithy.api#length": {
          "max": 256,
          "min": 1
        },
        "smithy.api#pattern": "^arn:aws[a-z-]*:iam::\\d{12}:role\\/[\\w+=,.@/-]+$"
      },
      "type": "string"
    },
    "com.amazonaws.eventbridge#IllegalStatusException": {
      "members": {
        "message": {
          "target": "com.amazonaws.eventbridge#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.eventbridge#IncludeDetail": {
      "members": {
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULL"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.eventbridge#InputTransformer": {
      "members": {
        "InputPathsMap": {
          "target": "com.amazonaws.eventbridge#TransformerPaths",
          "traits": {}
        },
        "InputTemplate": {
          "target": "com.amazonaws.eventbridge#TransformerInput",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.eventbridge#InputTransformerPathKey": {
      "traits": {
        "smithy.api#length": {
          "max": 256,
          "min": 1
        },
        "smithy.api#pattern": "^[A-Za-z0-9\\_\\-]+$"
      },
      "type": "string"
    },
    "com.amazonaws.eventbridge#Integer": {
      "traits": {
        "smithy.api#default": 0
      },
      "type": "integer"
    },
    "com.amazonaws.eventbridge#InternalException": {
      "members": {
        "message": {
          "target": "com.amazonaws.eventbridge#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#error": "server"
      },
      "type": "structure"
    },
    "com.amazonaws.eventbridge#InvalidEventPatternException": {
      "members": {
        "message": {
          "target": "com.amazonaws.eventbridge#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.eventbridge#InvalidStateException": {
      "members": {
        "message": {
          "target": "com.amazonaws.eventbridge#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.eventbridge#KinesisParameters": {
      "members": {
        "PartitionKeyPath": {
          "target": "com.amazonaws.eventbridge#TargetPartitionKeyPath",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.eventbridge#KmsKeyIdentifier": {
      "traits": {
        "smithy.api#length": {
          "max": 2048,
          "min": 0
        },
        "smithy.api#pattern": "^[a-zA-Z0-9_\\-/:]*$"
      },
      "type": "string"
    },
    "com.amazonaws.eventbridge#LaunchType": {
      "members": {
        "EC2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC2"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL"
          }
        },
        "FARGATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FARGATE"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.eventbridge#Level": {
      "members": {
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFO"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OFF"
          }
        },
        "TRACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRACE"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.eventbridge#LimitExceededException": {
      "members": {
        "message": {
          "target": "com.amazonaws.eventbridge#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.eventbridge#LimitMax100": {
      "traits": {
        "smithy.api#range": {
          "max": 100,
          "min": 1
        }
      },
      "type": "integer"
    },
    "com.amazonaws.eventbridge#LimitMin1": {
      "traits": {
        "smithy.api#range": {
          "min": 1
        }
      },
      "type": "integer"
    },
    "com.amazonaws.eventbridge#ListTagsForResource": {
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceNotFoundException"
        }
      ],
      "input": {
        "target": "com.amazonaws.eventbridge#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.eventbridge#ListTagsForResourceResponse"
      },
      "traits": {},
      "type": "operation"
    },
    "com.amazonaws.eventbridge#ListTagsForResourceRequest": {
      "members": {
        "ResourceARN": {
          "target": "com.amazonaws.eventbridge#Arn",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.eventbridge#ListTagsForResourceResponse": {
      "members": {
        "Tags": {
          "target": "com.amazonaws.eventbridge#TagList",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.eventbridge#ListTargetsByRule": {
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceNotFoundException"
        }
      ],
      "input": {
        "target": "com.amazonaws.eventbridge#ListTargetsByRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.eventbridge#ListTargetsByRuleResponse"
      },
      "traits": {},
      "type": "operation"
    },
    "com.amazonaws.eventbridge#ListTargetsByRuleRequest": {
      "members": {
        "EventBusName": {
          "target": "com.amazonaws.eventbridge#EventBusNameOrArn",
          "traits": {}
        },
        "Limit": {
          "target": "com.amazonaws.eventbridge#LimitMax100",
          "traits": {}
        },
        "NextToken": {
          "target": "com.amazonaws.eventbridge#NextToken",
          "traits": {}
        },
        "Rule": {
          "target": "com.amazonaws.eventbridge#RuleName",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.eventbridge#ListTargetsByRuleResponse": {
      "members": {
        "NextToken": {
          "target": "com.amazonaws.eventbridge#NextToken",
          "traits": {}
        },
        "Targets": {
          "target": "com.amazonaws.eventbridge#TargetList",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.eventbridge#LogConfig": {
      "members": {
        "IncludeDetail": {
          "target": "com.amazonaws.eventbridge#IncludeDetail",
          "traits": {}
        },
        "Level": {
          "target": "com.amazonaws.eventbridge#Level",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.eventbridge#ManagedBy": {
      "traits": {
        "smithy.api#length": {
          "max": 128,
          "min": 1
        }
      },
      "type": "string"
    },
    "com.amazonaws.eventbridge#ManagedRuleException": {
      "members": {
        "message": {
          "target": "com.amazonaws.eventbridge#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.eventbridge#MaximumEventAgeInSeconds": {
      "traits": {
        "smithy.api#range": {
          "max": 86400,
          "min": 60
        }
      },
      "type": "integer"
    },
    "com.amazonaws.eventbridge#MaximumRetryAttempts": {
      "traits": {
        "smithy.api#range": {
          "max": 185,
          "min": 0
        }
      },
      "type": "integer"
    },
    "com.amazonaws.eventbridge#MessageGroupId": {
      "traits": {
        "smithy.api#length": {
          "max": 100,
          "min": 0
        }
      },
      "type": "string"
    },
    "com.amazonaws.eventbridge#NetworkConfiguration": {
      "members": {
        "awsvpcConfiguration": {
          "target": "com.amazonaws.eventbridge#AwsVpcConfiguration",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.eventbridge#NextToken": {
      "traits": {
        "smithy.api#length": {
          "max": 2048,
          "min": 1
        }
      },
      "type": "string"
    },
    "com.amazonaws.eventbridge#NonPartnerEventBusArn": {
      "traits": {
        "smithy.api#length": {
          "max": 512,
          "min": 1
        },
        "smithy.api#pattern": "^arn:aws[a-z-]*:events:[a-z]+-[a-z-]+-\\d+:\\d{12}:event-bus/[\\w.-]+$"
      },
      "type": "string"
    },
    "com.amazonaws.eventbridge#NonPartnerEventBusName": {
      "traits": {
        "smithy.api#length": {
          "max": 256,
          "min": 1
        },
        "smithy.api#pattern": "^[\\.\\-_A-Za-z0-9]+$"
      },
      "type": "string"
    },
    "com.amazonaws.eventbridge#OperationDisabledException": {
      "members": {
        "message": {
          "target": "com.amazonaws.eventbridge#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.eventbridge#PathParameter": {
      "traits": {
        "smithy.api#pattern": "^(?!\\s*$).+$"
      },
      "type": "string"
    },
    "com.amazonaws.eventbridge#PathParameterList": {
      "member": {
        "target": "com.amazonaws.eventbridge#PathParameter"
      },
      "type": "list"
    },
    "com.amazonaws.eventbridge#PlacementConstraint": {
      "members": {
        "expression": {
          "target": "com.amazonaws.eventbridge#PlacementConstraintExpression",
          "traits": {}
        },
        "type": {
          "target": "com.amazonaws.eventbridge#PlacementConstraintType",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.eventbridge#PlacementConstraintExpression": {
      "traits": {
        "smithy.api#length": {
          "max": 2000,
          "min": 0
        }
      },
      "type": "string"
    },
    "com.amazonaws.eventbridge#PlacementConstraintType": {
      "members": {
        "DISTINCT_INSTANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "distinctInstance"
          }
        },
        "MEMBER_OF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "memberOf"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.eventbridge#PlacementConstraints": {
      "member": {
        "target": "com.amazonaws.eventbridge#PlacementConstraint"
      },
      "traits": {
        "smithy.api#length": {
          "max": 10,
          "min": 0
        }
      },
      "type": "list"
    },
    "com.amazonaws.eventbridge#PlacementStrategies": {
      "member": {
        "target": "com.amazonaws.eventbridge#PlacementStrategy"
      },
      "traits": {
        "smithy.api#length": {
          "max": 5,
          "min": 0
        }
      },
      "type": "list"
    },
    "com.amazonaws.eventbridge#PlacementStrategy": {
      "members": {
        "field": {
          "target": "com.amazonaws.eventbridge#PlacementStrategyField",
          "traits": {}
        },
        "type": {
          "target": "com.amazonaws.eventbridge#PlacementStrategyType",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.eventbridge#PlacementStrategyField": {
      "traits": {
        "smithy.api#length": {
          "max": 255,
          "min": 0
        }
      },
      "type": "string"
    },
    "com.amazonaws.eventbridge#PlacementStrategyType": {
      "members": {
        "BINPACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "binpack"
          }
        },
        "RANDOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "random"
          }
        },
        "SPREAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "spread"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.eventbridge#PolicyLengthExceededException": {
      "members": {
        "message": {
          "target": "com.amazonaws.eventbridge#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.eventbridge#Primary": {
      "members": {
        "HealthCheck": {
          "target": "com.amazonaws.eventbridge#HealthCheck",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.eventbridge#Principal": {
      "traits": {
        "smithy.api#length": {
          "max": 12,
          "min": 1
        },
        "smithy.api#pattern": "^(\\d{12}|\\*)$"
      },
      "type": "string"
    },
    "com.amazonaws.eventbridge#PropagateTags": {
      "members": {
        "TASK_DEFINITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_DEFINITION"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.eventbridge#PutPermission": {
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#OperationDisabledException"
        },
        {
          "target": "com.amazonaws.eventbridge#PolicyLengthExceededException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceNotFoundException"
        }
      ],
      "input": {
        "target": "com.amazonaws.eventbridge#PutPermissionRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {},
      "type": "operation"
    },
    "com.amazonaws.eventbridge#PutPermissionRequest": {
      "members": {
        "Action": {
          "target": "com.amazonaws.eventbridge#Action",
          "traits": {}
        },
        "Condition": {
          "target": "com.amazonaws.eventbridge#Condition",
          "traits": {}
        },
        "EventBusName": {
          "target": "com.amazonaws.eventbridge#NonPartnerEventBusName",
          "traits": {}
        },
        "Policy": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {}
        },
        "Principal": {
          "target": "com.amazonaws.eventbridge#Principal",
          "traits": {}
        },
        "StatementId": {
          "target": "com.amazonaws.eventbridge#StatementId",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.eventbridge#PutRule": {
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#InvalidEventPatternException"
        },
        {
          "target": "com.amazonaws.eventbridge#LimitExceededException"
        },
        {
          "target": "com.amazonaws.eventbridge#ManagedRuleException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceNotFoundException"
        }
      ],
      "input": {
        "target": "com.amazonaws.eventbridge#PutRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.eventbridge#PutRuleResponse"
      },
      "traits": {},
      "type": "operation"
    },
    "com.amazonaws.eventbridge#PutRuleRequest": {
      "members": {
        "Description": {
          "target": "com.amazonaws.eventbridge#RuleDescription",
          "traits": {}
        },
        "EventBusName": {
          "target": "com.amazonaws.eventbridge#EventBusNameOrArn",
          "traits": {}
        },
        "EventPattern": {
          "target": "com.amazonaws.eventbridge#EventPattern",
          "traits": {}
        },
        "Name": {
          "target": "com.amazonaws.eventbridge#RuleName",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.eventbridge#RoleArn",
          "traits": {}
        },
        "ScheduleExpression": {
          "target": "com.amazonaws.eventbridge#ScheduleExpression",
          "traits": {}
        },
        "State": {
          "target": "com.amazonaws.eventbridge#RuleState",
          "traits": {}
        },
        "Tags": {
          "target": "com.amazonaws.eventbridge#TagList",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.eventbridge#PutRuleResponse": {
      "members": {
        "RuleArn": {
          "target": "com.amazonaws.eventbridge#RuleArn",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.eventbridge#PutTargets": {
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#LimitExceededException"
        },
        {
          "target": "com.amazonaws.eventbridge#ManagedRuleException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceNotFoundException"
        }
      ],
      "input": {
[...]
