{
  "shapes": {
    "com.amazonaws.iam#AWSIdentityManagementV20100508": {
      "operations": [
        {
          "target": "com.amazonaws.iam#GetRole"
        }
      ],
      "traits": {
        "aws.api#service": {
          "arnNamespace": "iam",
          "cloudFormationName": "IAM",
          "cloudTrailEventSource": "iam.amazonaws.com",
          "endpointPrefix": "iam",
          "sdkId": "IAM"
        },
        "aws.auth#sigv4": {
          "name": "iam"
        },
        "aws.protocols#awsQuery": {},
        "smithy.api#title": "AWS Identity and Access Management",
        "smithy.api#xmlNamespace": {
          "uri": "https://iam.amazonaws.com/doc/2010-05-08/"
        },
        "smithy.rules#endpointRuleSet": {
          "parameters": {
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "documentation": "Override the endpoint used to send this request",
              "required": false,
              "type": "string"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "documentation": "The AWS region used to dispatch the request.",
              "required": false,
              "type": "string"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "required": true,
              "type": "boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "required": true,
              "type": "boolean"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ],
                  "fn": "isSet"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "headers": {},
                        "properties": {},
                        "url": {
                          "ref": "Endpoint"
                        }
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "fn": "isSet"
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult",
                          "fn": "aws.partition"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ],
                                  "fn": "getAttr"
                                },
                                "aws"
                              ],
                              "fn": "stringEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                false
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                false
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "endpoint": {
                            "headers": {},
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4",
                                  "signingRegion": "us-east-1"
                                }
                              ]
                            },
                            "url": "https://iam.amazonaws.com"
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ],
                                  "fn": "getAttr"
                                },
                                "aws"
                              ],
                              "fn": "stringEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                false
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "endpoint": {
                            "headers": {},
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4",
                                  "signingRegion": "us-east-1"
                                }
                              ]
                            },
                            "url": "https://iam-fips.amazonaws.com"
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ],
                                  "fn": "getAttr"
                                },
                                "aws"
                              ],
                              "fn": "stringEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                false
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "endpoint": {
                            "headers": {},
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4",
                                  "signingRegion": "us-east-1"
                                }
                              ]
                            },
                            "url": "https://iam.global.api.aws"
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ],
                                  "fn": "getAttr"
                                },
                                "aws"
                              ],
                              "fn": "stringEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "endpoint": {
                            "headers": {},
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4",
                                  "signingRegion": "us-east-1"
                                }
                              ]
                            },
                            "url": "https://iam-fips.global.api.aws"
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ],
                                  "fn": "getAttr"
                                },
                                "aws-cn"
                              ],
                              "fn": "stringEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                false
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "endpoint": {
                            "headers": {},
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4",
                                  "signingRegion": "cn-north-1"
                                }
                              ]
                            },
                            "url": "https://iam.global.api.amazonwebservices.com.cn"
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ],
                                  "fn": "getAttr"
                                },
                                "aws-cn"
                              ],
                              "fn": "stringEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "endpoint": {
                            "headers": {},
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4",
                                  "signingRegion": "cn-north-1"
                                }
                              ]
                            },
                            "url": "https://iam-fips.api.amazonwebservices.com.cn"
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ],
                                  "fn": "getAttr"
                                },
                                "aws-cn"
                              ],
                              "fn": "stringEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                false
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                false
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "endpoint": {
                            "headers": {},
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4",
                                  "signingRegion": "cn-north-1"
                                }
                              ]
                            },
                            "url": "https://iam.cn-north-1.amazonaws.com.cn"
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ],
                                  "fn": "getAttr"
                                },
                                "aws-cn"
                              ],
                              "fn": "stringEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                false
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "endpoint": {
                            "headers": {},
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4",
                                  "signingRegion": "cn-north-1"
                                }
                              ]
                            },
                            "url": "https://iam-fips.amazonaws.com.cn"
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ],
                                  "fn": "getAttr"
                                },
                                "aws-us-gov"
                              ],
                              "fn": "stringEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                false
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "endpoint": {
                            "headers": {},
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4",
                                  "signingRegion": "us-gov-west-1"
                                }
                              ]
                            },
                            "url": "https://iam.us-gov.api.aws"
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ],
                                  "fn": "getAttr"
                                },
                                "aws-us-gov"
                              ],
                              "fn": "stringEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "endpoint": {
                            "headers": {},
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4",
                                  "signingRegion": "us-gov-west-1"
                                }
                              ]
                            },
                            "url": "https://iam.us-gov.api.aws"
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ],
                                  "fn": "getAttr"
                                },
                                "aws-us-gov"
                              ],
                              "fn": "stringEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                false
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                false
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "endpoint": {
                            "headers": {},
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4",
                                  "signingRegion": "us-gov-west-1"
                                }
                              ]
                            },
                            "url": "https://iam.us-gov.amazonaws.com"
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ],
                                  "fn": "getAttr"
                                },
                                "aws-us-gov"
                              ],
                              "fn": "stringEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                false
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "endpoint": {
                            "headers": {},
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4",
                                  "signingRegion": "us-gov-west-1"
                                }
                              ]
                            },
                            "url": "https://iam.us-gov.amazonaws.com"
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ],
                                  "fn": "getAttr"
                                },
                                "aws-iso"
                              ],
                              "fn": "stringEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                false
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                false
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "endpoint": {
                            "headers": {},
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4",
                                  "signingRegion": "us-iso-east-1"
                                }
                              ]
                            },
                            "url": "https://iam.us-iso-east-1.c2s.ic.gov"
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ],
                                  "fn": "getAttr"
                                },
                                "aws-iso"
                              ],
                              "fn": "stringEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                false
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "endpoint": {
                            "headers": {},
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4",
                                  "signingRegion": "us-iso-east-1"
                                }
                              ]
                            },
                            "url": "https://iam-fips.us-iso-east-1.c2s.ic.gov"
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ],
                                  "fn": "getAttr"
                                },
                                "aws-iso"
                              ],
                              "fn": "stringEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                false
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "endpoint": {
                            "headers": {},
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4",
                                  "signingRegion": "us-iso-east-1"
                                }
                              ]
                            },
                            "url": "https://iam.api.aws.ic.gov"
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ],
                                  "fn": "getAttr"
                                },
                                "aws-iso"
                              ],
                              "fn": "stringEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "endpoint": {
                            "headers": {},
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4",
                                  "signingRegion": "us-iso-east-1"
                                }
                              ]
                            },
                            "url": "https://iam-fips.api.aws.ic.gov"
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ],
                                  "fn": "getAttr"
                                },
                                "aws-iso-b"
                              ],
                              "fn": "stringEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                false
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                false
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "endpoint": {
                            "headers": {},
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4",
                                  "signingRegion": "us-isob-east-1"
                                }
                              ]
                            },
                            "url": "https://iam.us-isob-east-1.sc2s.sgov.gov"
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ],
                                  "fn": "getAttr"
                                },
                                "aws-iso-b"
                              ],
                              "fn": "stringEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                false
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "endpoint": {
                            "headers": {},
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4",
                                  "signingRegion": "us-isob-east-1"
                                }
                              ]
                            },
                            "url": "https://iam-fips.us-isob-east-1.sc2s.sgov.gov"
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ],
                                  "fn": "getAttr"
                                },
                                "aws-iso-b"
                              ],
                              "fn": "stringEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                false
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "endpoint": {
                            "headers": {},
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4",
                                  "signingRegion": "us-isob-east-1"
                                }
                              ]
                            },
                            "url": "https://iam.api.aws.scloud"
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ],
                                  "fn": "getAttr"
                                },
                                "aws-iso-b"
                              ],
                              "fn": "stringEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "endpoint": {
                            "headers": {},
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4",
                                  "signingRegion": "us-isob-east-1"
                                }
                              ]
                            },
                            "url": "https://iam-fips.api.aws.scloud"
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ],
                                  "fn": "getAttr"
                                },
                                "aws-iso-e"
                              ],
                              "fn": "stringEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                false
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                false
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "endpoint": {
                            "headers": {},
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4",
                                  "signingRegion": "eu-isoe-west-1"
                                }
                              ]
                            },
                            "url": "https://iam.eu-isoe-west-1.cloud.adc-e.uk"
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ],
                                  "fn": "getAttr"
                                },
                                "aws-iso-e"
                              ],
                              "fn": "stringEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                false
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "endpoint": {
                            "headers": {},
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4",
                                  "signingRegion": "eu-isoe-west-1"
                                }
                              ]
                            },
                            "url": "https://iam-fips.cloud.adc-e.uk"
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ],
                                  "fn": "getAttr"
                                },
                                "aws-iso-e"
                              ],
                              "fn": "stringEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                false
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "endpoint": {
                            "headers": {},
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4",
                                  "signingRegion": "eu-isoe-west-1"
                                }
                              ]
                            },
                            "url": "https://iam.api.cloud-aws.adc-e.uk"
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ],
                                  "fn": "getAttr"
                                },
                                "aws-iso-e"
                              ],
                              "fn": "stringEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "endpoint": {
                            "headers": {},
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4",
                                  "signingRegion": "eu-isoe-west-1"
                                }
                              ]
                            },
                            "url": "https://iam-fips.api.cloud-aws.adc-e.uk"
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ],
                                  "fn": "getAttr"
                                },
                                "aws-iso-f"
                              ],
                              "fn": "stringEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                false
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                false
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "endpoint": {
                            "headers": {},
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4",
                                  "signingRegion": "us-isof-south-1"
                                }
                              ]
                            },
                            "url": "https://iam.us-isof-south-1.csp.hci.ic.gov"
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ],
                                  "fn": "getAttr"
                                },
                                "aws-iso-f"
                              ],
                              "fn": "stringEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                false
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "endpoint": {
                            "headers": {},
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4",
                                  "signingRegion": "us-isof-south-1"
                                }
                              ]
                            },
                            "url": "https://iam-fips.csp.hci.ic.gov"
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ],
                                  "fn": "getAttr"
                                },
                                "aws-iso-f"
                              ],
                              "fn": "stringEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                false
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "endpoint": {
                            "headers": {},
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4",
                                  "signingRegion": "us-isof-south-1"
                                }
                              ]
                            },
                            "url": "https://iam.api.aws.hci.ic.gov"
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ],
                                  "fn": "getAttr"
                                },
                                "aws-iso-f"
                              ],
                              "fn": "stringEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "endpoint": {
                            "headers": {},
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4",
                                  "signingRegion": "us-isof-south-1"
                                }
                              ]
                            },
                            "url": "https://iam-fips.api.aws.hci.ic.gov"
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ],
                                  "fn": "getAttr"
                                },
                                "aws-eusc"
                              ],
                              "fn": "stringEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                false
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                false
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "endpoint": {
                            "headers": {},
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4",
                                  "signingRegion": "eusc-de-east-1"
                                }
                              ]
                            },
                            "url": "https://iam.eusc-de-east-1.amazonaws.eu"
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ],
                                  "fn": "getAttr"
                                },
                                "aws-eusc"
                              ],
                              "fn": "stringEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                false
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "endpoint": {
                            "headers": {},
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4",
                                  "signingRegion": "eusc-de-east-1"
                                }
                              ]
                            },
                            "url": "https://iam-fips.amazonaws.eu"
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ],
                                  "fn": "getAttr"
                                },
                                "aws-eusc"
                              ],
                              "fn": "stringEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                false
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "endpoint": {
                            "headers": {},
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4",
                                  "signingRegion": "eusc-de-east-1"
                                }
                              ]
                            },
                            "url": "https://iam.global.api.amazonwebservices.eu"
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ],
                                  "fn": "getAttr"
                                },
                                "aws-eusc"
                              ],
                              "fn": "stringEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "endpoint": {
                            "headers": {},
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4",
                                  "signingRegion": "eusc-de-east-1"
                                }
                              ]
                            },
                            "url": "https://iam-fips.api.amazonwebservices.eu"
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "argv": [
                                    true,
                                    {
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ],
                                      "fn": "getAttr"
                                    }
                                  ],
                                  "fn": "booleanEquals"
                                },
                                {
                                  "argv": [
                                    true,
                                    {
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ],
                                      "fn": "getAttr"
                                    }
                                  ],
                                  "fn": "booleanEquals"
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "endpoint": {
                                    "headers": {},
                                    "properties": {
                                      "authSchemes": [
                                        {
                                          "name": "sigv4",
                                          "signingRegion": "{PartitionResult#implicitGlobalRegion}"
                                        }
                                      ]
                                    },
                                    "url": "https://iam-fips.{PartitionResult#implicitGlobalRegion}.{PartitionResult#dualStackDnsSuffix}"
                                  },
                                  "type": "endpoint"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                false
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "argv": [
                                    {
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ],
                                      "fn": "getAttr"
                                    },
                                    true
                                  ],
                                  "fn": "booleanEquals"
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "endpoint": {
                                    "headers": {},
                                    "properties": {
                                      "authSchemes": [
                                        {
                                          "name": "sigv4",
                                          "signingRegion": "{PartitionResult#implicitGlobalRegion}"
                                        }
                                      ]
                                    },
                                    "url": "https://iam-fips.{PartitionResult#implicitGlobalRegion}.{PartitionResult#dnsSuffix}"
                                  },
                                  "type": "endpoint"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS is enabled but this partition does not support FIPS",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                false
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "argv": [
                                    true,
                                    {
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ],
                                      "fn": "getAttr"
                                    }
                                  ],
                                  "fn": "booleanEquals"
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "endpoint": {
                                    "headers": {},
                                    "properties": {
                                      "authSchemes": [
                                        {
                                          "name": "sigv4",
                                          "signingRegion": "{PartitionResult#implicitGlobalRegion}"
                                        }
                                      ]
                                    },
                                    "url": "https://iam.{PartitionResult#implicitGlobalRegion}.{PartitionResult#dualStackDnsSuffix}"
                                  },
                                  "type": "endpoint"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "DualStack is enabled but this partition does not support DualStack",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "headers": {},
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4",
                                  "signingRegion": "{PartitionResult#implicitGlobalRegion}"
                                }
                              ]
                            },
                            "url": "https://iam.{PartitionResult#implicitGlobalRegion}.{PartitionResult#dnsSuffix}"
                          },
                          "type": "endpoint"
                        }
                      ],
                      "type": "tree"
                    }
                  ],
                  "type": "tree"
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ],
              "type": "tree"
            }
          ],
          "version": "1.0"
        }
      },
      "type": "service",
      "version": "2010-05-08"
    },
    "com.amazonaws.iam#AttachedPermissionsBoundary": {
      "members": {
        "PermissionsBoundaryArn": {
          "target": "com.amazonaws.iam#arnType",
          "traits": {}
        },
        "PermissionsBoundaryType": {
          "target": "com.amazonaws.iam#PermissionsBoundaryAttachmentType",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.iam#GetRole": {
      "errors": [
        {
          "target": "com.amazonaws.iam#NoSuchEntityException"
        },
        {
          "target": "com.amazonaws.iam#ServiceFailureException"
        }
      ],
      "input": {
        "target": "com.amazonaws.iam#GetRoleRequest"
      },
      "output": {
        "target": "com.amazonaws.iam#GetRoleResponse"
      },
      "traits": {
        "smithy.api#suppress": [
          "WaitableTraitInvalidErrorType"
        ],
        "smithy.waiters#waitable": {
          "RoleExists": {
            "acceptors": [
              {
                "matcher": {
                  "success": true
                },
                "state": "success"
              },
              {
                "matcher": {
                  "errorType": "NoSuchEntity"
                },
                "state": "retry"
              }
            ],
            "minDelay": 1
          }
        }
      },
      "type": "operation"
    },
    "com.amazonaws.iam#GetRoleRequest": {
      "members": {
        "RoleName": {
          "target": "com.amazonaws.iam#roleNameType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.iam#GetRoleResponse": {
      "members": {
        "Role": {
          "target": "com.amazonaws.iam#Role",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.iam#NoSuchEntityException": {
      "members": {
        "message": {
          "target": "com.amazonaws.iam#noSuchEntityMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "NoSuchEntity",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.iam#PermissionsBoundaryAttachmentType": {
      "members": {
        "Policy": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PermissionsBoundaryPolicy"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.iam#Role": {
      "members": {
        "Arn": {
          "target": "com.amazonaws.iam#arnType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "AssumeRolePolicyDocument": {
          "target": "com.amazonaws.iam#policyDocumentType",
          "traits": {}
        },
        "CreateDate": {
          "target": "com.amazonaws.iam#dateType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.iam#roleDescriptionType",
          "traits": {}
        },
        "MaxSessionDuration": {
          "target": "com.amazonaws.iam#roleMaxSessionDurationType",
          "traits": {}
        },
        "Path": {
          "target": "com.amazonaws.iam#pathType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "PermissionsBoundary": {
          "target": "com.amazonaws.iam#AttachedPermissionsBoundary",
          "traits": {}
        },
        "RoleId": {
          "target": "com.amazonaws.iam#idType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "RoleLastUsed": {
          "target": "com.amazonaws.iam#RoleLastUsed",
          "traits": {}
        },
        "RoleName": {
          "target": "com.amazonaws.iam#roleNameType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "SourceRoleTemplate": {
          "target": "com.amazonaws.iam#SourceRoleTemplate",
          "traits": {}
        },
        "Tags": {
          "target": "com.amazonaws.iam#tagListType",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.iam#RoleLastUsed": {
      "members": {
        "LastUsedDate": {
          "target": "com.amazonaws.iam#dateType",
          "traits": {}
        },
        "Region": {
          "target": "com.amazonaws.iam#stringType",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.iam#ServiceFailureException": {
      "members": {
        "message": {
          "target": "com.amazonaws.iam#serviceFailureExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ServiceFailure",
          "httpResponseCode": 500
        },
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      },
      "type": "structure"
    },
    "com.amazonaws.iam#SourceRoleTemplate": {
      "members": {
        "TemplateArn": {
          "target": "com.amazonaws.iam#arnType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "TemplateMinorVersion": {
          "target": "com.amazonaws.iam#integerType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.iam#Tag": {
      "members": {
        "Key": {
          "target": "com.amazonaws.iam#tagKeyType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.iam#tagValueType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.iam#arnType": {
      "traits": {
        "smithy.api#length": {
          "max": 2048,
          "min": 20
        }
      },
      "type": "string"
    },
    "com.amazonaws.iam#dateType": {
      "type": "timestamp"
    },
    "com.amazonaws.iam#idType": {
      "traits": {
        "smithy.api#length": {
          "max": 128,
          "min": 16
        },
        "smithy.api#pattern": "^[\\w]+$"
      },
      "type": "string"
    },
    "com.amazonaws.iam#integerType": {
      "type": "integer"
    },
    "com.amazonaws.iam#noSuchEntityMessage": {
      "type": "string"
    },
    "com.amazonaws.iam#pathType": {
      "traits": {
        "smithy.api#length": {
          "max": 512,
          "min": 1
        },
        "smithy.api#pattern": "^(\\u002F)|(\\u002F[\\u0021-\\u007E]+\\u002F)$"
      },
      "type": "string"
    },
    "com.amazonaws.iam#policyDocumentType": {
      "traits": {
        "smithy.api#length": {
          "max": 131072,
          "min": 1
        },
        "smithy.api#pattern": "^[\\u0009\\u000A\\u000D\\u0020-\\u00FF]+$"
      },
      "type": "string"
    },
    "com.amazonaws.iam#roleDescriptionType": {
      "traits": {
        "smithy.api#length": {
          "max": 1000,
          "min": 0
        },
        "smithy.api#pattern": "^[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u00A1-\\u00FF]*$"
      },
      "type": "string"
    },
    "com.amazonaws.iam#roleMaxSessionDurationType": {
      "traits": {
        "smithy.api#range": {
          "max": 43200,
          "min": 3600
        }
      },
      "type": "integer"
    },
    "com.amazonaws.iam#roleNameType": {
      "traits": {
        "smithy.api#length": {
          "max": 64,
          "min": 1
        },
        "smithy.api#pattern": "^[\\w+=,.@-]+$"
      },
      "type": "string"
    },
    "com.amazonaws.iam#serviceFailureExceptionMessage": {
      "type": "string"
    },
    "com.amazonaws.iam#stringType": {
      "type": "string"
    },
    "com.amazonaws.iam#tagKeyType": {
      "traits": {
        "smithy.api#length": {
          "max": 128,
          "min": 1
        },
        "smithy.api#pattern": "^[\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]+$"
      },
      "type": "string"
    },
    "com.amazonaws.iam#tagListType": {
      "member": {
        "target": "com.amazonaws.iam#Tag"
      },
      "traits": {
        "smithy.api#length": {
          "max": 50,
          "min": 0
        }
      },
      "type": "list"
    },
    "com.amazonaws.iam#tagValueType": {
      "traits": {
        "smithy.api#length": {
          "max": 256,
          "min": 0
        },
        "smithy.api#pattern": "^[\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*$"
      },
      "type": "string"
    }
  },
  "smithy": "2.0"
}
