{
  "shapes": {
    "com.amazonaws.iottwinmaker#AWSIoTTwinMaker": {
      "operations": [
        {
          "target": "com.amazonaws.iottwinmaker#GetWorkspace"
        }
      ],
      "traits": {
        "aws.api#service": {
          "endpointPrefix": "iottwinmaker",
          "sdkId": "IoTTwinMaker"
        },
        "aws.auth#sigv4": {
          "name": "iottwinmaker"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#title": "AWS IoT TwinMaker",
        "smithy.rules#endpointRuleSet": {
          "parameters": {
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "documentation": "Override the endpoint used to send this request",
              "required": false,
              "type": "string"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "documentation": "The AWS region used to dispatch the request.",
              "required": false,
              "type": "string"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "required": true,
              "type": "boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "required": true,
              "type": "boolean"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ],
                  "fn": "isSet"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "headers": {},
                    "properties": {},
                    "url": {
                      "ref": "Endpoint"
                    }
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "fn": "isSet"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult",
                      "fn": "aws.partition"
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        },
                        {
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://iottwinmaker-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ],
                                  "fn": "getAttr"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://iottwinmaker-fips.{Region}.{PartitionResult#dnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://iottwinmaker.{Region}.{PartitionResult#dualStackDnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "headers": {},
                        "properties": {},
                        "url": "https://iottwinmaker.{Region}.{PartitionResult#dnsSuffix}"
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ],
          "version": "1.0"
        }
      },
      "type": "service",
      "version": "2021-11-29"
    },
    "com.amazonaws.iottwinmaker#Description": {
      "traits": {
        "smithy.api#length": {
          "max": 2048,
          "min": 0
        },
        "smithy.api#pattern": ".*"
      },
      "type": "string"
    },
    "com.amazonaws.iottwinmaker#ErrorMessage": {
      "traits": {
        "smithy.api#length": {
          "max": 2048,
          "min": 0
        }
      },
      "type": "string"
    },
    "com.amazonaws.iottwinmaker#GetWorkspace": {
      "errors": [
        {
          "target": "com.amazonaws.iottwinmaker#InternalServerException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ValidationException"
        }
      ],
      "input": {
        "target": "com.amazonaws.iottwinmaker#GetWorkspaceRequest"
      },
      "output": {
        "target": "com.amazonaws.iottwinmaker#GetWorkspaceResponse"
      },
      "traits": {
        "smithy.api#endpoint": {
          "hostPrefix": "api."
        },
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/workspaces/{workspaceId}"
        }
      },
      "type": "operation"
    },
    "com.amazonaws.iottwinmaker#GetWorkspaceRequest": {
      "members": {
        "workspaceId": {
          "target": "com.amazonaws.iottwinmaker#IdOrArn",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "type": "structure"
    },
    "com.amazonaws.iottwinmaker#GetWorkspaceResponse": {
      "members": {
        "arn": {
          "target": "com.amazonaws.iottwinmaker#TwinMakerArn",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "creationDateTime": {
          "target": "com.amazonaws.iottwinmaker#Timestamp",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.iottwinmaker#Description",
          "traits": {}
        },
        "linkedServices": {
          "target": "com.amazonaws.iottwinmaker#LinkedServices",
          "traits": {}
        },
        "role": {
          "target": "com.amazonaws.iottwinmaker#RoleArn",
          "traits": {}
        },
        "s3Location": {
          "target": "com.amazonaws.iottwinmaker#S3Location",
          "traits": {}
        },
        "updateDateTime": {
          "target": "com.amazonaws.iottwinmaker#Timestamp",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "workspaceId": {
          "target": "com.amazonaws.iottwinmaker#Id",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "type": "structure"
    },
    "com.amazonaws.iottwinmaker#Id": {
      "traits": {
        "smithy.api#length": {
          "max": 128,
          "min": 1
        },
        "smithy.api#pattern": "^[a-zA-Z_0-9][a-zA-Z_\\-0-9]*[a-zA-Z0-9]+$"
      },
      "type": "string"
    },
    "com.amazonaws.iottwinmaker#IdOrArn": {
      "traits": {
        "smithy.api#length": {
          "max": 2048,
          "min": 1
        },
        "smithy.api#pattern": "^[a-zA-Z_0-9][a-zA-Z_\\-0-9]*[a-zA-Z0-9]+$|^arn:((aws)|(aws-cn)|(aws-us-gov)):iottwinmaker:[a-z0-9-]+:[0-9]{12}:[\\/a-zA-Z0-9_-]+$"
      },
      "type": "string"
    },
    "com.amazonaws.iottwinmaker#InternalServerException": {
      "members": {
        "message": {
          "target": "com.amazonaws.iottwinmaker#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      },
      "type": "structure"
    },
    "com.amazonaws.iottwinmaker#LinkedService": {
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z_0-9]+$"
      },
      "type": "string"
    },
    "com.amazonaws.iottwinmaker#LinkedServices": {
      "member": {
        "target": "com.amazonaws.iottwinmaker#LinkedService"
      },
      "traits": {
        "smithy.api#uniqueItems": {}
      },
      "type": "list"
    },
    "com.amazonaws.iottwinmaker#ResourceNotFoundException": {
      "members": {
        "message": {
          "target": "com.amazonaws.iottwinmaker#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.iottwinmaker#RoleArn": {
      "traits": {
        "smithy.api#length": {
          "max": 2048,
          "min": 20
        },
        "smithy.api#pattern": "^arn:((aws)|(aws-cn)|(aws-us-gov)):iam::[0-9]{12}:role/"
      },
      "type": "string"
    },
    "com.amazonaws.iottwinmaker#S3Location": {
      "traits": {
        "smithy.api#length": {
          "max": 1024,
          "min": 0
        },
        "smithy.api#pattern": "(^arn:((aws)|(aws-cn)|(aws-us-gov)):s3:::)([a-zA-Z0-9_-]+$)"
      },
      "type": "string"
    },
    "com.amazonaws.iottwinmaker#ServiceQuotaExceededException": {
      "members": {
        "message": {
          "target": "com.amazonaws.iottwinmaker#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 402
      },
      "type": "structure"
    },
    "com.amazonaws.iottwinmaker#ThrottlingException": {
      "members": {
        "message": {
          "target": "com.amazonaws.iottwinmaker#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      },
      "type": "structure"
    },
    "com.amazonaws.iottwinmaker#Timestamp": {
      "traits": {},
      "type": "timestamp"
    },
    "com.amazonaws.iottwinmaker#TwinMakerArn": {
      "traits": {
        "smithy.api#length": {
          "max": 2048,
          "min": 20
        },
        "smithy.api#pattern": "^arn:((aws)|(aws-cn)|(aws-us-gov)):iottwinmaker:[a-z0-9-]+:[0-9]{12}:[\\/a-zA-Z0-9_\\-\\.:]+$"
      },
      "type": "string"
    },
    "com.amazonaws.iottwinmaker#ValidationException": {
      "members": {
        "message": {
          "target": "com.amazonaws.iottwinmaker#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    }
  },
  "smithy": "2.0"
}
