{
  "shapes": {
    "com.amazonaws.kendraranking#AWSKendraRerankingFrontendService": {
      "operations": [
        {
          "target": "com.amazonaws.kendraranking#DescribeRescoreExecutionPlan"
        }
      ],
      "traits": {
        "aws.api#service": {
          "arnNamespace": "kendra-ranking",
          "cloudFormationName": "KendraRanking",
          "cloudTrailEventSource": "kendraranking.amazonaws.com",
          "endpointPrefix": "kendra-ranking",
          "sdkId": "Kendra Ranking"
        },
        "aws.auth#sigv4": {
          "name": "kendra-ranking"
        },
        "aws.protocols#awsJson1_0": {},
        "smithy.api#title": "Amazon Kendra Intelligent Ranking",
        "smithy.protocols#rpcv2Cbor": {},
        "smithy.rules#endpointRuleSet": {
          "parameters": {
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "documentation": "Override the endpoint used to send this request",
              "required": false,
              "type": "string"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "documentation": "The AWS region used to dispatch the request.",
              "required": false,
              "type": "string"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "required": true,
              "type": "boolean"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ],
                  "fn": "isSet"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "headers": {},
                    "properties": {},
                    "url": {
                      "ref": "Endpoint"
                    }
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "fn": "isSet"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult",
                      "fn": "aws.partition"
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "argv": [
                            true,
                            {
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ],
                              "fn": "getAttr"
                            }
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "argv": [
                                    {
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ],
                                      "fn": "getAttr"
                                    },
                                    true
                                  ],
                                  "fn": "booleanEquals"
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "endpoint": {
                                    "headers": {},
                                    "properties": {},
                                    "url": "https://kendra-ranking-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                  },
                                  "type": "endpoint"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS is enabled but this partition does not support FIPS",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "headers": {},
                            "properties": {},
                            "url": "https://kendra-ranking.{Region}.{PartitionResult#dualStackDnsSuffix}"
                          },
                          "type": "endpoint"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ],
                                  "fn": "getAttr"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://kendra-ranking-fips.{Region}.{PartitionResult#dnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "headers": {},
                        "properties": {},
                        "url": "https://kendra-ranking.{Region}.{PartitionResult#dnsSuffix}"
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ],
          "version": "1.0"
        }
      },
      "type": "service",
      "version": "2022-10-19"
    },
    "com.amazonaws.kendraranking#AccessDeniedException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.kendraranking#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      },
      "type": "structure"
    },
    "com.amazonaws.kendraranking#CapacityUnitsConfiguration": {
      "members": {
        "RescoreCapacityUnits": {
          "target": "com.amazonaws.kendraranking#RescoreCapacityUnit",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.kendraranking#DescribeRescoreExecutionPlan": {
      "errors": [
        {
          "target": "com.amazonaws.kendraranking#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendraranking#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendraranking#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kendraranking#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendraranking#ValidationException"
        }
      ],
      "input": {
        "target": "com.amazonaws.kendraranking#DescribeRescoreExecutionPlanRequest"
      },
      "output": {
        "target": "com.amazonaws.kendraranking#DescribeRescoreExecutionPlanResponse"
      },
      "traits": {
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/rescore-execution-plans/{Id}"
        }
      },
      "type": "operation"
    },
    "com.amazonaws.kendraranking#DescribeRescoreExecutionPlanRequest": {
      "members": {
        "Id": {
          "target": "com.amazonaws.kendraranking#RescoreExecutionPlanId",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.kendraranking#DescribeRescoreExecutionPlanResponse": {
      "members": {
        "Arn": {
          "target": "com.amazonaws.kendraranking#RescoreExecutionPlanArn",
          "traits": {}
        },
        "CapacityUnits": {
          "target": "com.amazonaws.kendraranking#CapacityUnitsConfiguration",
          "traits": {}
        },
        "CreatedAt": {
          "target": "com.amazonaws.kendraranking#Timestamp",
          "traits": {}
        },
        "Description": {
          "target": "com.amazonaws.kendraranking#Description",
          "traits": {}
        },
        "ErrorMessage": {
          "target": "com.amazonaws.kendraranking#ErrorMessage",
          "traits": {}
        },
        "Id": {
          "target": "com.amazonaws.kendraranking#RescoreExecutionPlanId",
          "traits": {}
        },
        "Name": {
          "target": "com.amazonaws.kendraranking#RescoreExecutionPlanName",
          "traits": {}
        },
        "Status": {
          "target": "com.amazonaws.kendraranking#RescoreExecutionPlanStatus",
          "traits": {}
        },
        "UpdatedAt": {
          "target": "com.amazonaws.kendraranking#Timestamp",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.kendraranking#Description": {
      "traits": {
        "smithy.api#length": {
          "max": 1000,
          "min": 0
        },
        "smithy.api#pattern": "^\\P{C}*$"
      },
      "type": "string"
    },
    "com.amazonaws.kendraranking#ErrorMessage": {
      "traits": {
        "smithy.api#length": {
          "max": 2048,
          "min": 1
        },
        "smithy.api#pattern": "^\\P{C}*$"
      },
      "type": "string"
    },
    "com.amazonaws.kendraranking#InternalServerException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.kendraranking#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      },
      "type": "structure"
    },
    "com.amazonaws.kendraranking#RescoreCapacityUnit": {
      "traits": {
        "smithy.api#range": {
          "min": 0
        }
      },
      "type": "integer"
    },
    "com.amazonaws.kendraranking#RescoreExecutionPlanArn": {
      "traits": {
        "smithy.api#length": {
          "max": 1284,
          "min": 0
        },
        "smithy.api#pattern": "^arn:[a-z0-9-\\.]{1,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[^/].{0,1023}$"
      },
      "type": "string"
    },
    "com.amazonaws.kendraranking#RescoreExecutionPlanId": {
      "traits": {
        "smithy.api#length": {
          "max": 36,
          "min": 36
        },
        "smithy.api#pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]*$"
      },
      "type": "string"
    },
    "com.amazonaws.kendraranking#RescoreExecutionPlanName": {
      "traits": {
        "smithy.api#length": {
          "max": 1000,
          "min": 1
        },
        "smithy.api#pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
      },
      "type": "string"
    },
    "com.amazonaws.kendraranking#RescoreExecutionPlanStatus": {
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.kendraranking#ResourceNotFoundException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.kendraranking#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.kendraranking#ThrottlingException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.kendraranking#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      },
      "type": "structure"
    },
    "com.amazonaws.kendraranking#Timestamp": {
      "type": "timestamp"
    },
    "com.amazonaws.kendraranking#ValidationException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.kendraranking#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    }
  },
  "smithy": "2.0"
}
