{
  "shapes": {
    "com.amazonaws.lakeformation#AWSLakeFormation": {
      "operations": [
        {
          "target": "com.amazonaws.lakeformation#GetLFTag"
        }
      ],
      "traits": {
        "aws.api#service": {
          "arnNamespace": "lakeformation",
          "cloudFormationName": "LakeFormation",
          "cloudTrailEventSource": "lakeformation.amazonaws.com",
          "endpointPrefix": "lakeformation",
          "sdkId": "LakeFormation"
        },
        "aws.auth#sigv4": {
          "name": "lakeformation"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#title": "AWS Lake Formation",
        "smithy.rules#endpointRuleSet": {
          "parameters": {
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "documentation": "Override the endpoint used to send this request",
              "required": false,
              "type": "string"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "documentation": "The AWS region used to dispatch the request.",
              "required": false,
              "type": "string"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "required": true,
              "type": "boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "required": true,
              "type": "boolean"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ],
                  "fn": "isSet"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "headers": {},
                    "properties": {},
                    "url": {
                      "ref": "Endpoint"
                    }
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "fn": "isSet"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult",
                      "fn": "aws.partition"
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        },
                        {
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://lakeformation-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ],
                                  "fn": "getAttr"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://lakeformation-fips.{Region}.{PartitionResult#dnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://lakeformation.{Region}.{PartitionResult#dualStackDnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "headers": {},
                        "properties": {},
                        "url": "https://lakeformation.{Region}.{PartitionResult#dnsSuffix}"
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ],
          "version": "1.0"
        }
      },
      "type": "service",
      "version": "2017-03-31"
    },
    "com.amazonaws.lakeformation#AccessDeniedException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.lakeformation#MessageString",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      },
      "type": "structure"
    },
    "com.amazonaws.lakeformation#CatalogIdString": {
      "traits": {
        "smithy.api#length": {
          "max": 255,
          "min": 1
        },
        "smithy.api#pattern": "^[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*$"
      },
      "type": "string"
    },
    "com.amazonaws.lakeformation#EntityNotFoundException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.lakeformation#MessageString",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.lakeformation#GetLFTag": {
      "errors": [
        {
          "target": "com.amazonaws.lakeformation#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lakeformation#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.lakeformation#InternalServiceException"
        },
        {
          "target": "com.amazonaws.lakeformation#InvalidInputException"
        },
        {
          "target": "com.amazonaws.lakeformation#OperationTimeoutException"
        }
      ],
      "input": {
        "target": "com.amazonaws.lakeformation#GetLFTagRequest"
      },
      "output": {
        "target": "com.amazonaws.lakeformation#GetLFTagResponse"
      },
      "traits": {
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/GetLFTag"
        }
      },
      "type": "operation"
    },
    "com.amazonaws.lakeformation#GetLFTagRequest": {
      "members": {
        "CatalogId": {
          "target": "com.amazonaws.lakeformation#CatalogIdString",
          "traits": {}
        },
        "TagKey": {
          "target": "com.amazonaws.lakeformation#LFTagKey",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.lakeformation#GetLFTagResponse": {
      "members": {
        "CatalogId": {
          "target": "com.amazonaws.lakeformation#CatalogIdString",
          "traits": {}
        },
        "TagKey": {
          "target": "com.amazonaws.lakeformation#LFTagKey",
          "traits": {}
        },
        "TagValues": {
          "target": "com.amazonaws.lakeformation#TagValueList",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.lakeformation#InternalServiceException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.lakeformation#MessageString",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      },
      "type": "structure"
    },
    "com.amazonaws.lakeformation#InvalidInputException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.lakeformation#MessageString",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.lakeformation#LFTagKey": {
      "traits": {
        "smithy.api#length": {
          "max": 128,
          "min": 1
        },
        "smithy.api#pattern": "^([\\p{L}\\p{Z}\\p{N}_.:\\/=+\\-@%]*)$"
      },
      "type": "string"
    },
    "com.amazonaws.lakeformation#LFTagValue": {
      "traits": {
        "smithy.api#length": {
          "max": 256,
          "min": 0
        },
        "smithy.api#pattern": "^([\\p{L}\\p{Z}\\p{N}_.:\\*\\/=+\\-@%]*)$"
      },
      "type": "string"
    },
    "com.amazonaws.lakeformation#MessageString": {
      "type": "string"
    },
    "com.amazonaws.lakeformation#OperationTimeoutException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.lakeformation#MessageString",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.lakeformation#TagValueList": {
      "member": {
        "target": "com.amazonaws.lakeformation#LFTagValue"
      },
      "traits": {
        "smithy.api#length": {
          "max": 50,
          "min": 1
        }
      },
      "type": "list"
    }
  },
  "smithy": "2.0"
}
