{
  "shapes": {
    "com.amazonaws.lambda#AWSGirApiService": {
      "operations": [
        {
          "target": "com.amazonaws.lambda#AddPermission"
        },
        {
          "target": "com.amazonaws.lambda#CreateFunction"
        },
        {
          "target": "com.amazonaws.lambda#CreateFunctionUrlConfig"
        },
        {
          "target": "com.amazonaws.lambda#DeleteFunction"
        },
        {
          "target": "com.amazonaws.lambda#DeleteFunctionUrlConfig"
        },
        {
          "target": "com.amazonaws.lambda#GetCodeSigningConfig"
        },
        {
          "target": "com.amazonaws.lambda#GetFunction"
        },
        {
          "target": "com.amazonaws.lambda#GetFunctionCodeSigningConfig"
        },
        {
          "target": "com.amazonaws.lambda#GetFunctionRecursionConfig"
        },
        {
          "target": "com.amazonaws.lambda#GetFunctionScalingConfig"
        },
        {
          "target": "com.amazonaws.lambda#GetFunctionUrlConfig"
        },
        {
          "target": "com.amazonaws.lambda#GetPolicy"
        },
        {
          "target": "com.amazonaws.lambda#GetRuntimeManagementConfig"
        },
        {
          "target": "com.amazonaws.lambda#PutFunctionCodeSigningConfig"
        },
        {
          "target": "com.amazonaws.lambda#PutFunctionConcurrency"
        },
        {
          "target": "com.amazonaws.lambda#PutFunctionRecursionConfig"
        },
        {
          "target": "com.amazonaws.lambda#PutRuntimeManagementConfig"
        },
        {
          "target": "com.amazonaws.lambda#RemovePermission"
        },
        {
          "target": "com.amazonaws.lambda#TagResource"
        },
        {
          "target": "com.amazonaws.lambda#UntagResource"
        },
        {
          "target": "com.amazonaws.lambda#UpdateFunctionCode"
        },
        {
          "target": "com.amazonaws.lambda#UpdateFunctionConfiguration"
        },
        {
          "target": "com.amazonaws.lambda#UpdateFunctionUrlConfig"
        }
      ],
      "traits": {
        "aws.api#service": {
          "arnNamespace": "lambda",
          "cloudFormationName": "Lambda",
          "cloudTrailEventSource": "lambda.amazonaws.com",
          "endpointPrefix": "lambda",
          "sdkId": "Lambda"
        },
        "aws.api#tagEnabled": {
          "disableDefaultOperations": true
        },
        "aws.auth#sigv4": {
          "name": "lambda"
        },
        "aws.iam#disableConditionKeyInference": {},
        "aws.iam#supportedPrincipalTypes": [
          "Root",
          "IAMUser",
          "IAMRole",
          "FederatedUser"
        ],
        "aws.protocols#restJson1": {},
        "smithy.api#paginated": {
          "inputToken": "Marker",
          "outputToken": "NextMarker",
          "pageSize": "MaxItems"
        },
        "smithy.api#suppress": [
          "ServiceTagging"
        ],
        "smithy.api#tags": [
          "feature:public"
        ],
        "smithy.api#title": "AWS Lambda",
        "smithy.rules#endpointRuleSet": {
          "parameters": {
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "documentation": "Override the endpoint used to send this request",
              "required": false,
              "type": "string"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "documentation": "The AWS region used to dispatch the request.",
              "required": false,
              "type": "string"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "required": true,
              "type": "boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "required": true,
              "type": "boolean"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ],
                  "fn": "isSet"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "headers": {},
                    "properties": {},
                    "url": {
                      "ref": "Endpoint"
                    }
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "fn": "isSet"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult",
                      "fn": "aws.partition"
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        },
                        {
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://lambda-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ],
                                  "fn": "getAttr"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://lambda-fips.{Region}.{PartitionResult#dnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://lambda.{Region}.{PartitionResult#dualStackDnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "headers": {},
                        "properties": {},
                        "url": "https://lambda.{Region}.{PartitionResult#dnsSuffix}"
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ],
          "version": "1.0"
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.af-south-1.api.aws"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.ap-east-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.ap-northeast-3.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.ap-south-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.ap-southeast-3.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.ca-central-1.api.aws"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.eu-north-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.eu-south-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.eu-west-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.eu-west-3.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.me-south-1.api.aws"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.sa-east-1.api.aws"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.us-east-2.api.aws"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.us-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda-fips.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-iso-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.us-iso-west-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Endpoint": "https://example.com",
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Endpoint": "https://example.com",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Endpoint": "https://example.com",
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Endpoint": "https://example.com",
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      },
      "type": "service",
      "version": "2015-03-31"
    },
    "com.amazonaws.lambda#Action": {
      "traits": {
        "smithy.api#length": {
          "max": 10000,
          "min": 0
        },
        "smithy.api#pattern": "^(lambda:[*]|lambda:[a-zA-Z]+|[*])$",
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "string"
    },
    "com.amazonaws.lambda#AddPermission": {
      "errors": [
        {
          "target": "com.amazonaws.lambda#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.lambda#PolicyLengthExceededException"
        },
        {
          "target": "com.amazonaws.lambda#PreconditionFailedException"
        },
        {
          "target": "com.amazonaws.lambda#PublicPolicyException"
        },
        {
          "target": "com.amazonaws.lambda#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.lambda#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lambda#ServiceException"
        },
        {
          "target": "com.amazonaws.lambda#TooManyRequestsException"
        }
      ],
      "input": {
        "target": "com.amazonaws.lambda#AddPermissionRequest"
      },
      "output": {
        "target": "com.amazonaws.lambda#AddPermissionResponse"
      },
      "traits": {
        "aws.iam#conditionKeys": [
          "lambda:FunctionUrlAuthType",
          "lambda:Principal"
        ],
        "aws.iam#iamAction": {
          "documentation": "Grants permission to give an AWS service or another account permission to use an AWS Lambda function",
          "relativeDocumentation": "API_AddPermission.html",
          "resources": {
            "required": {
              "function": {}
            }
          }
        },
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/2015-03-31/functions/{FunctionName}/policy"
        },
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "operation"
    },
    "com.amazonaws.lambda#AddPermissionRequest": {
      "members": {
        "Action": {
          "target": "com.amazonaws.lambda#Action",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "EventSourceToken": {
          "target": "com.amazonaws.lambda#EventSourceToken",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "FunctionName": {
          "target": "com.amazonaws.lambda#NamespacedFunctionName",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "FunctionUrlAuthType": {
          "target": "com.amazonaws.lambda#FunctionUrlAuthType",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "InvokedViaFunctionUrl": {
          "target": "com.amazonaws.lambda#InvokedViaFunctionUrl",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "Principal": {
          "target": "com.amazonaws.lambda#Principal",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "PrincipalOrgID": {
          "target": "com.amazonaws.lambda#PrincipalOrgID",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "Qualifier": {
          "target": "com.amazonaws.lambda#NumericLatestPublishedOrAliasQualifier",
          "traits": {
            "smithy.api#httpQuery": "Qualifier",
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "RevisionId": {
          "target": "com.amazonaws.lambda#String",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "SourceAccount": {
          "target": "com.amazonaws.lambda#SourceOwner",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "SourceArn": {
          "target": "com.amazonaws.lambda#Arn",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "StatementId": {
          "target": "com.amazonaws.lambda#StatementId",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        }
      },
      "traits": {
        "aws.api#data": "permissions",
        "smithy.api#input": {},
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "structure"
    },
    "com.amazonaws.lambda#AddPermissionResponse": {
      "members": {
        "Statement": {
          "target": "com.amazonaws.lambda#String",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "structure"
    },
    "com.amazonaws.lambda#AllowCredentials": {
      "traits": {
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "boolean"
    },
    "com.amazonaws.lambda#AllowMethodsList": {
      "member": {
        "target": "com.amazonaws.lambda#Method",
        "traits": {
          "smithy.api#tags": [
            "feature:public"
          ]
        }
      },
      "traits": {
        "smithy.api#length": {
          "max": 6,
          "min": 0
        },
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "list"
    },
    "com.amazonaws.lambda#AllowOriginsList": {
      "member": {
        "target": "com.amazonaws.lambda#Origin",
        "traits": {
          "smithy.api#tags": [
            "feature:public"
          ]
        }
      },
      "traits": {
        "smithy.api#length": {
          "max": 100,
          "min": 0
        },
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "list"
    },
    "com.amazonaws.lambda#AllowedPublishers": {
      "members": {
        "SigningProfileVersionArns": {
          "target": "com.amazonaws.lambda#SigningProfileVersionArns",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        }
      },
      "traits": {
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "structure"
    },
    "com.amazonaws.lambda#ApplicationLogLevel": {
      "members": {
        "Debug": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEBUG",
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "Error": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR",
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "Fatal": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FATAL",
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "Info": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFO",
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "Trace": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRACE",
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "Warn": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARN",
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        }
      },
      "traits": {
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "enum"
    },
    "com.amazonaws.lambda#Architecture": {
      "members": {
        "arm64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "arm64",
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "x86_64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "x86_64",
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        }
      },
      "traits": {
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "enum"
    },
    "com.amazonaws.lambda#ArchitecturesList": {
      "member": {
        "target": "com.amazonaws.lambda#Architecture",
        "traits": {
          "smithy.api#tags": [
            "feature:public"
          ]
        }
      },
      "traits": {
        "smithy.api#length": {
          "max": 1,
          "min": 1
        },
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "list"
    },
    "com.amazonaws.lambda#Arn": {
      "traits": {
        "smithy.api#length": {
          "max": 10000,
          "min": 0
        },
        "smithy.api#pattern": "^arn:(aws[a-zA-Z0-9-]*):([a-zA-Z0-9\\-])+:((eusc-)?[a-z]{2}((-gov)|(-iso([a-z]?)))?-[a-z]+-\\d{1})?:(\\d{12})?:(.*)$",
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "string"
    },
    "com.amazonaws.lambda#Blob": {
      "traits": {
        "smithy.api#sensitive": {},
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "blob"
    },
    "com.amazonaws.lambda#Boolean": {
      "traits": {
        "smithy.api#default": false,
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "boolean"
    },
    "com.amazonaws.lambda#CapacityProviderArn": {
      "traits": {
        "smithy.api#length": {
          "max": 140,
          "min": 1
        },
        "smithy.api#pattern": "^arn:aws[a-zA-Z-]*:lambda:(eusc-)?[a-z]{2}((-gov)|(-iso([a-z]?)))?-[a-z]+-\\d{1}:\\d{12}:capacity-provider:[a-zA-Z0-9-_]+$",
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "string"
    },
    "com.amazonaws.lambda#CapacityProviderConfig": {
      "members": {
        "LambdaManagedInstancesCapacityProviderConfig": {
          "target": "com.amazonaws.lambda#LambdaManagedInstancesCapacityProviderConfig",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        }
      },
      "traits": {
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "structure"
    },
    "com.amazonaws.lambda#CodeSigningConfig": {
      "members": {
        "AllowedPublishers": {
          "target": "com.amazonaws.lambda#AllowedPublishers",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "CodeSigningConfigArn": {
          "target": "com.amazonaws.lambda#CodeSigningConfigArn",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "CodeSigningConfigId": {
          "target": "com.amazonaws.lambda#CodeSigningConfigId",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "CodeSigningPolicies": {
          "target": "com.amazonaws.lambda#CodeSigningPolicies",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "Description": {
          "target": "com.amazonaws.lambda#Description",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "LastModified": {
          "target": "com.amazonaws.lambda#Timestamp",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        }
      },
      "traits": {
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "structure"
    },
    "com.amazonaws.lambda#CodeSigningConfigArn": {
      "traits": {
        "smithy.api#length": {
          "max": 200,
          "min": 0
        },
        "smithy.api#pattern": "^arn:(aws[a-zA-Z-]*)?:lambda:(eusc-)?[a-z]{2}((-gov)|(-iso([a-z]?)))?-[a-z]+-\\d{1}:\\d{12}:code-signing-config:csc-[a-z0-9]{17}$",
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "string"
    },
    "com.amazonaws.lambda#CodeSigningConfigId": {
      "traits": {
        "smithy.api#pattern": "^csc-[a-zA-Z0-9-_\\.]{17}$",
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "string"
    },
    "com.amazonaws.lambda#CodeSigningConfigNotFoundException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.lambda#String",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "Type": {
          "target": "com.amazonaws.lambda#String",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "structure"
    },
    "com.amazonaws.lambda#CodeSigningPolicies": {
      "members": {
        "UntrustedArtifactOnDeployment": {
          "target": "com.amazonaws.lambda#CodeSigningPolicy",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        }
      },
      "traits": {
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "structure"
    },
    "com.amazonaws.lambda#CodeSigningPolicy": {
      "members": {
        "Enforce": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enforce",
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "Warn": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Warn",
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        }
      },
      "traits": {
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "enum"
    },
    "com.amazonaws.lambda#CodeStorageExceededException": {
      "members": {
        "Type": {
          "target": "com.amazonaws.lambda#String",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "message": {
          "target": "com.amazonaws.lambda#String",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "structure"
    },
    "com.amazonaws.lambda#CodeVerificationFailedException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.lambda#String",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "Type": {
          "target": "com.amazonaws.lambda#String",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "structure"
    },
    "com.amazonaws.lambda#Concurrency": {
      "members": {
        "ReservedConcurrentExecutions": {
          "target": "com.amazonaws.lambda#ReservedConcurrentExecutions",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        }
      },
      "traits": {
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "structure"
    },
    "com.amazonaws.lambda#Cors": {
      "members": {
        "AllowCredentials": {
          "target": "com.amazonaws.lambda#AllowCredentials",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "AllowHeaders": {
          "target": "com.amazonaws.lambda#HeadersList",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "AllowMethods": {
          "target": "com.amazonaws.lambda#AllowMethodsList",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "AllowOrigins": {
          "target": "com.amazonaws.lambda#AllowOriginsList",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "ExposeHeaders": {
          "target": "com.amazonaws.lambda#HeadersList",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "MaxAge": {
          "target": "com.amazonaws.lambda#MaxAge",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        }
      },
      "traits": {
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "structure"
    },
    "com.amazonaws.lambda#CreateFunction": {
      "errors": [
        {
          "target": "com.amazonaws.lambda#CodeSigningConfigNotFoundException"
        },
        {
          "target": "com.amazonaws.lambda#CodeStorageExceededException"
        },
        {
          "target": "com.amazonaws.lambda#CodeVerificationFailedException"
        },
        {
          "target": "com.amazonaws.lambda#FunctionVersionsPerCapacityProviderLimitExceededException"
        },
        {
          "target": "com.amazonaws.lambda#InvalidCodeSignatureException"
        },
        {
          "target": "com.amazonaws.lambda#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.lambda#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.lambda#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lambda#ServiceException"
        },
        {
          "target": "com.amazonaws.lambda#TooManyRequestsException"
        }
      ],
      "input": {
        "target": "com.amazonaws.lambda#CreateFunctionRequest"
      },
      "output": {
        "target": "com.amazonaws.lambda#FunctionConfiguration"
      },
      "traits": {
        "aws.iam#conditionKeys": [
          "lambda:VpcIds",
          "lambda:SubnetIds",
          "lambda:CodeSigningConfigArn",
          "lambda:Layer",
          "aws:RequestTag/${TagKey}",
          "aws:TagKeys",
          "lambda:SecurityGroupIds"
        ],
        "aws.iam#iamAction": {
          "createsResources": [
            "function"
          ],
          "documentation": "Grants permission to create an AWS Lambda function",
          "relativeDocumentation": "API_CreateFunction.html",
          "requiredActions": [
            "iam:PassRole",
            "lambda:PassCapacityProvider"
          ],
          "resources": {
            "required": {
              "function": {}
            }
          }
        },
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/2015-03-31/functions"
        },
        "smithy.api#idempotent": {},
        "smithy.api#suppress": [
          "TaggableResource"
        ],
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "operation"
    },
    "com.amazonaws.lambda#CreateFunctionRequest": {
      "members": {
        "Architectures": {
          "target": "com.amazonaws.lambda#ArchitecturesList",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "CapacityProviderConfig": {
          "target": "com.amazonaws.lambda#CapacityProviderConfig",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "Code": {
          "target": "com.amazonaws.lambda#FunctionCode",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "CodeSigningConfigArn": {
          "target": "com.amazonaws.lambda#CodeSigningConfigArn",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "DeadLetterConfig": {
          "target": "com.amazonaws.lambda#DeadLetterConfig",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "Description": {
          "target": "com.amazonaws.lambda#Description",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "DurableConfig": {
          "target": "com.amazonaws.lambda#DurableConfig",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "Environment": {
          "target": "com.amazonaws.lambda#Environment",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "EphemeralStorage": {
          "target": "com.amazonaws.lambda#EphemeralStorage",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "FileSystemConfigs": {
          "target": "com.amazonaws.lambda#FileSystemConfigList",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "FunctionName": {
          "target": "com.amazonaws.lambda#FunctionName",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "Handler": {
          "target": "com.amazonaws.lambda#Handler",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "ImageConfig": {
          "target": "com.amazonaws.lambda#ImageConfig",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "KMSKeyArn": {
          "target": "com.amazonaws.lambda#KMSKeyArn",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "Layers": {
          "target": "com.amazonaws.lambda#LayerList",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "LoggingConfig": {
          "target": "com.amazonaws.lambda#LoggingConfig",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "MemorySize": {
          "target": "com.amazonaws.lambda#MemorySize",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "PackageType": {
          "target": "com.amazonaws.lambda#PackageType",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "Publish": {
          "target": "com.amazonaws.lambda#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "PublishTo": {
          "target": "com.amazonaws.lambda#FunctionVersionLatestPublished",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "Role": {
          "target": "com.amazonaws.lambda#RoleArn",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "Runtime": {
          "target": "com.amazonaws.lambda#Runtime",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "SnapStart": {
          "target": "com.amazonaws.lambda#SnapStart",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "Tags": {
          "target": "com.amazonaws.lambda#Tags",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "TenancyConfig": {
          "target": "com.amazonaws.lambda#TenancyConfig",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "Timeout": {
          "target": "com.amazonaws.lambda#Timeout",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "TracingConfig": {
          "target": "com.amazonaws.lambda#TracingConfig",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "VpcConfig": {
          "target": "com.amazonaws.lambda#VpcConfig",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "structure"
    },
    "com.amazonaws.lambda#CreateFunctionUrlConfig": {
      "errors": [
        {
          "target": "com.amazonaws.lambda#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.lambda#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.lambda#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lambda#ServiceException"
        },
        {
          "target": "com.amazonaws.lambda#TooManyRequestsException"
        }
      ],
      "input": {
        "target": "com.amazonaws.lambda#CreateFunctionUrlConfigRequest"
      },
      "output": {
        "target": "com.amazonaws.lambda#CreateFunctionUrlConfigResponse"
      },
      "traits": {
        "aws.iam#conditionKeys": [
          "lambda:FunctionArn",
          "lambda:FunctionUrlAuthType"
        ],
        "aws.iam#iamAction": {
          "documentation": "Grants permission to create a function url configuration for a Lambda function",
          "relativeDocumentation": "API_CreateFunctionUrlConfig.html",
          "resources": {
            "required": {
              "function": {}
            }
          }
        },
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/2021-10-31/functions/{FunctionName}/url"
        },
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "operation"
    },
    "com.amazonaws.lambda#CreateFunctionUrlConfigRequest": {
      "members": {
        "AuthType": {
          "target": "com.amazonaws.lambda#FunctionUrlAuthType",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "Cors": {
          "target": "com.amazonaws.lambda#Cors",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "FunctionName": {
          "target": "com.amazonaws.lambda#FunctionUrlFunctionName",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "InvokeMode": {
          "target": "com.amazonaws.lambda#InvokeMode",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "Qualifier": {
          "target": "com.amazonaws.lambda#FunctionUrlQualifier",
          "traits": {
            "smithy.api#httpQuery": "Qualifier",
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "structure"
    },
    "com.amazonaws.lambda#CreateFunctionUrlConfigResponse": {
      "members": {
        "AuthType": {
          "target": "com.amazonaws.lambda#FunctionUrlAuthType",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "Cors": {
          "target": "com.amazonaws.lambda#Cors",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.lambda#Timestamp",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "FunctionArn": {
          "target": "com.amazonaws.lambda#FunctionArn",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "FunctionUrl": {
          "target": "com.amazonaws.lambda#FunctionUrl",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "InvokeMode": {
          "target": "com.amazonaws.lambda#InvokeMode",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "structure"
    },
    "com.amazonaws.lambda#DeadLetterConfig": {
      "members": {
        "TargetArn": {
          "target": "com.amazonaws.lambda#ResourceArn",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        }
      },
      "traits": {
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "structure"
    },
    "com.amazonaws.lambda#DeleteFunction": {
      "errors": [
        {
          "target": "com.amazonaws.lambda#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.lambda#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.lambda#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lambda#ServiceException"
        },
        {
          "target": "com.amazonaws.lambda#TooManyRequestsException"
        }
      ],
      "input": {
        "target": "com.amazonaws.lambda#DeleteFunctionRequest"
      },
      "output": {
        "target": "com.amazonaws.lambda#DeleteFunctionResponse"
      },
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to delete an AWS Lambda function",
          "relativeDocumentation": "API_DeleteFunction.html",
          "resources": {
            "required": {
              "function": {}
            }
          }
        },
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2015-03-31/functions/{FunctionName}"
        },
        "smithy.api#idempotent": {},
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "operation"
    },
    "com.amazonaws.lambda#DeleteFunctionRequest": {
      "members": {
        "FunctionName": {
          "target": "com.amazonaws.lambda#NamespacedFunctionName",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "Qualifier": {
          "target": "com.amazonaws.lambda#NumericLatestPublishedOrAliasQualifier",
          "traits": {
            "smithy.api#httpQuery": "Qualifier",
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "structure"
    },
    "com.amazonaws.lambda#DeleteFunctionResponse": {
      "members": {
        "StatusCode": {
          "target": "com.amazonaws.lambda#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#httpResponseCode": {},
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "structure"
    },
    "com.amazonaws.lambda#DeleteFunctionUrlConfig": {
      "errors": [
        {
          "target": "com.amazonaws.lambda#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.lambda#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.lambda#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lambda#ServiceException"
        },
        {
          "target": "com.amazonaws.lambda#TooManyRequestsException"
        }
      ],
      "input": {
        "target": "com.amazonaws.lambda#DeleteFunctionUrlConfigRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "aws.iam#conditionKeys": [
          "lambda:FunctionArn",
          "lambda:FunctionUrlAuthType"
        ],
        "aws.iam#iamAction": {
          "documentation": "Grants permission to delete function url configuration for a Lambda function",
          "relativeDocumentation": "API_DeleteFunctionUrlConfig.html",
          "resources": {
            "required": {
              "function": {}
            }
          }
        },
        "smithy.api#http": {
          "code": 204,
          "method": "DELETE",
          "uri": "/2021-10-31/functions/{FunctionName}/url"
        },
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "operation"
    },
    "com.amazonaws.lambda#DeleteFunctionUrlConfigRequest": {
      "members": {
        "FunctionName": {
          "target": "com.amazonaws.lambda#FunctionUrlFunctionName",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "Qualifier": {
          "target": "com.amazonaws.lambda#FunctionUrlQualifier",
          "traits": {
            "smithy.api#httpQuery": "Qualifier",
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "structure"
    },
    "com.amazonaws.lambda#Description": {
      "traits": {
        "smithy.api#length": {
          "max": 256,
          "min": 0
        },
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "string"
    },
    "com.amazonaws.lambda#DirectS3Read": {
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTO",
            "smithy.api#tags": [
              "feature:s3files-rbp"
            ]
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED",
            "smithy.api#tags": [
              "feature:s3files-rbp"
            ]
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED",
            "smithy.api#tags": [
              "feature:s3files-rbp"
            ]
          }
        }
      },
      "traits": {
        "smithy.api#tags": [
          "feature:s3files-rbp"
        ]
      },
      "type": "enum"
    },
    "com.amazonaws.lambda#DurableConfig": {
      "members": {
        "ExecutionTimeout": {
          "target": "com.amazonaws.lambda#ExecutionTimeout",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "KMSKeyArn": {
          "target": "com.amazonaws.lambda#KMSKeyArn",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "RetentionPeriodInDays": {
          "target": "com.amazonaws.lambda#RetentionPeriodInDays",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        }
      },
      "traits": {
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "structure"
    },
    "com.amazonaws.lambda#Environment": {
      "members": {
        "Variables": {
          "target": "com.amazonaws.lambda#EnvironmentVariables",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        }
      },
      "traits": {
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "structure"
    },
    "com.amazonaws.lambda#EnvironmentError": {
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.lambda#String",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "Message": {
          "target": "com.amazonaws.lambda#SensitiveString",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        }
      },
      "traits": {
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "structure"
    },
    "com.amazonaws.lambda#EnvironmentResponse": {
      "members": {
        "Error": {
          "target": "com.amazonaws.lambda#EnvironmentError",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "Variables": {
          "target": "com.amazonaws.lambda#EnvironmentVariables",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        }
      },
      "traits": {
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "structure"
    },
    "com.amazonaws.lambda#EnvironmentVariableName": {
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z]([a-zA-Z0-9_])+$",
        "smithy.api#sensitive": {},
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "string"
    },
    "com.amazonaws.lambda#EnvironmentVariableValue": {
      "traits": {
        "smithy.api#sensitive": {},
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "string"
    },
    "com.amazonaws.lambda#EnvironmentVariables": {
      "key": {
        "target": "com.amazonaws.lambda#EnvironmentVariableName",
        "traits": {
          "smithy.api#tags": [
            "feature:public"
          ]
        }
      },
      "traits": {
        "smithy.api#sensitive": {},
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "map",
      "value": {
        "target": "com.amazonaws.lambda#EnvironmentVariableValue",
        "traits": {
          "smithy.api#tags": [
            "feature:public"
          ]
        }
      }
    },
    "com.amazonaws.lambda#EphemeralStorage": {
      "members": {
        "Size": {
          "target": "com.amazonaws.lambda#EphemeralStorageSize",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        }
      },
      "traits": {
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "structure"
    },
    "com.amazonaws.lambda#EphemeralStorageSize": {
      "traits": {
        "smithy.api#range": {
          "max": 32768,
          "min": 512
        },
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "integer"
    },
    "com.amazonaws.lambda#EventSourceToken": {
      "traits": {
        "smithy.api#length": {
          "max": 256,
          "min": 0
        },
        "smithy.api#pattern": "^[a-zA-Z0-9._\\-]+$",
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "string"
    },
    "com.amazonaws.lambda#ExecutionEnvironmentMemoryGiBPerVCpu": {
      "traits": {
        "smithy.api#range": {
          "max": 8,
          "min": 2
        },
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "double"
    },
    "com.amazonaws.lambda#ExecutionTimeout": {
      "traits": {
        "smithy.api#range": {
          "max": 31622400,
          "min": 1
        },
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "integer"
    },
    "com.amazonaws.lambda#FileSystemArn": {
      "traits": {
        "smithy.api#length": {
          "max": 256,
          "min": 0
        },
        "smithy.api#pattern": "^arn:aws[a-zA-Z-]*:elasticfilesystem:(eusc-)?[a-z]{2}((-gov)|(-iso([a-z]?)))?-[a-z]+-\\d{1}:\\d{12}:access-point/fsap-[a-f0-9]{17}$|^arn:aws[-a-z]*:s3files:[0-9a-z-:]+:file-system/fs-[0-9a-f]{17,40}/access-point/fsap-[0-9a-f]{17,40}$",
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "string"
    },
    "com.amazonaws.lambda#FileSystemConfig": {
      "members": {
        "Arn": {
          "target": "com.amazonaws.lambda#FileSystemArn",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "LocalMountPath": {
          "target": "com.amazonaws.lambda#LocalMountPath",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "S3FilesConfig": {
          "target": "com.amazonaws.lambda#S3FilesConfig",
          "traits": {
            "smithy.api#tags": [
              "feature:s3files-rbp"
            ]
          }
        }
      },
      "traits": {
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "structure"
    },
    "com.amazonaws.lambda#FileSystemConfigList": {
      "member": {
        "target": "com.amazonaws.lambda#FileSystemConfig",
        "traits": {
          "smithy.api#tags": [
            "feature:public"
          ]
        }
      },
      "traits": {
        "smithy.api#length": {
          "max": 1,
          "min": 0
        },
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "list"
    },
    "com.amazonaws.lambda#FunctionArn": {
      "traits": {
        "smithy.api#length": {
          "max": 10000,
          "min": 0
        },
        "smithy.api#pattern": "^arn:(aws[a-zA-Z-]*)?:lambda:(eusc-)?[a-z]{2}((-gov)|(-iso([a-z]?)))?-[a-z]+-\\d{1}:\\d{12}:function:[a-zA-Z0-9-_]+(:(\\$LATEST|[a-zA-Z0-9-_]+))?$",
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "string"
    },
    "com.amazonaws.lambda#FunctionCode": {
      "members": {
        "ImageUri": {
          "target": "com.amazonaws.lambda#String",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "S3Bucket": {
          "target": "com.amazonaws.lambda#S3Bucket",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "S3Key": {
          "target": "com.amazonaws.lambda#S3Key",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "S3ObjectStorageMode": {
          "target": "com.amazonaws.lambda#S3ObjectStorageMode",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "S3ObjectVersion": {
          "target": "com.amazonaws.lambda#S3ObjectVersion",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "SourceKMSKeyArn": {
          "target": "com.amazonaws.lambda#KMSKeyArn",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "ZipFile": {
          "target": "com.amazonaws.lambda#Blob",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        }
      },
      "traits": {
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "structure"
    },
    "com.amazonaws.lambda#FunctionCodeLocation": {
      "members": {
        "Error": {
          "target": "com.amazonaws.lambda#FunctionCodeLocationError",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "ImageUri": {
          "target": "com.amazonaws.lambda#String",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "Location": {
          "target": "com.amazonaws.lambda#SensitiveStringOnServerOnly",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "RepositoryType": {
          "target": "com.amazonaws.lambda#String",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "ResolvedImageUri": {
          "target": "com.amazonaws.lambda#String",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "ResolvedS3Object": {
          "target": "com.amazonaws.lambda#ResolvedS3Object",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "SourceKMSKeyArn": {
          "target": "com.amazonaws.lambda#KMSKeyArn",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        }
      },
      "traits": {
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "structure"
    },
    "com.amazonaws.lambda#FunctionCodeLocationError": {
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.lambda#String",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "Message": {
          "target": "com.amazonaws.lambda#SensitiveString",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        }
      },
      "traits": {
        "smithy.api#tags": [
          "feature:public"
        ]
      },
      "type": "structure"
    },
    "com.amazonaws.lambda#FunctionConfiguration": {
      "members": {
        "Architectures": {
          "target": "com.amazonaws.lambda#ArchitecturesList",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "CapacityProviderConfig": {
          "target": "com.amazonaws.lambda#CapacityProviderConfig",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "CodeSha256": {
          "target": "com.amazonaws.lambda#String",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "CodeSize": {
          "target": "com.amazonaws.lambda#Long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "ConfigSha256": {
          "target": "com.amazonaws.lambda#String",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "DeadLetterConfig": {
          "target": "com.amazonaws.lambda#DeadLetterConfig",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "Description": {
          "target": "com.amazonaws.lambda#Description",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "DurableConfig": {
          "target": "com.amazonaws.lambda#DurableConfig",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "Environment": {
          "target": "com.amazonaws.lambda#EnvironmentResponse",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "EphemeralStorage": {
          "target": "com.amazonaws.lambda#EphemeralStorage",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "FileSystemConfigs": {
          "target": "com.amazonaws.lambda#FileSystemConfigList",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "FunctionArn": {
          "target": "com.amazonaws.lambda#NameSpacedFunctionArn",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "FunctionName": {
          "target": "com.amazonaws.lambda#NamespacedFunctionName",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "Handler": {
          "target": "com.amazonaws.lambda#Handler",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "ImageConfigResponse": {
          "target": "com.amazonaws.lambda#ImageConfigResponse",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "KMSKeyArn": {
          "target": "com.amazonaws.lambda#KMSKeyArn",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "LastModified": {
          "target": "com.amazonaws.lambda#Timestamp",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "LastUpdateStatus": {
          "target": "com.amazonaws.lambda#LastUpdateStatus",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "LastUpdateStatusReason": {
          "target": "com.amazonaws.lambda#LastUpdateStatusReason",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "LastUpdateStatusReasonCode": {
          "target": "com.amazonaws.lambda#LastUpdateStatusReasonCode",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "Layers": {
          "target": "com.amazonaws.lambda#LayersReferenceList",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "LoggingConfig": {
          "target": "com.amazonaws.lambda#LoggingConfig",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "MasterArn": {
          "target": "com.amazonaws.lambda#FunctionArn",
          "traits": {
            "smithy.api#tags": [
              "feature:public"
            ]
          }
        },
        "MemorySize": {
          "target": "com.amazonaws.lambda#MemorySize",
          "traits": {
            "smithy.api#tags": [
[...]
