{
  "shapes": {
    "com.amazonaws.networkfirewall#CIDRCount": {
      "traits": {
        "smithy.api#range": {
          "max": 1000000,
          "min": 0
        }
      },
      "type": "integer"
    },
    "com.amazonaws.networkfirewall#ContainerAssociationLastUpdatedTime": {
      "type": "timestamp"
    },
    "com.amazonaws.networkfirewall#ContainerAssociationStatus": {
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.networkfirewall#ContainerAttribute": {
      "members": {
        "Key": {
          "target": "com.amazonaws.networkfirewall#ContainerAttributeKey",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.networkfirewall#ContainerAttributeValue",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.networkfirewall#ContainerAttributeKey": {
      "traits": {
        "smithy.api#length": {
          "max": 256,
          "min": 1
        },
        "smithy.api#pattern": "^\\S+$"
      },
      "type": "string"
    },
    "com.amazonaws.networkfirewall#ContainerAttributeValue": {
      "traits": {
        "smithy.api#length": {
          "max": 256,
          "min": 1
        },
        "smithy.api#pattern": "^\\S+$"
      },
      "type": "string"
    },
    "com.amazonaws.networkfirewall#ContainerAttributes": {
      "member": {
        "target": "com.amazonaws.networkfirewall#ContainerAttribute"
      },
      "type": "list"
    },
    "com.amazonaws.networkfirewall#ContainerMonitoringConfiguration": {
      "members": {
        "AttributeFilters": {
          "target": "com.amazonaws.networkfirewall#ContainerAttributes",
          "traits": {}
        },
        "ClusterArn": {
          "target": "com.amazonaws.networkfirewall#ResourceArn",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.networkfirewall#ContainerMonitoringConfigurations": {
      "member": {
        "target": "com.amazonaws.networkfirewall#ContainerMonitoringConfiguration"
      },
      "type": "list"
    },
    "com.amazonaws.networkfirewall#ContainerMonitoringType": {
      "members": {
        "ECS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ECS"
          }
        },
        "EKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EKS"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.networkfirewall#DescribeContainerAssociation": {
      "errors": [
        {
          "target": "com.amazonaws.networkfirewall#InternalServerError"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ThrottlingException"
        }
      ],
      "input": {
        "target": "com.amazonaws.networkfirewall#DescribeContainerAssociationRequest"
      },
      "output": {
        "target": "com.amazonaws.networkfirewall#DescribeContainerAssociationResponse"
      },
      "traits": {},
      "type": "operation"
    },
    "com.amazonaws.networkfirewall#DescribeContainerAssociationRequest": {
      "members": {
        "ContainerAssociationArn": {
          "target": "com.amazonaws.networkfirewall#ResourceArn",
          "traits": {}
        },
        "ContainerAssociationName": {
          "target": "com.amazonaws.networkfirewall#ResourceName",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.networkfirewall#DescribeContainerAssociationResponse": {
      "members": {
        "ContainerAssociationArn": {
          "target": "com.amazonaws.networkfirewall#ResourceArn",
          "traits": {}
        },
        "ContainerAssociationName": {
          "target": "com.amazonaws.networkfirewall#ResourceName",
          "traits": {}
        },
        "ContainerMonitoringConfigurations": {
          "target": "com.amazonaws.networkfirewall#ContainerMonitoringConfigurations",
          "traits": {}
        },
        "Description": {
          "target": "com.amazonaws.networkfirewall#Description",
          "traits": {}
        },
        "LastUpdatedTime": {
          "target": "com.amazonaws.networkfirewall#ContainerAssociationLastUpdatedTime",
          "traits": {}
        },
        "ResolvedCidrCount": {
          "target": "com.amazonaws.networkfirewall#CIDRCount",
          "traits": {}
        },
        "Status": {
          "target": "com.amazonaws.networkfirewall#ContainerAssociationStatus",
          "traits": {}
        },
        "Tags": {
          "target": "com.amazonaws.networkfirewall#TagList",
          "traits": {}
        },
        "Type": {
          "target": "com.amazonaws.networkfirewall#ContainerMonitoringType",
          "traits": {}
        },
        "UpdateToken": {
          "target": "com.amazonaws.networkfirewall#UpdateToken",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.networkfirewall#Description": {
      "traits": {
        "smithy.api#length": {
          "max": 512,
          "min": 0
        },
        "smithy.api#pattern": "^.*$"
      },
      "type": "string"
    },
    "com.amazonaws.networkfirewall#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.networkfirewall#InternalServerError": {
      "members": {
        "Message": {
          "target": "com.amazonaws.networkfirewall#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#error": "server"
      },
      "type": "structure"
    },
    "com.amazonaws.networkfirewall#InvalidRequestException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.networkfirewall#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.networkfirewall#NetworkFirewall_20201112": {
      "operations": [
        {
          "target": "com.amazonaws.networkfirewall#DescribeContainerAssociation"
        }
      ],
      "traits": {
        "aws.api#service": {
          "arnNamespace": "network-firewall",
          "cloudFormationName": "NetworkFirewall",
          "cloudTrailEventSource": "networkfirewall.amazonaws.com",
          "endpointPrefix": "network-firewall",
          "sdkId": "Network Firewall"
        },
        "aws.auth#sigv4": {
          "name": "network-firewall"
        },
        "aws.protocols#awsJson1_0": {},
        "smithy.api#title": "AWS Network Firewall",
        "smithy.rules#endpointRuleSet": {
          "parameters": {
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "documentation": "Override the endpoint used to send this request",
              "required": false,
              "type": "string"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "documentation": "The AWS region used to dispatch the request.",
              "required": false,
              "type": "string"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "required": true,
              "type": "boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "required": true,
              "type": "boolean"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ],
                  "fn": "isSet"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "headers": {},
                    "properties": {},
                    "url": {
                      "ref": "Endpoint"
                    }
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "fn": "isSet"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult",
                      "fn": "aws.partition"
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        },
                        {
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://network-firewall-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ],
                                  "fn": "getAttr"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://network-firewall-fips.{Region}.{PartitionResult#dnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://network-firewall.{Region}.{PartitionResult#dualStackDnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "headers": {},
                        "properties": {},
                        "url": "https://network-firewall.{Region}.{PartitionResult#dnsSuffix}"
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ],
          "version": "1.0"
        }
      },
      "type": "service",
      "version": "2020-11-12"
    },
    "com.amazonaws.networkfirewall#ResourceArn": {
      "traits": {
        "smithy.api#length": {
          "max": 256,
          "min": 1
        },
        "smithy.api#pattern": "^arn:aws"
      },
      "type": "string"
    },
    "com.amazonaws.networkfirewall#ResourceName": {
      "traits": {
        "smithy.api#length": {
          "max": 128,
          "min": 1
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-]+$"
      },
      "type": "string"
    },
    "com.amazonaws.networkfirewall#ResourceNotFoundException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.networkfirewall#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.networkfirewall#Tag": {
      "members": {
        "Key": {
          "target": "com.amazonaws.networkfirewall#TagKey",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.networkfirewall#TagValue",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.networkfirewall#TagKey": {
      "traits": {
        "smithy.api#length": {
          "max": 128,
          "min": 1
        },
        "smithy.api#pattern": "^.*$"
      },
      "type": "string"
    },
    "com.amazonaws.networkfirewall#TagList": {
      "member": {
        "target": "com.amazonaws.networkfirewall#Tag"
      },
      "traits": {
        "smithy.api#length": {
          "max": 200,
          "min": 1
        }
      },
      "type": "list"
    },
    "com.amazonaws.networkfirewall#TagValue": {
      "traits": {
        "smithy.api#length": {
          "max": 256,
          "min": 0
        },
        "smithy.api#pattern": "^.*$"
      },
      "type": "string"
    },
    "com.amazonaws.networkfirewall#ThrottlingException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.networkfirewall#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.networkfirewall#UpdateToken": {
      "traits": {
        "smithy.api#length": {
          "max": 1024,
          "min": 1
        },
        "smithy.api#pattern": "^([0-9a-f]{8})-([0-9a-f]{4}-){3}([0-9a-f]{12})$"
      },
      "type": "string"
    }
  },
  "smithy": "2.0"
}
