{
  "shapes": {
    "com.amazonaws.outposts#AccessDeniedException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.outposts#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      },
      "type": "structure"
    },
    "com.amazonaws.outposts#AvailabilityZone": {
      "traits": {
        "smithy.api#length": {
          "max": 1000,
          "min": 1
        },
        "smithy.api#pattern": "^([a-zA-Z]+-){1,3}([a-zA-Z]+)?(\\d+[a-zA-Z]?)?$"
      },
      "type": "string"
    },
    "com.amazonaws.outposts#AvailabilityZoneId": {
      "traits": {
        "smithy.api#length": {
          "max": 255,
          "min": 1
        },
        "smithy.api#pattern": "^[a-zA-Z]+\\d-[a-zA-Z]+\\d$"
      },
      "type": "string"
    },
    "com.amazonaws.outposts#ErrorMessage": {
      "traits": {
        "smithy.api#length": {
          "max": 1000,
          "min": 1
        },
        "smithy.api#pattern": "^[\\S \\n]+$"
      },
      "type": "string"
    },
    "com.amazonaws.outposts#GetOutpost": {
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "input": {
        "target": "com.amazonaws.outposts#GetOutpostInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#GetOutpostOutput"
      },
      "traits": {
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/outposts/{OutpostId}"
        }
      },
      "type": "operation"
    },
    "com.amazonaws.outposts#GetOutpostInput": {
      "members": {
        "OutpostId": {
          "target": "com.amazonaws.outposts#OutpostId",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.outposts#GetOutpostOutput": {
      "members": {
        "Outpost": {
          "target": "com.amazonaws.outposts#Outpost"
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.outposts#InternalServerException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.outposts#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      },
      "type": "structure"
    },
    "com.amazonaws.outposts#LifeCycleStatus": {
      "traits": {
        "smithy.api#length": {
          "max": 20,
          "min": 1
        },
        "smithy.api#pattern": "^[ A-Za-z]+$"
      },
      "type": "string"
    },
    "com.amazonaws.outposts#NotFoundException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.outposts#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.outposts#Outpost": {
      "members": {
        "AvailabilityZone": {
          "target": "com.amazonaws.outposts#AvailabilityZone"
        },
        "AvailabilityZoneId": {
          "target": "com.amazonaws.outposts#AvailabilityZoneId"
        },
        "Description": {
          "target": "com.amazonaws.outposts#OutpostDescription"
        },
        "Generation": {
          "target": "com.amazonaws.outposts#OutpostGeneration",
          "traits": {}
        },
        "LifeCycleStatus": {
          "target": "com.amazonaws.outposts#LifeCycleStatus"
        },
        "Name": {
          "target": "com.amazonaws.outposts#OutpostName"
        },
        "OutpostArn": {
          "target": "com.amazonaws.outposts#OutpostArn"
        },
        "OutpostId": {
          "target": "com.amazonaws.outposts#OutpostId",
          "traits": {}
        },
        "OwnerId": {
          "target": "com.amazonaws.outposts#OwnerId"
        },
        "RackScalingType": {
          "target": "com.amazonaws.outposts#RackScalingType",
          "traits": {}
        },
        "SiteArn": {
          "target": "com.amazonaws.outposts#SiteArn"
        },
        "SiteId": {
          "target": "com.amazonaws.outposts#SiteId"
        },
        "SupportedHardwareType": {
          "target": "com.amazonaws.outposts#SupportedHardwareType",
          "traits": {}
        },
        "Tags": {
          "target": "com.amazonaws.outposts#TagMap",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.outposts#OutpostArn": {
      "traits": {
        "smithy.api#length": {
          "max": 255,
          "min": 1
        },
        "smithy.api#pattern": "^arn:aws([a-z-]+)?:outposts:[a-z\\d-]+:\\d{12}:outpost/op-[a-f0-9]{17}$"
      },
      "type": "string"
    },
    "com.amazonaws.outposts#OutpostDescription": {
      "traits": {
        "smithy.api#length": {
          "max": 1000,
          "min": 0
        },
        "smithy.api#pattern": "^[\\S ]*$"
      },
      "type": "string"
    },
    "com.amazonaws.outposts#OutpostGeneration": {
      "members": {
        "GENERATION_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERATION_1"
          }
        },
        "GENERATION_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERATION_2"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.outposts#OutpostId": {
      "traits": {
        "smithy.api#length": {
          "max": 180,
          "min": 1
        },
        "smithy.api#pattern": "^(arn:aws([a-z-]+)?:outposts:[a-z\\d-]+:\\d{12}:outpost/)?op-[a-f0-9]{17}$"
      },
      "type": "string"
    },
    "com.amazonaws.outposts#OutpostName": {
      "traits": {
        "smithy.api#length": {
          "max": 255,
          "min": 1
        },
        "smithy.api#pattern": "^[\\S ]+$"
      },
      "type": "string"
    },
    "com.amazonaws.outposts#OutpostsOlafService": {
      "operations": [
        {
          "target": "com.amazonaws.outposts#GetOutpost"
        }
      ],
      "traits": {
        "aws.api#service": {
          "arnNamespace": "outposts",
          "cloudFormationName": "Outposts",
          "cloudTrailEventSource": "outposts.amazonaws.com",
          "endpointPrefix": "outposts",
          "sdkId": "Outposts"
        },
        "aws.auth#sigv4": {
          "name": "outposts"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#title": "AWS Outposts",
        "smithy.rules#endpointRuleSet": {
          "parameters": {
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "documentation": "Override the endpoint used to send this request",
              "required": false,
              "type": "string"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "documentation": "The AWS region used to dispatch the request.",
              "required": false,
              "type": "string"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "required": true,
              "type": "boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "required": true,
              "type": "boolean"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ],
                  "fn": "isSet"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "headers": {},
                    "properties": {},
                    "url": {
                      "ref": "Endpoint"
                    }
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "fn": "isSet"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult",
                      "fn": "aws.partition"
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        },
                        {
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://outposts-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ],
                                  "fn": "getAttr"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "argv": [
                                    {
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "name"
                                      ],
                                      "fn": "getAttr"
                                    },
                                    "aws-us-gov"
                                  ],
                                  "fn": "stringEquals"
                                }
                              ],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://outposts.{Region}.amazonaws.com"
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://outposts-fips.{Region}.{PartitionResult#dnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://outposts.{Region}.{PartitionResult#dualStackDnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "headers": {},
                        "properties": {},
                        "url": "https://outposts.{Region}.{PartitionResult#dnsSuffix}"
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ],
          "version": "1.0"
        }
      },
      "type": "service",
      "version": "2019-12-03"
    },
    "com.amazonaws.outposts#OwnerId": {
      "traits": {
        "smithy.api#length": {
          "max": 12,
          "min": 12
        },
        "smithy.api#pattern": "^\\d{12}$"
      },
      "type": "string"
    },
    "com.amazonaws.outposts#RackScalingType": {
      "members": {
        "MULTI_RACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTI_RACK"
          }
        },
        "SINGLE_RACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SINGLE_RACK"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.outposts#SiteArn": {
      "traits": {
        "smithy.api#length": {
          "max": 255,
          "min": 1
        },
        "smithy.api#pattern": "^arn:aws([a-z-]+)?:outposts:[a-z\\d-]+:\\d{12}:site/(os-[a-f0-9]{17})$"
      },
      "type": "string"
    },
    "com.amazonaws.outposts#SiteId": {
      "traits": {
        "smithy.api#length": {
          "max": 255,
          "min": 1
        },
        "smithy.api#pattern": "^(arn:aws([a-z-]+)?:outposts:[a-z\\d-]+:\\d{12}:site/)?(os-[a-f0-9]{17})$"
      },
      "type": "string"
    },
    "com.amazonaws.outposts#SupportedHardwareType": {
      "members": {
        "RACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RACK"
          }
        },
        "SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVER"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.outposts#TagKey": {
      "traits": {
        "smithy.api#length": {
          "max": 128,
          "min": 1
        },
        "smithy.api#pattern": "^(?!aws:)[a-zA-Z+-=._:/]+$"
      },
      "type": "string"
    },
    "com.amazonaws.outposts#TagMap": {
      "key": {
        "target": "com.amazonaws.outposts#TagKey"
      },
      "traits": {
        "smithy.api#length": {
          "max": 50,
          "min": 1
        }
      },
      "type": "map",
      "value": {
        "target": "com.amazonaws.outposts#TagValue"
      }
    },
    "com.amazonaws.outposts#TagValue": {
      "traits": {
        "smithy.api#length": {
          "max": 256,
          "min": 0
        },
        "smithy.api#pattern": "^[\\S \\n]+$"
      },
      "type": "string"
    },
    "com.amazonaws.outposts#ValidationException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.outposts#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    }
  },
  "smithy": "2.0"
}
