{
  "shapes": {
    "com.amazonaws.paymentcryptography#AccessDeniedException": {
      "members": {
        "Message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      },
      "type": "structure"
    },
    "com.amazonaws.paymentcryptography#Alias": {
      "members": {
        "AliasName": {
          "target": "com.amazonaws.paymentcryptography#AliasName",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "KeyArn": {
          "target": "com.amazonaws.paymentcryptography#KeyArn",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.paymentcryptography#AliasName": {
      "traits": {
        "smithy.api#length": {
          "max": 256,
          "min": 7
        },
        "smithy.api#pattern": "^alias/[a-zA-Z0-9/_-]+$"
      },
      "type": "string"
    },
    "com.amazonaws.paymentcryptography#GetAlias": {
      "errors": [
        {
          "target": "com.amazonaws.paymentcryptography#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#InternalServerException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ThrottlingException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ValidationException"
        }
      ],
      "input": {
        "target": "com.amazonaws.paymentcryptography#GetAliasInput"
      },
      "output": {
        "target": "com.amazonaws.paymentcryptography#GetAliasOutput"
      },
      "traits": {
        "aws.api#controlPlane": {},
        "smithy.api#readonly": {}
      },
      "type": "operation"
    },
    "com.amazonaws.paymentcryptography#GetAliasInput": {
      "members": {
        "AliasName": {
          "target": "com.amazonaws.paymentcryptography#AliasName",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.paymentcryptography#GetAliasOutput": {
      "members": {
        "Alias": {
          "target": "com.amazonaws.paymentcryptography#Alias",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#required": {},
            "smithy.api#suppress": [
              "UnstableTrait"
            ]
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.paymentcryptography#InternalServerException": {
      "members": {
        "Message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      },
      "type": "structure"
    },
    "com.amazonaws.paymentcryptography#KeyArn": {
      "traits": {
        "smithy.api#length": {
          "max": 150,
          "min": 70
        },
        "smithy.api#pattern": "^arn:aws:payment-cryptography:[a-z]{2}-[a-z]{1,16}-[0-9]+:[0-9]{12}:key/[0-9a-zA-Z]{16,64}$"
      },
      "type": "string"
    },
    "com.amazonaws.paymentcryptography#PaymentCryptographyControlPlane": {
      "operations": [
        {
          "target": "com.amazonaws.paymentcryptography#GetAlias"
        }
      ],
      "traits": {
        "aws.api#service": {
          "arnNamespace": "payment-cryptography",
          "cloudFormationName": "PaymentCryptography",
          "endpointPrefix": "controlplane.payment-cryptography",
          "sdkId": "Payment Cryptography"
        },
        "aws.auth#sigv4": {
          "name": "payment-cryptography"
        },
        "aws.protocols#awsJson1_0": {},
        "smithy.api#cors": {},
        "smithy.api#title": "Payment Cryptography Control Plane",
        "smithy.rules#endpointRuleSet": {
          "parameters": {
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "documentation": "Override the endpoint used to send this request",
              "required": false,
              "type": "string"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "documentation": "The AWS region used to dispatch the request.",
              "required": false,
              "type": "string"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "required": true,
              "type": "boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "required": true,
              "type": "boolean"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ],
                  "fn": "isSet"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "headers": {},
                        "properties": {},
                        "url": {
                          "ref": "Endpoint"
                        }
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "fn": "isSet"
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult",
                          "fn": "aws.partition"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "argv": [
                                    true,
                                    {
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ],
                                      "fn": "getAttr"
                                    }
                                  ],
                                  "fn": "booleanEquals"
                                },
                                {
                                  "argv": [
                                    true,
                                    {
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ],
                                      "fn": "getAttr"
                                    }
                                  ],
                                  "fn": "booleanEquals"
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "headers": {},
                                        "properties": {},
                                        "url": "https://controlplane.payment-cryptography-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "argv": [
                                    {
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ],
                                      "fn": "getAttr"
                                    },
                                    true
                                  ],
                                  "fn": "booleanEquals"
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "headers": {},
                                        "properties": {},
                                        "url": "https://controlplane.payment-cryptography-fips.{Region}.{PartitionResult#dnsSuffix}"
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS is enabled but this partition does not support FIPS",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "argv": [
                                    true,
                                    {
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ],
                                      "fn": "getAttr"
                                    }
                                  ],
                                  "fn": "booleanEquals"
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "headers": {},
                                        "properties": {},
                                        "url": "https://controlplane.payment-cryptography.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "DualStack is enabled but this partition does not support DualStack",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://controlplane.payment-cryptography.{Region}.{PartitionResult#dnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        }
                      ],
                      "type": "tree"
                    }
                  ],
                  "type": "tree"
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ],
              "type": "tree"
            }
          ],
          "version": "1.0"
        }
      },
      "type": "service",
      "version": "2021-09-14"
    },
    "com.amazonaws.paymentcryptography#ResourceNotFoundException": {
      "members": {
        "ResourceId": {
          "target": "smithy.api#String",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.paymentcryptography#ServiceUnavailableException": {
      "members": {
        "Message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "server",
        "smithy.api#httpError": 503
      },
      "type": "structure"
    },
    "com.amazonaws.paymentcryptography#ThrottlingException": {
      "members": {
        "Message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      },
      "type": "structure"
    },
    "com.amazonaws.paymentcryptography#ValidationException": {
      "members": {
        "Message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    }
  },
  "smithy": "2.0"
}
