{
  "shapes": {
    "com.amazonaws.rds#AddTagsToResource": {
      "errors": [
        {
          "target": "com.amazonaws.rds#BlueGreenDeploymentNotFoundFault"
        },
        {
          "target": "com.amazonaws.rds#DBClusterNotFoundFault"
        },
        {
          "target": "com.amazonaws.rds#DBInstanceNotFoundFault"
        },
        {
          "target": "com.amazonaws.rds#DBProxyEndpointNotFoundFault"
        },
        {
          "target": "com.amazonaws.rds#DBProxyNotFoundFault"
        },
        {
          "target": "com.amazonaws.rds#DBProxyTargetGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.rds#DBShardGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.rds#DBSnapshotNotFoundFault"
        },
        {
          "target": "com.amazonaws.rds#DBSnapshotTenantDatabaseNotFoundFault"
        },
        {
          "target": "com.amazonaws.rds#IntegrationNotFoundFault"
        },
        {
          "target": "com.amazonaws.rds#InvalidDBClusterEndpointStateFault"
        },
        {
          "target": "com.amazonaws.rds#InvalidDBClusterStateFault"
        },
        {
          "target": "com.amazonaws.rds#InvalidDBInstanceStateFault"
        },
        {
          "target": "com.amazonaws.rds#TenantDatabaseNotFoundFault"
        }
      ],
      "input": {
        "target": "com.amazonaws.rds#AddTagsToResourceMessage"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {},
      "type": "operation"
    },
    "com.amazonaws.rds#AddTagsToResourceMessage": {
      "members": {
        "ResourceName": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.rds#TagList",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.rds#AmazonRDSv19": {
      "operations": [
        {
          "target": "com.amazonaws.rds#AddTagsToResource"
        },
        {
          "target": "com.amazonaws.rds#CreateDBClusterParameterGroup"
        },
        {
          "target": "com.amazonaws.rds#CreateDBSubnetGroup"
        },
        {
          "target": "com.amazonaws.rds#DeleteDBClusterParameterGroup"
        },
        {
          "target": "com.amazonaws.rds#DeleteDBSubnetGroup"
        },
        {
          "target": "com.amazonaws.rds#DescribeDBClusterParameterGroups"
        },
        {
          "target": "com.amazonaws.rds#DescribeDBClusterParameters"
        },
        {
          "target": "com.amazonaws.rds#DescribeDBSubnetGroups"
        },
        {
          "target": "com.amazonaws.rds#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.rds#ModifyDBClusterParameterGroup"
        },
        {
          "target": "com.amazonaws.rds#ModifyDBSubnetGroup"
        },
        {
          "target": "com.amazonaws.rds#RemoveTagsFromResource"
        },
        {
          "target": "com.amazonaws.rds#ResetDBClusterParameterGroup"
        }
      ],
      "traits": {
        "aws.api#service": {
          "arnNamespace": "rds",
          "cloudFormationName": "RDS",
          "cloudTrailEventSource": "rds.amazonaws.com",
          "endpointPrefix": "rds",
          "sdkId": "RDS"
        },
        "aws.auth#sigv4": {
          "name": "rds"
        },
        "aws.protocols#awsQuery": {},
        "smithy.api#title": "Amazon Relational Database Service",
        "smithy.api#xmlNamespace": {
          "uri": "http://rds.amazonaws.com/doc/2014-10-31/"
        },
        "smithy.rules#endpointRuleSet": {
          "parameters": {
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "documentation": "Override the endpoint used to send this request",
              "required": false,
              "type": "string"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "documentation": "The AWS region used to dispatch the request.",
              "required": false,
              "type": "string"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "required": true,
              "type": "boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "required": true,
              "type": "boolean"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ],
                  "fn": "isSet"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "headers": {},
                    "properties": {},
                    "url": {
                      "ref": "Endpoint"
                    }
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "fn": "isSet"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult",
                      "fn": "aws.partition"
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        },
                        {
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://rds-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ],
                                  "fn": "getAttr"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "argv": [
                                    {
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "name"
                                      ],
                                      "fn": "getAttr"
                                    },
                                    "aws-us-gov"
                                  ],
                                  "fn": "stringEquals"
                                }
                              ],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://rds.{Region}.amazonaws.com"
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://rds-fips.{Region}.{PartitionResult#dnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://rds.{Region}.{PartitionResult#dualStackDnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "headers": {},
                        "properties": {},
                        "url": "https://rds.{Region}.{PartitionResult#dnsSuffix}"
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ],
          "version": "1.0"
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://rds.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://rds.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://rds.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://rds.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://rds.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://rds.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://rds.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://rds.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://rds.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://rds.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://rds-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://rds.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://rds.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://rds.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://rds.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://rds.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://rds.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://rds.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://rds.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://rds.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://rds-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://rds.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://rds-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://rds.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://rds-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://rds.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://rds-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://rds-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://rds.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://rds.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://rds.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://rds-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://rds-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://rds.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://rds.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://rds.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://rds.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://rds.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://rds-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://rds.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://rds.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-iso-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://rds.us-iso-west-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://rds-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://rds.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://rds-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Endpoint": "https://example.com",
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Endpoint": "https://example.com",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Endpoint": "https://example.com",
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Endpoint": "https://example.com",
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      },
      "type": "service",
      "version": "2014-10-31"
    },
    "com.amazonaws.rds#ApplyMethod": {
      "members": {
        "immediate": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "immediate"
          }
        },
        "pending_reboot": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending-reboot"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.rds#AuthorizationAlreadyExistsFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AuthorizationAlreadyExists",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#AuthorizationNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AuthorizationNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.rds#AuthorizationQuotaExceededFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AuthorizationQuotaExceeded",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#AvailabilityZone": {
      "members": {
        "Name": {
          "target": "com.amazonaws.rds#String",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.rds#BackupPolicyNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "BackupPolicyNotFoundFault",
          "httpResponseCode": 404
        },
        "smithy.api#deprecated": {
          "message": "Please avoid using this fault"
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.rds#BlueGreenDeploymentAlreadyExistsFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "BlueGreenDeploymentAlreadyExistsFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#BlueGreenDeploymentNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "BlueGreenDeploymentNotFoundFault",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.rds#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.rds#CertificateNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CertificateNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.rds#CreateCustomDBEngineVersionFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CreateCustomDBEngineVersionFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#CreateDBClusterParameterGroup": {
      "errors": [
        {
          "target": "com.amazonaws.rds#DBParameterGroupAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.rds#DBParameterGroupQuotaExceededFault"
        }
      ],
      "input": {
        "target": "com.amazonaws.rds#CreateDBClusterParameterGroupMessage"
      },
      "output": {
        "target": "com.amazonaws.rds#CreateDBClusterParameterGroupResult"
      },
      "traits": {},
      "type": "operation"
    },
    "com.amazonaws.rds#CreateDBClusterParameterGroupMessage": {
      "members": {
        "DBClusterParameterGroupName": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#required": {}
          }
        },
        "DBParameterGroupFamily": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.rds#TagList",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.rds#CreateDBClusterParameterGroupResult": {
      "members": {
        "DBClusterParameterGroup": {
          "target": "com.amazonaws.rds#DBClusterParameterGroup"
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.rds#CreateDBSubnetGroup": {
      "errors": [
        {
          "target": "com.amazonaws.rds#DBSubnetGroupAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.rds#DBSubnetGroupDoesNotCoverEnoughAZs"
        },
        {
          "target": "com.amazonaws.rds#DBSubnetGroupQuotaExceededFault"
        },
        {
          "target": "com.amazonaws.rds#DBSubnetQuotaExceededFault"
        },
        {
          "target": "com.amazonaws.rds#InvalidSubnet"
        }
      ],
      "input": {
        "target": "com.amazonaws.rds#CreateDBSubnetGroupMessage"
      },
      "output": {
        "target": "com.amazonaws.rds#CreateDBSubnetGroupResult"
      },
      "traits": {},
      "type": "operation"
    },
    "com.amazonaws.rds#CreateDBSubnetGroupMessage": {
      "members": {
        "DBSubnetGroupDescription": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#required": {}
          }
        },
        "DBSubnetGroupName": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#required": {}
          }
        },
        "SubnetIds": {
          "target": "com.amazonaws.rds#SubnetIdentifierList",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.rds#TagList",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.rds#CreateDBSubnetGroupResult": {
      "members": {
        "DBSubnetGroup": {
          "target": "com.amazonaws.rds#DBSubnetGroup"
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.rds#CustomAvailabilityZoneNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CustomAvailabilityZoneNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.rds#CustomDBEngineVersionAlreadyExistsFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CustomDBEngineVersionAlreadyExistsFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#CustomDBEngineVersionNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CustomDBEngineVersionNotFoundFault",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.rds#CustomDBEngineVersionQuotaExceededFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CustomDBEngineVersionQuotaExceededFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBClusterAlreadyExistsFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBClusterAlreadyExistsFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBClusterAutomatedBackupNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBClusterAutomatedBackupNotFoundFault",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBClusterAutomatedBackupQuotaExceededFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBClusterAutomatedBackupQuotaExceededFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBClusterBacktrackNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBClusterBacktrackNotFoundFault",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBClusterEndpointAlreadyExistsFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBClusterEndpointAlreadyExistsFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBClusterEndpointNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBClusterEndpointNotFoundFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBClusterEndpointQuotaExceededFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBClusterEndpointQuotaExceededFault",
          "httpResponseCode": 403
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBClusterNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBClusterNotFoundFault",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBClusterParameterGroup": {
      "members": {
        "DBClusterParameterGroupArn": {
          "target": "com.amazonaws.rds#String",
          "traits": {}
        },
        "DBClusterParameterGroupName": {
          "target": "com.amazonaws.rds#String",
          "traits": {}
        },
        "DBParameterGroupFamily": {
          "target": "com.amazonaws.rds#String",
          "traits": {}
        },
        "Description": {
          "target": "com.amazonaws.rds#String",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.rds#DBClusterParameterGroupDetails": {
      "members": {
        "Marker": {
          "target": "com.amazonaws.rds#String",
          "traits": {}
        },
        "Parameters": {
          "target": "com.amazonaws.rds#ParametersList",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.rds#DBClusterParameterGroupList": {
      "member": {
        "target": "com.amazonaws.rds#DBClusterParameterGroup",
        "traits": {
          "smithy.api#xmlName": "DBClusterParameterGroup"
        }
      },
      "type": "list"
    },
    "com.amazonaws.rds#DBClusterParameterGroupNameMessage": {
      "members": {
        "DBClusterParameterGroupName": {
          "target": "com.amazonaws.rds#String",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.rds#DBClusterParameterGroupNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBClusterParameterGroupNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBClusterParameterGroupsMessage": {
      "members": {
        "DBClusterParameterGroups": {
          "target": "com.amazonaws.rds#DBClusterParameterGroupList",
          "traits": {}
        },
        "Marker": {
          "target": "com.amazonaws.rds#String",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBClusterQuotaExceededFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBClusterQuotaExceededFault",
          "httpResponseCode": 403
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBClusterRoleAlreadyExistsFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBClusterRoleAlreadyExists",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBClusterRoleNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBClusterRoleNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBClusterRoleQuotaExceededFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBClusterRoleQuotaExceeded",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBClusterSnapshotAlreadyExistsFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBClusterSnapshotAlreadyExistsFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBClusterSnapshotNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBClusterSnapshotNotFoundFault",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBInstanceAlreadyExistsFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBInstanceAlreadyExists",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBInstanceAutomatedBackupNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBInstanceAutomatedBackupNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBInstanceAutomatedBackupQuotaExceededFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBInstanceAutomatedBackupQuotaExceeded",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBInstanceNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBInstanceNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBInstanceNotReadyFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBInstanceNotReady",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBInstanceRoleAlreadyExistsFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBInstanceRoleAlreadyExists",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBInstanceRoleNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBInstanceRoleNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBInstanceRoleQuotaExceededFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBInstanceRoleQuotaExceeded",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBLogFileNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBLogFileNotFoundFault",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBParameterGroupAlreadyExistsFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBParameterGroupAlreadyExists",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBParameterGroupNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBParameterGroupNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBParameterGroupQuotaExceededFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBParameterGroupQuotaExceeded",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBProxyAlreadyExistsFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBProxyAlreadyExistsFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBProxyEndpointAlreadyExistsFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBProxyEndpointAlreadyExistsFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBProxyEndpointNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBProxyEndpointNotFoundFault",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBProxyEndpointQuotaExceededFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBProxyEndpointQuotaExceededFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBProxyNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBProxyNotFoundFault",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBProxyQuotaExceededFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBProxyQuotaExceededFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBProxyTargetAlreadyRegisteredFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBProxyTargetAlreadyRegisteredFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBProxyTargetGroupNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBProxyTargetGroupNotFoundFault",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBProxyTargetNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBProxyTargetNotFoundFault",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBSecurityGroupAlreadyExistsFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBSecurityGroupAlreadyExists",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBSecurityGroupNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBSecurityGroupNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBSecurityGroupNotSupportedFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBSecurityGroupNotSupported",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBSecurityGroupQuotaExceededFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "QuotaExceeded.DBSecurityGroup",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBShardGroupAlreadyExistsFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBShardGroupAlreadyExists",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBShardGroupNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBShardGroupNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBSnapshotAlreadyExistsFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBSnapshotAlreadyExists",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBSnapshotNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBSnapshotNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBSnapshotTenantDatabaseNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBSnapshotTenantDatabaseNotFoundFault",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBSubnetGroup": {
      "members": {
        "DBSubnetGroupArn": {
          "target": "com.amazonaws.rds#String",
          "traits": {}
        },
        "DBSubnetGroupDescription": {
          "target": "com.amazonaws.rds#String",
          "traits": {}
        },
        "DBSubnetGroupName": {
          "target": "com.amazonaws.rds#String",
          "traits": {}
        },
        "SubnetGroupStatus": {
          "target": "com.amazonaws.rds#String",
          "traits": {}
        },
        "Subnets": {
          "target": "com.amazonaws.rds#SubnetList",
          "traits": {}
        },
        "SupportedNetworkTypes": {
          "target": "com.amazonaws.rds#StringList",
          "traits": {}
        },
        "VpcId": {
          "target": "com.amazonaws.rds#String",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.rds#DBSubnetGroupAlreadyExistsFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBSubnetGroupAlreadyExists",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBSubnetGroupDoesNotCoverEnoughAZs": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBSubnetGroupDoesNotCoverEnoughAZs",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBSubnetGroupMessage": {
      "members": {
        "DBSubnetGroups": {
          "target": "com.amazonaws.rds#DBSubnetGroups",
          "traits": {}
        },
        "Marker": {
          "target": "com.amazonaws.rds#String",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBSubnetGroupNotAllowedFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBSubnetGroupNotAllowedFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBSubnetGroupNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBSubnetGroupNotFoundFault",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBSubnetGroupQuotaExceededFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBSubnetGroupQuotaExceeded",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBSubnetGroups": {
      "member": {
        "target": "com.amazonaws.rds#DBSubnetGroup",
        "traits": {
          "smithy.api#xmlName": "DBSubnetGroup"
        }
      },
      "type": "list"
    },
    "com.amazonaws.rds#DBSubnetQuotaExceededFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBSubnetQuotaExceededFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DBUpgradeDependencyFailureFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DBUpgradeDependencyFailure",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DeleteDBClusterParameterGroup": {
      "errors": [
        {
          "target": "com.amazonaws.rds#DBParameterGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.rds#InvalidDBParameterGroupStateFault"
        }
      ],
      "input": {
        "target": "com.amazonaws.rds#DeleteDBClusterParameterGroupMessage"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {},
      "type": "operation"
    },
    "com.amazonaws.rds#DeleteDBClusterParameterGroupMessage": {
      "members": {
        "DBClusterParameterGroupName": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DeleteDBSubnetGroup": {
      "errors": [
        {
          "target": "com.amazonaws.rds#DBSubnetGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.rds#InvalidDBSubnetGroupStateFault"
        },
        {
          "target": "com.amazonaws.rds#InvalidDBSubnetStateFault"
        }
      ],
      "input": {
        "target": "com.amazonaws.rds#DeleteDBSubnetGroupMessage"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {},
      "type": "operation"
    },
    "com.amazonaws.rds#DeleteDBSubnetGroupMessage": {
      "members": {
        "DBSubnetGroupName": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DescribeDBClusterParameterGroups": {
      "errors": [
        {
          "target": "com.amazonaws.rds#DBParameterGroupNotFoundFault"
        }
      ],
      "input": {
        "target": "com.amazonaws.rds#DescribeDBClusterParameterGroupsMessage"
      },
      "output": {
        "target": "com.amazonaws.rds#DBClusterParameterGroupsMessage"
      },
      "traits": {
        "smithy.api#paginated": {
          "inputToken": "Marker",
          "items": "DBClusterParameterGroups",
          "outputToken": "Marker",
          "pageSize": "MaxRecords"
        }
      },
      "type": "operation"
    },
    "com.amazonaws.rds#DescribeDBClusterParameterGroupsMessage": {
      "members": {
        "DBClusterParameterGroupName": {
          "target": "com.amazonaws.rds#String",
          "traits": {}
        },
        "Filters": {
          "target": "com.amazonaws.rds#FilterList",
          "traits": {}
        },
        "Marker": {
          "target": "com.amazonaws.rds#String",
          "traits": {}
        },
        "MaxRecords": {
          "target": "com.amazonaws.rds#IntegerOptional",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DescribeDBClusterParameters": {
      "errors": [
        {
          "target": "com.amazonaws.rds#DBParameterGroupNotFoundFault"
        }
      ],
      "input": {
        "target": "com.amazonaws.rds#DescribeDBClusterParametersMessage"
      },
      "output": {
        "target": "com.amazonaws.rds#DBClusterParameterGroupDetails"
      },
      "traits": {
        "smithy.api#paginated": {
          "inputToken": "Marker",
          "items": "Parameters",
          "outputToken": "Marker",
          "pageSize": "MaxRecords"
        }
      },
      "type": "operation"
    },
    "com.amazonaws.rds#DescribeDBClusterParametersMessage": {
      "members": {
        "DBClusterParameterGroupName": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#required": {}
          }
        },
        "Filters": {
          "target": "com.amazonaws.rds#FilterList",
          "traits": {}
        },
        "Marker": {
          "target": "com.amazonaws.rds#String",
          "traits": {}
        },
        "MaxRecords": {
          "target": "com.amazonaws.rds#IntegerOptional",
          "traits": {}
        },
        "Source": {
          "target": "com.amazonaws.rds#String",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DescribeDBSubnetGroups": {
      "errors": [
        {
          "target": "com.amazonaws.rds#DBSubnetGroupNotFoundFault"
        }
      ],
      "input": {
        "target": "com.amazonaws.rds#DescribeDBSubnetGroupsMessage"
      },
      "output": {
        "target": "com.amazonaws.rds#DBSubnetGroupMessage"
      },
      "traits": {
        "smithy.api#paginated": {
          "inputToken": "Marker",
          "items": "DBSubnetGroups",
          "outputToken": "Marker",
          "pageSize": "MaxRecords"
        }
      },
      "type": "operation"
    },
    "com.amazonaws.rds#DescribeDBSubnetGroupsMessage": {
      "members": {
        "DBSubnetGroupName": {
          "target": "com.amazonaws.rds#String",
          "traits": {}
        },
        "Filters": {
          "target": "com.amazonaws.rds#FilterList",
          "traits": {}
        },
        "Marker": {
          "target": "com.amazonaws.rds#String",
          "traits": {}
        },
        "MaxRecords": {
          "target": "com.amazonaws.rds#IntegerOptional",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.rds#DomainNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DomainNotFoundFault",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.rds#Ec2ImagePropertiesNotSupportedFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "Ec2ImagePropertiesNotSupportedFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#EngineModeList": {
      "member": {
        "target": "com.amazonaws.rds#String"
      },
      "type": "list"
    },
    "com.amazonaws.rds#EventSubscriptionQuotaExceededFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "EventSubscriptionQuotaExceeded",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#ExceptionMessage": {
      "type": "string"
    },
    "com.amazonaws.rds#ExportTaskAlreadyExistsFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ExportTaskAlreadyExists",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#ExportTaskNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ExportTaskNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.rds#Filter": {
      "members": {
        "Name": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#required": {}
          }
        },
        "Values": {
          "target": "com.amazonaws.rds#FilterValueList",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.rds#FilterList": {
      "member": {
        "target": "com.amazonaws.rds#Filter",
        "traits": {
          "smithy.api#xmlName": "Filter"
        }
      },
      "type": "list"
    },
    "com.amazonaws.rds#FilterValueList": {
      "member": {
        "target": "com.amazonaws.rds#String",
        "traits": {
          "smithy.api#xmlName": "Value"
        }
      },
      "type": "list"
    },
    "com.amazonaws.rds#GlobalClusterAlreadyExistsFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "GlobalClusterAlreadyExistsFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#GlobalClusterNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "GlobalClusterNotFoundFault",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.rds#GlobalClusterQuotaExceededFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "GlobalClusterQuotaExceededFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#IamRoleMissingPermissionsFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "IamRoleMissingPermissions",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#IamRoleNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "IamRoleNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.rds#InstanceQuotaExceededFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InstanceQuotaExceeded",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#InsufficientAvailableIPsInSubnetFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InsufficientAvailableIPsInSubnetFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#InsufficientDBClusterCapacityFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InsufficientDBClusterCapacityFault",
          "httpResponseCode": 403
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      },
      "type": "structure"
    },
    "com.amazonaws.rds#InsufficientDBInstanceCapacityFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InsufficientDBInstanceCapacity",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#InsufficientStorageClusterCapacityFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InsufficientStorageClusterCapacity",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#IntegerOptional": {
      "type": "integer"
    },
    "com.amazonaws.rds#IntegrationAlreadyExistsFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "IntegrationAlreadyExistsFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#IntegrationConflictOperationFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "IntegrationConflictOperationFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#IntegrationNotFoundFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "IntegrationNotFoundFault",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.rds#IntegrationQuotaExceededFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "IntegrationQuotaExceededFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#InvalidBlueGreenDeploymentStateFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidBlueGreenDeploymentStateFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#InvalidCustomDBEngineVersionStateFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidCustomDBEngineVersionStateFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#InvalidDBClusterAutomatedBackupStateFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidDBClusterAutomatedBackupStateFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#InvalidDBClusterCapacityFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidDBClusterCapacityFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#InvalidDBClusterEndpointStateFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidDBClusterEndpointStateFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#InvalidDBClusterSnapshotStateFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidDBClusterSnapshotStateFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#InvalidDBClusterStateFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidDBClusterStateFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#InvalidDBInstanceAutomatedBackupStateFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidDBInstanceAutomatedBackupState",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#InvalidDBInstanceStateFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidDBInstanceState",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#InvalidDBParameterGroupStateFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidDBParameterGroupState",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#InvalidDBProxyEndpointStateFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidDBProxyEndpointStateFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#InvalidDBProxyStateFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidDBProxyStateFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#InvalidDBSecurityGroupStateFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidDBSecurityGroupState",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#InvalidDBShardGroupStateFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidDBShardGroupState",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#InvalidDBSnapshotStateFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidDBSnapshotState",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#InvalidDBSubnetGroupFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidDBSubnetGroupFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#InvalidDBSubnetGroupStateFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidDBSubnetGroupStateFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#InvalidDBSubnetStateFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidDBSubnetStateFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#InvalidEventSubscriptionStateFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidEventSubscriptionState",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#InvalidExportOnlyFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidExportOnly",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#InvalidExportSourceStateFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidExportSourceState",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#InvalidExportTaskStateFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidExportTaskStateFault",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.rds#InvalidGlobalClusterStateFault": {
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
[...]
