{
  "shapes": {
    "com.amazonaws.s3#AbacStatus": {
      "members": {
        "Status": {
          "target": "com.amazonaws.s3#BucketAbacStatus",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.s3#AbortIncompleteMultipartUpload": {
      "members": {
        "DaysAfterInitiation": {
          "target": "com.amazonaws.s3#DaysAfterInitiation",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.s3#AccelerateConfiguration": {
      "members": {
        "Status": {
          "target": "com.amazonaws.s3#BucketAccelerateStatus",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.s3#AccessControlTranslation": {
      "members": {
        "Owner": {
          "target": "com.amazonaws.s3#OwnerOverride",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.s3#AccessDenied": {
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      },
      "type": "structure"
    },
    "com.amazonaws.s3#AccessPointArn": {
      "type": "string"
    },
    "com.amazonaws.s3#AccountId": {
      "type": "string"
    },
    "com.amazonaws.s3#AllowedHeader": {
      "type": "string"
    },
    "com.amazonaws.s3#AllowedHeaders": {
      "member": {
        "target": "com.amazonaws.s3#AllowedHeader"
      },
      "type": "list"
    },
    "com.amazonaws.s3#AllowedMethod": {
      "type": "string"
    },
    "com.amazonaws.s3#AllowedMethods": {
      "member": {
        "target": "com.amazonaws.s3#AllowedMethod"
      },
      "type": "list"
    },
    "com.amazonaws.s3#AllowedOrigin": {
      "type": "string"
    },
    "com.amazonaws.s3#AllowedOrigins": {
      "member": {
        "target": "com.amazonaws.s3#AllowedOrigin"
      },
      "type": "list"
    },
    "com.amazonaws.s3#AmazonS3": {
      "operations": [
        {
          "target": "com.amazonaws.s3#CreateBucket"
        },
        {
          "target": "com.amazonaws.s3#DeleteBucket"
        },
        {
          "target": "com.amazonaws.s3#GetBucketAbac"
        },
        {
          "target": "com.amazonaws.s3#GetBucketAccelerateConfiguration"
        },
        {
          "target": "com.amazonaws.s3#GetBucketCors"
        },
        {
          "target": "com.amazonaws.s3#GetBucketEncryption"
        },
        {
          "target": "com.amazonaws.s3#GetBucketLifecycleConfiguration"
        },
        {
          "target": "com.amazonaws.s3#GetBucketLogging"
        },
        {
          "target": "com.amazonaws.s3#GetBucketMetadataConfiguration"
        },
        {
          "target": "com.amazonaws.s3#GetBucketMetadataTableConfiguration"
        },
        {
          "target": "com.amazonaws.s3#GetBucketNotificationConfiguration"
        },
        {
          "target": "com.amazonaws.s3#GetBucketOwnershipControls"
        },
        {
          "target": "com.amazonaws.s3#GetBucketReplication"
        },
        {
          "target": "com.amazonaws.s3#GetBucketTagging"
        },
        {
          "target": "com.amazonaws.s3#GetBucketVersioning"
        },
        {
          "target": "com.amazonaws.s3#GetBucketWebsite"
        },
        {
          "target": "com.amazonaws.s3#GetObjectLockConfiguration"
        },
        {
          "target": "com.amazonaws.s3#GetPublicAccessBlock"
        },
        {
          "target": "com.amazonaws.s3#ListBucketAnalyticsConfigurations"
        },
        {
          "target": "com.amazonaws.s3#ListBucketIntelligentTieringConfigurations"
        },
        {
          "target": "com.amazonaws.s3#ListBucketInventoryConfigurations"
        },
        {
          "target": "com.amazonaws.s3#ListBucketMetricsConfigurations"
        },
        {
          "target": "com.amazonaws.s3#PutBucketAbac"
        },
        {
          "target": "com.amazonaws.s3#PutBucketAccelerateConfiguration"
        },
        {
          "target": "com.amazonaws.s3#PutBucketCors"
        },
        {
          "target": "com.amazonaws.s3#PutBucketEncryption"
        },
        {
          "target": "com.amazonaws.s3#PutBucketLogging"
        },
        {
          "target": "com.amazonaws.s3#PutBucketOwnershipControls"
        },
        {
          "target": "com.amazonaws.s3#PutBucketTagging"
        },
        {
          "target": "com.amazonaws.s3#PutBucketVersioning"
        },
        {
          "target": "com.amazonaws.s3#PutBucketWebsite"
        },
        {
          "target": "com.amazonaws.s3#PutObjectLockConfiguration"
        },
        {
          "target": "com.amazonaws.s3#PutPublicAccessBlock"
        }
      ],
      "traits": {
        "aws.api#service": {
          "arnNamespace": "s3",
          "cloudFormationName": "S3",
          "cloudTrailEventSource": "s3.amazonaws.com",
          "endpointPrefix": "s3",
          "sdkId": "S3"
        },
        "aws.auth#sigv4": {
          "name": "s3"
        },
        "aws.protocols#restXml": {
          "noErrorWrapping": true
        },
        "smithy.api#suppress": [
          "RuleSetAuthSchemes"
        ],
        "smithy.api#title": "Amazon Simple Storage Service",
        "smithy.api#xmlNamespace": {
          "uri": "http://s3.amazonaws.com/doc/2006-03-01/"
        },
        "smithy.rules#clientContextParams": {
          "Accelerate": {
            "documentation": "Enables this client to use S3 Transfer Acceleration endpoints.",
            "type": "boolean"
          },
          "DisableMultiRegionAccessPoints": {
            "documentation": "Disables this client's usage of Multi-Region Access Points.",
            "type": "boolean"
          },
          "DisableS3ExpressSessionAuth": {
            "documentation": "Disables this client's usage of Session Auth for S3Express       buckets and reverts to using conventional SigV4 for those.",
            "type": "boolean"
          },
          "ForcePathStyle": {
            "documentation": "Forces this client to use path-style addressing for buckets.",
            "type": "boolean"
          },
          "UseArnRegion": {
            "documentation": "Enables this client to use an ARN's region when constructing an endpoint instead of the client's configured region.",
            "type": "boolean"
          }
        },
        "smithy.rules#endpointRuleSet": {
          "parameters": {
            "Accelerate": {
              "builtIn": "AWS::S3::Accelerate",
              "default": false,
              "documentation": "When true, use S3 Accelerate. NOTE: Not all regions support S3 accelerate.",
              "required": true,
              "type": "boolean"
            },
            "Bucket": {
              "documentation": "The S3 bucket used to send the request. This is an optional parameter that will be set automatically for operations that are scoped to an S3 bucket.",
              "required": false,
              "type": "string"
            },
            "CopySource": {
              "documentation": "The Copy Source used for Copy Object request. This is an optional parameter that will be set automatically for operations that are scoped to Copy Source.",
              "required": false,
              "type": "string"
            },
            "DisableAccessPoints": {
              "documentation": "Internal parameter to disable Access Point Buckets",
              "required": false,
              "type": "boolean"
            },
            "DisableMultiRegionAccessPoints": {
              "builtIn": "AWS::S3::DisableMultiRegionAccessPoints",
              "default": false,
              "documentation": "Whether multi-region access points (MRAP) should be disabled.",
              "required": true,
              "type": "boolean"
            },
            "DisableS3ExpressSessionAuth": {
              "documentation": "Parameter to indicate whether S3Express session auth should be disabled",
              "required": false,
              "type": "boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "documentation": "Override the endpoint used to send this request",
              "required": false,
              "type": "string"
            },
            "ForcePathStyle": {
              "builtIn": "AWS::S3::ForcePathStyle",
              "default": false,
              "documentation": "When true, force a path-style endpoint to be used where the bucket name is part of the path.",
              "required": true,
              "type": "boolean"
            },
            "Key": {
              "documentation": "The S3 Key used to send the request. This is an optional parameter that will be set automatically for operations that are scoped to an S3 Key.",
              "required": false,
              "type": "string"
            },
            "Prefix": {
              "documentation": "The S3 Prefix used to send the request. This is an optional parameter that will be set automatically for operations that are scoped to an S3 Prefix.",
              "required": false,
              "type": "string"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "documentation": "The AWS region used to dispatch the request.",
              "required": false,
              "type": "string"
            },
            "UseArnRegion": {
              "builtIn": "AWS::S3::UseArnRegion",
              "documentation": "When an Access Point ARN is provided and this flag is enabled, the SDK MUST use the ARN's region when constructing the endpoint instead of the client's configured region.",
              "required": false,
              "type": "boolean"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "required": true,
              "type": "boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "required": true,
              "type": "boolean"
            },
            "UseGlobalEndpoint": {
              "builtIn": "AWS::S3::UseGlobalEndpoint",
              "default": false,
              "documentation": "Whether the global endpoint should be used, rather then the regional endpoint for us-east-1.",
              "required": true,
              "type": "boolean"
            },
            "UseObjectLambdaEndpoint": {
              "documentation": "Internal parameter to use object lambda endpoint for an operation (eg: WriteGetObjectResponse)",
              "required": false,
              "type": "boolean"
            },
            "UseS3ExpressControlEndpoint": {
              "documentation": "Internal parameter to indicate whether S3Express operation should use control plane, (ex. CreateBucket)",
              "required": false,
              "type": "boolean"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "fn": "isSet"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "Accelerate"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    },
                    {
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    }
                  ],
                  "error": "Accelerate cannot be used with FIPS",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    },
                    {
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "fn": "isSet"
                    }
                  ],
                  "error": "Cannot set dual-stack in combination with a custom endpoint.",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "fn": "isSet"
                    },
                    {
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    }
                  ],
                  "error": "A custom endpoint cannot be combined with FIPS",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "fn": "isSet"
                    },
                    {
                      "argv": [
                        {
                          "ref": "Accelerate"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    }
                  ],
                  "error": "A custom endpoint cannot be combined with S3 Accelerate",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    },
                    {
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "partitionResult",
                      "fn": "aws.partition"
                    },
                    {
                      "argv": [
                        {
                          "argv": [
                            {
                              "ref": "partitionResult"
                            },
                            "name"
                          ],
                          "fn": "getAttr"
                        },
                        "aws-cn"
                      ],
                      "fn": "stringEquals"
                    }
                  ],
                  "error": "Partition does not support FIPS",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "Bucket"
                        }
                      ],
                      "fn": "isSet"
                    },
                    {
                      "argv": [
                        {
                          "ref": "Bucket"
                        },
                        0,
                        6,
                        true
                      ],
                      "assign": "bucketSuffix",
                      "fn": "substring"
                    },
                    {
                      "argv": [
                        {
                          "ref": "bucketSuffix"
                        },
                        "--x-s3"
                      ],
                      "fn": "stringEquals"
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "Accelerate"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "error": "S3Express does not support S3 Accelerate.",
                      "type": "error"
                    },
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "Endpoint"
                            }
                          ],
                          "fn": "isSet"
                        },
                        {
                          "argv": [
                            {
                              "ref": "Endpoint"
                            }
                          ],
                          "assign": "url",
                          "fn": "parseURL"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "ref": "DisableS3ExpressSessionAuth"
                                }
                              ],
                              "fn": "isSet"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "DisableS3ExpressSessionAuth"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "argv": [
                                    {
                                      "argv": [
                                        {
                                          "ref": "url"
                                        },
                                        "isIp"
                                      ],
                                      "fn": "getAttr"
                                    },
                                    true
                                  ],
                                  "fn": "booleanEquals"
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [
                                    {
                                      "argv": [
                                        {
                                          "ref": "Bucket"
                                        }
                                      ],
                                      "assign": "uri_encoded_bucket",
                                      "fn": "uriEncode"
                                    }
                                  ],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "headers": {},
                                        "properties": {
                                          "authSchemes": [
                                            {
                                              "disableDoubleEncoding": true,
                                              "name": "sigv4",
                                              "signingName": "s3express",
                                              "signingRegion": "{Region}"
                                            }
                                          ],
                                          "backend": "S3Express"
                                        },
                                        "url": "{url#scheme}://{url#authority}/{uri_encoded_bucket}{url#path}"
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [
                                {
                                  "argv": [
                                    {
                                      "ref": "Bucket"
                                    },
                                    false
                                  ],
                                  "fn": "aws.isVirtualHostableS3Bucket"
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "endpoint": {
                                    "headers": {},
                                    "properties": {
                                      "authSchemes": [
                                        {
                                          "disableDoubleEncoding": true,
                                          "name": "sigv4",
                                          "signingName": "s3express",
                                          "signingRegion": "{Region}"
                                        }
                                      ],
                                      "backend": "S3Express"
                                    },
                                    "url": "{url#scheme}://{Bucket}.{url#authority}{url#path}"
                                  },
                                  "type": "endpoint"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "S3Express bucket name is not a valid virtual hostable name.",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "url"
                                    },
                                    "isIp"
                                  ],
                                  "fn": "getAttr"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "argv": [
                                    {
                                      "ref": "Bucket"
                                    }
                                  ],
                                  "assign": "uri_encoded_bucket",
                                  "fn": "uriEncode"
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "endpoint": {
                                    "headers": {},
                                    "properties": {
                                      "authSchemes": [
                                        {
                                          "disableDoubleEncoding": true,
                                          "name": "sigv4-s3express",
                                          "signingName": "s3express",
                                          "signingRegion": "{Region}"
                                        }
                                      ],
                                      "backend": "S3Express"
                                    },
                                    "url": "{url#scheme}://{url#authority}/{uri_encoded_bucket}{url#path}"
                                  },
                                  "type": "endpoint"
                                }
                              ],
                              "type": "tree"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "ref": "Bucket"
                                },
                                false
                              ],
                              "fn": "aws.isVirtualHostableS3Bucket"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "disableDoubleEncoding": true,
                                      "name": "sigv4-s3express",
                                      "signingName": "s3express",
                                      "signingRegion": "{Region}"
                                    }
                                  ],
                                  "backend": "S3Express"
                                },
                                "url": "{url#scheme}://{Bucket}.{url#authority}{url#path}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "S3Express bucket name is not a valid virtual hostable name.",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseS3ExpressControlEndpoint"
                            }
                          ],
                          "fn": "isSet"
                        },
                        {
                          "argv": [
                            {
                              "ref": "UseS3ExpressControlEndpoint"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "ref": "Region"
                                }
                              ],
                              "assign": "partitionResult",
                              "fn": "aws.partition"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "argv": [
                                    {
                                      "ref": "Bucket"
                                    }
                                  ],
                                  "assign": "uri_encoded_bucket",
                                  "fn": "uriEncode"
                                },
                                {
                                  "argv": [
                                    {
                                      "argv": [
                                        {
                                          "ref": "Endpoint"
                                        }
                                      ],
                                      "fn": "isSet"
                                    }
                                  ],
                                  "fn": "not"
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [
                                    {
                                      "argv": [
                                        {
                                          "ref": "UseFIPS"
                                        },
                                        true
                                      ],
                                      "fn": "booleanEquals"
                                    },
                                    {
                                      "argv": [
                                        {
                                          "ref": "UseDualStack"
                                        },
                                        true
                                      ],
                                      "fn": "booleanEquals"
                                    }
                                  ],
                                  "endpoint": {
                                    "headers": {},
                                    "properties": {
                                      "authSchemes": [
                                        {
                                          "disableDoubleEncoding": true,
                                          "name": "sigv4",
                                          "signingName": "s3express",
                                          "signingRegion": "{Region}"
                                        }
                                      ],
                                      "backend": "S3Express"
                                    },
                                    "url": "https://s3express-control-fips.dualstack.{Region}.{partitionResult#dnsSuffix}/{uri_encoded_bucket}"
                                  },
                                  "type": "endpoint"
                                },
                                {
                                  "conditions": [
                                    {
                                      "argv": [
                                        {
                                          "ref": "UseFIPS"
                                        },
                                        true
                                      ],
                                      "fn": "booleanEquals"
                                    },
                                    {
                                      "argv": [
                                        {
                                          "ref": "UseDualStack"
                                        },
                                        false
                                      ],
                                      "fn": "booleanEquals"
                                    }
                                  ],
                                  "endpoint": {
                                    "headers": {},
                                    "properties": {
                                      "authSchemes": [
                                        {
                                          "disableDoubleEncoding": true,
                                          "name": "sigv4",
                                          "signingName": "s3express",
                                          "signingRegion": "{Region}"
                                        }
                                      ],
                                      "backend": "S3Express"
                                    },
                                    "url": "https://s3express-control-fips.{Region}.{partitionResult#dnsSuffix}/{uri_encoded_bucket}"
                                  },
                                  "type": "endpoint"
                                },
                                {
                                  "conditions": [
                                    {
                                      "argv": [
                                        {
                                          "ref": "UseFIPS"
                                        },
                                        false
                                      ],
                                      "fn": "booleanEquals"
                                    },
                                    {
                                      "argv": [
                                        {
                                          "ref": "UseDualStack"
                                        },
                                        true
                                      ],
                                      "fn": "booleanEquals"
                                    }
                                  ],
                                  "endpoint": {
                                    "headers": {},
                                    "properties": {
                                      "authSchemes": [
                                        {
                                          "disableDoubleEncoding": true,
                                          "name": "sigv4",
                                          "signingName": "s3express",
                                          "signingRegion": "{Region}"
                                        }
                                      ],
                                      "backend": "S3Express"
                                    },
                                    "url": "https://s3express-control.dualstack.{Region}.{partitionResult#dnsSuffix}/{uri_encoded_bucket}"
                                  },
                                  "type": "endpoint"
                                },
                                {
                                  "conditions": [
                                    {
                                      "argv": [
                                        {
                                          "ref": "UseFIPS"
                                        },
                                        false
                                      ],
                                      "fn": "booleanEquals"
                                    },
                                    {
                                      "argv": [
                                        {
                                          "ref": "UseDualStack"
                                        },
                                        false
                                      ],
                                      "fn": "booleanEquals"
                                    }
                                  ],
                                  "endpoint": {
                                    "headers": {},
                                    "properties": {
                                      "authSchemes": [
                                        {
                                          "disableDoubleEncoding": true,
                                          "name": "sigv4",
                                          "signingName": "s3express",
                                          "signingRegion": "{Region}"
                                        }
                                      ],
                                      "backend": "S3Express"
                                    },
                                    "url": "https://s3express-control.{Region}.{partitionResult#dnsSuffix}/{uri_encoded_bucket}"
                                  },
                                  "type": "endpoint"
                                }
                              ],
                              "type": "tree"
                            }
                          ],
                          "type": "tree"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "Bucket"
                            },
                            false
                          ],
                          "fn": "aws.isVirtualHostableS3Bucket"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "ref": "Region"
                                }
                              ],
                              "assign": "partitionResult",
                              "fn": "aws.partition"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "argv": [
                                    {
                                      "ref": "DisableS3ExpressSessionAuth"
                                    }
                                  ],
                                  "fn": "isSet"
                                },
                                {
                                  "argv": [
                                    {
                                      "ref": "DisableS3ExpressSessionAuth"
                                    },
                                    true
                                  ],
                                  "fn": "booleanEquals"
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [
                                    {
                                      "argv": [
                                        {
                                          "ref": "Bucket"
                                        },
                                        6,
                                        14,
                                        true
                                      ],
                                      "assign": "s3expressAvailabilityZoneId",
                                      "fn": "substring"
                                    },
                                    {
                                      "argv": [
                                        {
                                          "ref": "Bucket"
                                        },
                                        14,
                                        16,
                                        true
                                      ],
                                      "assign": "s3expressAvailabilityZoneDelim",
                                      "fn": "substring"
                                    },
                                    {
                                      "argv": [
                                        {
                                          "ref": "s3expressAvailabilityZoneDelim"
                                        },
                                        "--"
                                      ],
                                      "fn": "stringEquals"
                                    }
                                  ],
                                  "rules": [
                                    {
                                      "conditions": [
                                        {
                                          "argv": [
                                            {
                                              "ref": "UseFIPS"
                                            },
                                            true
                                          ],
                                          "fn": "booleanEquals"
                                        },
                                        {
                                          "argv": [
                                            {
                                              "ref": "UseDualStack"
                                            },
                                            true
                                          ],
                                          "fn": "booleanEquals"
                                        }
                                      ],
                                      "endpoint": {
                                        "headers": {},
                                        "properties": {
                                          "authSchemes": [
                                            {
                                              "disableDoubleEncoding": true,
                                              "name": "sigv4",
                                              "signingName": "s3express",
                                              "signingRegion": "{Region}"
                                            }
                                          ],
                                          "backend": "S3Express"
                                        },
                                        "url": "https://{Bucket}.s3express-fips-{s3expressAvailabilityZoneId}.dualstack.{Region}.{partitionResult#dnsSuffix}"
                                      },
                                      "type": "endpoint"
                                    },
                                    {
                                      "conditions": [
                                        {
                                          "argv": [
                                            {
                                              "ref": "UseFIPS"
                                            },
                                            true
                                          ],
                                          "fn": "booleanEquals"
                                        },
                                        {
                                          "argv": [
                                            {
                                              "ref": "UseDualStack"
                                            },
                                            false
                                          ],
                                          "fn": "booleanEquals"
                                        }
                                      ],
                                      "endpoint": {
                                        "headers": {},
                                        "properties": {
                                          "authSchemes": [
                                            {
                                              "disableDoubleEncoding": true,
                                              "name": "sigv4",
                                              "signingName": "s3express",
                                              "signingRegion": "{Region}"
                                            }
                                          ],
                                          "backend": "S3Express"
                                        },
                                        "url": "https://{Bucket}.s3express-fips-{s3expressAvailabilityZoneId}.{Region}.{partitionResult#dnsSuffix}"
                                      },
                                      "type": "endpoint"
                                    },
                                    {
                                      "conditions": [
                                        {
                                          "argv": [
                                            {
                                              "ref": "UseFIPS"
                                            },
                                            false
                                          ],
                                          "fn": "booleanEquals"
                                        },
                                        {
                                          "argv": [
                                            {
                                              "ref": "UseDualStack"
                                            },
                                            true
                                          ],
                                          "fn": "booleanEquals"
                                        }
                                      ],
                                      "endpoint": {
                                        "headers": {},
                                        "properties": {
                                          "authSchemes": [
                                            {
                                              "disableDoubleEncoding": true,
                                              "name": "sigv4",
                                              "signingName": "s3express",
                                              "signingRegion": "{Region}"
                                            }
                                          ],
                                          "backend": "S3Express"
                                        },
                                        "url": "https://{Bucket}.s3express-{s3expressAvailabilityZoneId}.dualstack.{Region}.{partitionResult#dnsSuffix}"
                                      },
                                      "type": "endpoint"
                                    },
                                    {
                                      "conditions": [
                                        {
                                          "argv": [
                                            {
                                              "ref": "UseFIPS"
                                            },
                                            false
                                          ],
                                          "fn": "booleanEquals"
                                        },
                                        {
                                          "argv": [
                                            {
                                              "ref": "UseDualStack"
                                            },
                                            false
                                          ],
                                          "fn": "booleanEquals"
                                        }
                                      ],
                                      "endpoint": {
                                        "headers": {},
                                        "properties": {
                                          "authSchemes": [
                                            {
                                              "disableDoubleEncoding": true,
                                              "name": "sigv4",
                                              "signingName": "s3express",
                                              "signingRegion": "{Region}"
                                            }
                                          ],
                                          "backend": "S3Express"
                                        },
                                        "url": "https://{Bucket}.s3express-{s3expressAvailabilityZoneId}.{Region}.{partitionResult#dnsSuffix}"
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                },
                                {
                                  "conditions": [
                                    {
                                      "argv": [
                                        {
                                          "ref": "Bucket"
                                        },
                                        6,
                                        15,
                                        true
                                      ],
                                      "assign": "s3expressAvailabilityZoneId",
                                      "fn": "substring"
                                    },
                                    {
                                      "argv": [
                                        {
                                          "ref": "Bucket"
                                        },
                                        15,
                                        17,
                                        true
                                      ],
                                      "assign": "s3expressAvailabilityZoneDelim",
                                      "fn": "substring"
                                    },
                                    {
                                      "argv": [
                                        {
                                          "ref": "s3expressAvailabilityZoneDelim"
                                        },
                                        "--"
                                      ],
                                      "fn": "stringEquals"
                                    }
                                  ],
                                  "rules": [
                                    {
                                      "conditions": [
                                        {
                                          "argv": [
                                            {
                                              "ref": "UseFIPS"
                                            },
                                            true
                                          ],
                                          "fn": "booleanEquals"
                                        },
                                        {
                                          "argv": [
                                            {
                                              "ref": "UseDualStack"
                                            },
                                            true
                                          ],
                                          "fn": "booleanEquals"
                                        }
                                      ],
                                      "endpoint": {
                                        "headers": {},
                                        "properties": {
                                          "authSchemes": [
                                            {
                                              "disableDoubleEncoding": true,
                                              "name": "sigv4",
                                              "signingName": "s3express",
                                              "signingRegion": "{Region}"
                                            }
                                          ],
                                          "backend": "S3Express"
                                        },
                                        "url": "https://{Bucket}.s3express-fips-{s3expressAvailabilityZoneId}.dualstack.{Region}.{partitionResult#dnsSuffix}"
                                      },
                                      "type": "endpoint"
                                    },
                                    {
                                      "conditions": [
                                        {
                                          "argv": [
                                            {
                                              "ref": "UseFIPS"
                                            },
                                            true
                                          ],
                                          "fn": "booleanEquals"
                                        },
                                        {
                                          "argv": [
                                            {
                                              "ref": "UseDualStack"
                                            },
                                            false
                                          ],
                                          "fn": "booleanEquals"
                                        }
                                      ],
                                      "endpoint": {
                                        "headers": {},
                                        "properties": {
                                          "authSchemes": [
                                            {
                                              "disableDoubleEncoding": true,
                                              "name": "sigv4",
                                              "signingName": "s3express",
                                              "signingRegion": "{Region}"
                                            }
                                          ],
                                          "backend": "S3Express"
                                        },
                                        "url": "https://{Bucket}.s3express-fips-{s3expressAvailabilityZoneId}.{Region}.{partitionResult#dnsSuffix}"
                                      },
                                      "type": "endpoint"
                                    },
                                    {
                                      "conditions": [
                                        {
                                          "argv": [
                                            {
                                              "ref": "UseFIPS"
                                            },
                                            false
                                          ],
                                          "fn": "booleanEquals"
                                        },
                                        {
                                          "argv": [
                                            {
                                              "ref": "UseDualStack"
                                            },
                                            true
                                          ],
                                          "fn": "booleanEquals"
                                        }
                                      ],
                                      "endpoint": {
                                        "headers": {},
                                        "properties": {
                                          "authSchemes": [
                                            {
                                              "disableDoubleEncoding": true,
                                              "name": "sigv4",
                                              "signingName": "s3express",
                                              "signingRegion": "{Region}"
                                            }
                                          ],
                                          "backend": "S3Express"
                                        },
                                        "url": "https://{Bucket}.s3express-{s3expressAvailabilityZoneId}.dualstack.{Region}.{partitionResult#dnsSuffix}"
                                      },
                                      "type": "endpoint"
                                    },
                                    {
                                      "conditions": [
                                        {
                                          "argv": [
                                            {
                                              "ref": "UseFIPS"
                                            },
                                            false
                                          ],
                                          "fn": "booleanEquals"
                                        },
                                        {
                                          "argv": [
                                            {
                                              "ref": "UseDualStack"
                                            },
                                            false
                                          ],
                                          "fn": "booleanEquals"
                                        }
                                      ],
                                      "endpoint": {
                                        "headers": {},
                                        "properties": {
                                          "authSchemes": [
                                            {
                                              "disableDoubleEncoding": true,
                                              "name": "sigv4",
                                              "signingName": "s3express",
                                              "signingRegion": "{Region}"
                                            }
                                          ],
                                          "backend": "S3Express"
                                        },
                                        "url": "https://{Bucket}.s3express-{s3expressAvailabilityZoneId}.{Region}.{partitionResult#dnsSuffix}"
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                },
                                {
                                  "conditions": [
                                    {
                                      "argv": [
                                        {
                                          "ref": "Bucket"
                                        },
                                        6,
                                        19,
                                        true
                                      ],
                                      "assign": "s3expressAvailabilityZoneId",
                                      "fn": "substring"
                                    },
                                    {
                                      "argv": [
                                        {
                                          "ref": "Bucket"
                                        },
                                        19,
                                        21,
                                        true
                                      ],
                                      "assign": "s3expressAvailabilityZoneDelim",
                                      "fn": "substring"
                                    },
                                    {
                                      "argv": [
                                        {
                                          "ref": "s3expressAvailabilityZoneDelim"
                                        },
                                        "--"
                                      ],
                                      "fn": "stringEquals"
                                    }
                                  ],
                                  "rules": [
                                    {
                                      "conditions": [
                                        {
                                          "argv": [
                                            {
                                              "ref": "UseFIPS"
                                            },
                                            true
                                          ],
                                          "fn": "booleanEquals"
                                        },
                                        {
                                          "argv": [
                                            {
                                              "ref": "UseDualStack"
                                            },
                                            true
                                          ],
                                          "fn": "booleanEquals"
                                        }
                                      ],
                                      "endpoint": {
                                        "headers": {},
                                        "properties": {
                                          "authSchemes": [
                                            {
                                              "disableDoubleEncoding": true,
                                              "name": "sigv4",
                                              "signingName": "s3express",
                                              "signingRegion": "{Region}"
                                            }
                                          ],
                                          "backend": "S3Express"
                                        },
                                        "url": "https://{Bucket}.s3express-fips-{s3expressAvailabilityZoneId}.dualstack.{Region}.{partitionResult#dnsSuffix}"
                                      },
                                      "type": "endpoint"
                                    },
                                    {
                                      "conditions": [
                                        {
                                          "argv": [
                                            {
                                              "ref": "UseFIPS"
                                            },
                                            true
                                          ],
                                          "fn": "booleanEquals"
                                        },
                                        {
                                          "argv": [
                                            {
                                              "ref": "UseDualStack"
                                            },
                                            false
                                          ],
                                          "fn": "booleanEquals"
                                        }
                                      ],
                                      "endpoint": {
                                        "headers": {},
                                        "properties": {
                                          "authSchemes": [
                                            {
                                              "disableDoubleEncoding": true,
                                              "name": "sigv4",
                                              "signingName": "s3express",
                                              "signingRegion": "{Region}"
                                            }
                                          ],
                                          "backend": "S3Express"
                                        },
                                        "url": "https://{Bucket}.s3express-fips-{s3expressAvailabilityZoneId}.{Region}.{partitionResult#dnsSuffix}"
                                      },
                                      "type": "endpoint"
                                    },
                                    {
                                      "conditions": [
                                        {
                                          "argv": [
                                            {
                                              "ref": "UseFIPS"
                                            },
                                            false
                                          ],
                                          "fn": "booleanEquals"
                                        },
                                        {
                                          "argv": [
                                            {
                                              "ref": "UseDualStack"
                                            },
                                            true
                                          ],
                                          "fn": "booleanEquals"
                                        }
                                      ],
                                      "endpoint": {
                                        "headers": {},
                                        "properties": {
                                          "authSchemes": [
                                            {
                                              "disableDoubleEncoding": true,
                                              "name": "sigv4",
                                              "signingName": "s3express",
                                              "signingRegion": "{Region}"
                                            }
                                          ],
                                          "backend": "S3Express"
                                        },
                                        "url": "https://{Bucket}.s3express-{s3expressAvailabilityZoneId}.dualstack.{Region}.{partitionResult#dnsSuffix}"
                                      },
                                      "type": "endpoint"
                                    },
                                    {
                                      "conditions": [
                                        {
                                          "argv": [
                                            {
                                              "ref": "UseFIPS"
                                            },
                                            false
                                          ],
                                          "fn": "booleanEquals"
                                        },
                                        {
                                          "argv": [
                                            {
                                              "ref": "UseDualStack"
                                            },
                                            false
                                          ],
                                          "fn": "booleanEquals"
                                        }
                                      ],
                                      "endpoint": {
                                        "headers": {},
                                        "properties": {
                                          "authSchemes": [
                                            {
                                              "disableDoubleEncoding": true,
                                              "name": "sigv4",
                                              "signingName": "s3express",
                                              "signingRegion": "{Region}"
                                            }
                                          ],
                                          "backend": "S3Express"
                                        },
                                        "url": "https://{Bucket}.s3express-{s3expressAvailabilityZoneId}.{Region}.{partitionResult#dnsSuffix}"
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                },
                                {
                                  "conditions": [
                                    {
                                      "argv": [
                                        {
                                          "ref": "Bucket"
                                        },
                                        6,
                                        20,
                                        true
                                      ],
                                      "assign": "s3expressAvailabilityZoneId",
                                      "fn": "substring"
                                    },
                                    {
                                      "argv": [
                                        {
                                          "ref": "Bucket"
                                        },
                                        20,
                                        22,
                                        true
                                      ],
                                      "assign": "s3expressAvailabilityZoneDelim",
                                      "fn": "substring"
                                    },
                                    {
                                      "argv": [
                                        {
                                          "ref": "s3expressAvailabilityZoneDelim"
                                        },
                                        "--"
                                      ],
                                      "fn": "stringEquals"
                                    }
                                  ],
                                  "rules": [
                                    {
                                      "conditions": [
                                        {
                                          "argv": [
                                            {
                                              "ref": "UseFIPS"
                                            },
                                            true
                                          ],
                                          "fn": "booleanEquals"
                                        },
                                        {
                                          "argv": [
                                            {
                                              "ref": "UseDualStack"
                                            },
                                            true
                                          ],
                                          "fn": "booleanEquals"
                                        }
                                      ],
                                      "endpoint": {
                                        "headers": {},
                                        "properties": {
                                          "authSchemes": [
                                            {
                                              "disableDoubleEncoding": true,
                                              "name": "sigv4",
                                              "signingName": "s3express",
                                              "signingRegion": "{Region}"
                                            }
                                          ],
                                          "backend": "S3Express"
                                        },
                                        "url": "https://{Bucket}.s3express-fips-{s3expressAvailabilityZoneId}.dualstack.{Region}.{partitionResult#dnsSuffix}"
                                      },
                                      "type": "endpoint"
                                    },
                                    {
                                      "conditions": [
                                        {
                                          "argv": [
                                            {
                                              "ref": "UseFIPS"
                                            },
                                            true
                                          ],
                                          "fn": "booleanEquals"
                                        },
                                        {
                                          "argv": [
                                            {
                                              "ref": "UseDualStack"
                                            },
                                            false
                                          ],
                                          "fn": "booleanEquals"
                                        }
                                      ],
                                      "endpoint": {
                                        "headers": {},
                                        "properties": {
                                          "authSchemes": [
                                            {
                                              "disableDoubleEncoding": true,
                                              "name": "sigv4",
                                              "signingName": "s3express",
                                              "signingRegion": "{Region}"
                                            }
                                          ],
                                          "backend": "S3Express"
                                        },
                                        "url": "https://{Bucket}.s3express-fips-{s3expressAvailabilityZoneId}.{Region}.{partitionResult#dnsSuffix}"
                                      },
                                      "type": "endpoint"
                                    },
                                    {
                                      "conditions": [
                                        {
                                          "argv": [
                                            {
                                              "ref": "UseFIPS"
                                            },
                                            false
                                          ],
                                          "fn": "booleanEquals"
                                        },
                                        {
                                          "argv": [
                                            {
                                              "ref": "UseDualStack"
                                            },
                                            true
                                          ],
                                          "fn": "booleanEquals"
                                        }
                                      ],
                                      "endpoint": {
                                        "headers": {},
                                        "properties": {
                                          "authSchemes": [
                                            {
                                              "disableDoubleEncoding": true,
                                              "name": "sigv4",
                                              "signingName": "s3express",
                                              "signingRegion": "{Region}"
                                            }
                                          ],
                                          "backend": "S3Express"
                                        },
                                        "url": "https://{Bucket}.s3express-{s3expressAvailabilityZoneId}.dualstack.{Region}.{partitionResult#dnsSuffix}"
                                      },
                                      "type": "endpoint"
                                    },
                                    {
                                      "conditions": [
                                        {
                                          "argv": [
                                            {
                                              "ref": "UseFIPS"
                                            },
                                            false
                                          ],
                                          "fn": "booleanEquals"
                                        },
                                        {
                                          "argv": [
                                            {
                                              "ref": "UseDualStack"
                                            },
                                            false
                                          ],
                                          "fn": "booleanEquals"
                                        }
                                      ],
                                      "endpoint": {
                                        "headers": {},
                                        "properties": {
                                          "authSchemes": [
                                            {
                                              "disableDoubleEncoding": true,
                                              "name": "sigv4",
                                              "signingName": "s3express",
                                              "signingRegion": "{Region}"
                                            }
                                          ],
                                          "backend": "S3Express"
                                        },
                                        "url": "https://{Bucket}.s3express-{s3expressAvailabilityZoneId}.{Region}.{partitionResult#dnsSuffix}"
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                },
                                {
                                  "conditions": [
                                    {
                                      "argv": [
                                        {
                                          "ref": "Bucket"
                                        },
                                        6,
                                        26,
                                        true
                                      ],
                                      "assign": "s3expressAvailabilityZoneId",
                                      "fn": "substring"
                                    },
                                    {
                                      "argv": [
                                        {
                                          "ref": "Bucket"
                                        },
                                        26,
                                        28,
                                        true
                                      ],
                                      "assign": "s3expressAvailabilityZoneDelim",
                                      "fn": "substring"
                                    },
                                    {
                                      "argv": [
                                        {
                                          "ref": "s3expressAvailabilityZoneDelim"
                                        },
                                        "--"
                                      ],
                                      "fn": "stringEquals"
                                    }
                                  ],
                                  "rules": [
                                    {
                                      "conditions": [
                                        {
                                          "argv": [
                                            {
                                              "ref": "UseFIPS"
                                            },
                                            true
                                          ],
                                          "fn": "booleanEquals"
                                        },
                                        {
                                          "argv": [
                                            {
                                              "ref": "UseDualStack"
                                            },
                                            true
                                          ],
                                          "fn": "booleanEquals"
                                        }
                                      ],
                                      "endpoint": {
                                        "headers": {},
                                        "properties": {
                                          "authSchemes": [
                                            {
                                              "disableDoubleEncoding": true,
                                              "name": "sigv4",
                                              "signingName": "s3express",
                                              "signingRegion": "{Region}"
                                            }
                                          ],
                                          "backend": "S3Express"
                                        },
                                        "url": "https://{Bucket}.s3express-fips-{s3expressAvailabilityZoneId}.dualstack.{Region}.{partitionResult#dnsSuffix}"
                                      },
                                      "type": "endpoint"
                                    },
                                    {
                                      "conditions": [
                                        {
                                          "argv": [
                                            {
                                              "ref": "UseFIPS"
                                            },
                                            true
                                          ],
                                          "fn": "booleanEquals"
                                        },
                                        {
                                          "argv": [
                                            {
                                              "ref": "UseDualStack"
                                            },
                                            false
                                          ],
                                          "fn": "booleanEquals"
                                        }
                                      ],
                                      "endpoint": {
                                        "headers": {},
                                        "properties": {
                                          "authSchemes": [
                                            {
                                              "disableDoubleEncoding": true,
                                              "name": "sigv4",
                                              "signingName": "s3express",
                                              "signingRegion": "{Region}"
                                            }
                                          ],
                                          "backend": "S3Express"
                                        },
                                        "url": "https://{Bucket}.s3express-fips-{s3expressAvailabilityZoneId}.{Region}.{partitionResult#dnsSuffix}"
                                      },
                                      "type": "endpoint"
                                    },
                                    {
                                      "conditions": [
                                        {
                                          "argv": [
                                            {
                                              "ref": "UseFIPS"
                                            },
                                            false
                                          ],
                                          "fn": "booleanEquals"
                                        },
                                        {
                                          "argv": [
                                            {
                                              "ref": "UseDualStack"
                                            },
                                            true
                                          ],
                                          "fn": "booleanEquals"
                                        }
                                      ],
                                      "endpoint": {
                                        "headers": {},
                                        "properties": {
                                          "authSchemes": [
                                            {
                                              "disableDoubleEncoding": true,
                                              "name": "sigv4",
                                              "signingName": "s3express",
                                              "signingRegion": "{Region}"
                                            }
                                          ],
                                          "backend": "S3Express"
                                        },
                                        "url": "https://{Bucket}.s3express-{s3expressAvailabilityZoneId}.dualstack.{Region}.{partitionResult#dnsSuffix}"
                                      },
                                      "type": "endpoint"
                                    },
                                    {
                                      "conditions": [
                                        {
                                          "argv": [
                                            {
                                              "ref": "UseFIPS"
                                            },
                                            false
                                          ],
                                          "fn": "booleanEquals"
                                        },
                                        {
                                          "argv": [
                                            {
                                              "ref": "UseDualStack"
                                            },
                                            false
                                          ],
                                          "fn": "booleanEquals"
                                        }
                                      ],
                                      "endpoint": {
                                        "headers": {},
                                        "properties": {
                                          "authSchemes": [
                                            {
                                              "disableDoubleEncoding": true,
                                              "name": "sigv4",
                                              "signingName": "s3express",
                                              "signingRegion": "{Region}"
                                            }
                                          ],
                                          "backend": "S3Express"
                                        },
                                        "url": "https://{Bucket}.s3express-{s3expressAvailabilityZoneId}.{Region}.{partitionResult#dnsSuffix}"
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                },
                                {
                                  "conditions": [],
                                  "error": "Unrecognized S3Express bucket name format.",
                                  "type": "error"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [
                                {
                                  "argv": [
                                    {
                                      "ref": "Bucket"
                                    },
                                    6,
                                    14,
                                    true
                                  ],
                                  "assign": "s3expressAvailabilityZoneId",
                                  "fn": "substring"
                                },
                                {
                                  "argv": [
                                    {
                                      "ref": "Bucket"
                                    },
                                    14,
                                    16,
                                    true
                                  ],
                                  "assign": "s3expressAvailabilityZoneDelim",
                                  "fn": "substring"
                                },
                                {
                                  "argv": [
                                    {
                                      "ref": "s3expressAvailabilityZoneDelim"
                                    },
                                    "--"
                                  ],
                                  "fn": "stringEquals"
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [
                                    {
                                      "argv": [
                                        {
                                          "ref": "UseFIPS"
                                        },
                                        true
                                      ],
                                      "fn": "booleanEquals"
                                    },
                                    {
                                      "argv": [
                                        {
                                          "ref": "UseDualStack"
                                        },
                                        true
                                      ],
                                      "fn": "booleanEquals"
                                    }
                                  ],
                                  "endpoint": {
                                    "headers": {},
                                    "properties": {
                                      "authSchemes": [
                                        {
                                          "disableDoubleEncoding": true,
                                          "name": "sigv4-s3express",
                                          "signingName": "s3express",
                                          "signingRegion": "{Region}"
                                        }
                                      ],
                                      "backend": "S3Express"
                                    },
                                    "url": "https://{Bucket}.s3express-fips-{s3expressAvailabilityZoneId}.dualstack.{Region}.{partitionResult#dnsSuffix}"
                                  },
                                  "type": "endpoint"
                                },
                                {
                                  "conditions": [
                                    {
                                      "argv": [
                                        {
                                          "ref": "UseFIPS"
                                        },
                                        true
                                      ],
                                      "fn": "booleanEquals"
                                    },
                                    {
                                      "argv": [
                                        {
                                          "ref": "UseDualStack"
                                        },
                                        false
                                      ],
                                      "fn": "booleanEquals"
                                    }
                                  ],
                                  "endpoint": {
                                    "headers": {},
                                    "properties": {
                                      "authSchemes": [
                                        {
                                          "disableDoubleEncoding": true,
                                          "name": "sigv4-s3express",
                                          "signingName": "s3express",
                                          "signingRegion": "{Region}"
                                        }
                                      ],
                                      "backend": "S3Express"
                                    },
                                    "url": "https://{Bucket}.s3express-fips-{s3expressAvailabilityZoneId}.{Region}.{partitionResult#dnsSuffix}"
                                  },
                                  "type": "endpoint"
                                },
                                {
                                  "conditions": [
                                    {
                                      "argv": [
                                        {
                                          "ref": "UseFIPS"
                                        },
                                        false
                                      ],
                                      "fn": "booleanEquals"
                                    },
                                    {
                                      "argv": [
                                        {
                                          "ref": "UseDualStack"
                                        },
                                        true
                                      ],
                                      "fn": "booleanEquals"
                                    }
                                  ],
                                  "endpoint": {
                                    "headers": {},
                                    "properties": {
                                      "authSchemes": [
                                        {
                                          "disableDoubleEncoding": true,
                                          "name": "sigv4-s3express",
                                          "signingName": "s3express",
                                          "signingRegion": "{Region}"
                                        }
                                      ],
                                      "backend": "S3Express"
                                    },
                                    "url": "https://{Bucket}.s3express-{s3expressAvailabilityZoneId}.dualstack.{Region}.{partitionResult#dnsSuffix}"
                                  },
                                  "type": "endpoint"
                                },
                                {
                                  "conditions": [
                                    {
                                      "argv": [
                                        {
                                          "ref": "UseFIPS"
                                        },
                                        false
                                      ],
                                      "fn": "booleanEquals"
                                    },
                                    {
                                      "argv": [
                                        {
                                          "ref": "UseDualStack"
                                        },
                                        false
                                      ],
                                      "fn": "booleanEquals"
                                    }
[...]
