{
  "shapes": {
    "com.amazonaws.servicediscovery#AWSAccountId": {
      "traits": {
        "smithy.api#length": {
          "max": 12,
          "min": 12
        }
      },
      "type": "string"
    },
    "com.amazonaws.servicediscovery#Arn": {
      "traits": {
        "smithy.api#length": {
          "max": 255,
          "min": 0
        }
      },
      "type": "string"
    },
    "com.amazonaws.servicediscovery#DnsProperties": {
      "members": {
        "HostedZoneId": {
          "target": "com.amazonaws.servicediscovery#ResourceId",
          "traits": {}
        },
        "SOA": {
          "target": "com.amazonaws.servicediscovery#SOA",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.servicediscovery#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.servicediscovery#GetNamespace": {
      "errors": [
        {
          "target": "com.amazonaws.servicediscovery#InvalidInput"
        },
        {
          "target": "com.amazonaws.servicediscovery#NamespaceNotFound"
        }
      ],
      "input": {
        "target": "com.amazonaws.servicediscovery#GetNamespaceRequest"
      },
      "output": {
        "target": "com.amazonaws.servicediscovery#GetNamespaceResponse"
      },
      "traits": {},
      "type": "operation"
    },
    "com.amazonaws.servicediscovery#GetNamespaceRequest": {
      "members": {
        "Id": {
          "target": "com.amazonaws.servicediscovery#Arn",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.servicediscovery#GetNamespaceResponse": {
      "members": {
        "Namespace": {
          "target": "com.amazonaws.servicediscovery#Namespace",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.servicediscovery#HttpProperties": {
      "members": {
        "HttpName": {
          "target": "com.amazonaws.servicediscovery#NamespaceName",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.servicediscovery#InvalidInput": {
      "members": {
        "Message": {
          "target": "com.amazonaws.servicediscovery#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.servicediscovery#Namespace": {
      "members": {
        "Arn": {
          "target": "com.amazonaws.servicediscovery#Arn",
          "traits": {}
        },
        "CreateDate": {
          "target": "com.amazonaws.servicediscovery#Timestamp",
          "traits": {}
        },
        "CreatorRequestId": {
          "target": "com.amazonaws.servicediscovery#ResourceId",
          "traits": {}
        },
        "Description": {
          "target": "com.amazonaws.servicediscovery#ResourceDescription",
          "traits": {}
        },
        "Id": {
          "target": "com.amazonaws.servicediscovery#ResourceId",
          "traits": {}
        },
        "Name": {
          "target": "com.amazonaws.servicediscovery#NamespaceName",
          "traits": {}
        },
        "Properties": {
          "target": "com.amazonaws.servicediscovery#NamespaceProperties",
          "traits": {}
        },
        "ResourceOwner": {
          "target": "com.amazonaws.servicediscovery#AWSAccountId",
          "traits": {}
        },
        "ServiceCount": {
          "target": "com.amazonaws.servicediscovery#ResourceCount",
          "traits": {}
        },
        "Type": {
          "target": "com.amazonaws.servicediscovery#NamespaceType",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.servicediscovery#NamespaceName": {
      "traits": {
        "smithy.api#length": {
          "max": 1024,
          "min": 0
        },
        "smithy.api#pattern": "^[!-~]{1,1024}$"
      },
      "type": "string"
    },
    "com.amazonaws.servicediscovery#NamespaceNotFound": {
      "members": {
        "Message": {
          "target": "com.amazonaws.servicediscovery#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "type": "structure"
    },
    "com.amazonaws.servicediscovery#NamespaceProperties": {
      "members": {
        "DnsProperties": {
          "target": "com.amazonaws.servicediscovery#DnsProperties",
          "traits": {}
        },
        "HttpProperties": {
          "target": "com.amazonaws.servicediscovery#HttpProperties",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.servicediscovery#NamespaceType": {
      "members": {
        "DNS_PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DNS_PRIVATE"
          }
        },
        "DNS_PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DNS_PUBLIC"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTP"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.servicediscovery#RecordTTL": {
      "traits": {
        "smithy.api#range": {
          "max": 2147483647,
          "min": 0
        }
      },
      "type": "long"
    },
    "com.amazonaws.servicediscovery#ResourceCount": {
      "type": "integer"
    },
    "com.amazonaws.servicediscovery#ResourceDescription": {
      "traits": {
        "smithy.api#length": {
          "max": 1024,
          "min": 0
        }
      },
      "type": "string"
    },
    "com.amazonaws.servicediscovery#ResourceId": {
      "traits": {
        "smithy.api#length": {
          "max": 64,
          "min": 0
        }
      },
      "type": "string"
    },
    "com.amazonaws.servicediscovery#Route53AutoNaming_v20170314": {
      "operations": [
        {
          "target": "com.amazonaws.servicediscovery#GetNamespace"
        }
      ],
      "traits": {
        "aws.api#service": {
          "arnNamespace": "servicediscovery",
          "cloudFormationName": "ServiceDiscovery",
          "cloudTrailEventSource": "servicediscovery.amazonaws.com",
          "endpointPrefix": "servicediscovery",
          "sdkId": "ServiceDiscovery"
        },
        "aws.auth#sigv4": {
          "name": "servicediscovery"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#title": "AWS Cloud Map",
        "smithy.rules#endpointRuleSet": {
          "parameters": {
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "documentation": "Override the endpoint used to send this request",
              "required": false,
              "type": "string"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "documentation": "The AWS region used to dispatch the request.",
              "required": false,
              "type": "string"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "required": true,
              "type": "boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "required": true,
              "type": "boolean"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ],
                  "fn": "isSet"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "headers": {},
                        "properties": {},
                        "url": {
                          "ref": "Endpoint"
                        }
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "fn": "isSet"
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult",
                          "fn": "aws.partition"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "argv": [
                                    true,
                                    {
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ],
                                      "fn": "getAttr"
                                    }
                                  ],
                                  "fn": "booleanEquals"
                                },
                                {
                                  "argv": [
                                    true,
                                    {
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ],
                                      "fn": "getAttr"
                                    }
                                  ],
                                  "fn": "booleanEquals"
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "endpoint": {
                                    "headers": {},
                                    "properties": {},
                                    "url": "https://servicediscovery-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                  },
                                  "type": "endpoint"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                false
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "argv": [
                                    {
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ],
                                      "fn": "getAttr"
                                    },
                                    true
                                  ],
                                  "fn": "booleanEquals"
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "endpoint": {
                                    "headers": {},
                                    "properties": {},
                                    "url": "https://servicediscovery-fips.{Region}.{PartitionResult#dnsSuffix}"
                                  },
                                  "type": "endpoint"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS is enabled but this partition does not support FIPS",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                false
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "argv": [
                                    true,
                                    {
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ],
                                      "fn": "getAttr"
                                    }
                                  ],
                                  "fn": "booleanEquals"
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "endpoint": {
                                    "headers": {},
                                    "properties": {},
                                    "url": "https://servicediscovery.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                  },
                                  "type": "endpoint"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "DualStack is enabled but this partition does not support DualStack",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "headers": {},
                            "properties": {},
                            "url": "https://servicediscovery.{Region}.{PartitionResult#dnsSuffix}"
                          },
                          "type": "endpoint"
                        }
                      ],
                      "type": "tree"
                    }
                  ],
                  "type": "tree"
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ],
              "type": "tree"
            }
          ],
          "version": "1.0"
        }
      },
      "type": "service",
      "version": "2017-03-14"
    },
    "com.amazonaws.servicediscovery#SOA": {
      "members": {
        "TTL": {
          "target": "com.amazonaws.servicediscovery#RecordTTL",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.servicediscovery#Timestamp": {
      "type": "timestamp"
    }
  },
  "smithy": "2.0"
}
