{
  "shapes": {
    "com.amazonaws.ses#CustomVerificationEmailTemplateDoesNotExistException": {
      "members": {
        "CustomVerificationEmailTemplateName": {
          "target": "com.amazonaws.ses#TemplateName",
          "traits": {}
        },
        "message": {
          "target": "com.amazonaws.ses#ErrorMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CustomVerificationEmailTemplateDoesNotExist",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "type": "structure"
    },
    "com.amazonaws.ses#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.ses#FailureRedirectionURL": {
      "type": "string"
    },
    "com.amazonaws.ses#FromAddress": {
      "type": "string"
    },
    "com.amazonaws.ses#GetCustomVerificationEmailTemplate": {
      "errors": [
        {
          "target": "com.amazonaws.ses#CustomVerificationEmailTemplateDoesNotExistException"
        }
      ],
      "input": {
        "target": "com.amazonaws.ses#GetCustomVerificationEmailTemplateRequest"
      },
      "output": {
        "target": "com.amazonaws.ses#GetCustomVerificationEmailTemplateResponse"
      },
      "traits": {},
      "type": "operation"
    },
    "com.amazonaws.ses#GetCustomVerificationEmailTemplateRequest": {
      "members": {
        "TemplateName": {
          "target": "com.amazonaws.ses#TemplateName",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.ses#GetCustomVerificationEmailTemplateResponse": {
      "members": {
        "FailureRedirectionURL": {
          "target": "com.amazonaws.ses#FailureRedirectionURL",
          "traits": {}
        },
        "FromEmailAddress": {
          "target": "com.amazonaws.ses#FromAddress",
          "traits": {}
        },
        "SuccessRedirectionURL": {
          "target": "com.amazonaws.ses#SuccessRedirectionURL",
          "traits": {}
        },
        "TemplateContent": {
          "target": "com.amazonaws.ses#TemplateContent",
          "traits": {}
        },
        "TemplateName": {
          "target": "com.amazonaws.ses#TemplateName",
          "traits": {}
        },
        "TemplateSubject": {
          "target": "com.amazonaws.ses#Subject",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.ses#SimpleEmailService": {
      "operations": [
        {
          "target": "com.amazonaws.ses#GetCustomVerificationEmailTemplate"
        }
      ],
      "traits": {
        "aws.api#service": {
          "arnNamespace": "ses",
          "cloudFormationName": "SES",
          "cloudTrailEventSource": "ses.amazonaws.com",
          "docId": "email-2010-12-01",
          "endpointPrefix": "email",
          "sdkId": "SES"
        },
        "aws.auth#sigv4": {
          "name": "ses"
        },
        "aws.protocols#awsQuery": {},
        "smithy.api#title": "Amazon Simple Email Service",
        "smithy.api#xmlNamespace": {
          "uri": "http://ses.amazonaws.com/doc/2010-12-01/"
        },
        "smithy.rules#endpointRuleSet": {
          "parameters": {
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "documentation": "Override the endpoint used to send this request",
              "required": false,
              "type": "string"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "documentation": "The AWS region used to dispatch the request.",
              "required": false,
              "type": "string"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "required": true,
              "type": "boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "required": true,
              "type": "boolean"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ],
                  "fn": "isSet"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "headers": {},
                    "properties": {},
                    "url": {
                      "ref": "Endpoint"
                    }
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "fn": "isSet"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult",
                      "fn": "aws.partition"
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        },
                        {
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://email-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ],
                                  "fn": "getAttr"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://email-fips.{Region}.{PartitionResult#dnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://email.{Region}.{PartitionResult#dualStackDnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "headers": {},
                        "properties": {},
                        "url": "https://email.{Region}.{PartitionResult#dnsSuffix}"
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ],
          "version": "1.0"
        }
      },
      "type": "service",
      "version": "2010-12-01"
    },
    "com.amazonaws.ses#Subject": {
      "type": "string"
    },
    "com.amazonaws.ses#SuccessRedirectionURL": {
      "type": "string"
    },
    "com.amazonaws.ses#TemplateContent": {
      "type": "string"
    },
    "com.amazonaws.ses#TemplateName": {
      "type": "string"
    }
  },
  "smithy": "2.0"
}
