{
  "shapes": {
    "com.amazonaws.ssm#AccessDeniedException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#Account": {
      "type": "string"
    },
    "com.amazonaws.ssm#Accounts": {
      "member": {
        "target": "com.amazonaws.ssm#Account"
      },
      "traits": {
        "smithy.api#length": {
          "max": 50,
          "min": 1
        }
      },
      "type": "list"
    },
    "com.amazonaws.ssm#AddTagsToResource": {
      "errors": [
        {
          "target": "com.amazonaws.ssm#InternalServerError"
        },
        {
          "target": "com.amazonaws.ssm#InvalidResourceId"
        },
        {
          "target": "com.amazonaws.ssm#InvalidResourceType"
        },
        {
          "target": "com.amazonaws.ssm#TooManyTagsError"
        },
        {
          "target": "com.amazonaws.ssm#TooManyUpdates"
        }
      ],
      "input": {
        "target": "com.amazonaws.ssm#AddTagsToResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.ssm#AddTagsToResourceResult"
      },
      "traits": {},
      "type": "operation"
    },
    "com.amazonaws.ssm#AddTagsToResourceRequest": {
      "members": {
        "ResourceId": {
          "target": "com.amazonaws.ssm#ResourceId",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.ssm#ResourceTypeForTagging",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.ssm#TagList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#AddTagsToResourceResult": {
      "members": {},
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#Alarm": {
      "members": {
        "Name": {
          "target": "com.amazonaws.ssm#AlarmName",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ssm#AlarmConfiguration": {
      "members": {
        "Alarms": {
          "target": "com.amazonaws.ssm#AlarmList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "IgnorePollAlarmFailure": {
          "target": "com.amazonaws.ssm#Boolean",
          "traits": {
            "smithy.api#default": false
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ssm#AlarmList": {
      "member": {
        "target": "com.amazonaws.ssm#Alarm"
      },
      "traits": {
        "smithy.api#length": {
          "max": 1,
          "min": 1
        }
      },
      "type": "list"
    },
    "com.amazonaws.ssm#AlarmName": {
      "traits": {
        "smithy.api#length": {
          "max": 255,
          "min": 1
        },
        "smithy.api#pattern": "^(?!\\s*$).+$"
      },
      "type": "string"
    },
    "com.amazonaws.ssm#AlarmStateInformation": {
      "members": {
        "Name": {
          "target": "com.amazonaws.ssm#AlarmName",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "State": {
          "target": "com.amazonaws.ssm#ExternalAlarmState",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ssm#AlarmStateInformationList": {
      "member": {
        "target": "com.amazonaws.ssm#AlarmStateInformation"
      },
      "traits": {
        "smithy.api#length": {
          "max": 1,
          "min": 1
        }
      },
      "type": "list"
    },
    "com.amazonaws.ssm#AllowedPattern": {
      "traits": {
        "smithy.api#length": {
          "max": 1024,
          "min": 0
        }
      },
      "type": "string"
    },
    "com.amazonaws.ssm#AlreadyExistsException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AlreadyExistsException",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#AmazonSSM": {
      "operations": [
        {
          "target": "com.amazonaws.ssm#AddTagsToResource"
        },
        {
          "target": "com.amazonaws.ssm#DeleteParameter"
        },
        {
          "target": "com.amazonaws.ssm#DescribeAssociation"
        },
        {
          "target": "com.amazonaws.ssm#GetMaintenanceWindow"
        },
        {
          "target": "com.amazonaws.ssm#GetParameter"
        },
        {
          "target": "com.amazonaws.ssm#GetServiceSetting"
        },
        {
          "target": "com.amazonaws.ssm#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.ssm#PutParameter"
        },
        {
          "target": "com.amazonaws.ssm#RemoveTagsFromResource"
        }
      ],
      "traits": {
        "aws.api#service": {
          "arnNamespace": "ssm",
          "cloudFormationName": "SSM",
          "cloudTrailEventSource": "ssm.amazonaws.com",
          "endpointPrefix": "ssm",
          "sdkId": "SSM"
        },
        "aws.auth#sigv4": {
          "name": "ssm"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#title": "Amazon Simple Systems Manager (SSM)",
        "smithy.api#xmlNamespace": {
          "uri": "http://ssm.amazonaws.com/doc/2014-11-06/"
        },
        "smithy.rules#endpointRuleSet": {
          "parameters": {
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "documentation": "Override the endpoint used to send this request",
              "required": false,
              "type": "string"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "documentation": "The AWS region used to dispatch the request.",
              "required": false,
              "type": "string"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "required": true,
              "type": "boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "required": true,
              "type": "boolean"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ],
                  "fn": "isSet"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ],
                      "fn": "booleanEquals"
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "headers": {},
                    "properties": {},
                    "url": {
                      "ref": "Endpoint"
                    }
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [
                {
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "fn": "isSet"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult",
                      "fn": "aws.partition"
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        },
                        {
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            },
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://ssm-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ],
                                  "fn": "getAttr"
                                },
                                true
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "argv": [
                                    {
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "name"
                                      ],
                                      "fn": "getAttr"
                                    },
                                    "aws-us-gov"
                                  ],
                                  "fn": "stringEquals"
                                }
                              ],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://ssm.{Region}.amazonaws.com"
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://ssm-fips.{Region}.{PartitionResult#dnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ],
                          "fn": "booleanEquals"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "argv": [
                                true,
                                {
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ],
                                  "fn": "getAttr"
                                }
                              ],
                              "fn": "booleanEquals"
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "headers": {},
                                "properties": {},
                                "url": "https://ssm.{Region}.{PartitionResult#dualStackDnsSuffix}"
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "headers": {},
                        "properties": {},
                        "url": "https://ssm.{Region}.{PartitionResult#dnsSuffix}"
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ],
          "version": "1.0"
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ssm-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Endpoint": "https://example.com",
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Endpoint": "https://example.com",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Endpoint": "https://example.com",
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Endpoint": "https://example.com",
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      },
      "type": "service",
      "version": "2014-11-06"
    },
    "com.amazonaws.ssm#ApplyOnlyAtCronInterval": {
      "traits": {
        "smithy.api#default": false
      },
      "type": "boolean"
    },
    "com.amazonaws.ssm#AssociatedInstances": {
      "members": {},
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AssociatedInstances",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#AssociationAlreadyExists": {
      "members": {},
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AssociationAlreadyExists",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#AssociationComplianceSeverity": {
      "members": {
        "Critical": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRITICAL"
          }
        },
        "High": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        },
        "Low": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        },
        "Medium": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "Unspecified": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.ssm#AssociationDescription": {
      "members": {
        "AlarmConfiguration": {
          "target": "com.amazonaws.ssm#AlarmConfiguration"
        },
        "ApplyOnlyAtCronInterval": {
          "target": "com.amazonaws.ssm#ApplyOnlyAtCronInterval",
          "traits": {
            "smithy.api#default": false
          }
        },
        "AssociationDispatchAssumeRole": {
          "target": "com.amazonaws.ssm#AssociationDispatchAssumeRoleArn",
          "traits": {}
        },
        "AssociationId": {
          "target": "com.amazonaws.ssm#AssociationId",
          "traits": {}
        },
        "AssociationName": {
          "target": "com.amazonaws.ssm#AssociationName",
          "traits": {}
        },
        "AssociationVersion": {
          "target": "com.amazonaws.ssm#AssociationVersion",
          "traits": {}
        },
        "AutomationTargetParameterName": {
          "target": "com.amazonaws.ssm#AutomationTargetParameterName",
          "traits": {}
        },
        "CalendarNames": {
          "target": "com.amazonaws.ssm#CalendarNameOrARNList",
          "traits": {}
        },
        "ComplianceSeverity": {
          "target": "com.amazonaws.ssm#AssociationComplianceSeverity",
          "traits": {}
        },
        "Date": {
          "target": "com.amazonaws.ssm#DateTime",
          "traits": {}
        },
        "DocumentVersion": {
          "target": "com.amazonaws.ssm#DocumentVersion",
          "traits": {}
        },
        "Duration": {
          "target": "com.amazonaws.ssm#Duration",
          "traits": {}
        },
        "InstanceId": {
          "target": "com.amazonaws.ssm#InstanceId",
          "traits": {}
        },
        "LastExecutionDate": {
          "target": "com.amazonaws.ssm#DateTime",
          "traits": {}
        },
        "LastSuccessfulExecutionDate": {
          "target": "com.amazonaws.ssm#DateTime",
          "traits": {}
        },
        "LastUpdateAssociationDate": {
          "target": "com.amazonaws.ssm#DateTime",
          "traits": {}
        },
        "MaxConcurrency": {
          "target": "com.amazonaws.ssm#MaxConcurrency",
          "traits": {}
        },
        "MaxErrors": {
          "target": "com.amazonaws.ssm#MaxErrors",
          "traits": {}
        },
        "Name": {
          "target": "com.amazonaws.ssm#DocumentARN",
          "traits": {}
        },
        "OutputLocation": {
          "target": "com.amazonaws.ssm#InstanceAssociationOutputLocation",
          "traits": {}
        },
        "Overview": {
          "target": "com.amazonaws.ssm#AssociationOverview",
          "traits": {}
        },
        "Parameters": {
          "target": "com.amazonaws.ssm#Parameters",
          "traits": {}
        },
        "ScheduleExpression": {
          "target": "com.amazonaws.ssm#ScheduleExpression",
          "traits": {}
        },
        "ScheduleOffset": {
          "target": "com.amazonaws.ssm#ScheduleOffset",
          "traits": {}
        },
        "Status": {
          "target": "com.amazonaws.ssm#AssociationStatus",
          "traits": {}
        },
        "SyncCompliance": {
          "target": "com.amazonaws.ssm#AssociationSyncCompliance",
          "traits": {}
        },
        "TargetLocations": {
          "target": "com.amazonaws.ssm#TargetLocations",
          "traits": {}
        },
        "TargetMaps": {
          "target": "com.amazonaws.ssm#TargetMaps",
          "traits": {}
        },
        "Targets": {
          "target": "com.amazonaws.ssm#Targets",
          "traits": {}
        },
        "TriggeredAlarms": {
          "target": "com.amazonaws.ssm#AlarmStateInformationList",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ssm#AssociationDispatchAssumeRoleArn": {
      "traits": {
        "smithy.api#length": {
          "max": 512,
          "min": 1
        },
        "smithy.api#pattern": "^arn:aws(-[^:]+)?:iam::[0-9]{12}:role/.+$"
      },
      "type": "string"
    },
    "com.amazonaws.ssm#AssociationDoesNotExist": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AssociationDoesNotExist",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#AssociationExecutionDoesNotExist": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AssociationExecutionDoesNotExist",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#AssociationId": {
      "traits": {
        "smithy.api#pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
      },
      "type": "string"
    },
    "com.amazonaws.ssm#AssociationLimitExceeded": {
      "members": {},
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AssociationLimitExceeded",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#AssociationName": {
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z0-9_\\-.]{3,128}$"
      },
      "type": "string"
    },
    "com.amazonaws.ssm#AssociationOverview": {
      "members": {
        "AssociationStatusAggregatedCount": {
          "target": "com.amazonaws.ssm#AssociationStatusAggregatedCount",
          "traits": {}
        },
        "DetailedStatus": {
          "target": "com.amazonaws.ssm#StatusName",
          "traits": {}
        },
        "Status": {
          "target": "com.amazonaws.ssm#StatusName",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ssm#AssociationStatus": {
      "members": {
        "AdditionalInfo": {
          "target": "com.amazonaws.ssm#StatusAdditionalInfo",
          "traits": {}
        },
        "Date": {
          "target": "com.amazonaws.ssm#DateTime",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.ssm#StatusMessage",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.ssm#AssociationStatusName",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ssm#AssociationStatusAggregatedCount": {
      "key": {
        "target": "com.amazonaws.ssm#StatusName"
      },
      "type": "map",
      "value": {
        "target": "com.amazonaws.ssm#InstanceCount"
      }
    },
    "com.amazonaws.ssm#AssociationStatusName": {
      "members": {
        "Failed": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "Pending": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "Success": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Success"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.ssm#AssociationSyncCompliance": {
      "members": {
        "Auto": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTO"
          }
        },
        "Manual": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANUAL"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.ssm#AssociationVersion": {
      "traits": {
        "smithy.api#pattern": "^([$]LATEST)|([1-9][0-9]*)$"
      },
      "type": "string"
    },
    "com.amazonaws.ssm#AssociationVersionLimitExceeded": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AssociationVersionLimitExceeded",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#AutomationDefinitionNotApprovedException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AutomationDefinitionNotApproved",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#AutomationDefinitionNotFoundException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AutomationDefinitionNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#AutomationDefinitionVersionNotFoundException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AutomationDefinitionVersionNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#AutomationExecutionLimitExceededException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AutomationExecutionLimitExceeded",
          "httpResponseCode": 429
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#AutomationExecutionNotFoundException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AutomationExecutionNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#AutomationStepNotFoundException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AutomationStepNotFoundException",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#AutomationTargetParameterName": {
      "traits": {
        "smithy.api#length": {
          "max": 50,
          "min": 1
        }
      },
      "type": "string"
    },
    "com.amazonaws.ssm#AutomationTargets": {
      "member": {
        "target": "com.amazonaws.ssm#Target"
      },
      "traits": {
        "smithy.api#length": {
          "max": 1,
          "min": 0
        }
      },
      "type": "list"
    },
    "com.amazonaws.ssm#Boolean": {
      "traits": {
        "smithy.api#default": false
      },
      "type": "boolean"
    },
    "com.amazonaws.ssm#CalendarNameOrARN": {
      "type": "string"
    },
    "com.amazonaws.ssm#CalendarNameOrARNList": {
      "member": {
        "target": "com.amazonaws.ssm#CalendarNameOrARN"
      },
      "type": "list"
    },
    "com.amazonaws.ssm#ComplianceTypeCountLimitExceededException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ComplianceTypeCountLimitExceeded",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#ConflictException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ConflictException",
          "httpResponseCode": 409
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#CustomSchemaCountLimitExceededException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CustomSchemaCountLimitExceeded",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#DateTime": {
      "type": "timestamp"
    },
    "com.amazonaws.ssm#DeleteParameter": {
      "errors": [
        {
          "target": "com.amazonaws.ssm#InternalServerError"
        },
        {
          "target": "com.amazonaws.ssm#ParameterNotFound"
        }
      ],
      "input": {
        "target": "com.amazonaws.ssm#DeleteParameterRequest"
      },
      "output": {
        "target": "com.amazonaws.ssm#DeleteParameterResult"
      },
      "traits": {},
      "type": "operation"
    },
    "com.amazonaws.ssm#DeleteParameterRequest": {
      "members": {
        "Name": {
          "target": "com.amazonaws.ssm#PSParameterName",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#DeleteParameterResult": {
      "members": {},
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#DescribeAssociation": {
      "errors": [
        {
          "target": "com.amazonaws.ssm#AssociationDoesNotExist"
        },
        {
          "target": "com.amazonaws.ssm#InternalServerError"
        },
        {
          "target": "com.amazonaws.ssm#InvalidAssociationVersion"
        },
        {
          "target": "com.amazonaws.ssm#InvalidDocument"
        },
        {
          "target": "com.amazonaws.ssm#InvalidInstanceId"
        }
      ],
      "input": {
        "target": "com.amazonaws.ssm#DescribeAssociationRequest"
      },
      "output": {
        "target": "com.amazonaws.ssm#DescribeAssociationResult"
      },
      "traits": {},
      "type": "operation"
    },
    "com.amazonaws.ssm#DescribeAssociationRequest": {
      "members": {
        "AssociationId": {
          "target": "com.amazonaws.ssm#AssociationId",
          "traits": {}
        },
        "AssociationVersion": {
          "target": "com.amazonaws.ssm#AssociationVersion",
          "traits": {}
        },
        "InstanceId": {
          "target": "com.amazonaws.ssm#InstanceId",
          "traits": {}
        },
        "Name": {
          "target": "com.amazonaws.ssm#DocumentARN",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#DescribeAssociationResult": {
      "members": {
        "AssociationDescription": {
          "target": "com.amazonaws.ssm#AssociationDescription",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#DocumentARN": {
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z0-9_\\-.:/]{3,128}$"
      },
      "type": "string"
    },
    "com.amazonaws.ssm#DocumentAlreadyExists": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DocumentAlreadyExists",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#DocumentLimitExceeded": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DocumentLimitExceeded",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#DocumentPermissionLimit": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DocumentPermissionLimit",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#DocumentVersion": {
      "traits": {
        "smithy.api#pattern": "^([$]LATEST|[$]DEFAULT|^[1-9][0-9]*$)$"
      },
      "type": "string"
    },
    "com.amazonaws.ssm#DocumentVersionLimitExceeded": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DocumentVersionLimitExceeded",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#DoesNotExistException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DoesNotExistException",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#DuplicateDocumentContent": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DuplicateDocumentContent",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#DuplicateDocumentVersionName": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DuplicateDocumentVersionName",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#DuplicateInstanceId": {
      "members": {},
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DuplicateInstanceId",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#Duration": {
      "traits": {
        "smithy.api#range": {
          "max": 24,
          "min": 1
        }
      },
      "type": "integer"
    },
    "com.amazonaws.ssm#ExcludeAccount": {
      "traits": {
        "smithy.api#length": {
          "max": 68,
          "min": 6
        },
        "smithy.api#pattern": "^(ou-[a-z0-9]{4,32}-[a-z0-9]{8,32})|(\\d{12})$"
      },
      "type": "string"
    },
    "com.amazonaws.ssm#ExcludeAccounts": {
      "member": {
        "target": "com.amazonaws.ssm#ExcludeAccount"
      },
      "traits": {
        "smithy.api#length": {
          "max": 5000,
          "min": 1
        }
      },
      "type": "list"
    },
    "com.amazonaws.ssm#ExecutionRoleName": {
      "traits": {
        "smithy.api#length": {
          "max": 64,
          "min": 1
        },
        "smithy.api#pattern": "^[\\w+=,.@/-]+$"
      },
      "type": "string"
    },
    "com.amazonaws.ssm#ExternalAlarmState": {
      "members": {
        "ALARM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALARM"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        }
      },
      "type": "enum"
    },
    "com.amazonaws.ssm#FeatureNotAvailableException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "FeatureNotAvailableException",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#GetMaintenanceWindow": {
      "errors": [
        {
          "target": "com.amazonaws.ssm#DoesNotExistException"
        },
        {
          "target": "com.amazonaws.ssm#InternalServerError"
        }
      ],
      "input": {
        "target": "com.amazonaws.ssm#GetMaintenanceWindowRequest"
      },
      "output": {
        "target": "com.amazonaws.ssm#GetMaintenanceWindowResult"
      },
      "traits": {},
      "type": "operation"
    },
    "com.amazonaws.ssm#GetMaintenanceWindowRequest": {
      "members": {
        "WindowId": {
          "target": "com.amazonaws.ssm#MaintenanceWindowId",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#GetMaintenanceWindowResult": {
      "members": {
        "AllowUnassociatedTargets": {
          "target": "com.amazonaws.ssm#MaintenanceWindowAllowUnassociatedTargets",
          "traits": {
            "smithy.api#default": false
          }
        },
        "CreatedDate": {
          "target": "com.amazonaws.ssm#DateTime",
          "traits": {}
        },
        "Cutoff": {
          "target": "com.amazonaws.ssm#MaintenanceWindowCutoff",
          "traits": {
            "smithy.api#default": 0
          }
        },
        "Description": {
          "target": "com.amazonaws.ssm#MaintenanceWindowDescription",
          "traits": {}
        },
        "Duration": {
          "target": "com.amazonaws.ssm#MaintenanceWindowDurationHours",
          "traits": {}
        },
        "Enabled": {
          "target": "com.amazonaws.ssm#MaintenanceWindowEnabled",
          "traits": {
            "smithy.api#default": false
          }
        },
        "EndDate": {
          "target": "com.amazonaws.ssm#MaintenanceWindowStringDateTime",
          "traits": {}
        },
        "ModifiedDate": {
          "target": "com.amazonaws.ssm#DateTime",
          "traits": {}
        },
        "Name": {
          "target": "com.amazonaws.ssm#MaintenanceWindowName",
          "traits": {}
        },
        "NextExecutionTime": {
          "target": "com.amazonaws.ssm#MaintenanceWindowStringDateTime",
          "traits": {}
        },
        "Schedule": {
          "target": "com.amazonaws.ssm#MaintenanceWindowSchedule",
          "traits": {}
        },
        "ScheduleOffset": {
          "target": "com.amazonaws.ssm#MaintenanceWindowOffset",
          "traits": {}
        },
        "ScheduleTimezone": {
          "target": "com.amazonaws.ssm#MaintenanceWindowTimezone",
          "traits": {}
        },
        "StartDate": {
          "target": "com.amazonaws.ssm#MaintenanceWindowStringDateTime",
          "traits": {}
        },
        "WindowId": {
          "target": "com.amazonaws.ssm#MaintenanceWindowId",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#GetParameter": {
      "errors": [
        {
          "target": "com.amazonaws.ssm#InternalServerError"
        },
        {
          "target": "com.amazonaws.ssm#InvalidKeyId"
        },
        {
          "target": "com.amazonaws.ssm#ParameterNotFound"
        },
        {
          "target": "com.amazonaws.ssm#ParameterVersionNotFound"
        }
      ],
      "input": {
        "target": "com.amazonaws.ssm#GetParameterRequest"
      },
      "output": {
        "target": "com.amazonaws.ssm#GetParameterResult"
      },
      "traits": {},
      "type": "operation"
    },
    "com.amazonaws.ssm#GetParameterRequest": {
      "members": {
        "Name": {
          "target": "com.amazonaws.ssm#PSParameterName",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "WithDecryption": {
          "target": "com.amazonaws.ssm#Boolean",
          "traits": {
            "smithy.api#default": null
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#GetParameterResult": {
      "members": {
        "Parameter": {
          "target": "com.amazonaws.ssm#Parameter",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#GetServiceSetting": {
      "errors": [
        {
          "target": "com.amazonaws.ssm#InternalServerError"
        },
        {
          "target": "com.amazonaws.ssm#ServiceSettingNotFound"
        }
      ],
      "input": {
        "target": "com.amazonaws.ssm#GetServiceSettingRequest"
      },
      "output": {
        "target": "com.amazonaws.ssm#GetServiceSettingResult"
      },
      "traits": {},
      "type": "operation"
    },
    "com.amazonaws.ssm#GetServiceSettingRequest": {
      "members": {
        "SettingId": {
          "target": "com.amazonaws.ssm#ServiceSettingId",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#GetServiceSettingResult": {
      "members": {
        "ServiceSetting": {
          "target": "com.amazonaws.ssm#ServiceSetting",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#HierarchyLevelLimitExceededException": {
      "members": {
        "message": {
          "target": "com.amazonaws.ssm#String",
          "traits": {}
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "HierarchyLevelLimitExceededException",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#HierarchyTypeMismatchException": {
      "members": {
        "message": {
          "target": "com.amazonaws.ssm#String",
          "traits": {}
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "HierarchyTypeMismatchException",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#IdempotentParameterMismatch": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "IdempotentParameterMismatch",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#IncompatiblePolicyException": {
      "members": {
        "message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "IncompatiblePolicyException",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InstanceAssociationOutputLocation": {
      "members": {
        "S3Location": {
          "target": "com.amazonaws.ssm#S3OutputLocation",
          "traits": {}
        }
      },
      "traits": {},
      "type": "structure"
    },
    "com.amazonaws.ssm#InstanceCount": {
      "traits": {
        "smithy.api#default": 0
      },
      "type": "integer"
    },
    "com.amazonaws.ssm#InstanceId": {
      "traits": {
        "smithy.api#pattern": "^(^i-(\\w{8}|\\w{17})$)|(^mi-\\w{17}$)$"
      },
      "type": "string"
    },
    "com.amazonaws.ssm#Integer": {
      "traits": {
        "smithy.api#default": 0
      },
      "type": "integer"
    },
    "com.amazonaws.ssm#InternalServerError": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InternalServerError",
          "httpResponseCode": 500
        },
        "smithy.api#error": "server"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidActivation": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidActivation",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidActivationId": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidActivationId",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidAggregatorException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidAggregator",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidAllowedPatternException": {
      "members": {
        "message": {
          "target": "com.amazonaws.ssm#String",
          "traits": {}
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidAllowedPatternException",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidAssociation": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidAssociation",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidAssociationVersion": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidAssociationVersion",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidAutomationExecutionParametersException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidAutomationExecutionParameters",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidAutomationSignalException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidAutomationSignalException",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidAutomationStatusUpdateException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidAutomationStatusUpdateException",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidCommandId": {
      "members": {},
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidCommandId",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidDeleteInventoryParametersException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidDeleteInventoryParameters",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidDeletionIdException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidDeletionId",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidDocument": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String",
          "traits": {}
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidDocument",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidDocumentContent": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String",
          "traits": {}
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidDocumentContent",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidDocumentOperation": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidDocumentOperation",
          "httpResponseCode": 403
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidDocumentSchemaVersion": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidDocumentSchemaVersion",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidDocumentType": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidDocumentType",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidDocumentVersion": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidDocumentVersion",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidFilter": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidFilter",
          "httpResponseCode": 441
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidFilterKey": {
      "members": {},
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidFilterKey",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidFilterOption": {
      "members": {
        "message": {
          "target": "com.amazonaws.ssm#String",
          "traits": {}
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidFilterOption",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidFilterValue": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidFilterValue",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidInstanceId": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidInstanceId",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidInstanceInformationFilterValue": {
      "members": {
        "message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidInstanceInformationFilterValue",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidInstancePropertyFilterValue": {
      "members": {
        "message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidInstancePropertyFilterValue",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidInventoryGroupException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidInventoryGroup",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidInventoryItemContextException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidInventoryItemContext",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidInventoryRequestException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidInventoryRequest",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidItemContentException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        },
        "TypeName": {
          "target": "com.amazonaws.ssm#InventoryItemTypeName"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidItemContent",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidKeyId": {
      "members": {
        "message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidKeyId",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidNextToken": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidNextToken",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidNotificationConfig": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidNotificationConfig",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidOptionException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidOption",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidOutputFolder": {
      "members": {},
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidOutputFolder",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidOutputLocation": {
      "members": {},
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidOutputLocation",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidParameters": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidParameters",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidPermissionType": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidPermissionType",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidPluginName": {
      "members": {},
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidPluginName",
          "httpResponseCode": 404
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidPolicyAttributeException": {
      "members": {
        "message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidPolicyAttributeException",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidPolicyTypeException": {
      "members": {
        "message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidPolicyTypeException",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidResourceId": {
      "members": {},
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidResourceId",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidResourceType": {
      "members": {},
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidResourceType",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidResultAttributeException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidResultAttribute",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidRole": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidRole",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidSchedule": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidSchedule",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidTag": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidTag",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidTarget": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidTarget",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidTargetMaps": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidTargetMaps",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidTypeNameException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidTypeName",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InvalidUpdate": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidUpdate",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#InventoryItemTypeName": {
      "traits": {
        "smithy.api#length": {
          "max": 100,
          "min": 1
        },
        "smithy.api#pattern": "^(AWS|Custom):.*$"
      },
      "type": "string"
    },
    "com.amazonaws.ssm#InvocationDoesNotExist": {
      "members": {},
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvocationDoesNotExist",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#ItemContentMismatchException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        },
        "TypeName": {
          "target": "com.amazonaws.ssm#InventoryItemTypeName"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ItemContentMismatch",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#ItemSizeLimitExceededException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        },
        "TypeName": {
          "target": "com.amazonaws.ssm#InventoryItemTypeName"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ItemSizeLimitExceeded",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#KeyList": {
      "member": {
        "target": "com.amazonaws.ssm#TagKey"
      },
      "type": "list"
    },
    "com.amazonaws.ssm#ListTagsForResource": {
      "errors": [
        {
          "target": "com.amazonaws.ssm#InternalServerError"
        },
        {
          "target": "com.amazonaws.ssm#InvalidResourceId"
        },
        {
          "target": "com.amazonaws.ssm#InvalidResourceType"
        }
      ],
      "input": {
        "target": "com.amazonaws.ssm#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.ssm#ListTagsForResourceResult"
      },
      "traits": {},
      "type": "operation"
    },
    "com.amazonaws.ssm#ListTagsForResourceRequest": {
      "members": {
        "ResourceId": {
          "target": "com.amazonaws.ssm#ResourceId",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.ssm#ResourceTypeForTagging",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#ListTagsForResourceResult": {
      "members": {
        "TagList": {
          "target": "com.amazonaws.ssm#TagList",
          "traits": {}
        }
      },
      "traits": {
        "smithy.api#output": {}
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#MaintenanceWindowAllowUnassociatedTargets": {
      "traits": {
        "smithy.api#default": false
      },
      "type": "boolean"
    },
    "com.amazonaws.ssm#MaintenanceWindowCutoff": {
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "max": 23,
          "min": 0
        }
      },
      "type": "integer"
    },
    "com.amazonaws.ssm#MaintenanceWindowDescription": {
      "traits": {
        "smithy.api#length": {
          "max": 128,
          "min": 1
        },
        "smithy.api#sensitive": {}
      },
      "type": "string"
    },
    "com.amazonaws.ssm#MaintenanceWindowDurationHours": {
      "traits": {
        "smithy.api#range": {
          "max": 24,
          "min": 1
        }
      },
      "type": "integer"
    },
    "com.amazonaws.ssm#MaintenanceWindowEnabled": {
      "traits": {
        "smithy.api#default": false
      },
      "type": "boolean"
    },
    "com.amazonaws.ssm#MaintenanceWindowId": {
      "traits": {
        "smithy.api#length": {
          "max": 20,
          "min": 20
        },
        "smithy.api#pattern": "^mw-[0-9a-f]{17}$"
      },
      "type": "string"
    },
    "com.amazonaws.ssm#MaintenanceWindowName": {
      "traits": {
        "smithy.api#length": {
          "max": 128,
          "min": 3
        },
        "smithy.api#pattern": "^[a-zA-Z0-9_\\-.]{3,128}$"
      },
      "type": "string"
    },
    "com.amazonaws.ssm#MaintenanceWindowOffset": {
      "traits": {
        "smithy.api#range": {
          "max": 6,
          "min": 1
        }
      },
      "type": "integer"
    },
    "com.amazonaws.ssm#MaintenanceWindowSchedule": {
      "traits": {
        "smithy.api#length": {
          "max": 256,
          "min": 1
        }
      },
      "type": "string"
    },
    "com.amazonaws.ssm#MaintenanceWindowStringDateTime": {
      "type": "string"
    },
    "com.amazonaws.ssm#MaintenanceWindowTimezone": {
      "type": "string"
    },
    "com.amazonaws.ssm#MalformedResourcePolicyDocumentException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "MalformedResourcePolicyDocumentException",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#MaxConcurrency": {
      "traits": {
        "smithy.api#length": {
          "max": 7,
          "min": 1
        },
        "smithy.api#pattern": "^([1-9][0-9]*|[1-9][0-9]%|[1-9]%|100%)$"
      },
      "type": "string"
    },
    "com.amazonaws.ssm#MaxDocumentSizeExceeded": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "MaxDocumentSizeExceeded",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#MaxErrors": {
      "traits": {
        "smithy.api#length": {
          "max": 7,
          "min": 1
        },
        "smithy.api#pattern": "^([1-9][0-9]*|[0]|[1-9][0-9]%|[0-9]%|100%)$"
      },
      "type": "string"
    },
    "com.amazonaws.ssm#NoLongerSupportedException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "NoLongerSupported",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#OpsItemAccessDeniedException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "OpsItemAccessDeniedException",
          "httpResponseCode": 403
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#OpsItemAlreadyExistsException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        },
        "OpsItemId": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "OpsItemAlreadyExistsException",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#OpsItemConflictException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "OpsItemConflictException",
          "httpResponseCode": 409
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#OpsItemId": {
      "traits": {
        "smithy.api#pattern": "^(oi)-[0-9a-f]{12}$"
      },
      "type": "string"
    },
    "com.amazonaws.ssm#OpsItemInvalidParameterException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        },
        "ParameterNames": {
          "target": "com.amazonaws.ssm#OpsItemParameterNamesList"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "OpsItemInvalidParameterException",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#OpsItemLimitExceededException": {
      "members": {
        "Limit": {
          "target": "com.amazonaws.ssm#Integer",
          "traits": {
            "smithy.api#default": 0
          }
        },
        "LimitType": {
          "target": "com.amazonaws.ssm#String"
        },
        "Message": {
          "target": "com.amazonaws.ssm#String"
        },
        "ResourceTypes": {
          "target": "com.amazonaws.ssm#OpsItemParameterNamesList"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "OpsItemLimitExceededException",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#OpsItemNotFoundException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "OpsItemNotFoundException",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#OpsItemParameterNamesList": {
      "member": {
        "target": "com.amazonaws.ssm#String"
      },
      "type": "list"
    },
    "com.amazonaws.ssm#OpsItemRelatedItemAlreadyExistsException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        },
        "OpsItemId": {
          "target": "com.amazonaws.ssm#OpsItemId"
        },
        "ResourceUri": {
          "target": "com.amazonaws.ssm#OpsItemRelatedItemAssociationResourceUri"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "OpsItemRelatedItemAlreadyExistsException",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
      },
      "type": "structure"
    },
    "com.amazonaws.ssm#OpsItemRelatedItemAssociationNotFoundException": {
      "members": {
        "Message": {
          "target": "com.amazonaws.ssm#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "OpsItemRelatedItemAssociationNotFoundException",
          "httpResponseCode": 400
        },
        "smithy.api#error": "client"
[...]
